[2017-03-09 17:17] fabozzi commented on #7687
Hi, the reason behind the change is the following:
- We have asked to remove the 4h grace period in Unified, in order to make relvals to be assigned as soon as possible.
- However, at the same time we want to approve or reject explicitly the relvals after injection. This is useful in the typical examples below:
1) We inject a batch of relvals and soon we realize we forgot to add a label useful to

[2017-03-09 17:18] ticoann commented on #7687
@fabozzi, Current search is only on request name. But I think Campaign name is enbeded in request name in most cases, correct (as RequestString)?
In that case you can bulk approve on following page, https://cmsweb.cern.ch/reqmgr2/approve
(By searching the specific name)
I can add the field for campaign search in next deployment and select box as well (if that is needed).

But I was wondering if th

[2017-03-09 17:25] fabozzi commented on #7687
@ticoann
the string identifying the batch are embedded in the prepID of the request, not in the RequestString.
So introducing search by prepID could work as well as by campaign (not sure if this is more manageable for you).

[2017-03-09 17:26] ticoann commented on #7687
Hello

This sounds like  some automatic validation is needed. I am not whether this requires human eyes to check in that case support for web interface is sounds right.

I am just curious.
How do you submit  the workflows and delete them? Are you using reqmgr2 apis or directly couch call? (I don't think we ever provide deleting request call for reqmgr2 api)

[2017-03-09 17:27] ticoann commented on #7687
I see.

We can do both or whatever you prefer.

[2017-03-09 17:40] fabozzi commented on #7687
@ticoann

We submit the workflows using a script... not sure which kind of call is used there.
Our L3 manager are not experts so they do not know anything about reqmgr, etc.
Therefore, they simply resubmit the workflows, and leave the fake ones in the limbo by not putting them in the batchmanager (in the present system we have a batch manager: after injecting the workflows, we use the batchmanager

[2017-03-09 17:49] ticoann opened #7704 "Add search filter for Campaign on approved page in reqmgr2 GUI"
@fabozzi, do you need exact matching or substring matching or wild card for this field?

[2017-03-09 17:49] fabozzi commented on #7687
@ticoann

the land of mistakes is larger. Other examples that come to my mind: you wanted to submit multicore and you forgot to specify in the command...; or a batch of workflows need higher memory requirement and you forgot to specify in the command. Things that happens when people work under pressure or late in the night... :)

[2017-03-09 17:55] ticoann commented on #7687
@fabozzi, Thanks for the explanation. So you are the True users of reqmgr2 web interface. I thought no one is using it. :-) I created the issue.

https://github.com/dmwm/WMCore/issues/7704

Please clarify whether that is enough or if you have more specific idea we can follow in that issue.

But how do you find out someone made a mistake? If you are using reqmgr2 interface, is there anyway we can m

[2017-03-09 18:07] fabozzi commented on #7704
@ticoann
The Campaign name uniquely identifies the batch. For instance:
'Campaign': 'CMSSW_9_0_0_pre6__HIN_noPU-1489070660'
You can have another similar batch, but at least the time stamp will be different,
for instance:
'Campaign': 'CMSSW_9_0_0_pre6__HIN_noPU-1489070675'

Therefore, when we search the batch by campaign name
we can do exact matching, and substring matching is a feature
that makes

[2017-03-09 18:09] ticoann opened #7705 "wmstats color warning."
1. have different color for drainging agent (blue?)
2. If there are multiple warnings display everything. draining, disk full warning.

[2017-03-09 18:21] ticoann commented on #7704
@fabozzi, I am a little confused. None of the current active workflows has campaign name with time stamp attached.

https://cmsweb.cern.ch/reqmgr2/data/request?status=ACTIVE&mask=Campaign&mask=PrepID

And it seems RequestName contains always Campaign names

[2017-03-09 20:53] #7219 closed

[2017-03-09 23:25] amaltaro commented on #7702
Just an update. The previous workaround was removed and this patch was applied to the agent:
#7703

The following sandboxes were patched as well:
[code]

[2017-03-09 23:42] amaltaro commented on #7702
I think it's fine to close this issue now.

[2017-03-09 23:42] #7702 closed

[2017-03-10 03:37] ticoann commented on #7702
Thank you very much Alan,

[2017-03-10 03:38] ticoann commented on #7705
@scarletnorberg, Scarlet, Is this what you want?

[2017-03-10 03:51] ticoann opened #7706 "WMCore-03-2017-issues"
Bug fixes high priority:
#6187 ACDC for TaskChain wfs creating more jobs than expected (A)
#7115 Files are not injected to PhEDEx but DBS is updated. (S)
#7439 Files missing in DBS and PhEDEx
#7600 Investigate ReqMon memory footprint

Show-stoppers from doing certain type of operations (listed by Jean-Roch during Fall O&C 2016):
#6972 Job-Data binding
#7307 Update ACDC location
Time evolution of e

[2017-03-10 03:52] #7575 closed

[2017-03-10 08:45] fabozzi commented on #7704
@ticoann
this is because the current version of the script that is in production is still using the old parameters (no prepID and Campaign name = release). The new cfg with new parameters definition has been used only in test workflows. Currently there are 2 tests workflows in assignement-approved state:
fabozzi_RVCMSSW_9_0_0_pre6QCD_Pt_80_120_13_HI__testUnif_170309_154634_5251
fabozzi_RVCMSSW_9_0

[2017-03-10 08:57] amaltaro opened #7707 "MonteCarlo request with empty WQE SiteWhitelist"
As reported here: https://its.cern.ch/jira/browse/CMSCOMPPR-699

the workflow has a proper SiteWhitelist (and it was properly assigned) and even so the GQE have an empty SiteWhitelist list.

For the record, this is the dict posted during assignment
[code]

global_workqueue logs show the following:
[code]

as can be seen, it tries to split work again twice. Checking...

[2017-03-10 12:08] anorkus opened #7708 "wrong state transition schema in remqgr2"
FYI:
https://github.com/dmwm/WMCore/wiki/request-status

doesn't show that normal-archived can go to rejected-archived. example:
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_EXO-RunIIWinter15wmLHE-01948__v1_T_151030_212148_5095
and
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_TRK-TTI2023Upg14GS-00008__v1_T_161103_201557_7993

could the documentation changed? And i would like to

[2017-03-10 15:17] ticoann commented on #7708
Sorry document wasn't updated. announced -> rejected-archived, normal-archived->rejected-archived transition was added last May.
https://github.com/dmwm/WMCore/issues/5944
I will update the diagram.

Meanwhile, here is the allowed state transition.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/DataStructs/RequestStatus.py#L8

[2017-03-10 16:29] ticoann commented on #7708
Document is updated. https://github.com/dmwm/WMCore/wiki/request-status
@anorkus, Antanas, Is there anything else need to be done? If not, could you close this issue?

[2017-03-10 17:42] ticoann commented on #7704
@fabozzi, So it will be changed how request name/Campaign is constructed using new cfg. Thanks.  It sounds like to have the search option by Campaign is more useful also sufficient. correct? Unless you need a search by PrepID, we will add just Campaign search for next deployment.
But it won't be much trouble if you want us to add other search options (PrepID or others) for other use cases.

[2017-03-10 19:15] fabozzi commented on #7704
@ticoann
I agree with you that search option by Campaign is suffient for us. We will see if we have more use cases.
Thanks!

[2017-03-12 02:53] scarletnorberg commented on #7705
@ticoann  I am not sure about the warning because I do not think we have a disk warning and an agent in drain right this second. I think you changed the draining agent from yellow to red, if there is another color that would be great. If my only color choices are red or yellow than I would prefer yellow.

[2017-03-12 03:05] scarletnorberg opened #7710 "JobSubmitter not reporting to WMStats"
This has happened on two agents. It turns red in WMstats but never says what component or thread is down.

I shut down all agent components and it says that Jobsubmitter is not running.

here is one:
https://its.cern.ch/jira/projects/CMSCOMPPR/issues/CMSCOMPPR-704?filter=allopenissues

here is the other one:
https://its.cern.ch/jira/projects/CMSCOMPPR/issues/CMSCOMPPR-694?filter=allopenissues
I th

[2017-03-13 08:04] amaltaro commented on #7710
Scarlet, can you provide a timestamp and the complete wmstats message in the next time this issue happen again?

Looking at vocms0130, AnalyticsDataCollector doesn't report anything unusual. However, AgentStatusWatcher went down yesterday with an oracle issue
[code]

I think that's why it became red in wmstats, since this component is responsible for sending this information upstream. I assume wms

[2017-03-13 08:26] amaltaro commented on #7705
Seangchan, blue sounds good for me. Then just summarizing:
* green: everything is fine, so no error/detail message.
* blue: everything is fine, BUT the agent is in drain (so usual draining message)
* yellow: agent has warning alarms, so something is not correct and it should display all possible warnings (AND the draining message, in case it's in drain).
* red: agent has errors, something is reall

[2017-03-13 11:09] amaltaro commented on #7707
I didn't manage to reproduce this issue in my VM. Just in case, this is the content of one of the GQE:
[code]

[2017-03-13 12:19] #7708 closed

[2017-03-13 15:56] ticoann opened #7711 "Add code to parse FWJR "NEvents="400""
<Run ID="300">
<Lumi Section ID="2" NEvents="400">

NEvent can be empty "" or "0" which has a different meaning.
"" means value is not available.
"0" means 0 events processed.

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/FwkJobReport/XMLParser.py#L212

[2017-03-13 16:15] ticoann opened #7712 "add events number on filerun_lumi table and modify DAO"
1. add a num_events field for both wmbs
Both  wmbs, dbsbuffer table. Table should accept None in events field for the data which doesn't have record or no record in CMSSW fwjr

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMBS/CreateWMBSBase.py#L97

https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/DBS3Buffer/MySQL/Create.py#L118

2. Change DAO to insert event numbe

[2017-03-13 16:58] scarletnorberg opened #7713 "Prevent component crash on Oracle connection error"
I think this is the second time this has happened where there has been an oracle issue. Does the WMcore group maintain Oracle? Is this a git issue? Is there a log that I should be sending?

Issues related to it are: #7710 #7589 #7180

[2017-03-13 19:10] ericvaandering commented on #7711
![](https://github.trello.services/images/mini-trello-icon.png) [WMAgent copies XML data to internal job report](https://trello.com/c/BHWX3laI/2-wmagent-copies-xml-data-to-internal-job-report)

[2017-03-13 19:10] ericvaandering commented on #7712
![](https://github.trello.services/images/mini-trello-icon.png) [Update WMBS to match DBS](https://trello.com/c/KGgOOFbP/4-update-wmbs-to-match-dbs)

[2017-03-13 19:10] ericvaandering commented on #7712
![](https://github.trello.services/images/mini-trello-icon.png) [Update WMBS to match DBS](https://trello.com/c/KGgOOFbP/4-update-wmbs-to-match-dbs)

[2017-03-13 19:12] ericvaandering commented on #7712
![](https://github.trello.services/images/mini-trello-icon.png) [Insert WMAgent information into DBS](https://trello.com/c/08vMUaOf/5-insert-wmagent-information-into-dbs)

[2017-03-13 19:14] ericvaandering opened #7714 "Propagate event/lumi/file information through merges"
Maybe this does not need to be done since there will still be a FWJR from the output of the merge with the new count.

Could be use this function to verify that merges went OK without files being silently dropped?

@ticoann ?

[2017-03-13 19:14] ericvaandering commented on #7714
![](https://github.trello.services/images/mini-trello-icon.png) [Propagate info through WMAgent merges](https://trello.com/c/z8jfDUzC/3-propagate-info-through-wmagent-merges)

[2017-03-13 19:21] ticoann commented on #7714
@ericvaandering,  I don't think this is needed, since merge fwjr report should have this information, isn't it?
Currently we don't validate input events and output events using wmbs record. If files are skipped in the merge job, those skipped files are returned with fwjr and put into ACDC. We could add validation but there could be a case CMSW framework send back wrong information. (I mean do we n

[2017-03-13 19:29] ericvaandering commented on #7714
OK, so what I thought was a silent failure is only a partially silent failure?

As long as we currently get the events that eventually wind up in DBS from the merge outputs, then getting the per-lumi counts from the merge outputs is fine as well.

Feel free to close this issue if you like.

[2017-03-13 19:30] #7714 closed

[2017-03-13 21:52] amaltaro commented on #7712
Is it normal that I get a "Card not found" when I click on these links?

[2017-03-14 02:16] ticoann commented on #7712
Alan, I think Eric @ericvaandering need to invite you then you can log in.

[2017-03-14 03:00] ticoann commented on #7687
Closing this one. replaced by #7692 #7704

[2017-03-14 03:00] #7687 closed

[2017-03-14 03:17] ticoann commented on #7713
@scarletnorberg, Oracle is maintained by CERN IT. Currently if Oracle has major problem, all the agent will crash. It was OK since it happened very rarely and also when it happens we can't process any jobs.  I am sure why this happened a couple of times in a short period. But unless this is transient issue which can happen often. I don't think we should to something to ignore and retried.

[2017-03-14 03:39] ticoann commented on #7705
@scarletnorberg, Hi Scarlet, I am fine with what Alan suggested. Do you agree?
I am wondering if there is drain and and disk warning. do you still want to warning color (yellow)?

[2017-03-14 03:53] ticoann commented on #7704
@vkuznet, Valentin, Could you take this issue?

[2017-03-14 04:20] scarletnorberg commented on #7713
I guess this is a closed issue for now and a keep an eye on. Hopefully these were the only two times for the year. Thanks for the information. Is this the site I can use to check if there is oracle issues: https://cern.service-now.com/service-portal/ssb.do?area=IT ?

[2017-03-14 04:25] scarletnorberg commented on #7705
@ticoann I agree with this color scheme Alan proposed. I think for when we have agents in drain and a disk warning it is fine to keep it blue since I have to check on them ever once in a while any ways. I am hoping with the agent in drain the logs will not expand to much more than they already expanded and it would be fine.

[2017-03-14 07:17] vlimant commented on #7713
Hi, regardless of the instability or oracle, we need the agents to not die on it, but report to wmstats that service is unavailable.
Is it that hard to setup a dbcheck ?

[2017-03-14 09:25] vlimant opened #7715 "Very large merge job"
https://cms-gwmsmon.cern.ch/prodview/fabozzi_RVCMSSW_9_0_0_pre6QCD_Pt_80_120_13_HI__testUnif_170309_154634_5251

 has ended up with jobs like

QCD_Pt_80_120_13_HIMergeFEVTDEBUGoutput	Dashboard link
Hide Debug Information
WallTime	Memory	Cpus	Running	Idle	Scheduler	Desired Sites	Warnings
2200	1000	1	0	4	vocms053.cern.ch	1

LogCollectForQCD_Pt_80_120_13_HI	Dashboard link
Hide Debug Information
WallT

[2017-03-14 09:37] amaltaro commented on #7715
Without giving that much thought to it, it must be how cms-gwmsmon evaluates the memory expression, e.g.:
[code]

so these jobs are actually requesting 1GB. I also checked the workload config and it's correct.

[2017-03-14 09:44] juztas commented on #7715
one is about walltime, another about memory... cms-gwmsmon allows this to evaluate for htcondor and it does not do any evaluation by itself.

[2017-03-14 09:44] vlimant commented on #7706
@vlimant @mcremone : anything to add ?

[2017-03-14 09:49] amaltaro commented on #7715
Daaaah, sorry. Ok, here is the deal then. For some reason (I believe the lack of a decent TpE/SpE values), Andrew requested to have different requirement limits for the Relval agent, which are:
config.JobCreator.GlideInRestriction = {'MaxRequestDiskKB': 20971520, 'MinWallTimeSecs': 132000, 'MaxWallTimeSecs': 132000, 'MinRequestDiskKB': 1048576}

which maps to 2200min.

Please x-check this tweak wi

[2017-03-14 10:01] vlimant commented on #7715
how did these merge jobs ended up requesting 2200 = max value ? too many events in the merge ?
@AndrewLevin please indeed remind us of the reason behind this

[2017-03-14 10:05] AndrewLevin commented on #7715
We wanted to make sure that the jobs are not hard killed by the site, which makes it difficult to track down why they were killed, so we set the maxwalltime to be larger than the wmagent soft kill.

[2017-03-14 10:33] amaltaro commented on #7598
New list created for March/2017 in #7706

[2017-03-14 10:33] #7598 closed

[2017-03-14 10:35] amaltaro commented on #6445
Since this feature was never really used in WMAgent, shall we close this issue?

[2017-03-14 10:36] amaltaro commented on #6400
Since PyCondorPlugin is basically dead, I'm renaming this issue for SimpleCondor one.

[2017-03-14 10:38] amaltaro commented on #4716
I think it has been fixed in the last couple of months, so closing it.

[2017-03-14 10:38] #4716 closed

[2017-03-14 10:44] vlimant commented on #7715
@amaltaro how is the merge/log job length estimated ? why is it set to the max allowed value and not something intermediate ?
@AndrewLevin have you had issues with job pending forever because they request for too long of a runtime ? KIT does not seem to like 2200, unless there is something else

[2017-03-14 10:49] amaltaro commented on #7715
Because there is no intermediate value :-) , see my previous reply and the config snippet.

The agent doesn't really calculate merge job length (actually, I think it's unrealistic to try to figure that out), thus it uses the minimum limit as defined in the config.

[2017-03-14 10:59] vlimant commented on #7715
Oh ! so all jobs will come out with 2200, no matter what ! It's a bit rough IMO, especially for merge jobs. But if there were no matching issues previously, then we go down the same path until we get proper request values and go with more regular job requirements.

[2017-03-14 11:26] AndrewLevin commented on #7715
Hi,

I haven't noticed jobs pending forever because they request too long of a runtime. Are you sure they are pending forever, or just a really long time? I have not used KIT recently, maybe it is specific to KIT.

Andrew

[2017-03-14 13:41] ericvaandering commented on #7715
![](https://github.trello.services/images/mini-trello-icon.png) [Issue 1](https://trello.com/c/HDmjZb2G/1-issue-1)

[2017-03-14 13:42] ericvaandering commented on #7710
![](https://github.trello.services/images/mini-trello-icon.png) [Issue 2](https://trello.com/c/g56LXPDp/2-issue-2)

[2017-03-14 13:44] aperezca commented on #7715
Hi Andrew,

As long as you run on the grid, not on specialized resources, be it at KIT or anywhere else, we are bound by the VO card (*), which specifies 48h maximum walltime . As we also reserve time for pilot draining, it basically mean that such long jobs could only potentially match recently started pilots, not all of them, hence the potential matching issues leading to jobs "pending forever"

[2017-03-14 14:38] ericvaandering commented on #7711
Start with the XML report created in https://github.com/dmwm/WMCore/pull/7717 which has the new format

[2017-03-14 14:39] ticoann commented on #7713
I am not completely sure whether this will be hard to set up. I think there might be a simpler way to catch all DB call make component not crash.  One thing I would I like to avoid is catching too general errors and miss the case we actually need to fix. (i.e. there were duplicate insert due to the uuid collision and we had to manually fix the files)

I think what we can do probably is if there is

[2017-03-14 14:50] vkuznet commented on #7704
Seangchan, I need more info:
- please provide an example of document which send to this page, in particular I need to see if campaign and/or prepid are presented in this document
- do we need to show campain for every request, since so far we only show Request/Status/Date/User/Group attributes
- the existing search does "Filter by pattern" which basically apply JS filter to pattern names shown on

[2017-03-14 15:16] ticoann commented on #7704
Hi Valentin,

Just to clarify the changes on approve page and we just need the search option for Campaign but not PrepID

https://cmsweb-testbed.cern.ch/reqmgr2/approve

Could you point me the call populate this page?
If you are getting all the "new"  document (without masking), Document structure is something like this.
https://cmsweb.cern.ch/couchdb/_utils/document.html?reqmgr_workload_cache/pro

[2017-03-14 15:43] vkuznet commented on #7704
Seangchan, @ticoann, please take https://github.com/dmwm/WMCore/pull/7719 This PR includes changes to include new filter. Don't merge yet, but please deploy to your VM for testing.

[2017-03-14 15:53] hufnagel commented on #7713
I think catching all db related errors might be asking too much. The database is such a fundamental part of WMAgent, there is often very little you can do when it goes away. Also, keep going in the presence of database errors exposes you to the serious risk of state inconsistencies. If you want to continue in the presence of database errors you better make very very sure the internal state of your

[2017-03-14 15:59] ticoann commented on #7713
Hi Dirk, I think the problem was when it is transient errors. DB connection goes away somehow and fixed in a couple of hours.  Ops has to follow what is going one with DB and restart all the components.
I guess they want to minimize those situation.
But I completely agree that we can't blindly catch all db exceptions and proceed other task.
I was wondering whether we can do better with specific ca

[2017-03-14 16:13] ticoann opened #7720 "Add more flexible search option with active requests"
provide api  when user wants to search specific conditions over active request.

i.e /wmstatsserver/data/filterted_requests?RequestStatus=running-closed&RequestStatus=running-open&RequestType=TaskChain&SubRequestType=RelVal&mask=RequestName&mask=PrepID

This will return only RequestName and PrepID for  TaskChain, RelVal  request on running-open and running-closed status.

[2017-03-14 16:14] ticoann commented on #7720
@vlimant, Jean-Roch, is this sufficient for what need?

[2017-03-14 17:09] hufnagel commented on #7713
Oh, don't get me wrong. If we can catch specific database operations exceptions and move on while maintaining internal component state consistency, I am all for it. But that is highly component specific. Some db operations you will be able to ignore the error and just retry the next cycle. Some db operations affect the next steps in the current polling cycle. It all depends on the what the compone

[2017-03-14 20:02] scarletnorberg commented on #7710
Hi,

This happened again on two agents but I got the log this time:
https://its.cern.ch/jira/projects/CMSCOMPPR/issues/CMSCOMPPR-715?filter=allopenissues
https://its.cern.ch/jira/projects/CMSCOMPPR/issues/CMSCOMPPR-716?filter=allopenissues

JobSubmitter:

2017-03-14 07:28:05,122:140419159586560:INFO:JobSubmitterPoller:Have 0 jobs to submit.
2017-03-14 07:28:05,122:140419159586560:INFO:JobSubmitter

[2017-03-14 22:39] amaltaro commented on #7710
The log you posted here doesn't have any error, but the one in JIRA does.
The reason JobSubmitter failed in the last time is different then the first one. One was a oracle issue and the latter was a schedd runtime error.

I'll check the code tomorrow and try to handle the schedd exception.

[2017-03-15 08:58] vlimant commented on #7715
de facto those jobs have ~0 chance to run at KIT. they have been pending for more than a day at priority 50,500,000 and 30,500,000. qedited away. we ought to understand what is the actual timelimit that can be requested

[2017-03-15 10:41] amaltaro commented on #7710
BTW, @scarletnorberg I suggest you to try to follow up this condor issue with the SI team. Condor is way too unstable on these nodes and every day I get at least one unresponsive condor_schedd.
We should find out the reason for these instabilities

[2017-03-15 10:53] vlimant commented on #7710
agreed. when you find out the command that is failing (is it File "/data/srv/wmagent/v1.1.0.patch1/sw/slc6_amd64_gcc493/cms/wmagent/1.1.0.patch1/lib/python2.7/site-packages/WMCore/BossAir/Plugins/SimpleCondorPlugin.py", line 142, in submit
clusterId = schedd.submitMany(clusterAd, procAds)
RuntimeError: Failed to connect to schedd.) we should make that a gwms elog to try and get this under control.

[2017-03-15 11:00] vlimant commented on #7713
I agree that db error should be not just ignored and move on. I was thinking f throwing a db connect error, stopping the component cycle, leaving the component alive and trying to come back to it. The exception should propagated as a warning in wmstats, so that we can monitor why an agent is not making jobs, but the agent would come back to work by itself once the db transient/announced issue is o

[2017-03-15 11:12] amaltaro commented on #7710
That's one of the "problems" in self-recovering from these issues. In order to nicely handle these exceptions, we should have an exception counter and in case it happens X times consecutive, then we let the component crash (raising the alarm in wmstats).

If we want to "simply" not crash the component, we just log the exception and wait for the next cycle. Of course, if the schedd is dead, nobody

[2017-03-15 11:58] vlimant commented on #7710
yes, it's not trivial and will require some work, but agent should be resilient to external component's failures IMO

[2017-03-15 12:22] vlimant commented on #7715
@AndrewLevin I think we have been too permissive with long running jobs that would have lead to setting very high max. It turns out that the requested time is only used for matching and the job would live longer than that. The watchdog is set to 44H in unified as a legacy, regardless of how much time is requested in condor.
I just noticed that TimePerEvent is set to 0.1 in the request, which drive

[2017-03-15 12:40] AndrewLevin commented on #7715
Hi Jean-Roch,

It is a huge nightmare to deal with situations where jobs are either not matching or they are getting killed by the site. As you have already found out with KIT. So, I just used a constant maxwalltimemin which made the problem go away (although apparently only for FNAL and CCIN2P3). There is a price we pay in terms of slots available that have that much wall time left. However, it s

[2017-03-15 13:33] vlimant opened #7722 "New relval agent setting"
Following up from https://github.com/dmwm/WMCore/issues/7715 we should set the relval agent limits to [60 min, N min] so as to have utilitarian jobs ask for 60min and processing jobs maxed to N min.
N could be the default setting IMO, which would change ~nothing to the current situation.
We can live with N=2200 min for the time being.

We should enforce that TimePerEvent is set to pseudo-reasonabl

[2017-03-15 14:24] #7588 closed

[2017-03-15 15:13] #7671 closed

[2017-03-15 15:56] hufnagel commented on #7713
That's not really possible in general. You get db errors for other reasons than non-availability of db resources. For instance, you can get a FK constraint error, in these cases something seriously is screwed up and you want to crash since either you have a query bug or your data is so screwed up that you really don't want to continue.

Not sure if we can reliably detect "database is temporarily u

[2017-03-15 16:01] hufnagel commented on #7710
Up to a point. At some level of infrastructure failure the best strategy you can follow is to detect asap that you are screwed and stop everything so you don't screw yourself some more.

[2017-03-15 16:27] scarletnorberg commented on #7710
Is this was the same schedd issue that Jean-Roch was talking about? This has already been posted on github somewhere for Jean-Roch I think yes? If this is another group that I need to talk to in order to make this more stable please let me know who and where and I will. I am not sure who the SI team is. I think the team is Submission Infrastructure but not 100% sure. I also do not know where in gi

[2017-03-15 18:49] #7680 closed

[2017-03-15 21:45] ericvaandering commented on #7711
Looking at this... This info is stored in Report in a Run object where that object contains a list of lumis. Now we'd really like a dict of lumis with events as the values. That's going to be really intrusive since that Run object is used everywhere.

What I'm thinking instead is that we duplicate the info in the file object with an dictionary that is per lumi event counts like this
[code]
Where t

[2017-03-15 22:11] ticoann commented on #7711
I think Run object might be a good place to store this information. Maybe we can make this less intrusive by keeping all the accessor and setter with the same format as it is and just add new method to get event information.

[2017-03-15 22:16] #7704 closed

[2017-03-16 04:40] ticoann commented on #7681
@vkuznet, Hi Valentin, could you take this issue as well. I looked at the code little bit but you would fix it much faster than me.

In the above link (in the table page), we can add a area which displays ConfigCacheID (by Tasks/Steps if necessary) and link to actual record.

URL link will be ("doc"  is json request document - which request page already contains)

url = "%s/reqmgr_config_cache/%s/

[2017-03-16 13:10] vkuznet commented on #7681
Seangchan, here is a PR: https://github.com/dmwm/WMCore/pull/7729
Few questions though:
- what if ConfigCacheURL is null? The document JR provided has null value for ConfigCacheURL.
- I added a Config Files list of links under the table, but may be you want a different layout, e.g. to show them separate (new button)
Anyhow please deploy first this PR and we can have a look and iterate.

[2017-03-16 13:29] amaltaro commented on #7609
Then I'm going to delete it tomorrow morning, Ok? I already talked to Kate and she told me it's just a matter of going to the resources whatever CERN page and deleting it. Do I have your green light, @ticoann ?

[2017-03-16 13:33] vlimant commented on #7681
@vkuznet there is ConfigCacheURL and ConfigCacheUrl, the first is valid, the second is null

[2017-03-16 13:39] amaltaro commented on #7681
Just a correction, it's actually the other way around:
`ConfigCacheUrl` is correct
`ConfigCacheURL` is wrong

see https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1125

[2017-03-16 13:45] vkuznet commented on #7681
@vlimant, I changed code to use ConfigCacheURL, will iterate with Seangchan.

@ticoann, Seangchan, why on earth you have these two in a document?

On  0, vlimant <notifications@github.com> wrote:

[2017-03-16 13:47] vkuznet commented on #7681
Well, in a document JR pointed out the
"ConfigCacheUrl": null,
"ConfigCacheURL": "https://cmsweb.cern.ch/couchdb",

My question remains, why two? Get rid of one to avoid confusion.

On  0, Alan Malta Rodrigues <notifications@github.com> wrote:

[2017-03-16 13:59] amaltaro commented on #7681
There is some legacy code that was just left behind :-) For the case you see `ConfigCacheUrl` null, you probably see `CouchURL` with a valid url, no?
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1121

ReqMgr does enforce the arguments and their values. However, if the argument name (key) is NOT known by ReqMgr, then there is no sanitization (meaning the

[2017-03-16 14:00] amaltaro commented on #7681
Which means, requests don't have two, but they may have 3 parameters for the same thing :P

[2017-03-16 14:03] amaltaro commented on #7722
@vlimant I'll simply remove this tweak from the relval agent deployment, such that it will use the same limits as any other agent:
`{'MaxRequestDiskKB': 20971520, 'MinWallTimeSecs': 3600, 'MaxWallTimeSecs': 162000, 'MinRequestDiskKB': 1048576}`

is that Ok?

In addition to that, we have two more tweaks for the relval agents.
1. LogCollect retry is 2 instead of 1
2. archiveDelay (time to cleanup al

[2017-03-16 14:04] ericvaandering commented on #7711
I thought about that too. Maybe I can even store things things just once and make Run.lumis return the right thing through some python magic.

[2017-03-16 14:16] vkuznet commented on #7681
I want to get Seangchan word about which parameter to use ConfigCacheURL,
ConfigCacheUrl, configCacheUrl, CongiccacheURL, etc.

I think it is waste of developer time to constantly tweak code of dynamically
changing data. Let's fix the data first, make a schema and stick to it.

On  0, Alan Malta Rodrigues <notifications@github.com> wrote:

[2017-03-16 14:28] ticoann commented on #7609
Yes go ahead, please.

[2017-03-16 14:32] ticoann commented on #7681
Sorry Valentin, Alan is right it is ConfigCacheUrl is the correct one. I am not sure how recent workflow has valid value on ConfigCacheURL.

Could you use ConfigCacheUrl but have the default value set as "https://cmsweb.cern.ch/couchdb" if it is null, We will enforce this param in spec level.

[2017-03-16 14:35] vkuznet commented on #7681
Done, feel free to deploy and let's iterate.

On  0, ticoann <notifications@github.com> wrote:

[2017-03-16 16:17] amaltaro opened #7732 "Converge to a single ConfigCacheUrl parameter"
Right now we look at:
1. ConfigCacheUrl
2. CouchURL
however, user can define ConfigCacheURL, which is meaningless since it's not supported in the spec files.

I think we enforce only `ConfigCacheUrl` and completely remove any support to `CouchURL` from the code. @ticoann @hufnagel is that Ok?

BTW, this issue should be fixed in line with https://github.com/dmwm/WMCore/issues/7133

[2017-03-17 09:05] amaltaro commented on #7609
I've deleted all the accounts I had under my ownership.
Seangchan, I listed them in the private email, subject: "Oracle accounts for ReqMgr"
Closing this issue.

[2017-03-17 09:05] #7609 closed

[2017-03-17 09:21] amaltaro commented on #7710
Closing it in favor of #7713

[2017-03-17 09:21] #7710 closed

[2017-03-17 09:24] amaltaro commented on #7589
Closing it in favor of #7589

[2017-03-17 09:24] #7589 closed

[2017-03-17 09:25] amaltaro commented on #7180
Closing it in favor of #7713

[2017-03-17 09:25] #7180 closed

[2017-03-17 09:26] amaltaro commented on #5514
Closing since reqmgr+oracle is dead :)

[2017-03-17 09:26] #5514 closed

[2017-03-17 09:27] amaltaro commented on #5213
I haven't seen this happening again in Oracle. Since we have mostly used CERN agents for the last half year, I haven't seen this in MySQL as well. I actually don't remember if we managed to fix anything on the mysql backend.

[2017-03-17 09:28] amaltaro commented on #7722
@vlimant patch was created, I just need your feedback on these 2 points above.

[2017-03-17 09:56] amaltaro commented on #7713
Just in case, I placed here the complete logs with the oracle crashes:
http://amaltaro.web.cern.ch/amaltaro/forWMCore/Issue_7713/oracle_disconnect.log

It seems to be exactly the same crash in these 4 components: DBS3Upload, JobStatusLite, JobTracker and JobCreator.

The exception is OperationalError, but there are two error messages:
OperationalError: ORA-03114: not connected to ORACLE
(Operation

[2017-03-17 12:02] vlimant commented on #7722
I would go without touching the other tweaks

[2017-03-17 12:04] vlimant commented on #7589
#7713

[2017-03-17 12:39] amaltaro commented on #7722
Thanks. I updated the patch then.

[2017-03-17 12:45] #7722 closed

[2017-03-17 12:51] amaltaro commented on #7224
@ticoann @vkuznet after our discussion on this topic  - in the WMAgent meeting yesterday - I talked to Todor and he confirmed these logs are accessible from anywhere (including outside cern).

I then asked Daniel to set this up in vocms0230, such that we can have a feeling on how it will work (Justas' approach) and if we're happy with that, we push it to the other agents.

[2017-03-17 19:14] #7720 closed

[2017-03-18 02:51] #7681 closed

[2017-03-20 19:57] #7068 closed

[2017-03-20 20:01] #7732 closed

[2017-03-21 02:23] scarletnorberg opened #7739 "vocms0310 and vocms0311 JobTracker"
Earlier today:

https://its.cern.ch/jira/projects/CMSCOMPPR/issues/CMSCOMPPR-746?filter=allopenissues

Than just now:

2017-03-21 02:18:59,967:139708978120448:INFO:Harness:>>>Terminating worker threads
2017-03-21 02:19:00,013:139708978120448:ERROR:BaseWorkerThread:Error in event loop (2): <WMComponent.JobTracker.JobTrackerPoller.JobTrackerPoller instance at 0x7f10888b9c68> JobTrackerException
Mess

[2017-03-21 02:27] scarletnorberg commented on #7739
vocms0311 component log:

	ModuleName : WMComponent.JobTracker.JobTrackerPoller
	MethodName : algorithm
	ClassInstance : None
	FileName : /data/srv/wmagent/v1.1.0.patch2/sw/slc6_amd64_gcc493/cms/wmagent/1.1.0.patch2/lib/python2.7/site-packages/WMComponent/JobTracker/JobTrackerPoller.py
	ClassName : None
	LineNumber : 91
	ErrorNr : 0

Traceback:
  File "/data/srv/wmagent/v1.1.0.patch2/sw/slc6_amd64

[2017-03-21 19:16] ticoann commented on #7692
Actually the problem is not just ACDC or Clone. It seems it is generic problem for task chain and step chain as long as we allow dict format of params for those types.
ACDC and Clone is affected since it inherits the value and it is initially set vs new workflow won't have initial value for these. patch is created #7744

[2017-03-22 13:27] amaltaro commented on #7739
Sigh, I've never seen this issue before. I wonder if it's related to the oracle cluster move...
Please report if it happens again.

[2017-03-22 14:46] prozober opened #7746 "Problem assigning ACDC"
Hi guys, I am having a problem during the assignment of two ACDCs.
E.g. prozober_ACDC0_task_HIG-RunIISummer15GS-02578__v1_T_170322_130824_743, I am using https://github.com/CMSCompOps/WmAgentScripts/blob/master/assign.py for the assignment.

The script:
`
python assign.py -s T2_UK_SGrid_Bristol,T2_UK_London_Brunel --xrootd -w prozober_ACDC0_task_HIG-RunIISummer15GS-02578__v1_T_170322_130824_743`

[2017-03-22 15:04] ticoann commented on #7746
Hmm that is weird. Could you print out the dictionary right before the put call is made.
right above the below call. (print schema)

https://github.com/CMSCompOps/WmAgentScripts/blob/master/reqMgrClient.py#L1252

[2017-03-22 16:06] amaltaro commented on #7746
I didn't follow the whole code, but there seems to have a flaw in that function `reqmgr1_to_2_Assignment`. BTW, since all these requests are ReqMgr2 now, why would you translate reqmgr1 "stuff" to reqmgr2?

[2017-03-22 16:07] prozober commented on #7746
Thanks Seangchan, here it is

`{'SoftTimeout': 159600, 'BlockCloseMaxEvents': 2000000, 'MaxMergeEvents': 200000, 'CustodialSites': [], 'MaxRSS': 6041600, 'ProcessingString': {u'HIG-RunIISummer16MiniAODv2-02961_0': u'PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6', u'HIG-RunIISummer16DR80Premix-02945_0': u'PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6', u'HIG-RunIISummer15GS-02578_0': u'

[2017-03-22 16:10] ticoann commented on #7746
@prozober, Hi Paola, Above dictionary doesn't contain "Team", It must me removed between the first dictionary and the second one somewhere in the code.

[2017-03-22 16:18] prozober commented on #7746
That's weird, I tried to assign 140 ACDCs and only 2 had failures in the assignment.
prozober_ACDC0_task_HIG-RunIISummer15GS-02578__v1_T_170322_130824_743
prozober_ACDC0_task_HIG-RunIISummer15GS-02444__v1_T_170322_130359_9454

[2017-03-22 16:34] prozober commented on #7746
Hmmm well, I assigned the ACDC https://cmsweb.cern.ch/reqmgr2/fetch?rid=prozober_ACDC0_task_HIG-RunIISummer15GS-02604__v1_T_170322_171402_875 and the dictionary sent was [**]. "Team" is there, what is different?

[**]
`{'SoftTimeout': 159600, 'BlockCloseMaxEvents': 2000000, 'MaxMergeEvents': 200000, 'CustodialSites': [], 'MaxRSS': 6041600, 'ProcessingString': {u'HIG-RunIISummer15GS-02604_0': u'MCR

[2017-03-23 14:22] #7692 closed

[2017-03-23 15:32] scarletnorberg opened #7750 "PhedexInjector issue"
Submit1 phedex needs to be restarted here is the log:

2017-03-23 03:09:46,587:140574152865536:INFO:PhEDExInjectorPoller:Starting injectFiles method
2017-03-23 03:09:47,080:140574152865536:INFO:PhEDExInjectorPoller:About to inject 1 files for block /VBFHHTo2B2Tau_CV_1_C2V_1_C3_0_13TeV-madgraph/RunIISummer15wmLHEGS-MCRUN2_71_V1-v1/GEN-SIM#76f53ba0-0e8e-11e7-b296-a0369f23d01e
2017-03-23 03:09:48,113

[2017-03-23 15:52] vlimant commented on #7746
the issue is actually in reqmgr1_to_2_Assignment that did not like a partial migration to reqmgr2 only assignment. https://github.com/CMSCompOps/WmAgentScripts/commit/2e28a572df7daafe0777e20ecf251368c289aa3f

Now assign.py will do assignment with reqmgr2 parameters all the time https://github.com/CMSCompOps/WmAgentScripts/commit/78e428bece6368975e996c6b69cfb2e761291cce

[2017-03-23 15:52] #7746 closed

[2017-03-23 15:53] ticoann commented on #7746
Thanks Jean-Roch

[2017-03-23 20:51] #7705 closed

[2017-03-24 08:49] vlimant opened #7753 "Jobs not removed from site disabled"
https://cms-gwmsmon.cern.ch/prodview/fabozzi_HIRun2015-HIOniaPeripheral30100-02May2016_758p4_170306_123931_1702

aren't the jobs supposed to be removed ?

[2017-03-24 09:16] amaltaro commented on #7753
Pending jobs are supposed to be removed IF they were assigned only to one site (the site that went into drain/down). Otherwise the job is only qedited and that site is taken out of the DESIRED_Sites.

About this one job on vocms0130
21927.182  1  256253 /data/srv/wmagent/v1.1.0.patch1/install/wmagent/JobCreator/JobCache/fabozzi_HIRun2015-HIOniaPeripheral30100-02May2016_758p4_170306_123931_1702/Dat

[2017-03-24 09:52] vlimant commented on #7753
@amaltaro what do you mean by condor took care of it ? Why is the agent not removing this job from the queue ?
If the agent is still waiting for that job (I think it is) it should take care of it to move the workflow forward, regardless of what happened in htcondor, which indeed we need to figure out a bit more.

[2017-03-24 14:18] amaltaro commented on #7753
Just to make it crystal clear, the agent *only* edit/remove jobs that are in JobStatus=1 (Idle), all the rest is not touched when a site changes its status.

Second important point to make is that the agent acts on a snapshot basis, i.e., once it sees the site status change, it fetches Idle jobs in condor and edit/remove them. After that (and the local DB update), the agent does not do anything el

[2017-03-24 15:08] vlimant commented on #7753
hey, you are probably right on the history of those jobs, but it turns out that this is a valid lifecycle (htcondor has the right to send back a running job to idled, for various reasons) for the job and we are ending up with a dangling workflow, waiting for a handful of jobs that will never run, and that will be removed in 5 days by the agent ... I don't think this is too good either. We have to

[2017-03-24 15:12] ddavila0 commented on #7753
By a quick look in the logs of the job, it can be seen that the job was running at the time the site was set to "down". The job started to run on Mon Mar 20 07:41:24 CET 2017 then the schedd died at Tue Mar 21 10:40:04 CET 2017 causing a disconnection, then the job was set to Idle.

[2017-03-24 15:33] #7715 closed

[2017-03-26 16:39] vlimant commented on #7707
https://cmsweb.cern.ch/reqmgr2/fetch?rid=prebello_RVCMSSW_9_0_0NuGun__resub_170324_153902_8575 is another instance with https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/element/fe0f5c6d954f2e43daa5c37e88a73ef4

[2017-03-27 12:21] vlimant commented on #7753
https://cms-gwmsmon.cern.ch/prodview/pdmvserv_SMP-PhaseIIFall16DR82-00026_00044_v0__170316_145557_1828

[2017-03-27 12:22] vlimant commented on #7753
thanks @ddavila0 ! so @amaltaro what's next ?

[2017-03-27 12:42] amaltaro commented on #7753
I'll discuss this issue with @ticoann and probably set an automatic lookup & cleanup for sites that are not "enabled". It shall come in the next WMAgent release (April)

[2017-03-27 20:15] amaltaro opened #7754 "Extend ParameterStorage usage to other task arguments"
if possible, and avoid all the juggling with task level arguments.
Work on this once #7133 is done.

[2017-03-28 10:07] amaltaro commented on #7707
I was going to say it's related to the fact that this TaskChain starts with MC from scratch AND has the `TrustSitelists` flag enabled. However, the previous workflow reported was not assigned with any of those Trust flags enabled.

I'm looking at this issue and we should have it fixed for the next cmsweb production upgrade (next week).

[2017-03-28 13:35] johnhcasallasl opened #7755 "Corrupted job file?"
Hello:

We found a Repack job failing when trying to unpack the job file [1]. It only happened for this job, but it raises the question of how should we recover from this problem if we see it happening again. This job is paused on vocms0314 in case you need to check it [2].

[1]
WMAgent bootstrap : Mon Mar 27 11:09:53 UTC 2017 : starting...
WMAgent bootstrap : Mon Mar 27 11:09:53 UTC 2017 : argume

[2017-03-28 14:46] amaltaro commented on #7755
I could reproduce the same untar issue. Actually, one can open the spec tarball
/data/tier0/admin/Specs/Repack_Run288593_StreamPhysics/Repack_Run288593_StreamPhysics-Sandbox.tar.bz2

with `vim` and it reports the file is corrupted.

What puzzles me is how come the other jobs - for the same request - managed to untar and run?!? @johnhcasallasl can you confirm whether *this* workflow had other jobs

[2017-03-29 12:14] hufnagel commented on #7755
We seem to see this happening every once in a while, that the workflow sandbox tar produces a corrupted tarball without the system noticing except when a job wants to use it.

I simplified the tarball creation logic in JobCreator a while ago to possibly help with this. Since it seems to continue to happen, how about adding an explicit check that the produced tarball is ok (by reading and expanding

[2017-03-29 12:31] amaltaro commented on #7755
That's the approach I was thinking of as well. However, John said other jobs within this same workflow succeeded(?) How come if it use exactly the same tarball? @johnhcasallasl please clarify

[2017-03-30 15:35] amaltaro opened #7759 "Usage of reqmgr_auxiliary couch db and docs in there"
While scanning couch.log in my personal VM, I noticed several "Not found" while accessing a doc in reqmgr_auxiliary couch db
`[Thu, 30 Mar 2017 13:12:36 GMT] [info] [<0.7813.0>] 128.142.153.212 - - GET /reqmgr_auxiliary/PERMISSION_BY_REQUEST_TYPE 404`

It's not critical because we then use it from the cache (right, Seangchan?).

[2017-03-30 15:46] ticoann commented on #7759
Yes, currently it is just using the hardcoded default value. So it shouldn't be a problem. I will fix this along with software.

[2017-03-30 18:24] amaltaro opened #7760 "Validate PhEDEX subscriptions setup during assignment"
Ivan and Federica just hit an issue in the CMS@Home agent where it complains about a Move subscription to a site that is neither T0 or T1. See log in [1].

So we should validate
*) NonCustodialSubType x NonCustodialSites
*) CustodialSubType x CustodialSites

and fail assignment.

[1]
[code]

[2017-03-31 12:13] vlimant opened #7762 "Job left over from aborted workflow"
I noticed
https://cms-gwmsmon.cern.ch/prodview/fabozzi_RVCMSSW_9_0_0GluGluHToZZTo4L_M125_Pow_py8_Evt_13__PU25_reHLTcc7_170327_230233_6021

https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_RVCMSSW_9_0_0GluGluHToZZTo4L_M125_Pow_py8_Evt_13__PU25_reHLTcc7_170327_230233_6021

which is aborted-archived. From the relval agent. Is that agent fully up to date on the release version ?

[2017-03-31 12:21] vlimant commented on #7469
are we having an issue with https://cmsweb.cern.ch/reqmgr2/fetch?rid=prozober_ACDC0_task_HIG-RunIISummer15GS-02106__v1_T_170323_095110_8480 ?

[2017-03-31 15:05] ticoann commented on #7762
Agent is upto date but transition between aborted and aborted-completed happened too fast (faster than the polling cycle). agent misses the update.

I will create the patch for handling this cases.

[code]

[2017-03-31 15:06] ticoann commented on #7762
I will kill those jobs manually. If that is OK with you.

[2017-03-31 16:15] ticoann commented on #7762
I kill those jobs without permission. 😄

[2017-04-03 07:23] vlimant commented on #7469
@ticoann @amaltaro  ping !

[2017-04-03 07:24] vlimant commented on #7469
@prozober can you please redo the ACDC and re-assign it so that we move on. Leave the broken ACDC as is

[2017-04-03 08:43] amaltaro commented on #7469
I looked at the ReqMgr2 logs and I couldn't find anything wrong with the creation nor with the assignment. Just in case, creation log in vocms0165
[code]

and assignment log in vocms0161
[code]

The workload configuration has the correct values
[code]

but somehow the GWQE has `"NoInputUpdate":false, "NoPileupUpdate":true`

I've just tested an ACDC merge in testbed and the flags work just fine.

F

[2017-04-03 13:55] amaltaro opened #7765 "Too many DNS queries for cmsweb.cern.ch"
I've just received an email from cern it complaining about too many DNS queries for cmsweb.cern.ch. The worst offenders are:
[code]

besides a bunch of crab3 nodes.

I'll look at it tomorrow.

[2017-04-03 14:06] amaltaro commented on #7765
and some documentation they have provided:
http://service-dns.web.cern.ch/service-dns/faq.asp

[2017-04-04 07:29] vlimant commented on #7762
I just condor_rm all jobs from

https://cms-gwmsmon.cern.ch/prodview/prozober_ACDC0_task_HCA-PhaseIFall16GS-00007__v1_T_170331_105036_8804

we ought to get aborted workflows fully under control.

[2017-04-04 08:04] vlimant commented on #7762
https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_RVCMSSW_9_0_0ZEE_13__reHLTcc7_170327_174211_5619
https://cms-gwmsmon.cern.ch/prodview/fabozzi_RVCMSSW_9_0_0QCD_Pt_3000_3500_13__reHLTcc7_170327_174200_6576
https://cms-gwmsmon.cern.ch/prodview/fabozzi_RVCMSSW_9_0_0TTbar_13__reHLTcc7_170327_174237_7732
and many others from the relval agent

[2017-04-04 09:52] fabozzi commented on #7687
@ticoann
Hi, I revamp this thread to ask updates on this feature and
what is the plan for the batch approval/reject to enter in production.
Thanks!

[2017-04-04 11:59] vlimant opened #7767 "Allow TimePerEvent to get overwritten during assignment"
Creating this topic to get the ball rolling.
The splitting can be changed via existing api in reqmgr2, however, it requires essentially to re-implement the logic already present for default splitting when TimePerEvent is initially provided.
Setting more accurate values at injection time would be very optimum but would require to cross over to mcm and provide a way to read performance values from a

[2017-04-04 14:24] ticoann commented on #7687
@fabozzi, Hi Francesco, Actually I sent email a week ago (March 24th)  about the upgrade and asking for feedback. Subject field was "updated new features on ops requests for April production upgrade" I hope I had a right email address. (sent to CERN email). I am sorry if it didn't get delivered.

The feature is on the testbed. (adding Campaign), you can check here.
https://cmsweb-testbed.cern.ch/r

[2017-04-04 14:38] fabozzi commented on #7687
Hi, thank you. I would like to search the workflows of a current batch in production, for instance the batch:
CMSSW_9_1_0_pre2__fullsimPU_2017-1491253360

However, if I put that name in the filter, it does not display any workflows.
Am I doing something wrong?

[2017-04-04 14:45] fabozzi commented on #7687
Maybe only the batches that are in a certain state can be displayed? The workflows of the batch that I was referring are in "running-closed" state.

[2017-04-04 14:57] ticoann commented on #7687
Sorry that was our mistake. (We shouldn't have add campaign filters for other pages)

Bulk approve/reject only works with when requests are not yet approved.
So only through this link.
https://cmsweb.cern.ch/reqmgr2/approve

If you want to just check which workflows are in that campaign.
https://cmsweb.cern.ch/wmstatsserver/data/filtered_requests?Campaign=CMSSW_9_1_0_pre2__fullsimPU_2017-149125336

[2017-04-04 15:05] fabozzi commented on #7687
OK, thank you. Yes, I agree it is better to remove the campaign filtering from other pages. I am not sure if there is use case for bulk reject/abort. Therefore for the moment bulk approval/reject is sufficient.

[2017-04-04 15:07] ticoann opened #7768 "remove campaign filter from other than approve pages in reqmgr2"
Or fix the filter.

[2017-04-05 03:24] #7762 closed

[2017-04-05 07:48] vlimant opened #7770 "Inconsistent status WQE/reqmgr"
https://cmsweb.cern.ch/reqmgr2/fetch?rid=prozober_ACDC0_HIRun2015-HIMinimumBias1-02May2016_758p4_170331_112803_4571

looks to be in an odd situation.
Or is it just waiting for T0 to be up ?
@prozober that might have to be redone

[2017-04-05 08:15] amaltaro commented on #7770
It's not inconsistent. ReqMgr status will be `running-open` while there is at least 1 WQE in `Acquired` status. Haven't we circulated these definitions when this transition was made (maybe it was sent to the wf-team egroup)?

[2017-04-05 08:15] #7770 closed

[2017-04-05 12:33] vlimant commented on #7770
ok. I suspected something like that too.

what is in the way of the jobs to be made then

https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=prozober_ACDC0_HIRun2015-HIMinimumBias1-02May2016_758p4_170331_112803_4571

is this because of T0 holding part of the required input ?

[2017-04-06 08:49] vlimant commented on #7762
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_JME-PhaseIFall16GS-00006__v1_T_170309_141735_7301 has spewed thousands of jobs while it has been aborted for 15 days.
https://cms-gwmsmon.cern.ch/prodview/pdmvserv_task_JME-PhaseIFall16GS-00006__v1_T_170309_141735_7301

[2017-04-06 09:28] amaltaro commented on #7762
These are the moment I'm totally against of having more agents than needed in production.
gwmsmon doesn't give me the agents running these jobs (and it's archived, so no longer in wmstats), so there we go in agent by agent to locally abort it.

[2017-04-06 10:18] amaltaro commented on #7762
Hmm, I found only 4 jobs on vocms0311, though gwmsmon says PIC has almost 2k jobs pending?!?

[2017-04-06 11:32] vlimant commented on #7762
I did condor_rm emergency those from 311 because I am baby sitting PIC in running through a backlog.
I hope that there will be no more jobs fro aborted at next agent release, so that noone has to go through the pain full process.
gwmsmon does tell the agent, when clicking on "show debug information"

[2017-04-06 14:10] ticoann commented on #7762
Sorry, Jean-Roch. The patch is ready. We can patch the current production agents.

[2017-04-06 14:18] ticoann opened #7776 "WMCore-04-2017-issues"
Bug fixes high priority:
#7781 ACDC for ReReco with Parents broken - at GQ level (A) (done)
#6187 ACDC for TaskChain wfs creating more jobs than expected (A)
#7115 Files are not injected to PhEDEx but DBS is updated. (S) (possibly fixed - need to test)
#7439 Files missing in DBS and PhEDEx (S) -  (possibly fixed - need to test)
#7600 Investigate ReqMon memory footprint
#7768  fix campaign filter f

[2017-04-06 14:41] ticoann commented on #7711
#7748

[2017-04-06 14:43] #7711 closed

[2017-04-06 14:49] ticoann commented on #7765
what do you mean by DNS query? Is that the query try to resolve DNS names? Which DNS is it try to resolve?

[2017-04-06 14:55] amaltaro commented on #7765
I still didn't manage to look at the IT documentation, but what I understood is the following case for instance:
[code]

so we're resolving cmsweb.cern.ch name way too often. Unless I misunderstood it :-)

[2017-04-06 16:14] ticoann commented on #7768
@vkuznet, Valentin, could you take a look at this?

i.e. Campaign filter doesn't work.
https://cmsweb.cern.ch/reqmgr2/requests?status=running-open

on approve page it works.
https://cmsweb.cern.ch/reqmgr2/approve

[2017-04-06 16:54] vkuznet commented on #7768
Seangchan, try this PR: https://github.com/dmwm/WMCore/pull/7778
I think I missed to show campaign on a page and it cause the behavior.
It would be nice if you'll add it to your VM and add few requests with
different campaigns to test it.

On  0, ticoann <notifications@github.com> wrote:

[2017-04-06 20:12] ticoann commented on #7762
@vlimant All the production agents are patched. Please let me know if this happens again.

[2017-04-06 20:14] #7768 closed

[2017-04-07 07:47] amaltaro commented on #7762
Seangchan, have you patched only agents up and running? Or you also pushed it into draining and sleeping/ready agents? According to the twiki, some agents are missing it.

[2017-04-07 14:07] ticoann commented on #7762
I added only active agents (meaning) where I can see in wmstats including draining agent. For the complete list, twiki page is updated.

[2017-04-07 17:09] bbockelm commented on #7767
@amaltaro @ticoann -- what are your thoughts on this one?  Being able to better automate splitting (i.e., removing the human-provided time per event from the loop) would be high value as the current algorithms result in many sub-hour jobs.

[2017-04-07 19:41] PerilousApricot commented on #7765
The easy fix is to install dnsmasq on the affected host(s), which will cache DNS queries

[2017-04-10 07:37] amaltaro commented on #7765
CERN IT said we need to run nscd daemon on those hosts. I've contacted the VOC (who is/was on vacation) and he should follow up on it. Thus, I'm closing this ticket

[2017-04-10 07:37] #7765 closed

[2017-04-10 08:36] amaltaro opened #7781 "ACDC for ReReco with Parents broken - at GQ level"
While validating the new agent (1.1.2), I noticed an ACDC for a ReReco workflow with IncludeParents is not passing the work restrictions from GQ to LQ.

The collection name (in testbed) is:
amaltaro_ReReco_Parents_Agent112_Validation_170406_120031_8058

and we can see the doc uploaded to the acdcserver is apparently complete/Ok:
[code]

however, the GWQ has the `ParentFlag=True` but an empty Paren

[2017-04-10 12:00] amaltaro commented on #7767
Jean-Roch, just to clarify, you would like not to change any job splitting settings but instead simply change/override (at assignment) the TimePerEvent values provided and let reqmgr2 use that value for the automatic 8h job splitting. Is that right?

Brian, there is nothing wrong with the algorithm per-se, the only problem is the underestmated value provided by McM.

[2017-04-10 12:22] vlimant commented on #7767
@amaltaro I'd like to provide a dictionnary Task:TimePerEvent and let reqmgr2 adjust the splitting of all related tasks (which probably would be only the first task).

[2017-04-11 05:18] ticoann commented on #7767
Hi  Jean-Roch, Brian,

We are not taking about automatic adjusting on "time per events during" the workflow is running, correct? I am not sure how this work. So different workflows would have similar TimePerEvents?

I have a basic questions. (Sorry about my lack of understanding)
1. How current TimePerEvents are determined? Is some small sample run first to determine TimePerEvents?
2. What is the

[2017-04-11 08:13] amaltaro commented on #7755
@johnhcasallasl I remade that tarball based on another Repack sandbox. Can you please replace:
`/data/tier0/admin/Specs/Repack_Run288593_StreamPhysics/Repack_Run288593_StreamPhysics-Sandbox.tar.bz2`

by
`/data/srv/alan/remake/Repack_Run288593_StreamPhysics-Sandbox.tar.bz2`
?

Make sure to keep the correct permissions/owner.

[2017-04-11 08:14] amaltaro commented on #7755
and of course, un-pause that job :)

[2017-04-11 08:22] vlimant commented on #7767
@ticoann the adjustment will be done in two ways

1.  for workflow already assigned and running, there is already a feedback loop in unified to edit the pending jobs with jobrouter to have more accurate job requirement (already in place)
2. for workflow not assigned yet, and injected with approximate timeperevent we would adjust/assign with more accurate Time/Event estimate so as to have job lengt

[2017-04-11 14:01] vlimant opened #7785 "Review roles of users"
looks like the permissions are too opened as anyone with submit rights can toggle "announced" or anything else as far as I can tell.

[2017-04-11 14:37] Dr15Jones commented on #7767
The following are how the values in the FJR are calculated

- `AvgEventTime`: For each event we record the wallclock time between starting and finishing the event. We then average them. This value does not contain any of the inefficiency effects from startup, shutdown, synchronizing on luminosity block boundaries or the serialization time on the Source when trying to determine the next event to pr

[2017-04-11 15:48] #7781 closed

[2017-04-11 16:30] amaltaro commented on #7785
And that's why we have this issue opened: #6072
Closing this one as dup.

[2017-04-11 16:30] #7785 closed

[2017-04-11 16:35] sciaba opened #7786 "Providing CMSSW version info to ElasticSearch"
Doing analysis in ElasticSearch it is very useful to have the CMSSW version that was used by the job. I'd like to ask that this information is made available for exporting to ElasticSearch.

[2017-04-11 16:38] vlimant commented on #6072
good !

[2017-04-11 20:40] ebohorqu commented on #7755
@amaltaro, we copied the file generated by you to the required location and resumed the paused job. Thanks!

[2017-04-12 14:15] ericvaandering commented on #7767
I've had discussions with several people about having a sort of TimePerEvent service that allows this kind of feedback into the system in a more natural way. We should schedule a short meeting about this to find the best way forward. What I don't want is that someone just runs off an implements something that scratches an immediate itch.

[2017-04-13 04:27] ticoann commented on #7767
@vlimant, I created short twiki explaining splitting algorithm (only for EventAwareLumiBased and EventBased - those are related to this topic). https://github.com/dmwm/WMCore/wiki/JobSplitting-Argorithms

Please let me know if it is not clear.  @amaltaro, @hufnagel, Could you look at twiki and check anything is wrong? Thanks.

[2017-04-13 14:02] amaltaro commented on #7755
how was it, did the job succeed?

[2017-04-13 14:53] #7078 closed

[2017-04-13 20:39] ebohorqu commented on #7755
We didn't observe issues with the tarball when we resumed the job, but at the end it was not able to succeed given its input streamer file was already deleted from EOS :/ We failed the job.

[2017-04-17 16:27] ericvaandering opened #7791 "Tests that change status based on slice assignment"
I increased the number of slices from 10 to 15 and got a bunch of tests that flipped state:

Unit test changes for most recent test of master branch:

WMCore_t.Services_t.Requests_t.TestRequests:testSecureWithProxy_with_pycurl changed from error to success
WMCore_t.Services_t.Requests_t.testRepeatCalls:test10Calls changed from error to success
WMCore_t.Services_t.Requests_t.testRepeatCalls:testRec

[2017-04-18 05:56] #7133 closed

[2017-04-18 20:53] scarletnorberg commented on #7418
I do not think this is exactly related. But remember I said that we had this issue where JobSubmitter was not reporting on WMstats. I think you said it was a sched issue. This has not been happening a lot but has started happening again on vocms0304. I do not remember now what came out of it and I keep forgetting to copy the error I am sure this will happen again. Jean Roch wants me to put it in d

[2017-04-18 21:09] amaltaro commented on #7418
Scarlet, are you sure it's vocms0304 and JobSubmitter component? I don't see a single crash in the last week, though there are several schedd unresposive errors in the logs
[code]

which I confirm from the numerous HTCondor alerts I received over the holidays...

[2017-04-19 05:12] scarletnorberg opened #7794 "JobSubmitter silently dying on vocms0304 and vocms0303"
JobSubmitter has gone down so many times. This is like the problem we had before were WMstats is not picking it up and I posted something about this on the other Jobsubmitter issue : https://github.com/dmwm/WMCore/issues/7418 but I am not sure if it is the same thing or not.

Here is the log from the last time I have restarted it:

2017-04-19 04:38:37,603:139680142771968:INFO:JobSubmitterPoller:Re

[2017-04-19 05:15] ticoann commented on #7794
@scarletnorberg, What was the error message when it crashed?

[2017-04-19 05:28] scarletnorberg commented on #7418
When I saw this I was like what holiday but yes I forgot CERN was on Holiday. Yes I think this is exactly related. I feel like last time I talked to you and you did something and this issue just disappeared. Not sure what you did or if you actually did anything but figured I would give it a try again and see happens! I think it is a schedd issue. It does not report an error like normal the compone

[2017-04-19 07:02] amaltaro commented on #7418
It's in the same component but not the same issue you reported here. What's happening to JobSubmitter on vocms0304 is that it's silently dying (is the process really dead?)
For instance, there is almost 3h of gap in the logs today
[code]

Next time it happens, please do not restart the component and let us know.

[2017-04-19 07:04] amaltaro commented on #7794
What you wanted to say is that JobSubmitter is silently dying (is the process really dead?) on vocms0304.
For instance, there is almost 3h of gap in the logs today
[code]

Next time it happens, please do not restart the component and let us know.

[2017-04-19 09:28] amaltaro commented on #7760
@sidnarayanan can you just confirm this is really not a use-case and indeed it should fail? Thanks

[2017-04-19 16:25] scarletnorberg commented on #7794
@amaltaro @ticoann It is down again. It does not have a list of what is down. It just says down I assume it is because of this problem but do not want to restart it or touch it.  Please have a look JobUpdater was just down on this machine here is the JIRA ticket: https://its.cern.ch/jira/projects/CMSCOMPPR/issues/CMSCOMPPR-825?filter=allopenissues
I will not touch it. I hope someone can look at it

[2017-04-19 18:25] vlimant commented on #7794
@ticoann @amaltaro looks like the schedd has been having troubles. I think the component should not die on this, but raise a warning that it cannot do its job

[2017-04-20 03:37] ticoann commented on #7794
Although schedd connection failed  we don't crash the component on that. (Alan already added that patch)
[code]

However, thread seems to be killed silently, Here is the last part of the log.

[code]
It looks like a couple of times schedd connection failed and last try just hangs without explicit failing or kill the thread.

I change the log level to debug and restarted the component.

[2017-04-20 11:07] amaltaro opened #7798 "Tail of the condor logs in wmstats with plenty of newlines"
Just noticed it in my VM nodes (alan-cloud1). The condor.err file contains
[code]

while wmstats reports something like
[code]

probably there is a place expecting a list of strings but instead it's getting a plain string.

[2017-04-20 14:34] scarletnorberg opened #7799 "Submit1 JobAccountant"
It has gone down at least twice in a few days time. The error also looked a little weird so wanted to check on this.

  File "/data/srv/wmagent/v1.1.0.patch1/sw/slc6_amd64_gcc493/external/py2-sqlalchemy/0.9.6-comp3/lib/python2.7/site-packages/sqlalchemy/engine/base.py", line 868, in _execute_text
    statement, parameters

  File "/data/srv/wmagent/v1.1.0.patch1/sw/slc6_amd64_gcc493/external/py2-s

[2017-04-20 14:35] scarletnorberg commented on #7799
Should I just restart it @amaltaro @ticoann or would you like to have a look at this agent?

[2017-04-21 02:52] #7760 closed

[2017-04-24 11:18] amaltaro commented on #2531
Fixed by #6067

[2017-04-24 11:18] #2531 closed

[2017-04-24 11:19] amaltaro commented on #5126
Workflow completion is now (actually for quite a long time now) independent of logcollect/cleanup jobs. Thus closing this issue as fixed

[2017-04-24 11:19] #5126 closed

[2017-04-24 11:21] amaltaro opened #7808 "Report the reason why a workflow failed to be acquired"
When we hit a terminal exception in WorkQueue, we should somehow propagate this information up to CompOps. Maybe in the ReqMgr2 template where it has the state transitions and etc.

[2017-04-24 11:33] amaltaro commented on #6063
Validated here now: https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/MonteCarlo.py#L149

[2017-04-24 11:33] #6063 closed

[2017-04-24 11:35] amaltaro commented on #6241
Yuyi made the fix in the end of 2015 :-)

[2017-04-24 11:35] #6241 closed

[2017-04-24 11:35] amaltaro commented on #7227
Addressed in both PyCondor and SimpleCondor. Closing

[2017-04-24 11:35] #7227 closed

[2017-04-24 11:37] amaltaro commented on #7300
It's now validated during request creation:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkloadTools.py#L125

Closing

[2017-04-24 11:37] #7300 closed

[2017-04-25 05:01] ticoann commented on #7786
@amaltaro, Alan which code is putting this information?

[2017-04-25 05:02] #7706 closed

[2017-04-25 05:11] ticoann commented on #7699
POST request with
[code]

Let me know it has any problems.

[2017-04-25 05:11] #7699 closed

[2017-04-25 05:27] ticoann commented on #6072
@vlimant, Jean-Roch could you give me the list which one needs which permission to have.

Here is some examples

https://cmsweb-testbed.cern.ch/couchdb/_utils/document.html?reqmgr_auxiliary/PERMISSION_BY_REQUEST_TYPE

Permission can be controlled by request type. i.e.
For StoreResult type.
If state transition not specified. DEFAULT_STATE permission will take over.

[code]

[2017-04-25 06:58] amaltaro commented on #7786
I think this is part of the htcondor monitoring. Is it enough to add a new job classad or we have to do something @sciaba ? It so, then it has to be a comma separated string (or a list...) since there are jobs running multiple CMSSW releases.

[2017-04-25 07:17] sciaba commented on #7786
Good question. A list of releases would be good but one would need to know something about what CMSSW did each time it ran. Let me discuss it with Brian at the earliest opportunity.

[2017-04-25 12:30] amaltaro commented on #6278
I guess this test was either removed or turned into another test, since I can no longer find it in the JobSubmitter test class. Closing it.

[2017-04-25 12:30] #6278 closed

[2017-04-25 13:07] amaltaro commented on #6068
Fixed by https://github.com/dmwm/WMCore/pull/6812

[2017-04-25 13:07] #6068 closed

[2017-04-25 13:32] amaltaro commented on #5221
Fixed sometime along these 3 last years :-)
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/DataStructs/RequestStatus.py#L20

[2017-04-25 13:32] #5221 closed

[2017-04-25 13:55] hufnagel commented on #7786
Seems like an oversight that this is not already available from CMSSW via a ChirpCMSSW_cmsRunN_Param fields. I would open a CMSSW ticket for it.

Otherwise please don' add more classadds, just chirp it directly from the CMSSW runtime executor, that knows what CMSSW version it's executing.

That way you get per step information only, but it's easy enough to search for that as long as you know the n

[2017-04-25 14:04] sciaba commented on #7786
That would be perfect.

[2017-04-25 16:34] #5884 closed

[2017-04-25 19:53] #6222 closed

[2017-04-26 13:40] amaltaro commented on #6403
This was fixed a couple of times :)

[2017-04-26 13:40] #6403 closed

[2017-04-26 13:44] amaltaro commented on #5253
@ticoann can you please confirm/correct me please on the following summary.
* running-open: has no more meaning in the system besides pointing that there is still at least one GWQE in Acquired status (while all the others are running/done).
* running-closed: all GWQE were pulled by the agent(s)

a) There is no more use of `OpenRunningTimeout`, b) there is no check for "open blocks" in DBS, since t

[2017-04-26 16:28] jenimal opened #7817 "exit code 73"
We are seeing a high rate of exit code 73 at T2_IT_Legnaro
Notes on our "what to do about exit code" page say to open a github issue

Workflow assigned with "TrustPUSitelists": true, but the secondary file list seems to be missing.
When overflow procedure is enabled, the agent should be able to see the secondary file set as present at those sites as well.

Workflow is:
pdmvserv_task_BPH-Summer12-0

[2017-04-26 17:32] vlimant commented on #7817
This is a conspiracy of stageout fallback from CNAF, playing badly with sub-sequent task.
If we want to do the right thing the stageout should fallback to a site that we know can process the subsequent job (unrealistic ...) or have the agent submit the subsequent job to the site it was supposed to stageout to in the first place (playing badly with overflow ...) or submit the job to sites that can

[2017-04-26 18:19] hufnagel commented on #7817
So there is no local PU files at the fallback sites, that's why jobs are failing ? Didn't we want this to work such that a job reading secondary PU input will always works at the site it is submitted to, no matter what (or any) PU files are actually available locally ?

Stageout fallback should be rare, allowing these few jobs running at the fallback site to read the PU over AAA should not be the

[2017-04-27 15:50] amaltaro opened #7821 "Harvest jobs eventually failing during certificate/proxy check"
Interesting case... the harvesting job fails most of the times during the authentication step [*]. I assume it cannot find my proxy in the X509_USER_PROXY env var, though it's there according to the condor.stdout logs.. Even more interesting, it works just fine with DQMHarvest workflows, but mostly fails in the other workflows that have harvesting enabled.

BTW, Matteo has just hit this issue in p

[2017-05-02 09:06] amaltaro commented on #6187
![](https://github.trello.services/images/mini-trello-icon.png) [ACDC for taskchain wf creating more jobs than the original](https://trello.com/c/TQ8nErEl/1-acdc-for-taskchain-wf-creating-more-jobs-than-the-original)

[2017-05-02 09:07] amaltaro commented on #7115
![](https://github.trello.services/images/mini-trello-icon.png) [Files are not injected to PhEDEx but DBS is updated](https://trello.com/c/HVhiQhU3/2-files-are-not-injected-to-phedex-but-dbs-is-updated)

[2017-05-02 09:10] amaltaro commented on #7600
![](https://github.trello.services/images/mini-trello-icon.png) [Investigate ReqMon memory footprint](https://trello.com/c/elLdZ5Yk/3-investigate-reqmon-memory-footprint)

[2017-05-02 09:11] amaltaro commented on #7467
![](https://github.trello.services/images/mini-trello-icon.png) [Merge jobs skipping ALL input files - exit code 60450](https://trello.com/c/AZUeFZD7/4-merge-jobs-skipping-all-input-files-exit-code-60450)

[2017-05-02 09:12] amaltaro commented on #6972
![](https://github.trello.services/images/mini-trello-icon.png) [Set Dataset BlockName in the initial job attributes (where relevant)](https://trello.com/c/O9lP2DJB/5-set-dataset-blockname-in-the-initial-job-attributes-where-relevant)

[2017-05-02 09:13] amaltaro commented on #7307
![](https://github.trello.services/images/mini-trello-icon.png) [Data location and update for ACDC requests](https://trello.com/c/NBv7Wsxr/6-data-location-and-update-for-acdc-requests)

[2017-05-02 09:14] amaltaro commented on #6787
![](https://github.trello.services/images/mini-trello-icon.png) [Stepchain: sort out duplicate outputModules](https://trello.com/c/IsA8tHli/7-stepchain-sort-out-duplicate-outputmodules)

[2017-05-02 09:17] amaltaro commented on #6881
![](https://github.trello.services/images/mini-trello-icon.png) [ReqMgr2: filter out some keys before persisting them in the reqmgr2 couch doc](https://trello.com/c/4m5ZywrY/8-reqmgr2-filter-out-some-keys-before-persisting-them-in-the-reqmgr2-couch-doc)

[2017-05-02 09:18] amaltaro commented on #7712
![](https://github.trello.services/images/mini-trello-icon.png) [add events number on filerun_lumi table and modify DAO](https://trello.com/c/wcFBcaRi/9-add-events-number-on-filerun-lumi-table-and-modify-dao)

[2017-05-02 09:25] amaltaro commented on #7759
![](https://github.trello.services/images/mini-trello-icon.png) [Usage of reqmgr_auxiliary couch db and docs in there](https://trello.com/c/Gkv0lWXr/10-usage-of-reqmgr-auxiliary-couch-db-and-docs-in-there)

[2017-05-02 09:25] amaltaro commented on #7118
![](https://github.trello.services/images/mini-trello-icon.png) [Combine threshold for Processing and Production job type](https://trello.com/c/GWGSkRwL/11-combine-threshold-for-processing-and-production-job-type)

[2017-05-02 09:27] amaltaro commented on #6952
![](https://github.trello.services/images/mini-trello-icon.png) [Create outputmodule validate function based on its length](https://trello.com/c/8PLNCkAL/12-create-outputmodule-validate-function-based-on-its-length)

[2017-05-02 09:28] amaltaro commented on #6845
![](https://github.trello.services/images/mini-trello-icon.png) [getChunkInfo doesn't assumes all the files in that chunk has the same location](https://trello.com/c/JWyQSKrd/13-getchunkinfo-doesn-t-assumes-all-the-files-in-that-chunk-has-the-same-location)

[2017-05-02 09:29] amaltaro commented on #7119
![](https://github.trello.services/images/mini-trello-icon.png) [Changing pendingSlotsSitePercent takes no effect in ASW](https://trello.com/c/QhptQIZZ/14-changing-pendingslotssitepercent-takes-no-effect-in-asw)

[2017-05-02 09:30] amaltaro commented on #7577
![](https://github.trello.services/images/mini-trello-icon.png) [Automatically set the agent to Drain when diskUseThreshold is reached](https://trello.com/c/sTlZb4ry/15-automatically-set-the-agent-to-drain-when-diskusethreshold-is-reached)

[2017-05-02 09:35] amaltaro commented on #7713
![](https://github.trello.services/images/mini-trello-icon.png) [Prevent component crash on Oracle connection error](https://trello.com/c/qxSQhtLw/16-prevent-component-crash-on-oracle-connection-error)

[2017-05-02 09:37] amaltaro commented on #7199
![](https://github.trello.services/images/mini-trello-icon.png) [JobAccountant crashes when cmsweb couch server is not available](https://trello.com/c/4qlyQ26a/17-jobaccountant-crashes-when-cmsweb-couch-server-is-not-available)

[2017-05-02 09:38] amaltaro commented on #7194
![](https://github.trello.services/images/mini-trello-icon.png) [ErrorHandler still crashing on CouchConnectionError](https://trello.com/c/xhH8rHfk/18-errorhandler-still-crashing-on-couchconnectionerror)

[2017-05-02 09:40] amaltaro commented on #7224
![](https://github.trello.services/images/mini-trello-icon.png) [Access to condor logs](https://trello.com/c/uqtVwMKI/19-access-to-condor-logs)

[2017-05-02 09:40] amaltaro commented on #7134
![](https://github.trello.services/images/mini-trello-icon.png) [Create a new api which give statistics for by each exit code](https://trello.com/c/UdTeLAMM/20-create-a-new-api-which-give-statistics-for-by-each-exit-code)

[2017-05-02 09:42] amaltaro commented on #7260
![](https://github.trello.services/images/mini-trello-icon.png) [CreationFailure in resubmission, not in original wf](https://trello.com/c/nQ9kWAKt/21-creationfailure-in-resubmission-not-in-original-wf)

[2017-05-02 09:43] amaltaro commented on #7063
![](https://github.trello.services/images/mini-trello-icon.png) [Simplify draining process](https://trello.com/c/aSICOoCM/22-simplify-draining-process)

[2017-05-02 09:46] amaltaro commented on #7172
![](https://github.trello.services/images/mini-trello-icon.png) [Need to update proceedure on draining agents to make sure work is archived](https://trello.com/c/q0BkDJKL/23-need-to-update-proceedure-on-draining-agents-to-make-sure-work-is-archived)

[2017-05-02 09:50] amaltaro commented on #7675
![](https://github.trello.services/images/mini-trello-icon.png) [Write PrepID unittests for TaskChain](https://trello.com/c/Ns7mGwBL/24-write-prepid-unittests-for-taskchain)

[2017-05-02 09:50] amaltaro commented on #7753
![](https://github.trello.services/images/mini-trello-icon.png) [Jobs not removed from site disabled](https://trello.com/c/AobOZ8Yz/25-jobs-not-removed-from-site-disabled)

[2017-05-02 09:51] amaltaro commented on #7713
![](https://github.trello.services/images/mini-trello-icon.png) [Prevent component crash on Oracle connection error](https://trello.com/c/ecPZbNza/26-prevent-component-crash-on-oracle-connection-error)

[2017-05-02 09:51] amaltaro commented on #7755
![](https://github.trello.services/images/mini-trello-icon.png) [Corrupted job file?](https://trello.com/c/gLV96gt4/27-corrupted-job-file)

[2017-05-02 09:52] amaltaro commented on #7798
![](https://github.trello.services/images/mini-trello-icon.png) [Tail of the condor logs in wmstats with plenty of newlines](https://trello.com/c/5FBqLaV3/28-tail-of-the-condor-logs-in-wmstats-with-plenty-of-newlines)

[2017-05-02 09:53] amaltaro commented on #7794
![](https://github.trello.services/images/mini-trello-icon.png) [vocms0304 JobSubmitter](https://trello.com/c/5hnde1OH/29-vocms0304-jobsubmitter)

[2017-05-02 09:59] amaltaro opened #7827 "WMCore-05-2017-issues"
Seangchan, following Eric's suggestion, I created a trello board for making the management of these issues easier (well, let's see if that's true). We can chat over it today, including a "I don't like it and let's keep using github" :-)
The link is here:
https://trello.com/b/3SjExXhr/wmcore-issues

[2017-05-02 10:03] amaltaro commented on #7821
![](https://github.trello.services/images/mini-trello-icon.png) [Harvest jobs eventually failing during certificate/proxy check](https://trello.com/c/wULUZ2fs/30-harvest-jobs-eventually-failing-during-certificate-proxy-check)

[2017-05-02 10:04] amaltaro commented on #7776
New issue created for May #7827

[2017-05-02 10:04] #7776 closed

[2017-05-02 10:13] amaltaro commented on #7817
The code is instrumented such that if the PU flag is enabled, all PU files are populated into the job configuration:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py#L470

so, is there any issue here? If so, please elaborate.

[2017-05-02 10:18] amaltaro commented on #7808
![](https://github.trello.services/images/mini-trello-icon.png) [Report the reason why a workflow failed assignment](https://trello.com/c/DDIMcph7/31-report-the-reason-why-a-workflow-failed-assignment)

[2017-05-02 10:20] amaltaro commented on #7661
![](https://github.trello.services/images/mini-trello-icon.png) [Create unit tests for all specs to test the output module settings](https://trello.com/c/2umKfexu/32-create-unit-tests-for-all-specs-to-test-the-output-module-settings)

[2017-05-02 10:21] amaltaro commented on #7638
Fixed by #7745

[2017-05-02 10:21] #7638 closed

[2017-05-02 10:23] amaltaro commented on #7569
Fixed by #7789

[2017-05-02 10:23] #7569 closed

[2017-05-02 10:23] amaltaro commented on #7566
![](https://github.trello.services/images/mini-trello-icon.png) [Remove unused component](https://trello.com/c/Skg7mrKs/33-remove-unused-component)

[2017-05-02 10:26] vlimant commented on #7817
@amaltaro the issue is that the stageout fallback can end up outside of the site whitelist and the jobs will start and fail with the error code 73 because the site does not hold the MCPileup.
There is an issue, but probably not an easy one to solve.

[2017-05-02 10:27] amaltaro commented on #7494
![](https://github.trello.services/images/mini-trello-icon.png) [when agent is set to drain, automatically pick up the config change](https://trello.com/c/27dlKX3o/34-when-agent-is-set-to-drain-automatically-pick-up-the-config-change)

[2017-05-02 10:29] amaltaro commented on #7435
Should be fixed now. Please reopen the issue if it pops up again.

[2017-05-02 10:29] #7435 closed

[2017-05-02 10:29] amaltaro commented on #7431
Fixed by #7682

[2017-05-02 10:29] #7431 closed

[2017-05-02 10:32] amaltaro commented on #7308
![](https://github.trello.services/images/mini-trello-icon.png) [Log Collect jobs showing as "failed" with exit code 0](https://trello.com/c/LNniYyys/35-log-collect-jobs-showing-as-failed-with-exit-code-0)

[2017-05-02 15:22] amaltaro commented on #5223
![](https://github.trello.services/images/mini-trello-icon.png) [Investigate why some files are not injected into PhEDEx](https://trello.com/c/CklWsYqw/36-investigate-why-some-files-are-not-injected-into-phedex)

[2017-05-02 15:32] amaltaro opened #7828 "502 Proxy Error exception on PhEDExInjector"
was hitting all the agents when one of the cmsweb backends was down.

[2017-05-02 16:24] amaltaro commented on #7827
@ticoann as we discussed, to avoid updating things in two different places, we can use the WMCore milestone (for issues only, and considering each PR has an issue attached) for the issues tracking and to know the priority/assignee/etc:
https://github.com/dmwm/WMCore/milestone/136

From the next month on, we don't need to create this issue, simply move unsolved issues from HG1705 to HG1706 and add

[2017-05-02 16:58] ticoann opened #7829 "Make validation message more explicit"
at least report back what is the valid condition is.

i.e. "the campaign is too long : 60 allowed" or for campaign, '^[a-zA-Z0-9-_]{1,60}$'

[2017-05-02 17:19] ticoann opened #7830 "set campaign str length limit to 80 for validation"

[2017-05-03 14:52] anorkus commented on #7821
Hi,

any news about this issue? Seems its repeating itself for some urgent RelVals

[2017-05-03 16:35] vlimant commented on #7821
@amaltaro would a plain DQMHarvest workflow succeed ?

[2017-05-03 16:53] amaltaro commented on #7821
I tried to reproduce this issue (with another DQM root file and CMSSW release) but with no success.
From my testbed tests, yes, DQMHarvest request type works just fine.

@vlimant is it failing for 100% of the automatic relval harvesting jobs? Are these harvesting jobs running at CERN or FNAL (apparently they only fail at FNAL...though it doesn't make much sense since the python interpreter+librari

[2017-05-03 17:19] anorkus commented on #7821
Hi,

as discussed in hypernews its not 100%. For AlCa validation few workflows failed, seems it was reproduced for one as it failed once they resubmitted it on friday.

[2017-05-03 17:39] vlimant commented on #7821
@amaltaro can you try with the prod relval DQM and the dqmio dataset for which that has failed ? At least to get the files uploaded while you figure this out

[2017-05-03 17:52] amaltaro commented on #7821
Yes, it's reproducible but not interactively by me :( Just ran again one of the failing configurations and the same code and it _just_ works fine.

Jean-Roch, are you asking me to create DQMHarvest workflows for those that failed? Can you point me to one small campaign? Should I assign it to the relval team or unified is going to pick that up? Anything especial?

Meanwhile, I'm going to run the sa

[2017-05-04 04:40] #7830 closed

[2017-05-04 04:44] scarletnorberg commented on #7713
Here is the error that was seen last week:

2017-04-26 09:56:46,913:139850001897216:INFO:AnalyticsPoller:Combining data from
Job Couch(14),
FWJR(14),
WorkflowsWithSkippedFile(8),
Batch Job(5),
Finished Tasks(14),
Local Queue(6) ...
2017-04-26 09:56:46,913:139850001897216:INFO:AnalyticsPoller:14 requests Data combined,
uploading request data...
2017-04-26 09:56:47,203:139850001897216:INFO:Analytics

[2017-05-04 04:49] scarletnorberg commented on #7794
vomcs 308:

2017-04-26 09:59:15,938:140351529064192:INFO:JobSubmitterPoller:Priority submission report: {50080000.0: Counter({'Total': 2, 'submitted': 2}), 90000.0: Counter({'Total': 4, 'submitted': 4}), 80000.0: Counter({'Total': 4834, 'submitted': 50})}
2017-04-26 09:59:15,938:140351529064192:INFO:JobSubmitterPoller:Have 8 packages to submit.
2017-04-26 09:59:15,939:140351529064192:INFO:JobSubmi

[2017-05-04 07:49] amaltaro commented on #7794
Scarlet, the last error report you pasted is related to the oracle CMSR intervention that brought all the cms computing software down.
The initial issue reported here was about JobSubmitter silently dying (either process running with some sort of lock or component + process down, still to be figured).

If you have components going down for different reasons (like your last comment), please either

[2017-05-04 08:38] amaltaro opened #7834 "Missing files at T2_CH_CERN"
Sid, Sebastian, please subscribe and report future cases here.

[2017-05-04 08:55] sidnarayanan commented on #7834
I was going to send this in the email thread, but I'll put it here instead:

The reason I have a suspicion it has to do with WMAgent is because almost all of the files were produced at T2_CH_CERN (and lost at T2_CH_CERN). If it were an SE problem, I'd expect files produced elsewhere to also be affected. Furthermore, EOS admins seem to indicate that for the files they were able to check, there was

[2017-05-04 09:08] vlimant commented on #7821
While pdmv has the handle to submit DQMHarvest workflows and notify Ops that they are in and should be taken care of in an Add-Hoc way, it seems that communication lines are broken and people sitting on blaming each others.
If you can create and assign to relval team these harvesting for
https://cmsweb.cern.ch/reqmgr2/fetch?rid=rverma_PR_newco_RelVal_276950_170428_191716_3771
=> /MET/CMSSW_8_0_27-

[2017-05-04 09:08] vlimant commented on #7821
or show @prozober the scripts

[2017-05-04 09:18] amaltaro opened #7835 "Resubmission crashes on "old" requests with unknown key args"
As resubmission is handled now, it will break when the original request has arguments that it "should not", because we simply copy those over to the new request:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/DataStructs/Request.py#L74

issue reported here:
https://github.com/CMSCompOps/WmAgentScripts/issues/222

[2017-05-04 10:05] amaltaro commented on #7821
@prozober I have just updated this script:
https://github.com/amaltaro/scripts/blob/master/injectHarvest.py

and I also created DQMHarvest workflows for those 2 requests pointed by @vlimant
  Request 'amaltaro_PR_newco_RelVal_276950_Harv_170504_115945_6835' successfully created.
  Request 'amaltaro_PR_reference_RelVal_276950_Harv_170504_120126_6277' successfully created.

Can you please run a quic

[2017-05-04 13:43] amaltaro commented on #7834
I'd say the other way around, since it happens only/mostly at T2 CERN, a site/storage issue would be on the top of my list of suspects.

If EOS admins found no records (and logs?) at all for those files, then it probably means the file was not even attempted to be staged out. And in this case, I'd say the job got killed (or killed itself) before the stage out kicked in. And in such cases, the agen

[2017-05-04 14:17] prozober commented on #7821
The workflows were assigned to CERN, and relval team. Let's keep an eye on them.

[2017-05-04 15:21] prozober commented on #7821
The workflows succeeded and got announced.

[2017-05-04 15:24] vlimant commented on #7821
@prozober  please reply back to the thread https://hypernews.cern.ch/HyperNews/CMS/get/relval/7417/1/2/2.html

[2017-05-04 16:39] #7835 closed

[2017-05-04 20:23] ticoann opened #7839 "WorkQueue unittest failure due to #7787"
Following is consistently failing with #7787  - need to investigate
[code]

[2017-05-04 20:24] #7712 closed

[2017-05-05 12:59] amaltaro opened #7840 "Retrieve assignment default arguments for assignment via web UI"
Since we separated the creation from assignment arguments, the ReqMgr2 assignment form no longer shows the default assignment values for some of those arguments (merge and block args in general).

We should change it such that:
1) it retrieves the assignment arguments definition, as in:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1042
2) it retrieves th

[2017-05-05 13:00] amaltaro commented on #7840
@vkuznet would you have some time in the next week to work on this ReqMgr2 issue?
If so, let me know how I can be of assistance. :-)

[2017-05-05 13:19] vkuznet commented on #7840
Alan, please be specific and provide screen shot where changes should go and/or point to the code which needs to be changed.

[2017-05-06 20:26] vlimant opened #7841 "Is StepChain able to process a "tree" of tasks"
Is the StepChain fully linear task1->task2->task3, or can it allow task1->task2 task1->task3, which is possible with TaskChain
Example https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_HCA-PhaseISpring17GS-00001__v1_T_170502_201648_8745

[2017-05-08 09:15] amaltaro commented on #7821
@vkuznet as we discussed in the WMAgent meeting, indeed there were changes to the HTTPSConnection class and a few keyword args were deprecated (py 2.7.9) and it now requires a ssl context object to be passed (which holds the certificate credentials and further info).

As you suggested, I picked the DBS HTTPS handling code and added to WMCore, after a few adjustments it works fine in my interactive

[2017-05-08 10:40] amaltaro commented on #7840
Valentin, I'm talking about the "Assign" page, for example this workflow is GOOD and it has all the default values already set in the web form (because their json has ALL key/value args since its creation):
https://cmsweb-testbed.cern.ch/reqmgr2/fetch?rid=amaltaro_ReDigi_BadTier_HG1704_Validation_170327_150804_7008

on the other hand, this workflow Assign page is BAD, as you can see there are lots

[2017-05-08 13:36] amaltaro opened #7842 "Validate args provided by the user for Resubmission"
Related to https://github.com/dmwm/WMCore/issues/7835
The current version of ReqMgr skips the args validation completely, since it copies all the original arguments and post that (which can post unwanted args).

Thus we need to fix 2 things:
a) copy into the new request only arguments defined in the specs (both creation and assignment)
b) validate user-provided arguments before it reaches the work

[2017-05-08 16:39] vkuznet commented on #7840
Alan,

because both workflow you shown above comes from "fetch" method not from assign
one, i.e.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/Web/ReqMgrService.py#L560
that's why both URLS have:
https://cmsweb-testbed.cern.ch/reqmgr2/fetch?rid=<request_id>

The assign code you pointed out is invoked when you call
https://cmsweb-testbed.cern.ch/reqmgr2/assign

(click on Setti

[2017-05-08 17:50] vkuznet commented on #7821
Alan,
you may add debug printouts in your code too, e.g.

[code]

and for time being setup debuglevel to be non-zero all the time to debug the
problem. I would suggest that you dump env on worker node, add non-zero
debuglevel and run some job. Please also capture both stdout/stderr output
that we can see the message.

Also, please show how you create SSLContext, e.g.
context = ssl.SSLContext(ssl.P

[2017-05-09 13:30] anorkus commented on #7821
Hi,

is there and ETA when this issue will be fixed? Currently for 910pre3 all workflows failed to upload DQM root files and this stops release validation. Alca validation was delayed when the files got re-uploaded.

If this issue is not resolved asap i would suggest to backport to previous python version.  As current situation does not allow for offline release validation to work.

Best regards,

[2017-05-09 13:36] amaltaro commented on #7821
I forgot updating this issue, we've rolled back the runtime python version used by the relval agent. So it's again using 2.7.6 instead of 2.7.13 and harvesting should be working just fine now.

The real fix is still to come, *maybe* by tomorrow.

[2017-05-09 15:34] anorkus commented on #7821
and are there any news on 910pre3 harvesting worflows finishing?
i see that all of them are still in assignment-approved status since yesterday.

[2017-05-09 17:05] amaltaro commented on #7821
Apparently CompOps is still deciding how to proceed here, I suggest you to get in touch with the PnR team.

[2017-05-10 15:17] amaltaro commented on #7821
@vkuznet I created a patch here #7844 which _was_ working fine. However, today in my final tests I saw it failing again. I'm going to update it again to print the trusted CERN CAs, just in case.

According to the library documentation, it suggests not to create a context object with SSLContext(), but with the default method that sets up the most secure protocol/cyphers/etc. You can see the code yo

[2017-05-10 15:27] vkuznet commented on #7821
It very well may be the case, but I disagree with you sneaky proposal :)
Why not to install CAs on worker nodes and do this in a proper way, instead of
"usual" hacking way?

[2017-05-10 20:48] sextonkennedy commented on #7821
It does seem to be something that CERN IT should be interested in helping us with.  I could involve Kate (our contact), if you let me know.

[2017-05-10 22:12] amaltaro commented on #7821
I talked to Diego G. this afternoon and it seems this was a struggle in the past, where the working solution was skipping the server certificate verification (surprise surprise it only bugs us now :)).

Moreover, he told me the system default CA path is /etc/grid-security/certificates and ALL worker nodes should trust CERN CAs. So the default SSL settings point to a different location (maybe somew

[2017-05-11 18:58] vkuznet commented on #7840
Alan,
did you review/deploy my changes for this issue?
Thanks,
Valentin.

On  0, Alan Malta Rodrigues <notifications@github.com> wrote:

[2017-05-11 19:06] amaltaro commented on #7840
Not yet. I was busy with some critical stuff. I'll look at it tomorrow.

[2017-05-11 19:45] amaltaro commented on #7841
Yes, but if step2 and step3 have the same output module, it will not pass the validation during creation time. See issue: https://github.com/dmwm/WMCore/issues/6787

[2017-05-11 20:08] #7821 closed

[2017-05-11 21:50] amaltaro opened #7846 "Clone only supported creation args"
We should:
*) dump any unknown arguments from the original workflow (one being cloned from)
*) clone only creation argument, as per spec definition (and inner step/task definition)
*) validate arguments provided by the user (may be too tricky, so validate it all in StdBase).

[2017-05-11 21:54] #7846 closed

[2017-05-12 09:53] amaltaro opened #7847 "Review data structs for agent/services metrics"
These are the metrics we upload to wmstats (agentInfo), here:
https://cmsweb.cern.ch/couchdb/_utils/database.html?wmstats/_design/WMStatsErl/_view/agentInfo

Benjamin discussed with Alberto (CERN IT) and we have to improve some of these metrics in order to have an easier data lookup and aggregation.

BTW, dots '.' are not allowed in key names. @stiegerb can you please:
*) find out which regex is u

[2017-05-12 09:55] amaltaro commented on #7847
This is one (big) api used to collect global workqueue information:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/WorkQueue.py#L1153

and then some of these APIs are again used on the agent side:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/AgentStatusWatcher/AgentStatusPoller.py#L133

[2017-05-12 10:10] amaltaro commented on #5970
This has been done and is in production for a few months now.

[2017-05-12 10:10] #5970 closed

[2017-05-12 10:13] amaltaro commented on #5327
This is part of the meta-data sent to WMArchive. This information is also recorded in the condor logs. If you feel like it should be present somewhere else, please reopen this issue.

[2017-05-12 10:13] #5327 closed

[2017-05-12 10:16] amaltaro commented on #6612
And Seangchan has already removed it (starting at least in 1.1.2.x)

[2017-05-12 10:16] #6612 closed

[2017-05-12 10:17] amaltaro commented on #5119
It watches for the proxy expiration. We need to extend it to the service cert located in the node.
Should be a simple change now that the proxy part is done.

[2017-05-12 10:24] amaltaro commented on #5487
Issue fixed for almost half an year, I think

[2017-05-12 10:24] #5487 closed

[2017-05-12 10:59] amaltaro opened #7849 "Jobs completed in BossAir but still in condor pool"
While draining the 1.1.0 agent, I've seen two major issues related to the job tracking:
1) pending condor jobs still being tracked by JobStatusLite even after the Timeout has exceeded (they were pending for more than 1M secs). The reason seems to be from the fact that they don't have `status_time` in the `bl_runjob` table.
2) held condor jobs not being tracked anymore, but still in condor for seve

[2017-05-12 11:31] hufnagel commented on #7849
Keep in mind that jobs dropping out of tracking but still in Condor are not considered a problem with the SimpleCondor plugin. Being able to make a best effort to kill a job in HTCondor job but ultimately not caring if it really is killed in HTCondor is a feature of the SimpleCondor plugin, not a bug. We track by HTCondor job id, so multiple versions of the same job alive in HTCondor don't matter,

[2017-05-12 14:35] jenimal commented on #7308
Seeing this again:
Job Name: 0108a57e-3677-11e7-b2c6-a0369f23d01e-6
WMBS job id: 3684019
Workflow: pdmvserv_task_SMP-RunIISummer16DR80Premix-00199__v1_T_170405_163606_2357
Task: /pdmvserv_task_SMP-RunIISummer16DR80Premix-00199__v1_T_170405_163606_2357/SMP-RunIISummer16DR80Premix-00199_0/LogCollectForSMP-RunIISummer16DR80Premix-00199_0
Status: jobfailed
Input dataset: /WJetsToLNu_TuneCUETP8M1_13TeV

[2017-05-12 14:37] jenimal commented on #7308
https://cms-logbook.cern.ch/elog/Workflow+processing/26489

[2017-05-14 15:27] vlimant opened #7851 "Agent Manager System"
Putting this in writting, as discussed a couple of times.
In order to not have too many agents in production at the same time, I think we need an agent-manager component that would bring in-or-out agents based on specific operation rules (like boot an agent in the production team if all agents are running to their maximum amount of jobs).
Doing it manually is bringing delays and there is no real r

[2017-05-14 16:00] vlimant commented on #7821
@amaltaro can you please confirm whether this is fully fixed and pushed to the agents ?
There was a failure for one of the harvesting https://cms-logbook.cern.ch/elog/Workflow+processing/26486 created for one of the data reprocessing harvesting. That's probably before the fix was made. We need this deployed on all agents.

[2017-05-15 13:29] amaltaro commented on #5834
This is in place for quite some time. Unless you wanted to say something else, then please reopen.

[2017-05-15 13:29] #5834 closed

[2017-05-15 13:29] amaltaro commented on #4798
And this kind of problems won't happen again since we have a stricter argument validation now.

[2017-05-15 13:29] #4798 closed

[2017-05-15 16:34] scarletnorberg commented on #7418
303 and 309:

Here are their logs: 303 first than 309:
10:19:55,185:140010949039872:INFO:JobSubmitterPoller:Have 2 packages to submit.
2017-05-14 10:19:55,185:140010949039872:INFO:JobSubmitterPoller:Have 3 jobs to submit.
2017-05-14 10:19:55,185:140010949039872:INFO:JobSubmitterPoller:Done assigning site locations.
2017-05-14 10:19:58,386:140010949039872:INFO:SimpleCondorPlugin:Done submitting job

[2017-05-15 18:52] #7840 closed

[2017-05-17 13:44] amaltaro commented on #7786
@bbockelm as we discussed yesterday. What WMAgent has to provide is a list of CMSSW releases in the job classad, correct?

[2017-05-17 14:01] stiegerb commented on #7847
About allowed key names, it seems only dots are a problem.

One example is the `workByAgentAndPriority` for the global_workqueue agent, where we use the agent hostname as field names:

[code]

This falls under the restructuring anyway, so we should fix both in one go.

One other thing, we have a top level `type` field, which is always `agent_info`. Shall we change that to something else for the `r

[2017-05-17 14:37] ericvaandering opened #7854 "Remove RFIO plugins"
The way I read https://github.com/cms-sw/cmssw/issues/17375#issuecomment-300428060 there is no longer any reason to support RFIO stageout . Comments, @hufnagel ?

[2017-05-17 19:36] amaltaro commented on #7418
These logs look completely normal to me. If it's about JobSubmitter getting stuck to submit jobs, then I may have an idea on how to handle that. I'll try to work on it tomorrow.

[2017-05-18 07:32] amaltaro commented on #7794
======== Better description of the subject ===========
The JobSubmitter process is really no longer running, so the component is not stuck, but it's dead for real.

Poking through the component logs, these are my findings.
stderr.log
[code]
stdout.log (this seems to be a SIGABRT received and unhandled in the client (?))
[code]

ComponentLog (nothing useful here)
[code]

which doesn't bring me to a

[2017-05-18 08:10] #7828 closed

[2017-05-18 08:26] amaltaro opened #7855 "Limit of MC GQ work (lumi sections)"
As discussed in this issue: https://github.com/dmwm/WMCore/issues/7575

In short, there is a limitation in the GWQ -> LWQ data acquisition of MonteCarlo (MCFakeFile) where each WQE is mapped to a file in the SQL local database. This file has a mapping of run/lumis where each lumi corresponds to a row in the table. Thus, we of course have to avoid injecting 1M rows for one single file (that's why t

[2017-05-18 08:53] vlimant commented on #7855
FYI @prozober @mcremone
@amaltaro  can the amount of work put in a single wqe be defined in term of # of lumis ?

[2017-05-18 09:03] prozober commented on #7855
Alan, here is the workflow https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=prozober_HIN-pPb816Spring16GS-00048_00011_v0_pPbBst_GENonly_170517_183430_6353

[2017-05-18 09:22] amaltaro commented on #7855
With some extra effort, yes, we could use # of lumis instead. However, I think this will simply move the problem down in the chain while balancing WQE among several agents. It may be that the WQE becomes 10 jobs only, or maybe 10k jobs, etc. A mix of both would be much better, but I'm not sure how much work that's going to take.

Paola, are you sure that's the workflow? It created a single job, 10

[2017-05-18 09:31] prozober commented on #7855
Yes, 100% sure. Only thing I changed was "events_per_job": 20000.

[2017-05-18 09:36] vlimant commented on #7855
the cloning must have gone astray indeed :   "RequestNumEvents": 1000 is in the schema

[2017-05-18 09:46] prozober commented on #7855
I used https://github.com/CMSCompOps/WmAgentScripts/pull/221
`python reject.py -i -c pdmvserv_HIN-pPb816Spring16GS-00048_00011_v0_pPbBst_GENonly_170420_201218_4615`

[2017-05-18 10:49] alexanderrichards commented on #7577
@amaltaro  I cant see this link

[2017-05-18 11:58] amaltaro commented on #7577
Don't worry Alex. We were going to track some of these issues in trello but we gave up on that.

[2017-05-18 15:14] vkuznet opened #7856 "Replace HTTPSAuthHandler in WMCore code"
We need to unify usage of all HTTPSAuthHandler classes in WMCore and replace them with WMCore/Services/HTTPS/HTTPSAuthHandler.py implementation.

This can be done by summer student.

[2017-05-19 00:35] hufnagel commented on #7786
Isn't it more important that CMSSW provides this information so you can match per step parameters to the CMSSW version ?

[2017-05-19 00:42] hufnagel commented on #7854
While I agree with removing old crap code, there is this:

[hufnagel@lxplus028 SITECONF]$ grep rfcp */JobConfig/site-local-config.xml
T2_FR_IPHC/JobConfig/site-local-config.xml:      <command value="rfcp"/>
T2_FR_IPHC/JobConfig/site-local-config.xml:      <catalog url="trivialcatalog_file:/opt/exp_soft/cms/SITECONF/local/PhEDEx/storage.xml?protocol=rfcp"/>
T2_MY_UPM_BIRUNI/JobConfig/site-local-con

[2017-05-19 08:04] amaltaro commented on #7849
I still think held jobs should get removed from htcondor. I have to check whether we actually try removing them after the `Error` timeout. Otherwise having jobs in condor for a workflow that is already completed may just cause confusion, and I think it also counts to the MAX_JOBS_RUNNING limit.

For possible future reference, I've got 5 held jobs in my dev machine and this is the status of bl_runj

[2017-05-19 08:45] #5223 closed

[2017-05-19 08:45] #5410 closed

[2017-05-19 14:39] bbockelm commented on #7786
Hi Dirk,

To first order, it is a bit of a toss-up whether done in the agent or CMSSW.  I think the agent is the right place though because:
- If done in CMSSW, we'd only get the information for future releases.  Implementing in agent would work today (already done in CRAB).
- If done by the agent, we'd get this information prior to job starting up (someday could be used for matchmaking in condor)

[2017-05-19 21:55] hufnagel commented on #7849
Confusion for who ? An operator ? Maybe. For the system no. If the rest of the code is done correctly these extra jobs will just be ignored. And yes, we should certainly try to kill them. Sometimes they cannot be killed though an everything should still work correctly in that case.

[2017-05-19 21:57] hufnagel commented on #7849
Same thing for MAX_JOBS_RUNNING, if these jobs count then the code that counts them is buggy. Jobs that drop out of tracking shouldn't be counted for anything.

[2017-05-22 11:47] vlimant opened #7860 "Investigate job splitting on file boundaries"
we were looking at https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_Run2016D-v2-DoubleEG-18Apr2017_8028_170519_180444_7852 that created DataProcessing jobs of 50-150 min walltime, while it should be creating jobs with a requested walltime of about 8h
@amaltaro would be be related to the "halt on file boundary" ?
FYI @bbockelm

[2017-05-22 11:49] bbockelm commented on #7860
Doesn't look that bad to me:  https://es-cms.cern.ch/goto/11d20073462d64cdcb9c40649f30bf0e

[2017-05-22 13:23] amaltaro commented on #7860
Looking at the workflow configuration:
  "TimePerEvent": 4,
      "events_per_job": 7200,

so the job splitting settings are Ok.
Now whether those jobs processed much less events, that could be and it could be coming from the fact that files are splitted between files, as you mentioned and as discussed (hmm, I thought we had a GH for that...).

Let me rename this issue.

[2017-05-22 13:29] amaltaro commented on #7860
As discussed in a private thread, ReqMgr is setting the correct job splitting value (targetting 8h jobs), but the job splitter algo may stop assigning work to a job if it goes beyond one single file (even whole files).

Possible impacts are
a) related to merging scrambled lumi sections
b) file parentage (?) But we can have one file being processed by different jobs, then different merge jobs proce

[2017-05-22 13:36] vlimant commented on #7860
@bbockelm looking at https://cms-gwmsmon.cern.ch/prodview/fabozzi_Run2016D-v2-DoubleEG-18Apr2017_8028_170519_180444_7852 I see requested walltime in the range 100-150 min.
Maybe the jobs are running for 8h : fine with me, and good even. But the job are requesting 4x less. Could this be a /mcore in the condor plugin ?

[2017-05-22 13:45] amaltaro commented on #7860
Cannot see any logic flaw here:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/BossAir/Plugins/SimpleCondorPlugin.py#L546-L552

the plugin should be asking for 480min in this case.

[2017-05-22 13:49] vlimant commented on #7860
for the record, neither resizing nor performance tuning is enabled for that campaign, so Unified is not tampering with those numbers. Is there anything that could play weird with the condor expression for the requested wall time @bbockelm  ?

[2017-05-22 13:59] bbockelm commented on #7860
@amaltaro - is it possible the units here are wrong:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/BossAir/Plugins/SimpleCondorPlugin.py#L547 ?

`estimatedJobTime` is treated as if it were estimated *wall time*; if it was actually *core time*, then it might explain the difference.

[2017-05-22 14:07] amaltaro commented on #7860
The unit is correct. The real problem (which in this case I consider to be the right thing actually) is coming from the splitter algo:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/EventAwareLumiBased.py#L215

since it doesn't add 7200 events for each job, the requested wall time floats according to the number of events to be processed by each job. So sorting out what's

[2017-05-22 14:15] vlimant opened #7861 "MonteCarlo request RequestNumEvents default to 1000"
as discussed in https://github.com/CMSCompOps/WmAgentScripts/pull/221 operation have had a hard time with clones defaulting to 1000 event to be processed.
Looks like that parameter should be made mandatory at creation time and fail creation if not provided, never fall back to 1000 by default.
@amaltaro this is a show-stopper for operation
FYI @prozober

[2017-05-22 14:19] vlimant commented on #7860
was trying to make sense of estimatedMinsSingleCore and estimatedMins and I am lost in what they actually min

[2017-05-22 14:25] amaltaro commented on #7861
Darn it!! We keep some of these default values for unit test purposes, I missed the point it has the default value assigned to it before the request validation, and that's why it doesn't fail :(

I'll fix it for tomorrow's testbed. However, it's clearly not a show-stopper, since you _just_ need to provide the expected parameters.

[2017-05-22 14:28] vlimant commented on #7861
yes, the value is not provided, I am trying to track why it does not come through.

[2017-05-22 15:14] amaltaro opened #7862 "Automatically increment ProcVer on clones ?"
Hey @vlimant @prozober @mcremone
does it make sense to automatically bump the ProcessingVersion on clone requests (when using the clone API)?

That would be either 0 or 1, which means, either we **always** bump it to all ProcessingVersion key/values present in the request, or we do not! Not something that the user can pass a flag and ask or not for the bump.

[2017-05-22 19:41] #7842 closed

[2017-05-22 22:12] #7861 closed

[2017-05-23 08:09] amaltaro commented on #7860
I discussed this matter with Eric yesterday and the plan is the following:
1. run the integration workflows in testbed with that flag off
2. if everything goes fine, then we patch the production agents setting that to false
3. last but not least, we make that parameter configurable at workflow assignment (if really ever needed?)

IMO, checking the consistency/correctness of the data produced is go

[2017-05-23 08:29] amaltaro opened #7864 "Make halt_job_on_file_boundaries configurable at assignment"
@ericvaandering @vlimant do we really need it? If the multi-files job works just fine, we probably have no reason to ever turn that off, do we? If so, then we better not code something that is not going to be useful IMO.

[2017-05-23 08:30] amaltaro commented on #7860
And for the point 3., issue created: https://github.com/dmwm/WMCore/issues/7864

[2017-05-23 11:11] amaltaro opened #7865 "Update job splitter algorithms to use events per lumi info"
As a follow up of the DBS changes that will keep track of how many events there are in each lumi section.

[2017-05-23 11:12] amaltaro commented on #7841
And I guess I can close it... reopen/rename if needed please.

[2017-05-23 11:12] #7841 closed

[2017-05-23 11:23] amaltaro commented on #7035
@ericvaandering haven't you fixed this issue already?

[2017-05-23 11:29] amaltaro commented on #6902
This has been recently fixed. It must be > 0 for production workflows or not present for processing.

[2017-05-23 11:29] #6902 closed

[2017-05-23 11:31] amaltaro commented on #6671
Maybe we could assign it either to @alexanderrichards or @goughes ?

[2017-05-23 11:35] amaltaro commented on #6630
Closing it since it's no longer wanted, I guess :)
In summary, we add this key when the **clone** api is used
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/Service/Request.py#L176

but later on we remove it such that it passes the factory validation:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/Utils/Validation.py#L155

[2017-05-23 11:35] #6630 closed

[2017-05-23 12:26] vlimant commented on #6630
OriginalRequestName does stay somewhere in the workflow cache or schema, right ? it is used to find out what is the parent request of a given acdc.

[2017-05-23 12:39] ericvaandering commented on #7035
Yup.

[2017-05-23 12:39] #7035 closed

[2017-05-23 12:43] ericvaandering commented on #7864
Well, I come at this from exposing all the parameters of the job splitting to the request. Otherwise why have a parameter? But if agree that changing the default is enough, OK with me.

[2017-05-23 13:03] amaltaro commented on #6630
Yes for ACDC workflows. No for vanilla clone workflows.

[2017-05-23 13:04] amaltaro commented on #7864
I'd say some of those are just internal splitter parameters with a sensible default value that should never change. Otherwise we need to expose all of these:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/EventAwareLumiBased.py#L42-L54

We can likely get rid of of some, but it's always good to keep it there in case you see you messed something up years later.

[2017-05-23 13:23] amaltaro commented on #6433
Sooo, getting back to this long long thread :-)

@alexanderrichards I think the last comment made by Seangchan also express my ideas:
"""
Alex, could you update your patch, so wmbs_location table is populated when PSN is exists regardless corresponding PNN is exits. And populate the wmbs_location_senames table only corresponding PNN is exist.
"""

So, when we fetch data from sitedb, we add that re

[2017-05-23 14:28] vlimant commented on #6630
For clones, OriginalRequestName is used to fetch the original request and some of the parameters required for assignment. If that goes away, we would have to work something out, I don't see a reason to remove it as a decorator that can be absolutely practical

[2017-05-23 14:35] amaltaro opened #7866 "Post to logDB with request name as doc id (?)"
While investigating a failed workflow in my VM, I noticed there were 2 different messages for the same workflow - because the couch doc id is a hash of the message and message type - where one is an `agent-error` and the other is `agent-info`, and actually, both report errors...

Anyways, my question is, shouldn't we name the couch documents after the request name (or component or thread name?)? S

[2017-05-23 17:14] amaltaro commented on #6630
Which kind of parameters you fetch from the original that can't be fetched from the new request?

Maybe we can properly fix it without having the need for an additional parameter. How about this issue/question:
https://github.com/dmwm/WMCore/issues/7862
?
Perhaps that's exactly what you need

[2017-05-24 11:16] vlimant commented on #7862
yes. The version can always be re-changed back at assignment

[2017-05-24 11:20] vlimant commented on #6630
TrustSitelists, TrustPUSitelists, ProcessingVersion, MergedLFNBaseand, SiteWhitelist (in some cases) those were not available in the schema of the clone, while present in the schema of the ancestor.

[2017-05-24 11:21] vlimant commented on #6630
also acquisitionera and processingstring I think

[2017-05-24 11:25] amaltaro commented on #7862
Awesome. I'll make sure to add it in the current testbed.

[2017-05-24 11:30] amaltaro commented on #6630
Seangchan and I had lots of discussion on this matter and - I think - I convinced him to treat clones just as a brand new request, meaning it has to have only *creation* arguments.

Said that, most of these parameters will be properly present in the clone, besides SiteWhitelist and the Trust flags. However, I understand unified has all these rules mapped somewhere and it knows where and how to ass

[2017-05-24 12:44] amaltaro opened #7872 "Stop providing resubmission args from wmstats"
Because we now clone the whole request in ReqMgr anyways, so no need to fetch all those arguments in javascript as well.

[2017-05-26 05:56] hufnagel opened #7876 "Problem with SimpleCondorPlugin and Tier0"
Trying out the latest WMCore tag in the Tier0, the JobSubmitter dies on me in the SimpleCondorPlugin in this line

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/BossAir/Plugins/SimpleCondorPlugin.py#L605

Backtrace:
  <WMComponent.JobSubmitter.JobSubmitterPoller.JobSubmitterPoller instance at 0x7fe3dc0a2368> BossAirException
Message: Unhandled exception while submitting jobs to plug

[2017-05-26 06:54] amaltaro commented on #7876
The None is likely coming from the fact that create and assign spec arguments were separated, so you don't really set it (and a bunch of other arguments):
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1102

unless you override this method on your spec:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L913

BTW, which

[2017-05-26 16:32] mcremone commented on #7855
@amaltaro do you have any other suggestion? Is there anything else we can try or shall we reject it?

[2017-05-26 16:53] amaltaro commented on #7855
@mcremone I've just updated my initial comment in this ticket. If that doesn't answer your question, then please elaborate.

[2017-05-26 17:30] thongonary commented on #7855
We might want to start with increasing the limit to 400k lumis per WQE. @amaltaro steps we should follow for this?

FYI @vlimant @prozober

[2017-05-26 18:12] amaltaro commented on #7855
Ok, I'll talk to Lina (HTTP team) on Monday and then we can increase it to 400k and watch how the agents are going to respond to that. I'll update here once that is done.

[2017-05-26 19:53] hufnagel commented on #7876
I did some of the needed adjustments already (without them nothing worked). You can see the current state here:

https://github.com/hufnagel/T0/commit/91d9e35bd2cabfbd63b6ca4309b66bdcc1ad45c8

One thing that is messy is that the new parameters are split into creation arguments and assignment arguments. This split makes no sense to the Tier0, we don't distinguish. Which breaks some things already (

[2017-05-26 20:03] amaltaro opened #7877 "ConfigCacheID output module validation"
While debugging why a request was failing to get created in ReqMgr2, see json here [1], with this error message:
[code]

I notice the Task1 configuration defines 4 outputModules but only 2 have the `dataset` parameter (thus the filterName and dataTier parameters). Since the hlt* ones don't have it, we validate the LFN with a None datatier.

My question is, is there any reason to accept such output

[2017-05-26 20:12] amaltaro commented on #7876
that was the whole point of the latest changes. The arguments separation was needed to avoid confusions and endless debugging in production, from time to time.

Yeah, I know that doesn't make sense for T0. You could update the assignment scripts by updating the workload object with this method:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkload.py#L1633

but anyways it

[2017-05-26 20:13] amaltaro commented on #7877
I forgot to point where the pset configuration is validated:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Cache/WMConfigCache.py#L557

[2017-05-26 20:18] hufnagel commented on #7876
Ok, good suggestion. Will look into that (next week). You think this is the reason for my problem in the SimpleCondorPlugin though ?

[2017-05-26 20:22] amaltaro commented on #7876
Yes, because AllowOpportunistic is no longer set when the workflow gets created. It's an assignment parameter (speaking in terms of central prod) which is set (to either False/True) here:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkload.py#L1673

and that method is called to update the workload settings during assignment. So I expect it to fix the T0 problem. I still

[2017-05-29 12:22] #7872 closed

[2017-05-29 12:22] #7862 closed

[2017-05-29 12:32] amaltaro commented on #7855
Lina has updated the global workqueue settings and it should now be limiting it to 400k lumis per MC WQE. Are you guys going to assign any workflow that's known to overcome that limit? If so, please provide the request name once it gets assigned such that I can watch an agent or two.

[2017-05-29 19:43] amaltaro opened #7879 "JobSubmitter dies after failing to retrieve aborted workflows"
It keeps up for a few cycles and then eventually it dies, process is gone and component is down.
Nothing in stderr/stdout/ComponentLog. Since it happens to vocms0159 every time there is a testbed upgrade, I figured it was time to track it down and fix it.

Just in case, tail of the component log:
[code]

[2017-05-30 07:53] vlimant commented on #7860
@amaltaro, any update on the test in testbed ?

[2017-05-30 09:20] vlimant opened #7880 "Evolve TaskChain spec to avoid stage-out"
in taskchain, if two tasks have no merge in between, two jobs are still created instead of putting things in separate cmsRun within the same job.
Reason for evolving the schema this way is to get the benefit of taskchain (multiple separated jobs that can be re-routed if need be) and stepchain (no separate jobs when no intermediate output).

This requires also that separated cmsRun within the same

[2017-05-30 13:08] amaltaro commented on #7860
We ran a bunch of workflows in testbed and I haven't seen any operational issues. I also picked one output dataset and it has the parent files in dbs. Of course I didn't investigate what a processing -> a merge job executed and what are the children and parents. I'll try checking that later today/tomorrow.

[2017-05-30 16:10] amaltaro commented on #7849
For the held jobs:
https://cms-logbook.cern.ch/elog/GlideInWMS/5393

if we have a hook on the condor_schedd side, then it's much better.

[2017-05-31 08:26] amaltaro commented on #7877
@ticoann since you're back, maybe you know this reason?

[2017-05-31 08:30] amaltaro opened #7881 "Implement PeriodicRemove expression for held jobs"
It could either be set in the condor_schedd configuration or be added to the job classads.
We better ad it to every job such that we control the exact expression.

According to Stefano, it's just a matter of defining that expression:
https://cms-logbook.cern.ch/elog/GlideInWMS/5393

no further ads are needed.
For reference, this is how it's done for CRAB:
https://github.com/dmwm/CRABServer/blob/f8

[2017-05-31 09:10] vlimant commented on #7881
do you know what are the reasons a job would go in held status ? and how would they end up being treated in the agent ? is there a specific error code ? is this counting as a retry ?

[2017-05-31 09:36] amaltaro commented on #7881
AFAIK it usually happens with a site-specific problems. However, if I'm not wrong I've also seen it happening with unhandled mistakes/exceptions in the WMCore code.

They are completed in the agent and they go to jobcooloff status (or failure).
About the specific code, yes it should be exit code 71306. but wait... there is something fishy here...

[2017-05-31 09:41] amaltaro commented on #7881
@hufnagel @ticoann we do kill (well, we should) jobs that go into held status, see:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/BossAir/StatusPoller.py#L109

however, the problem is that this job is no longer active in BossAir since the plugin says it's completed:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/BossAir/Plugins/SimpleCondorPlugin.py#L235

which is neve

[2017-05-31 09:43] amaltaro commented on #7881
BTW, I assume Held jobs don't return the agent FJR, meaning the agent has no clue of what happened to this job thus flagging those jobs with that 99xxx exit code (no job report)

[2017-06-01 10:23] #7707 closed

[2017-06-01 10:26] amaltaro opened #7890 "MonteCarlo workflows with empty SiteWhitelist at WorkQueue creation"
Issue related to #7707 , where we added a validation at workqueue level such that we don't create GQE without a valid site white list.
However, this still happens once per month or so, where workqueue fails to retrieve the sitewhitelist for the initial task. Example being the following request:
[code]

which had this global workqueue log
[code]

[2017-06-01 11:09] amaltaro opened #7891 "Task ProcessingVersion default value shouldn't be 0"
That change was made by me and there was a good reason to keep that set to 0 (I think to fallback to the workload level arg in case that was eval to false).

However, if one creates a TaskChain request with ProcessingVersion arg only at the top level, the task dict will override that to 0, thus the output dataset for that task will be `v0`.

We either set the inner task default to 1 or we don't se

[2017-06-01 11:15] amaltaro commented on #7891
example to reproduce that:
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMgr/requests/Integration/RelVal_Premix.json

[2017-06-01 11:22] ticoann commented on #7891
I agree the latter (we don't set a default there) is better. So the version start from 0 not 1?

[2017-06-01 11:26] amaltaro commented on #7891
For this case it starts from 0, but that's wrong and it should always start from 1.

[2017-06-02 04:07] hufnagel commented on #7876
Closing since #7889 will address this problem.

[2017-06-02 04:07] #7876 closed

[2017-06-02 07:39] #7849 closed

[2017-06-02 21:16] vlimant opened #7894 "Not all files of the MCPileup are added to the configuration"
following up on https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/4066.html where the software needs all file of the secondary input to be listed in the mix module, @thongonary and I were looking at a specific job log

/eos/cms/store/logs/prod/2017/05/WMAgent/rverma_PR_newco_RelVal_276950_170428_191716_3771/rverma_PR_newco_RelVal_276950_170428_191716_3771-Task1MergeDQMoutputMergedEndOfRunDQMHar

[2017-06-02 21:22] vlimant commented on #7894
FYI @prozober

[2017-06-02 22:30] vlimant commented on #7894
I just looked a the sandbox and the pileupconf.json file.

T1_ES_PIC_Disk 133
T1_FR_CCIN2P3_MSS 5660
T2_CH_CSCS 157
T1_FR_CCIN2P3_Disk 134
T2_TW_NCHC 5660
T2_UK_SGrid_RALPP 60
T2_FR_GRIF_LLR 126
T2_FR_IPHC 226
T0_CH_CERN_Disk 764
T2_DE_DESY 2189
T2_IT_Legnaro 176
T1_DE_KIT_Disk 5660
T2_UK_London_Brunel 2382
T2_IT_Pisa 5660
T1_UK_RAL_Disk 4475
T1_US_FNAL_Disk 124
T2_FR_GRIF_IRFU 104
T1_IT_CNAF_Disk

[2017-06-06 17:57] prozober opened #7899 "Proxy error alert"
Guys, could we have an alert for cases where there is an issue with the agent's proxy?
We have a couple of workflows that are unable to inject files into Phedex. We dug into the agent (vocms0304) and we found this:
[code]

[2017-06-06 18:04] vlimant opened #7900 "Merge not ran with the proper CMSSW version of the previous step"
from https://cmsweb.cern.ch/reqmgr2/config?name=pdmvserv_task_EXO-RunIISummer15GS-10533__v1_T_170602_203815_9168 having a lot of merge issues

pdmvserv_task_EXO-RunIISummer15GS-10533__v1_T_170602_203815_9168.tasks.EXO-RunIISummer15GS-10533_0.tree.children.EXO-RunIISummer15GS-10533_0MergeRAWSIMoutput.tree.children.EXO-RunIISummer16DR80Premix-09475_0.tree.children.EXO-RunIISummer16DR80Premix-09475_1

[2017-06-06 18:06] vlimant commented on #7900
https://github.com/dmwm/WMCore/issues/7012

[2017-06-06 18:07] vlimant commented on #7900
this had not been fixed back in the day. @ticoann are you available to look into this ?

[2017-06-06 18:44] #7891 closed

[2017-06-06 18:45] #7847 closed

[2017-06-07 07:24] vlimant commented on #7899
@amaltaro I was wondering whether we have an actual alarm for invalid proxy any such

[2017-06-07 07:36] vlimant commented on #7894
@ticoann @amaltaro we will need your insight to this, as it has spread over many workflows. Is there anything in the agent log that can give a hint at what went wrong with the sandbx creation ? if not, can we add some logging.

[2017-06-07 07:39] amaltaro commented on #7899
As replied privately "We have one in wmstats, for the user proxy. It's on my todo list to add the service cert to the watch list."

[2017-06-07 08:52] vlimant commented on #7899
ok, for example https://its.cern.ch/jira/browse/CMSCOMPPR-822

[2017-06-07 09:03] amaltaro commented on #7894
I had a look at that sandbox and the pileupconf.json file actually contains 2423 files as present at DESY
[code]

which confirms what you saw in one of the job logs "and the PSet has 2423 files in mixing module".

I was also playing with the phedex APIs  trying to find subscriptions, dataset/block completion and etc and the closest I got was that there was a dataset subscription on the same day th

[2017-06-07 09:13] amaltaro commented on #7899
Proxy warning in wmstats was made fully available as of the last cmsweb upgrade, May 2nd. Though we still have the cronjobs as well, just to keep some redundancy and to make sure CSPs will report on those alarms such that we can renew the proxy in time.

[2017-06-07 09:21] sidnarayanan commented on #7894
Hi Alan,

The best way I know how to tell when it was complete is to check when each of the replicas made it to the endpoint. This can be done via filereplicas [1] and looking at the `time_create` field of the replicas. For this subscription, it looks like the last file replica was created at 1496271816.8.

[1] https://cmsweb.cern.ch/phedex/datasvc/json/prod/filereplicas?dataset=/ReggeGribovParton

[2017-06-07 09:54] vlimant opened #7901 "No retries on error code 87"
this kind of error is clearly not recoverable by a retry, so we should not even try.

[2017-06-07 10:52] amaltaro commented on #7894
Thanks, Sid! Would you by any chance know whether the phedex timestamps are local unix epoch time, or always UTC? BTW, who publishes that replica info? Does it come from every site phedex agent?

Taking into consideration a possible problem with local x utc epoch timestamps, I listed 493 files that were created after that workflow got assigned (1496275109 -7200), using the filereplicas api

Lookin

[2017-06-07 10:53] amaltaro commented on #7901
For bookkeeping, can you please post here the error message for this exit code?

[2017-06-07 10:54] amaltaro commented on #7900
not good... I'm looking into this problem

[2017-06-07 11:23] sidnarayanan commented on #7894
Unfortunately I don't have definite answers to any of those 3 questions :). You might want to ask @nataliaratnikova . Certainly the site phedex agent has to tell the central agent that the replica was created, but then I'm not sure if it's the site or central agent that chooses the timestamp. I would hope we use UTC for everything, or things would get confusing...

Sorry, but I'm having a bit of t

[2017-06-07 11:34] amaltaro commented on #7900
puzzled! We have a template exercising the same cmssw behaviour and all tasks/cmssw release are correct. I cloned this workflow twice into testbed and again I see the correct releases for all those tasks
https://cmsweb-testbed.cern.ch/reqmgr2/config?name=amaltaro_task_EXO-RunIISummer15GS-10533__v1_T_170607_132706_7769
https://cmsweb-testbed.cern.ch/reqmgr2/config?name=amaltaro_task_EXO-RunIISummer

[2017-06-07 11:41] amaltaro commented on #7894
No problem, there are too many details and it's easy to get lost.

In summary, when a workflow gets acquired by the agents (after it's assigned in reqmgr2), the agent builds a json for the PU dataset which contains a mapping of blocks x files x PNNs. This json doesn't change during the lifetime of this workflow.

Thus the suspicion is that agents acquired that workflow when not ALL blocks were com

[2017-06-07 11:49] vlimant commented on #7894
Wed May 31 23:58:32 2017 (GMT) (consistent in reqmgr2 and unified)

http://dabercro.web.cern.ch/dabercro/unified/showlog/?search=task_HIN-pPb816Summer16DR-00079&module=assignor

https://github.com/CMSCompOps/WmAgentScripts/blob/master/utils.py#L2697

returned

/ReggeGribovPartonMC_EposLHC_pPb_4080_4080_DataBS/pPb816Spring16GS-MB_80X_mcRun2_pA_v4-v2/GEN-SIM
{
  "T1_ES_PIC_Disk": [
    false,
    93

[2017-06-07 11:50] vlimant commented on #7894
@amaltaro can you please point us to the spot where the PU location is queried ?

[2017-06-07 12:04] vlimant commented on #7900
can you try to clone it a thousand times and check if ever that happens ?
are any of these operations done in parallel and some corruption would happen through shared memory ?

only solution for now is cloning, I suppose.

[2017-06-07 12:05] vlimant commented on #7860
does this mean we could move the default to false at the next deployment ?

[2017-06-07 12:07] vlimant commented on #7894
note also that the same code, at Wed May 31 22:59:11 2017 returned

  ],
  "T2_DE_DESY": [
    false,
    87.77380013046422
  ],

[2017-06-07 12:15] vlimant commented on #7767
@ticoann @amaltaro could you please comment on the feasibility of the simplified splitting change API originally mentioned ?
i.e. passing a dict of Task:TimePerEvent and let things be done consistently

[2017-06-07 12:21] amaltaro commented on #7894
Apologies, I missed one important detail:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/Steps/Fetchers/PileupFetcher.py#L167

so we do keep a cache of pileup type+dataset in the agent (24h caching).
Apparently there are ~10 workflows in the system using this PU dset.

This PU cache is very important for large campaigns using the same PU and it has a significant impact on how

[2017-06-07 12:24] amaltaro commented on #7767
How about we allow these values to be updated during the request assignment, together with all those other assignment arguments? Or you'd rather have one specific API only for this action?

[2017-06-07 12:25] vlimant commented on #7767
assignment is good too

[2017-06-07 13:16] vlimant commented on #7894
I see. Makes sense. I assume you cannot make the cache update conditional on what site is going to be used in sitewhitelist.
from the current crash, 30min would be more adapted, but more impacted.

we could keep the 24h cache lifetime, and in addition have an systematic incremental call to something like

https://cmsweb.cern.ch/phedex/datasvc/xml/prod/filereplicas?dataset=/ReggeGribovPartonMC_Epos

[2017-06-07 13:35] nataliaratnikova commented on #7894
Hi,
looking at the last_replica time (1496249085) returned by
https://cmsweb.cern.ch/phedex/datasvc/perl/prod/blocklatencylog?dataset=/ReggeGribovPartonMC_EposLHC_pPb_4080_4080_DataBS/pPb816Spring16GS-MB_80X_mcRun2_pA_v4-v2/GEN-SIM&to_node=T2_DE_DESY

the last file from this dataset was transferred to DESY on Wed, 31 May 2017 16:44:45 GMT .

[2017-06-07 15:44] ticoann commented on #7900
Looking at the code, I can't see why it is not setting up the CMSSW correctly for the merge.
The private variable  self.frameworkVersion is responsible for setting the CMSSW version correctly.
The thing it can go wrong is that self.frameworkVersion is workload variable and not thread safe.
However I don't think it is using multi thread when it creates the spec object.
Maybe I don't quite understan

[2017-06-07 15:45] ticoann commented on #7900
@vlimant, Jean-Roch,

1. when you clone the request everything is set correctly?
2. Is it consistently happening only for the merge task?

[2017-06-07 15:46] vlimant opened #7904 "fix condor log being displayed in single column text"
for example

NoJobReport

    NoJobReport (Exit Code: 99303)

        Could not find jobReport
        Adding end of condor.13468.0.log to error message:
        <
        /
        c

        <
        c

        <
        a

        n
        =
        "
        P

is just unreadable in wmstats

[2017-06-07 16:00] vlimant opened #7905 "Is 99303 reported site reliable"
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_HIN-pPb816Spring16GS-00047__v1_T_170601_155249_4128

maybe to make it very concise. Is the error reported in wmstats for the error code 99303 reliable, or is this just random ? #7203

FYI @prozober @mcremone @thongonary

[2017-06-07 16:30] amaltaro commented on #7904
dup of #7798 :) closing

[2017-06-07 16:30] #7904 closed

[2017-06-07 16:38] amaltaro commented on #7827
Milestone/issues were set for HG1706

[2017-06-07 16:38] #7827 closed

[2017-06-07 16:43] vlimant opened #7906 "Special Error for SYSTEM_PERIODIC_REMOVE"
@thongonary and I were looking at

https://cmst2.web.cern.ch/cmst2/unified//condorlogs/pdmvserv_task_HIN-pPb816Spring16GS-00049__v1_T_170601_155641_5744/99303/HIN-pPb816Spring16GS-00049_0/1047/vocms0304_1047339/Job_1047339/condor.12807.0.log

and the error code in wmstats is 99303, while

    <a n="MachineAttrGLIDEIN_CMSSite0"><s>T2_CH_CERN</s></a>
    <a n="Proc"><i>0</i></a>
    <a n="TriggerEve

[2017-06-07 17:22] nataliaratnikova commented on #7894
Actually, the above time is the completion time  for some random block I picked from the returned data. The last block in this dataset arrived a few hours later.
I added  an example:
https://github.com/nataliaratnikova/PHEDEX/blob/master/Contrib/phedex_dataset_arrival_time_example.ipynb
on how to get the arrival time for the last completed block in this dataset.

[2017-06-07 18:21] vlimant commented on #7798
+1

[2017-06-07 19:03] vlimant commented on #7900
Only for the merge task has this been observed. And cloning seems to work.
N.B. the injection from McM is done in parallel if I remember correctly (@anorkus).

There seem to be quite some of those at the moment, under RunIISummer15GS.
@ticoann  can you think of the way to identify those by script so that @prozober can grab them all and clone ?

[2017-06-07 19:06] vlimant commented on #7900
#7467

[2017-06-07 21:45] ticoann commented on #7900
I created the script to identify the case. However I have to add some method on WMCore to make this work and script is not robust. ( I will try to refine the script and update WMCore code to support that).
However, still debugging what could cause this.

@prozober - Below are active requests which has different cmssw version between merge job and parent task.

(request name, task name,  original c

[2017-06-08 07:46] vlimant commented on #7901
Fatal Exception (Exit code: 8026)
An exception of category 'NotFound' occurred while

[2017-06-08 07:46] vlimant opened #7907 "No retries for error code 8026"
Fatal Exception (Exit code: 8026)
An exception of category 'NotFound' occurred while

is not likely to succeed on retry

[2017-06-08 07:54] vlimant commented on #7901
Fatal Exception (Exit code: 8023)
An exception of category 'MismatchedInputFiles' occurred while
[0] Calling InputSource::readFile_
Exception Message:
RootPrimaryFileSequence::nextFile() Branch 'GlobalObjectMapRecord_hltGtStage2ObjectMap__HLT.' is in file 'root://ccmsdlf.ads.rl.ac.uk//castor/ads.rl.ac.uk/prod/cms/store/unmerged/Run2016B/NoBPTX/RECO/18Apr2017_ver1-v1/10004/1086F426-9B47-E711-8D27-0

[2017-06-08 08:06] vlimant opened #7908 "report the worker node in wmstats"
that is an information that must be available and would be very useful in many cases

[2017-06-08 10:38] amaltaro opened #7909 "Buggy initialize_clone method"
I know I wrote this code myself
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/DataStructs/Request.py#L75

but depending on the case it can raise `RuntimeError: dictionary changed size during iteration` :(

An easy fix would be replacing iteritems by items, but then it'll simply postpone this bug for when we migrate to python3.

I decided to make this issue just to draw attent

[2017-06-08 10:41] amaltaro commented on #7909
Following is the traceback
[code]

[2017-06-08 10:51] vlimant opened #7910 "WQE with Failed status"
https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=pdmvserv_task_HIN-pPb816Spring16GS-00048__v1_T_170601_154923_3839

has

https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/element/a98e9f4b94b7913d325f861d315ed59f

 in Failed

{"_id":"a98e9f4b94b7913d325f861d315ed59f","_rev":"3-986e80c0c10b87faeeae6a719451d894","updatetime":1496343657.3619999

[2017-06-08 11:28] amaltaro commented on #7910
I don't really know what happened here and what - if I'm right - that's not how it was supposed to happen either...

It's a MonteCarlo policy with `"NumberOfLumis":200005`, thus exceeding the usual limit we had in global workqueue, which was changed 10 days ago to 400k:
https://github.com/dmwm/WMCore/issues/7855

This was supposed to be logged into the LogDB (couch, but I see no request documents

[2017-06-08 11:33] amaltaro commented on #7910
BTW, besides the cleanUpTask thread with the following log over and over again:
[code]
there is no other log mentioned this WQE/request being failed.

[2017-06-08 11:43] amaltaro commented on #7910
Wait!!! Here is the reason... sigh... we also have to update this setting on every single agent, because the agent uses two workqueue couch databases and, when it writes to the local `workqueue` database, it also goes through the start policy algorithms and it again validates the number of lumi sections in WQE.

I think there are two issues here:
1. agents should not be validating this lumi limit

[2017-06-08 11:45] amaltaro commented on #7855
It turns out this # of lumis check is also performed on the agent side when writing docs to the local `workqueue` db, see Jean-Roch's issue here (my last comment): https://github.com/dmwm/WMCore/issues/7910

[2017-06-08 15:59] amaltaro commented on #7855
It turns out this # of lumis check is also performed on the agent side when writing docs to the local `workqueue` db, see Jean-Roch's issue here (my last comment): https://github.com/dmwm/WMCore/issues/7910

[2017-06-09 04:29] #7909 closed

[2017-06-09 04:43] ticoann opened #7914 "Human readable error report for Tier0 (WMStats)"
Something like below but format with html tag it is through web browser. still need to show json if the accept type is application/json
https://cmsweb.cern.ch/t0_reqmon/data/jobdetail/PromptReco_Run296116_DoubleEG

[2017-06-09 08:27] vlimant opened #7916 "Job pending at site set in Drain, and status Drain in the agent"
despite being in drain, there are many jobs still pending at

https://cms-gwmsmon.cern.ch/prodview/T2_UK_London_IC

and in particular some merge jobs (which are not jobrouted) which I was expecting to be removed

[2017-06-09 11:45] amaltaro commented on #5979
Fixed by #7436

[2017-06-09 11:48] amaltaro commented on #5501
ReqMgr is dead, so is this issue

[2017-06-09 11:48] #5501 closed

[2017-06-09 11:49] amaltaro commented on #4763
No longer a concern, now we fetch all production and development cmssw/scram combinations.

[2017-06-09 11:49] #4763 closed

[2017-06-09 12:02] amaltaro commented on #7916
I browsed through a few requests in gwmsmon and they mostly have merge/logcollect jobs, which is allowed by the system (including harvesting and cleanup):
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobSubmitter/JobSubmitterPoller.py#L323

However, this request seems to have processing/production jobs running there:
https://cms-gwmsmon.cern.ch/prodview/prozober_ACDC0_task_SMP

[2017-06-09 12:30] amaltaro opened #7917 "Resubmission for taskchain using unique memory value"
It should have been fixed with the latest changes to wmstats resubmission, but I probably overlooked one place that still sends a Memory value to reqmgr2. IT could be that the task arguments were not taken into account for the ACDC, but then I'd expect the ACDC to run with 4 cores as well, but instead it has the proper cores settings

E.g. with the following workflow (4cores/4gb, 8cores/8gb and 1c

[2017-06-09 14:03] amaltaro opened #7918 "Clone of resubmission (of TaskChain) creates empty tasks"
Still on the clone saga... I've just found a specific case where the new request dict gets screwed, creating empty dict tasks for TaskChains.

Since the clone api is not being actually used yet, I think it can wait until the next upgrade.

Original wf:
https://cmsweb-testbed.cern.ch/reqmgr2/fetch?rid=amaltaro_ACDCDR_task_HIG-PhaseIIFall16LHEGS82-00018__v1_T_170609_151107_2103

New one:
https://cms

[2017-06-09 15:00] vlimant commented on #7900
you could try to create the same type of workflow in 10-20 simultaneous threads so that the same code gets called at the same time. That's what is happening on submission side of these workflows.

[2017-06-09 15:39] amaltaro opened #7919 "Improve stage out logging"
Making a place holder from discussions Seangchan had with Stephan and others. What I remember is:
* adding proxy information to the log (DN, lifetime, voms roles)
* always log the command(s) executed
* possible list permissions of the directory we're trying to write to

Just not sure whether we should print these stuff by default, or only in case of failures... (?)

In addition to that, maybe @bel

[2017-06-09 15:39] amaltaro commented on #7919
@ticoann can you please complement anything that I missed? Thanks

[2017-06-09 16:38] belforte commented on #7919
how comes today people make me smile so much !
Main point about log IMHO is: do not look at what WMA writes ! WMA is quite good since years, we never need to debug it, and especially.. never paste WMA tracebacks etc. into messages to site/grid/user...

Extracting the external command stdout/stderr from WMA printout is currently an art, would be great if @ticoann could make it a science by e.g. som

[2017-06-09 16:45] ticoann commented on #7919
Thanks Stefano for the feed back and advice.

[2017-06-09 16:49] belforte commented on #7919
hey !! do not stop making fun of me, I still can use some smile today !!!

[2017-06-09 16:50] ticoann commented on #7919
And you made me smile. 😄

[2017-06-09 16:53] belforte commented on #7919
too bad we never met, should have some beer toghether

[2017-06-09 16:54] ticoann commented on #7919
I think we met but no beer yet. :-)

[2017-06-10 15:21] hufnagel commented on #7256
@amaltaro , can you suggest where exactly in the Tier0 specs this should be changed ?

[2017-06-10 20:38] amaltaro commented on #7256
First change (replace tier0 by t0 activity) should be in the setDashboardActivity call, thus:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/PromptReco.py#L34

same for Express and Repack.

Second change is, if Tier0Feeder is now calling this workload method (as we discussed a week or two ago, which basically updates the workload object and calls a bunch of setter met

[2017-06-12 08:37] amaltaro opened #7921 "Files in DBS and PhEDEx but marked as in_phedex=0 in the agent"
Related to #7115 and #7439, but a different case (an interesting one btw).

While draining vocms0303, I noticed there were files marked as not injected into PhEDEx for the following wfs/datasets:
[code]

however, those datasets are complete in both DBS and PhEDEX, all files and lumis were registered.

Now the funny part. I took a look at the first workflow and it was pulled by vocms0303 and vocms0

[2017-06-12 09:48] #7910 closed

[2017-06-12 19:52] #7881 closed

[2017-06-13 12:42] thongonary commented on #7855
@amaltaro What's the status of the agent now? Do we have a patch for the agent so that it won't perform the number of lumis check?

[2017-06-13 13:10] amaltaro commented on #7855
Yes, all the agents have been patched and the # of lumis check should be performed by global workqueue only. Patch was applied yesterday afternoon.

[2017-06-13 13:12] amaltaro commented on #7910
Patch was pushed in into all the agents yesterday afternoon.

[2017-06-13 14:10] prozober opened #7925 "Additional info for skipped files"
We want to get more info about the skipped files for a specific workflow.
As Alan pointed me, we can get the number of skipped files by task in here:
https://cmsweb.cern.ch/wmstatsserver/data/request/pdmvserv_HIG-PhaseISpring17DR-00009_00014_v0__170519_110139_2326

Additionally, we want to know where those files were skipped. So, by task, we want to get the number of skipped files per site.

[2017-06-13 20:18] amaltaro opened #7927 "Remove PrimarySubType code from WMTask/etc"
Apparently there was a specific purpose for this in the past. Now it's mostly not used - besides WMBSHelper, which could be replaced by taskType I think - so we should remove this code eventually, unless @ticoann @hufnagel see an usage that I fail to.

[2017-06-14 05:26] amaltaro opened #7931 "Held jobs should be reported as 71306 instead of 99303"
I thought there was already an issue for this, but it was composed in this multi issues ticket that got closed https://github.com/dmwm/WMCore/issues/7849, also follow up of https://github.com/dmwm/WMCore/pull/7882

What's happening is that Held jobs are completed in BossAir (JobStatusLite) as soon as they get into condor status 5. Which means JobStatusLite won't look up for those jobs anymore and

[2017-06-14 07:02] amaltaro commented on #7901
Instead of failing jobs on exit code 87 (which I haven't found anywhere a description for it), shouldn't we fail jobs with 'MismatchedInputFiles' (8023)?

[2017-06-14 08:17] vlimant commented on #7901
here goes the confusion of the many exit codes exposed in wmstats.
whichever is the error code that is being seen by the agent, this should not be retried. I'd say add 87 and 8023

[2017-06-14 18:00] amaltaro commented on #7901
Calling it 8023 then.

[2017-06-14 18:25] #7860 closed

[2017-06-15 00:32] #7256 closed

[2017-06-15 00:37] #7907 closed

[2017-06-15 09:06] vlimant opened #7935 "Site Status not synching"
https://cmsweb.cern.ch/couchdb/wmstats/_design/WMStats/_view/agentInfo?stale=update_after

has

"T3_IN_TIFRCloud":{"state":"Normal","running_slots":100,"pending_slots":50

for submit1, submit2, 130, 304, while it is disable in ssb.

FYI @scarletnorberg

[2017-06-15 09:27] amaltaro commented on #7935
It has no ioBound metric (161), that's why the site isn't touched in the database. It requires all 3 metrics:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/AgentStatusWatcher/ResourceControlUpdater.py#L176

I wrote most of that code myself, but I acknowledge it can be improved. Like, isolating site status from threshold changes, logging when there is some missing info (I was ex

[2017-06-15 09:28] amaltaro commented on #7935
BTW, if you want to get it fixed *now*, please ask the SS team to fix the metric 161.

[2017-06-15 12:12] vlimant commented on #7935
But one metric says : disabled, so it should be in mode "down" regardless of the other metrics ?
Or was it forced enabled somehow (because of the missing metrics) and does not sync back to disabled ?

[2017-06-15 12:14] vlimant commented on #7935
can you actually please spin the email to site support with what they have to do to make this right ; is that "just" including T3_IN_TIFRCloud in the table 161 ?

[2017-06-15 12:23] amaltaro opened #7936 "CC7: AgentStatusWatcher fails to get proxy information (symbol lookup error)"
I finally managed to deploy wmagent on the CC7 nodes, after manually installing the following packages (I still have to ask Daniel to puppetize them):
`yum -y install libXft-devel libXpm-devel libXext-devel mesa-libGLU-devel perl-Switch perl-Env perl-Thread-Queue`

and services/components run without any apparent issues.

However, looking at the AgentStatusWatcher logs, I see it's failing to retri

[2017-06-15 12:23] amaltaro commented on #7936
And I forgot to mention that I don't know even from where to start debugging this issue :(

[2017-06-15 12:44] davidlt commented on #7936
I guess you are using `voms-clients-cpp` and something is wrong. lxplus7.cern.ch uses `voms-clients-java`, you cold try using it.

[2017-06-15 12:47] davidlt commented on #7936
Correction boths are installed on lxplus7.cern.ch, but JAVA clients are used (in my case).

[2017-06-15 12:51] amaltaro commented on #7936
The executable is the same
`/bin/voms-proxy-info`

how do I check whether it uses cpp or java?

then the libraries being used by the standard `voms-proxy-info` are:
[code]

while the one with the agent environment (cms comp packages) are (with 2 additional libraries):
[code]

[2017-06-15 12:54] davidlt commented on #7936
If you would use Java clients then `voms-proxy-info` would be a symlink to a bash script which calls Java client.

So you ship your own `libvomsapi.so.1` thus this sounds like API (maybe also ABI) breakage . Especially if you by accident call `voms-proxy-info` from the system.

[2017-06-15 14:43] scarletnorberg commented on #7879
vocms0304.cern.ch went down June 9 2017 JobSubmitter down but not reporting to WMStats

[2017-06-15 14:47] scarletnorberg commented on #7879
cmsgwms-submit2.fnal.gov June15 2017 JobSubmitter down not reporting to WMStats Component JobSubmitter with process id 1350386 is not running

[2017-06-15 15:59] ticoann commented on #7879
2017-06-15 09:49:52,983:140327621375744:INFO:JobSubmitterPoller:Have 17 packages to submit.
2017-06-15 09:49:52,984:140327621375744:INFO:JobSubmitterPoller:Have 1000 jobs to submit.
2017-06-15 09:49:52,984:140327621375744:INFO:JobSubmitterPoller:Done assigning site locations.

This is the last log before it crashed silently

[2017-06-16 08:42] amaltaro commented on #7936
Thanks to @davidlt for passing by and helping me to understand this issue (I hope).

There are several problems, but in summary it's the classic mix between comp and system libraries.
As we can see from the comments above, condor ships the vomsapi library but not the voms-client, which is then incompatible since condor is built with gcc630 (and the new c++11 ABI).

There are several ways to fix it

[2017-06-16 09:14] amaltaro opened #7938 "JobCreator breaks on the Harvest algo (1.1.4.patch1)"
Another issue from the run/lumi/event changes. Here is the traceback
[code]

I'm debugging

[2017-06-16 09:39] davidlt commented on #7936
Sounds correct. The original commit 4 years ago does provide information on why voms was enabled in htcondor. If it's definitely needed then you have multiple directions you can go to resolve it.

[2017-06-16 10:04] amaltaro commented on #7938
Not sure if this issue started happening after I applied this patch:

but the Harvest algo is basically trying to add a Run object into the Mask object, by passing a lumiless run object:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/Harvest.py#L144

I also saw JobAccountant problems, calling a DAO (AddRunLumi) without lumis... more debugging.

[2017-06-16 11:10] #7901 closed

[2017-06-16 14:00] amaltaro commented on #7938
Just found a problem on this fix: #7937
Patch is updated and I'll follow up there. Leaving it open for a little while until I make sure that was the problem.

[2017-06-16 20:42] ticoann commented on #7798
fix is included in #7933

[2017-06-16 21:48] bbockelm commented on #7936
I can confirm that the VOMS library is necessary.

That said, as part of the HTCondor build, it should have downloaded and compiled VOMS also.  It's possible that either there's a problematic path or the library isn't getting packaged.

[2017-06-16 22:05] davidlt commented on #7936
That's exactly the problem. HTCondor builds voms library 2.0.13 IIRC, but it doesn't provide voms-clients. voms-clients (2.0.14) are being used from system, but in comp environment it picks the library from HTCondor. The one provided by HTCondor (which overrides default) is not compatible with what's on the system.

[2017-06-16 22:06] bbockelm commented on #7936
HTCondor libraries should be staged such that they are not put into `$LD_LIBRARY_PATH` (unless maybe we muck with the generated `$RPATH` for the condor libraries?)

[2017-06-17 07:16] davidlt commented on #7936
Correct. I would suggest to make sure that voms library (bundled within HTCondor) is built in static way. That would solve the issue.

[2017-06-18 10:04] vlimant opened #7939 "Failed workflow"
https://cmsweb.cern.ch/reqmgr2/fetch?rid=rverma_PR_reference_RelVal_296967_170616_175347_6854

is failed. What is the reason and where can we see the reason for that failure ?

[2017-06-18 15:09] amaltaro commented on #7939
There seems to be lack of input work. Apparently some of those lumis listed are not present in the dataset.

This is the message from global_workqueue logs:
[code]

[2017-06-19 08:47] vlimant commented on #7939
ok, thanks.

[2017-06-19 08:48] vlimant commented on #7939
how do we expose this out to operation ?

[2017-06-19 09:12] amaltaro commented on #7939
I'll discuss this issue with Seangchan today, but I created this ticket the last time it happened:
https://github.com/dmwm/WMCore/issues/7808

[2017-06-19 09:31] amaltaro opened #7940 "Deprecating stage out plugins"
I just talked to @stlammel and @roksys to see if the SS team can start pushing sites away of (almost) deprecated transfer tools. I'm posting here a summary of what I found in SITECONF repo,  feel free to x-check these numbers.

**local stage out for T0/T1/T2 sites** see command used to grep here [1]
[code]

**fallback stage out for T0/T1/T2 sites**
[code]

As you can see, I discarded T3s configura

[2017-06-19 12:51] amaltaro commented on #7938
Flaw on the patch created that cause this issue and one more :) Closing it

[2017-06-19 12:51] #7938 closed

[2017-06-19 16:01] amaltaro opened #7941 "Problems constructing a Run object"
Just for tracking what's to be fixed this month.
Run object can receive the lumi arguments in N different data formats and, it is's somehow broken after the events per lumi developments.

[2017-06-19 21:43] amaltaro opened #7942 "ErrorHandler crashes on ServerNotFoundError"
Got this exception in a testbed agent yesterday - caused by the dns being unresponsive.
[code]

Ideally the component should keep running on these cmsweb instabilities.

[2017-06-20 08:24] vlimant commented on #7939
There is at least

that file

https://cmsweb.cern.ch/das/request?input=lumi%20file%3D/store/data/Run2017A/HLTPhysics/RAW/v1/000/296/967/00000/2EAA18F4-9D52-E711-BE81-02163E0142A6.root&instance=prod/global&idx=0&limit=10

 to be processed. Please check the code for possible interference when LumiList is bigger than the list of lumis in the file.

 This needs to be understood quite fast @amaltaro @t

[2017-06-20 09:56] franzoni commented on #7939
Hello Jean-Roch, Alan,

thanks for the feedback.

That PD has lumi sections [1,22].
https://cmswbm.cern.ch/cmsdb/servlet/DatasetSummary?RUN=296967
https://cmsweb.cern.ch/das/request?input=file%3D%2Fstore%2Fdata%2FRun2017A%2FHLTPhysics%2FRAW%2Fv1%2F000%2F296%2F967%2F00000%2F2EAA18F4-9D52-E711-BE81-02163E0142A6.root&instance=prod%2Fglobal

The wf's asks for [1,200] - while that's not ideal,
one woul

[2017-06-20 12:44] amaltaro commented on #7939
A quick scan at the code tells me that range of lumi sections should have worked. I couldn't spot a place rejecting this workflow if some of the lumis are not in the block:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/Policy/Start/Block.py#L83

Anyways, I always thought this LumiList feature was something along the golden json files we use to use for real data, meaning re

[2017-06-20 16:28] franzoni commented on #7939
hi @amaltaro

it's said in the email that requesting more LS's than the existing ones was not a good choice.

If that's not the reason why the workflow failed,
can we try to find it, so we ensure that future workflows won't hit the same ?

[2017-06-20 17:02] amaltaro opened #7944 "WMRuntime code incompatible with python2.6"
As surfaced in this PR #7937, there can be a specific setup that causes all jobs to fail when executing the WMAgent runtime code with features that are only available from python 2.7 on, for instance a dictionary comprehension. Of course the workflow needs to be using an old'ish release that uses python 2.6 instead (e.g. 537_patch5).

Apparently we do execute SetupCMSSW code with the COMP python2.

[2017-06-20 17:18] vlimant commented on #7939
@amaltaro as you said, the code should support [1,200] while the data has only [1,28]. Why did it fail then ?
Could it be that the file was not yet in DBS at the time of submitting the workflow ?

    "modification_time": "2017-06-16 19:33:35" is for the file

and

    new: 2017-06-16 15:53:47 UTC
    assignment-approved: 2017-06-16 15:53:53 UTC
    assigned: 2017-06-16 17:55:47 UTC
    failed: 20

[2017-06-20 17:18] #7939 closed

[2017-06-20 17:27] amaltaro commented on #7939
Makes a lot of sense. Are you cloning it or resubmitting with a proper lumi list? I'm interested to see a clone of it, otherwise I'll clone it tomorrow myself.

[2017-06-21 05:52] ravindkv commented on #7939
Hi All,

We have already resubmitted the WFs, this time with another run number and lumi range. Here are the campaign IDs:
HLT+RECO
CMSSW_9_2_3_patch2__ALCARELVAL-2017_06_19_13_50
Unfortunately, there is a failure again with HLTPhysics datasets. And for other two datasets, the status is "running-closed" (https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaign=CMSSW_9_2_3_patch2__ALCARE

[2017-06-21 09:49] bajarang commented on #7939
Hello @vlimant @amaltaro @franzoni @ravindkv @arunhep

I want to mention two things, in regard to the two campaigns which Ravindra mentioned just above.

Not to confuse things, I will first mention the workflows ([A] below) which we would need your help in tracking the bugs
[A] **Please track following workflows** :
For HLT+RECO in https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?campaig

[2017-06-21 14:28] amaltaro commented on #7917
The good news is that the problem is understood. When there is a Memory argument to the request, the Resubmission factory calls the memory setter method at workload level and set all tasks to the new value:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/Resubmission.py#L42

The bad news is, I have no idea how to fix it and keep the flexibility of updating Memory setti

[2017-06-21 20:09] ticoann commented on #7940
Thanks Alan for doing that. It seems even with this list, we can remove half of the plugins in the code.

[2017-06-21 22:01] #7941 closed

[2017-06-22 02:22] hufnagel commented on #7940
As a proposal how to move forward, how about we remove what we obviously can. Then instead of fighting to have sites change to change their stageout so we can remove more, we look at a very limit list of plugins that we want to support in the next version of the stageout code. Then when that code is ready the argument to get sites to switch will be stronger.

I assume here that even if we rework t

[2017-06-22 02:27] hufnagel commented on #7940
Of course, all sites currently using something obviously deprecated (lcg-cp, ahem) we should more or less force / strongly suggest to that they switch to gfal. And if a site is the only user of another plugin, we might have site support ask what's so special they need their own plugin.

My argument is more from the development angle, if we are serious about switching to new stageout code, any clea

[2017-06-22 03:17] ticoann commented on #7940
I agree with Dirk. I will first clean up the not used ones on the list. Then we can discuss further.

[2017-06-22 07:05] stlammel commented on #7940
Removing plugins not on the list may cause problems as Alan's list
excludes Tier-3s.
I don't know the history of having so many plugins but agree to
reduce them to just one (or a few) well supported ones.
                                                   cheers,  Stephan

[2017-06-22 20:20] gastonlp commented on #7940
Hi Everyone,

Here's a list including T3 sites for local stage out:

Plugin, # of sites
cp,  13
gfal2 , 23
rfcp, 2
rfcp-2,  1
srmv2, 18
srmv2-lcg, 58
stageout-xrdcp-fnal,  6
vandy, 1
xrdcp, 9

For the fallback

 cp, 4
 gfal2,22
 rfcp,1
 srm,4
 srmv2,32
 srmv2-lcg,54
 stageout-xrdcp-fnal,6
 xrdcp,8

I would like to ask what is the timeline for removing srmv2, as currently 76 sites use a variation o

[2017-06-23 07:20] stlammel commented on #7940
Thanks Gaston! The srmv2* we'll keep for right now. srmv2-lcg will
be phased out with SL 6.
                             cheers,  Stephan

On Thu, 22 Jun 2017, gastonlp wrote:

[2017-06-23 10:54] amaltaro commented on #7463
Indeed it sets the new value only for the top level. Checking...

[2017-06-23 19:53] #7925 closed

[2017-06-23 19:54] #7900 closed

[2017-06-24 02:01] #7942 closed

[2017-06-24 02:03] #7919 closed

[2017-06-24 03:09] #7463 closed

[2017-06-24 03:16] #7917 closed

[2017-06-26 13:15] #7798 closed

[2017-06-26 14:51] amaltaro commented on #5712
@ticoann was this fix added in #7933 ?

[2017-06-26 15:48] ticoann commented on #5712
I would say partially. Still need to see how the cmssw error propagate.

[2017-06-26 19:39] #7918 closed

[2017-06-26 20:26] vlimant opened #7968 "Mapping OutputDataset to TaskName"
in case of step/task chain, what is the best way to get
{
"Task1": ["output1"],
"Task2":[].
...
}

type of dictionnary ?

[2017-06-27 03:10] ticoann commented on #7968
It seems we don't store OutputDataset by Task in reqmgr couch db. Only the list of Outdatasets for the whole workflow. Is there any correlation between task name and output datasets?

You can query like following to get the list separately.  (real task name, not Task1, etc)

https://cmsweb.cern.ch/wmstatsserver/data/filtered_requests?RequestStatus=running-closed&RequestType=TaskChain&mask=OutputDa

[2017-06-27 04:30] #7914 closed

[2017-06-27 12:12] vlimant commented on #7968
is there a way to get this from the "spec" https://cmsweb.cern.ch/reqmgr2/config?name=pdmvserv_task_BPH-PhaseIISpring17GS-00004__v1_T_170621_142219_4260 ?

[2017-06-27 12:49] amaltaro commented on #7968
This information is not stored anywhere but in the internals (object wise) of the workload. Each request has a list of output datasets. Said that, the only way to figure that out is coding against the WMCore libraries (and I'd rather keep it like that unless there is a very good reasoning behind it).

[2017-06-28 15:00] amaltaro opened #7977 "StepChain: support DeterministicPileup"
Apparently it's not supported in this spec. Or it's not supported for EventBased, I have to check ...

[2017-06-28 15:02] #7890 closed

[2017-06-29 09:57] amaltaro opened #7978 "StepChain: tricky merge PrepID inheritance (correct for TaskChains)"
This is how we made StepChain support different PrepID settings in a Step basis:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L671

since it's a merge task, it should have the same arguments as the parentTask (production/processing). So far so good!

Problem is, it should inherit the **workload** value for StepChains. Following the standard behaviour: if

[2017-06-29 11:18] amaltaro commented on #7978
I just exchanged a few emails with Antanas and it seems we could indeed remove that handling. McM always provide the same set of arguments inside a Task/Step.

Useful information from his email:
"""
more or less we have. Basically we always set same parameters and we do not check if they are optional or not. Global params are added here:
https://github.com/cms-PdmV/cmsPdmV/blob/master/mcm/rest_api

[2017-06-29 14:54] amaltaro opened #7979 "StepChain: lfnBase updated to top level task settings in the output modules"
If a StepChain workflow is assigned without AcqEra/ProcStr/ProcVer settings, its output modules (lfnBase, thus unmerged LFN) get updated to the task level settings.

Found it while I write unittests for #7929

A rough snippet to replicate it would be something like (from StepChain_t.py):
[code]

[2017-06-29 19:12] amaltaro opened #7981 "StepChain: setSubscription doesn't work with dup output modules"
Apparently related to this issue https://github.com/dmwm/WMCore/issues/6787 , regardless whether one is set to KeepOutput=False.

This is the code: https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkload.py#L1181

[2017-06-29 21:08] vlimant commented on #7559
@ticoann @amaltaro coming back to this with schedd entering dangerous grounds of throttling the amount of work running. We need to think about the mechanism to prevent new work to get in agent already maxed out, and leave it some time to chew on already acquired work.

I would push this a bit higher up in the priority list @ericvaandering

[2017-06-29 21:09] vlimant commented on #7559
FYI @scarletnorberg @mcremone @thongonary

[2017-06-29 21:17] amaltaro commented on #7559
We can certainly improve the thresholds and how work gets pulled/matched against available resources.
However, a short solution for this would be decreasing the site thresholds. We used to have pending percent set to 50% long ago (now it's 100%), overflow came in and you asked it to be bump to have the possibility to play with jobs in condor. This is just a bad side effect of that.

Again, it does

[2017-06-30 08:21] vlimant commented on #7559
Can you please explain how reducing the thresholds will improve the situation with a schedd throttling on running jobs ? how will we keep the pending job pressure high enough for the glidein mechanism to serve production well ?

[2017-06-30 09:40] amaltaro opened #7982 "JobAccountant creating huge stderr.log"
Happened in vocms0311 when a monster workflow (almost 2M jobs) got aborted. ComponentLog size is Ok (MBs), but stderr.log went up to 410GB from night to day.

More info on: https://its.cern.ch/jira/browse/CMSCOMPPR-1082

I'm cleaning that now, but we need to check what exactly happened and fix it. In addition to protect the system from such bad workflows (badly assigned).

BTW, that workflow was a

[2017-06-30 12:54] aperezca commented on #7559
Hi guys,

I agree with JR's comment regarding the need of keeping high numbers of pending jobs for the glideinWMS FE to trigger the submission of new glideins, to always maximize our use of the resources. However, increasing the load per schedd risks:

-the glideinWMS FE ignoring the schedd completely if it is too close to the limits of running/queued jobs

-the HTCondor negotiator being slowed do

[2017-06-30 14:15] amaltaro commented on #7559
Reading this thread from the beginning, your initial report was on: "can we make the agent stop acquiring work once it hits 80% of its running limit?", which - as discussed - is something not easy to figure out and it can vary.

Second request was "can we stop acquiring even more work when the schedd is maxed out". That's what my reply was for. LQ pulls wokr down based on the pending slots thresho

[2017-06-30 14:45] amaltaro commented on #7982
Forgot to mention, this was part of the sterr.log content when the crash happened:
[code]

[2017-06-30 15:39] ticoann commented on #7982
Ah, Alan. I was confused about the problem when we discussed. So it is stderr.log from Component not condor.out, right? So what you did was removed stderr.log. Correct?

[2017-06-30 15:54] ticoann commented on #7982
Alan, also it is running in debug mode now. I will change to info mode. and delete stdout.log as well.
I am not sure what will be better solution but
1. remove unnecessary output
2. lotate log and zip old log.

I think we can do both but 1. would take time for going through.  So maybe try 2. first and see.

[2017-06-30 15:59] ticoann commented on #7982
Actually it is not in debugging mode but all the debug message is going to stdout.log. I will check what happened

[2017-06-30 16:32] ticoann commented on #7982
most stdout is filled with this (I will create the patch to remove that)

[code]

[2017-06-30 16:48] ticoann commented on #7982
@amaltaro, Alan, are we even using stdout.log and stderr.log for anything or we just use ComponentLog? If that is the case, I can just remove those logs.

[2017-06-30 18:16] amaltaro commented on #7982
I am - almost - sure that everything that goes to stdout.log and stderr.log also ends up in the ComponentLog file. So we could really not have any of those other standard files and rely solely on ComponentLog. That would be ideal.

The problem is not really removing the logging, but writing all the log to the correct file :-)

[2017-06-30 18:33] ticoann commented on #7982
I think we are writing all the logs 3 different locations with duplicate information. That is why I would remove those if we are not searching for the information from there. Then we can do 1., 2. point above against ComponentLog.

One thing is that we are putting a lot more information to stdout.log somehow (dashboard result) then Component log. After removing those logs, (if they are not used),

[2017-07-02 04:38] vlimant commented on #7559
Ok to less agents in production at once, and hopefully large single-core workflows will disappear in favor of multi-core ones.

Can we introduce a global re-scaling factor to lower the thresholds globally for the "LQ pulling" with respect to the "job submitting" part ? so that we mitigate the situation about high thresholds.

What can be done to operate any limitation on the agent ? there is infor

[2017-07-03 11:16] aperezca commented on #7559
Alan, my point is that perhaps the easiest solution to solve the puzzle of keeping the pool busy but preventing the schedds from running at max is simply to distribute the load. Yes, you could fill the pool with 6 machines (6 x 25k = 150k, so still not the full pool, but ok, that depends on the single/multicore job ratios, as JR mentions). But you'd need them running with little or no safety margi

[2017-07-03 13:44] bbockelm commented on #7559
Hi,

The conversation seems to be getting away from the point of the ticket.

There's a simple 10-ish lines of Python that can be to determine whether the schedd is already past the limit, right?  Can we simply add a check for that and avoid acquiring new work on the local agent until we are below threshold?

Brian

[2017-07-03 15:00] #7675 closed

[2017-07-03 16:33] #7661 closed

[2017-07-03 16:34] #7982 closed

[2017-07-04 03:00] #7759 closed

[2017-07-04 11:33] amaltaro commented on #6445
Almost 2 years has passed, this feature has never been used in production and apparently it isn't really an issue, thus I'm closing it.
If someone has a strong argument to keep it open and to get something fixed, please make it and reopen the issue.

[2017-07-04 11:33] #6445 closed

[2017-07-04 12:56] vlimant opened #7988 "JobSplitting not matching the 8h target"
Looking at

https://cms-gwmsmon.cern.ch/prodview/pdmvserv_task_TOP-RunIISummer15wmLHEGS-00237__v1_T_170701_124014_5751
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_TOP-RunIISummer15wmLHEGS-00237__v1_T_170701_124014_5751

the miniaodsim jobs do not seem to be coming out as expected.

{
    "splitAlgo": "EventAwareLumiBased",
    "splitParams": {
      "trustPUSitelists": true,
      "algo

[2017-07-04 13:23] amaltaro opened #7989 "Cronjob to update the CMSSW releases has to be updated"
according to these changes: https://github.com/dmwm/WMCore/pull/7783

I've just received an automatic email with the following error:
[code]

[2017-07-04 18:31] PerilousApricot opened #7990 "Stageout executor handles exit codes wrong"
Hi,

I was tracking down some false positives at Vanderbilt (where stageouts were thought to have succeeded but they actually failed) and found a painful WMCore bug. See the following snippet, which is a simplified version of the actual code (https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Storage/Execute.py#L77)

[code]

The code actually returns `0` to its caller, instead instead of

[2017-07-05 07:37] amaltaro commented on #7989
Ohh, only now I see there is a cherrypy thread to update the CMSSW versions. So we need just need to update the deployment script not to push that cronjob and delete the `software` doc from couchdb.

[2017-07-05 07:54] amaltaro commented on #7989
Deployment updated: https://github.com/dmwm/deployment/pull/510

[2017-07-05 14:53] ticoann commented on #7990
Thanks Andrew for reporting a problem.

[2017-07-05 20:32] vlimant commented on #7988
@ericvaandering is this worth looking into or we drop the ball on TaskChain and just deprecate it as soon as StepChain can support all usecases (which will not work for taskchain that start from pLHE files ... another long standing never solved topic ... )

[2017-07-05 20:42] ericvaandering commented on #7988
What is SizePerEvent?

I don't know enough from the links you sent to understand how long the jobs are actually estimated to be.

[2017-07-05 21:48] vlimant commented on #7988
SizePerEvent is barely used in this context, it's an estimation of the output size per event.

the debug table on gwmsmon for that task says

WallTime	Memory	Cpus	Running	Idle	Scheduler	Desired Sites	Warnings
25	5900	4	0	10	vocms0308.cern.ch	1
20	5900	4	0	14	vocms0308.cern.ch	1
32	5900	4	0	2	vocms0308.cern.ch	1

20 to 32 min requested walltime, while it should be about 480 if there was enough work

[2017-07-06 09:49] amaltaro commented on #7988
According to oracle database:
[code]

just by a glance, it seems the Task4 jobs are getting created with an average of 6 lumis (thus ~1200 evts instead of 28800). There are some jobs that have only 1 lumi section though.

Regarding the number of files associated to each job, we can see that there are jobs "processing" part of a total of 5 or 4 files. The weird thing are those jobs processing only

[2017-07-06 09:59] amaltaro commented on #7988
Wait, I got something wrong from that table... let me update my previous comment.

[2017-07-06 11:19] amaltaro commented on #7989
@ticoann just to close this issue. From your PR, I'd say we no longer need this doc in testbed:
https://cmsweb-testbed.cern.ch/couchdb/_utils/document.html?reqmgr_auxiliary/software

same for production after the upgrade. Can you please confirm?

[2017-07-06 15:52] amaltaro commented on #6787
And for my information, the reason jobs from different datatiers ran under the same merge job is that they were associated to the same fileset, since the fileset follows the `taskName + outputModule` convention, like
[code]

where we - of course - cannot create two:
` '/TestWorkload/GENSIM/unmerged-RAWSIMoutput',`

thus the only way forward is changing how the fileset naming is created. I have a "

[2017-07-06 16:01] ticoann commented on #7559
I think controlling the pending threshold (if we can find optimal case between pressuring the condor and not pulling dow too much work so work could get stuck which can be distributed to other agent) would be enough solution as Alan said.
However, as Brian said we can focus on that aspect which seems to be simple to add. I am not sure about the side effect it might causes. (Especially if the measu

[2017-07-06 16:07] ericvaandering commented on #6787
Fileset names are just arbitrary placeholders in WMBS, right? From what I've seen on what I'm working on, if you don't name them they just get a UUID.

I don't understand how adding the data tier helps. It's already there in GENSIM, right?

[2017-07-06 16:14] amaltaro commented on #6787
Not really, filesets are named after workflow + task name + (merge or unmerge) + output module.
Only the top level fileset is named with a UUID (if there is not input data), otherwise the block name is appended to it (or the dataset?)

GENSIM in the example above is just my task name (actually, StepName for the first step (Step1)).

[2017-07-06 16:17] bbockelm commented on #7559
There is no way to control the pending threshold because the limit is a dynamic number -- an appropriate pending threshold today may not be an appropriate one tomorrow.

We can *not* accurately say "we are at 95% of the limit" (as it is essentially the same problem as above).

However, we *can* say quite reliably "we are past the limit".

[2017-07-06 16:33] ticoann commented on #7559
Pending threshold doesn't have to be static. I was just wondering what would be the relation between optimal pending threshold regards to other factors running limit, current running job, etc.
If you know formula on this even roughly, that could help to improve setting the pending threshold. (Still this would be hard problem for us, since there is no way to find if job will go to certain site, - d

[2017-07-07 09:26] amaltaro opened #7992 "Top level fileset naming"
Trying to figure why we add either a) the block name or b) a hash of the mask to the top level fileset name:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/WMBSHelper.py#L223

github blame brings me to 7 or 6 years ago and it's still not clear whether it was fixing something or just thinking ahead...

@ticoann @hufnagel do you see any reason for keeping that? Given spec nam

[2017-07-07 09:45] vlimant commented on #7906
@amaltaro @ticoann

[2017-07-07 09:51] amaltaro commented on #7906
I think this `Reason` from the condor.log file is the same as the `RemoveReason` present in the job classad once it gets removed by condor.

As already discussed with Brian and the CRAB team, checking the job history classAds is **not** the proper way to do post-mortem handling, thus what we can do is to check this condor.log file and basically publish the reason content (which is not that clear b

[2017-07-07 17:09] amaltaro commented on #7992
Nevermind! That was a stupid question! I just learned we create one top level fileset for each WQE acquired by the agent.

[2017-07-07 17:09] #7992 closed

[2017-07-07 19:59] ticoann commented on #7559
@bbockelm, Hi Brian, how I can get the information using python binding.
Farrukh showed me how to get the information from condor command

[code]

But I try to construct the python binding code but failed.  (http://research.cs.wisc.edu/htcondor/manual/v8.7/7_7Python_Bindings.html)

Thank you for your help in advance.

[2017-07-10 03:23] bbockelm commented on #7559
Hi,

The most efficient way of doing this via python is:
[code]

That will query the local default schedd.  You'd probably hew to the manual's documentation a bit more closely if you want to query a remote schedd.

Brian

[2017-07-10 03:42] ticoann commented on #7559
Thanks Brian for the example. Actually, I tried with similar comments before.

[code]
But result is gives was not a boolean.

[code]

When I switched htcondor.DaemonTypes.Schedd -> htcondor.AdTypes.Schedd as your example above it gives me the following error.

[code]

[2017-07-10 03:50] ticoann commented on #7559
Hmm, it seems I can get following values as well.

[code]
So can I just plug in this values to get scheddAd['CurbMatchmaking']?
[code]

[2017-07-10 07:41] amaltaro commented on #7559
Seangchan, this `CurbMatchmaking` is a ExprTree object, you can evaluate it with:
[code]

[2017-07-10 12:56] thongonary commented on #7894
@amaltaro A similar issue happened at Purdue: https://hypernews.cern.ch/HyperNews/CMS/get/relval/7838.html

Given that this is a relatively small PU, could you please consider reducing the cache lifetime to a few minutes?

[2017-07-10 14:15] ticoann commented on #7559
Thanks Alan, is False means shedd is not reach the limit yet, correct?

[2017-07-10 15:25] amaltaro commented on #7559
That's correct!

@bbockelm and would you know why a schedd running more than 0.97 * 22000 condor shadow processes is considered overloaded? Is it a hardware limitation?
If that's the case, maybe we should simply drop the MAX_RUNNING_JOBS such that we don't go beyond 21k jobs in one single schedd.

[2017-07-10 15:42] ticoann commented on #7559
How about the second condition? Can schedd deamon be slow down due to the various reasons other than the number of running jobs?

[code]

[2017-07-11 11:38] vlimant commented on #7990
@ticoann @amaltaro is there a patch lining up for this issue ?
@PerilousApricot is there any issue with the rolling back to srm https://ggus.eu/index.php?mode=ticket_info&ticket_id=128809#update#17
I am assuming that other sites could be affected and this might have serious consequence on storage consistency.
Jean-Roch (CRC)

[2017-07-11 14:10] ticoann commented on #7990
@vlimant, There is no patch yet but I will investigate. I am not quite understand how this code works. Did you observe the same problem for any other sites? It seems that part of code was there since the beginning. I would suspect we would have a lot more cases like this before.

[2017-07-11 14:55] bbockelm commented on #7559
@amaltaro - In the config file, I think the expression is something like `ShadowsRunning > 0.97 * $(MAX_RUNNING_JOBS)`.  The `MAX_RUNNING_JOBS` is substituted at reconfig time.

The interaction of `CurbMatchmaking` and the `MAX_JOBS_RUNNING` is somewhat asynchronous.  Hence, you want to stop accepting new matches _before_ you hit the hard limit.

@ticoann - the second condition is a catch-all for

[2017-07-11 15:28] PerilousApricot commented on #7990
@vlimant Ugh, my laptop is in the shop, so I'm temporarily using another machine that doesn't have my grid cert, so I can't see the GGUS ticket. If it's the "lost files" ticket, then I think moving to gfal fixes it.

To prevent from having to update WMCore each time we want to change our local stageout scripts, we store them in GPFS. What I think happened is that either a) GPFS wasn't properly mou

[2017-07-11 16:01] bbockelm commented on #7990
The problem commit is this one: https://github.com/dmwm/WMCore/commit/175338d0b0a87111d8fdd2f3aad00d5699797e52

It assumes that the integer returned by `popen2.Popen3.wait` has the same semantics as the integer returned by `subprocess.Popen.wait`.

`popen2` returns the status code from, basically, `os.wait`, which is compatible with the `os.WIF*` functions and does the right thing.

`subprocess` r

[2017-07-11 16:15] ticoann commented on #7990
Thank you very much, Brian, I didn't know (I wouldn't have known that). I will create the patch for this.

[2017-07-12 09:26] vlimant opened #7997 "Can we enable lazy download when LheInputFiles is true"
It looks like the lhe eos space is exported via xrootd, and therefore we should be able to run pLHE type of workflows at other place than CERN, but having the lazy download should be enabled so as to limit the read.
How does one change that ?

[2017-07-12 14:05] amaltaro commented on #7989
`software` doc deleted from both testbed and production. Closing this issue.

[2017-07-12 14:05] #7989 closed

[2017-07-12 17:51] johnhcasallasl opened #8001 "Replays not writing to the backfill area on eos"
Hello:

We have noticed that the output from the recent replays is not going to the
/eos/cms/tier0/store/backfill/1/data/ area, but to the /eos/cms/tier0/store/data/ area. We checked the Tier0  configuration and everything seems to be properly set up.  Operationally it not causing particular problems right now, but it is not the expected behavior. Discussing it with @hufnagel, it is likely related

[2017-07-12 17:53] hufnagel commented on #8001
No time to look into it due to the Princeton workshop. But nothing changed in the Tier0 code that overrides MergedLFNBase and UnmergedLFNBase, so my first order assumption is that for some reason these parameters reset back to default values for some reason.

[2017-07-13 08:38] amaltaro commented on #7936
Just for the record, we've just hit the same issue on a SL6 node at FNAL which apparently upgraded the voms-client to 2.0.14. WMAgent comp package was built using the current production scram (slc6_amd64_gcc493).
I'm going to ask Krista not to upgrade it on the production nodes because I won't be looking at this issue in the coming days/week, at least.

[2017-07-13 14:41] amaltaro opened #8002 "Add validation to MergedLFNBase/UnmergedLFNBase arguments"
We have these LFNs defined here:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/Tools/cms.py#L68

and unmerged just below it. I suggest we create a validate function in the Lexicon module and call that function from the StdSpecs validate function.

Or even better, we could have these MergedLFNBase lfns in the aux db

In addition to that:
* remove the assignment default values

[2017-07-13 14:42] amaltaro commented on #8002
BTW2: Ops does not rely on the default assignment values:
https://github.com/CMSCompOps/WmAgentScripts/issues/235

[2017-07-13 14:52] ticoann commented on #4533
In favor of #7724 closing this.

[2017-07-13 14:52] #4533 closed

[2017-07-13 14:54] ticoann commented on #4394
This is fixed

[2017-07-13 14:54] #4394 closed

[2017-07-13 14:59] ticoann commented on #7454
duplicate #5486

[2017-07-13 14:59] #7454 closed

[2017-07-13 15:01] ticoann commented on #4799
duplicate #5486

[2017-07-13 15:01] #4799 closed

[2017-07-13 15:02] amaltaro opened #8003 "Refactor updateLFNsAndDatasets usage"
Issue to be labelled as: fix once all the other WMCore issues have been fixed :-)

It deserves refactoring because we may call the same method up to 4 times during the creation or assignment of a workflow.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkload.py#L613

where it should be called only once, after all the other setters were called.

[2017-07-14 06:57] amaltaro opened #8004 "Execute stage out commands with runCommandWithOutput"
From #7996, we should execute the stage out commands with runCommandWithOutput instead of the non-output version.

Here is one that keeps only the return code:
[code]

[2017-07-14 14:39] ticoann commented on #8004
Thanks Alan, I will update the code once #7996 is merged (I still need to investigate and fix the unit tests)

[2017-07-14 16:06] #7977 closed

[2017-07-14 20:47] hufnagel commented on #8002
The current validation breaks the Tier0.

AssertionError: '/store/backfill/1/data/Tier0_REPLAY_vocms001/HLTPhysics/RAW/v125' does not match regular expression /store/results/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\-_]+)/([a-zA-Z0-9\.\-_]+)/([A-Z\-_]+)/([a-zA-Z0-9\-_]+)

This prevents the latest T0 release from being used (it "worked" before since we didn't override the LFN at assignment and got the wrong/de

[2017-07-14 20:55] hufnagel commented on #8001
Ok, it seems during "assignment", ie. WMWorkload.updateArguments(), the LFN bases reset to the default values. To prevent this from happening, I made a change in the Tier0 code and now pass ALL parameters again to the updateArguments.

https://github.com/hufnagel/T0/commit/af85db1bd695de1abf7eff8a277852c12a1640a2

@amaltaro @ticoann can you comment on whether this is OK ?

Also, with this change,

[2017-07-14 21:05] ticoann commented on #8002
@amaltaro, Alan, all suggestions sounds good to me.
@hufnagel, Dirk, you are validating LFN base, right? Actually that is just last checking. For T0, the actual validation happens below.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Lexicon.py#L393

Is that the all the string? Is seems '(counter)' part is missing.

[2017-07-14 21:09] hufnagel commented on #8002
The counter is not part of the base, never has been. It's injected by WMCore itself, like for any other workflow.

[2017-07-14 21:09] ticoann commented on #8001
I think that is fine as long as it passes the correct values.

[2017-07-14 21:11] hufnagel commented on #8002
Isn't the counter injected into the LFN in runtime stageout code ?

[2017-07-14 21:13] hufnagel commented on #8002
Ah, no, these are the directories based on the run number. Let me check where they are added...

[2017-07-14 21:13] ticoann commented on #8002
I think is added here. https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMTask.py#L1662

[2017-07-14 21:16] hufnagel commented on #8002
Yes, which means we cannot override the LFN bases during assignment for Tier0 workflows since they are specially constructed when the workflow is created and only then.

[2017-07-14 21:17] ticoann commented on #8002
I think the problem is it fails here in Tier0
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L514

We are using the same validation function when spec is created and task is created but for tier0, it needs to use different lexicon for those case (one with counter - run number) one without it.

[2017-07-14 21:19] #7990 closed

[2017-07-14 21:21] hufnagel commented on #8002
Nah, I think one version with only the counter - runnumber is fine. I just can't pass the version without the counter - runnumber to the updateArguments() method.

Basically, the LFN bases that are passed to spec creation is not the LFN base that is internally set in the spec. I need to pass that new version to updateArguments(), which means I need to retrieve the changed LFN bases after creation.

[2017-07-14 21:23] hufnagel commented on #8002
Basically, if a value for a parameter already exist in the spec after creation, why does the assignment fall back to default values instead of using that pre-exisiting value ?

[2017-07-14 21:30] ticoann commented on #8002
But isn't that the code actually gives you the error?

LFN base is parameter which need to be specified in assignment in Production/Processing workflow.  But Tier0 it is set in creation

If setting is skipped here when LFNBase is not passed, would that work?
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L514

[2017-07-14 21:54] hufnagel commented on #8002
Yeah, you are right. My idea doesn't work because WMWorkload.getMergedLFNBase doesn't return the counter - runnumber either. It's only set internally.

 The code you point at doesn't fail btw. It's somewhere else

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMTask.py#L1668

although the error message I get points at a different line number. Were there changes in this code r

[2017-07-14 22:03] hufnagel commented on #8002
File "/data/tier0/srv/wmagent/2.0.8/sw/slc6_amd64_gcc493/cms/t0/2.0.8/lib/python2.7/site-packages/T0/RunConfig/RunConfigAPI.py", line 682, in configureRunStream
    wmSpec.updateArguments(specArguments)
  File "/data/tier0/srv/wmagent/2.0.8/sw/slc6_amd64_gcc493/cms/wmagent/1.1.4.patch1/lib/python2.7/site-packages/WMCore/WMSpec/WMWorkload.py", line 1652, in updateArguments
    self.setLFNBase(kwarg

[2017-07-14 23:09] hufnagel commented on #8002
Ok, I finally see the real problem.

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkload.py#L1728

does not check for a runnumber being present and pass that runnumber. You cannot call setLFNBase for Tier0 workflows and not pass the runnumber, this will lead to wrong LFN bases.

[2017-07-15 06:21] amaltaro commented on #8002
I see you guys had lots of fun yesterday evening :-)
Dirk, I'll make a new PR by Monday which might superseed yours. As partly described here, I think we should: a) remove the default value from assignment and b) not update LFNBases if there is no value or it's null.

[2017-07-15 14:03] hufnagel commented on #8002
Ok, I'll wait for your take on this then and wait announcing my changes til Monday at least. They do fix the problems of the wrong LFN for Tier0 replays, so I don't want to wait too long though...

[2017-07-17 15:33] hufnagel commented on #8001
Fixed by #8007

[2017-07-17 15:33] #8001 closed

[2017-07-17 16:05] vlimant opened #8008 "Job Splitting using SizePerEvent"
based on the failures of

https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_MUO-PhaseIISNBSpring17GS-00002__v1_T_170713_102113_8656

would it be possible to have the job splitting or all steps to "floor" the number of events/job lumis/job taking into account the 27GB known limit and the provided SizePerEvent.

It could be failing the assignment if this turns out to be impossible  with the cur

[2017-07-17 16:06] vlimant commented on #8008
@thonganary

[2017-07-17 16:11] vlimant commented on #8008
@thongonary

[2017-07-17 16:46] vlimant commented on #8008
either this or that https://github.com/CMSCompOps/WmAgentScripts/issues/230

[2017-07-17 17:00] #7559 closed

[2017-07-18 11:59] amaltaro opened #8010 "Update stage out commands to return the correct exit code"
As mentioned in #7996 , the stage out commands executed in a sub shell may not return the proper exit code. We need to save `$?` value before anything else and evaluate against that.

I'll fix it today/tomorrow.