[2017-11-16 09:34] amaltaro opened #8339 "Support IncludeParents on TaskChain/StepChain"
Right now it's only supported at top level dict, during creation time.
We have to support it on Task/Step inner dict, when it has InputDataset.

[2017-11-16 10:28] amaltaro opened #8340 "Incomplete error message when PhEDEx is not available"
I've just seen it in vocms0253 (while there was a _transparent_ cmsweb upgrade):
[code]

fixing it

[2017-11-16 13:55] amaltaro commented on #8263
I've applied this temporary patch:
https://github.com/amaltaro/WMCore/commit/f001e8cf38b684bc67324925789c564db63ad2f9

to debug this issue.

It might be getting stuck in the wmbs operations for this request
[code]

though I don't see any problems with it, besides the MCFakeFile as parent, as Seangchan already noticed and created an issue.

[2017-11-16 14:17] #8340 closed

[2017-11-16 15:35] ticoann commented on #8332
@yiiyama, Yutaro, what exact information you are extracting and what API are you plan to use?

[2017-11-16 15:42] jenimal commented on #8336
We had jobs running during the time that the site was in the waiting room:
https://cmsweb.cern.ch/wmarchive/web/performance?metrics[]=jobstate&axes[]=host&axes[]=jobstate&axes[]=site&start_date=20171109&end_date=20171114&aggDB=aggregated&aggCol=day&site=T2_RU_INR

@mapsacosta@gmail.com

[2017-11-16 18:36] mapsacosta commented on #8336
Hi Alan,

As an example, this query [1] from dashboard from 11/13 to 11/15 (Timeframe in which the site was still in the WR) has lots of aborted/failed production jobs.

[1] http://dashb-cms-job.cern.ch/dashboard/templates/web-job2/#user=&refresh=0&table=Jobs&p=1&records=25&activemenu=1&usr=&site=T2_RU_INR&submissiontool=&application=&activity=&status=&check=submitted&tier=&date1=2017-11-13+18%3A0

[2017-11-17 15:06] amaltaro commented on #6560
Merge jobs still go to a site in drain mode:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobSubmitter/JobSubmitterPoller.py#L340

closing this issue.

[2017-11-17 15:06] #6560 closed

[2017-11-17 15:07] amaltaro commented on #8336
I see some jobs submitted from vocms0252, though I'm not sure whether those were Production/Processing jobs or merge/logcollect/cleanup.

Mind that the following job types can still be submitted to a site in drain:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobSubmitter/JobSubmitterPoller.py#L340

[2017-11-17 15:12] scarletnorberg commented on #8263
ent: vocms0253.cern.ch (1.1.6.patch5)
agent last updated: 2017/11/17 (Fri) 15:09:13 UTC : 0 h 0 m
data last updated: N/A
status: Components or Thread down;
team: production
component errors for: WorkQueueManager
WorkQueueManager
worker thread: WorkQueueManagerWMBSFileFeeder
status: Timeout
last updated: 2017/11/17 (Fri) 09:48:48 UTC
pid: 2021375
error message:
Last worker thread heartbeat was 320

[2017-11-17 18:00] DAMason opened #8345 "PerformanceMonitor.py only doing soft kill on memory?"
Seeing in this workflow now with cmsRun processes reaching >100G in many places at FNAL currently.  The jobs realize this and only do a casual attempt at suicide:

workflow: Request pdmvserv_task_PPD-RunIISummer17PrePremix-00004__v1_T_171113_092409_4193

2017-11-17 03:53:45,590:ERROR:PerformanceMonitor:Attempting to kill step using SIGUSR2
2017-11-17 03:58:45,677:INFO:PerformanceMonitor:Retrieved

[2017-11-17 21:59] amaltaro commented on #8168
It can't be done. First, because it's a very expensive process, second, because we'd need to acquire all elements from GQ, run the job splitting and only then fail jobs.

[2017-11-18 06:37] amaltaro opened #8346 "Fix unified transferor unstable unit tests"
WMCore_t.Services_t.MicroService_t.Unified_t.Transferor_t.TransferorTest:testRequestManager changed from success to error
WMCore_t.Services_t.MicroService_t.Unified_t.Transferor_t.TransferorTest:testRequestManagerAutomation changed from success to failure

[2017-11-18 22:04] vkuznet commented on #8346
Can you put pointer to the actual log. The test relies on phedex data-service, so it may be fragile depending on data availability. I need to see the actual log with failure to understand the reason.

[2017-11-19 07:11] vlimant commented on #8168
it  might be expensive, fine. It would considerably help cutting on tails though, until better days come.
better days include : being able to change splitting, changing memory, changing time/event, ... on the resubmitted job.

[2017-11-19 09:16] amaltaro commented on #8168
These are coming, eventually :) I'm closing this one

[2017-11-19 18:37] vlimant commented on #8168
when, @amaltaro ?. In the meantime, this is one way things can get significantly improved for data reprocessing and funky campaign that gets high priority. So I insist on getting a more in depth estimation on how this can be done

[2017-11-20 04:23] scarletnorberg commented on #8263
agent: vocms0251.cern.ch (1.1.6.patch4)
agent last updated: 2017/11/20 (Mon) 04:20:00 UTC : 0 h 0 m
data last updated: N/A
status: Draining Agent; Components or Thread down;
team: production
component errors for: AgentStatusWatcherAgentStatusWatcher
worker thread: DrainStatusPoller
status: Timeout
last updated: 2017/11/20 (Mon) 03:03:48 UTC
pid: 4051645
error message:Last worker thread heartbeat w

[2017-11-20 04:38] scarletnorberg commented on #8263
This is after the oracle issue
agent: vocms0254.cern.ch (1.1.6.patch6)
agent last updated: 2017/11/20 (Mon) 03:01:27 UTC : 1 h 31 m
data last updated: N/A
status: Data is not updated: AnalyticsDataCollector Down; Components or Thread down;
team: production
component errors for: JobAccountant
JobAccountant
worker thread: JobAccountantPoller
status: Timeout
last updated: 2017/11/20 (Mon) 02:28:04 UT

[2017-11-20 04:39] scarletnorberg commented on #8263
This is after the oracle issue
agent: vocms0258.cern.ch (1.1.6.patch4)
agent last updated: 2017/11/20 (Mon) 03:02:00 UTC : 1 h 33 m
data last updated: N/A
status: Data is not updated: AnalyticsDataCollector Down;
team: relval

2017-11-20 05:32:14,393:140633064466176:INFO:AnalyticsPoller:Getting Job Couch Data ...
2017-11-20 05:32:14,707:140633064466176:INFO:DataCollectAPI:Found 183 requests
2017-1

[2017-11-20 04:45] scarletnorberg commented on #8263
This is after the oracle issue
agent: vocms0310.cern.ch (1.1.4.patch2)
agent last updated: 2017/11/20 (Mon) 03:01:46 UTC : 1 h 40 m
data last updated: N/A
status: Draining Agent; Data is not updated: AnalyticsDataCollector Down;
team: production

2017-11-20 05:35:49,551:139895037478656:INFO:AnalyticsPoller:Getting DBS PhEDEx upload status ...
2017-11-20 05:35:49,557:139895037478656:INFO:AnalyticsP

[2017-11-20 09:18] amaltaro commented on #8168
This is not going to be supported nor implemented, that's why I closed it.
It's a hacky way to get documents updated to the acdc server, the performance will be terrible and it can potentially blow up agents (if requests have a few 100k jobs to process). Without mentioning all the orchestration needed in the agent <--> global workqueue logic to get these documents acquired and sent straight to Err

[2017-11-20 09:20] amaltaro commented on #8168
BTW, if there isn't one yet, feel free to open a new issue for every feature you'd like to have in the system and we can discuss it from there. Just throwing a bunch of items that would be interesting isn't helpful at all.

[2017-11-20 09:39] amaltaro commented on #8263
Scarlet, where these not running anymore?
I picked DrainStatusPoller in vocms0251, and the thread had been terminated (oracle issue). I guess you didn't restart AgentStatusWatcher on that agent?

About WorkQueueManagerWMBSFileFeeder in vocms0253, we were working on a patch since the end of the last week, but we might push that in only for the new agent (the component is back to normal business now

[2017-11-20 09:42] amaltaro opened #8347 "WMStats should report AgentStatusWatcher instead of AnalyticsDataCollector"
I found that AgentStatusWatcher was down (while AnalyticsDataCollector was up), even though wmstats reports an error with `status: Data is not updated: AnalyticsDataCollector Down; `

which basically masks any other component that might be down but not getting reported by AgentStatusWatcher.

[2017-11-20 10:17] amaltaro commented on #8331
Might not be a very good idea... I've just found a merge job for the TaskChain_Relval_Multicore template that had a performance failure:
[code]

[2017-11-20 13:38] scarletnorberg commented on #8263
vocms0251 When I checked it I did not even try restarting it. The log file posted above is what I looked at it was running it stop why it stopped I am not sure but it was not me.
Again if it was list on this it said heart beat issue when I checked the log file the component was running.

[2017-11-20 14:11] hufnagel commented on #8331
Weird. Merge jobs *should* all use fast-copy of baskets which is fast and should use little memory. Might be worthwhile to get a log of that job and figure out what went wrong...

[2017-11-20 14:34] amaltaro opened #8350 "WMAgent couch config is not getting updated"
I might be wrong, but when we try to commit a couch document with an already existent doc id, it doesn't add nor update the document. I noticed this problem while trying to upload the wmagent default configuration (the one we run during the agent deployment):
`$manage execute-agent wmagent-upload-config`

[2017-11-20 14:48] amaltaro commented on #8331
Are you volunteering yourself to look at it? :)

[2017-11-20 14:53] amaltaro opened #8352 "Fix unstable test WMCore_t.WorkQueue_t.WorkQueue_t.WorkQueueTest.testMultipleTeams"
And BTW, multiple teams are no longer supported by the system (there is still some clean up to perform though).

[2017-11-20 15:26] ticoann commented on #8168
Hi Jean-Roch, I don't quite understand what you want to do with this.
1. Do you need all the remaining jobs in ACDC failed so you can have ACDC of ACDC?
2. Do you want to include jobs which hasn't been created (only in GQ/LQ)?

I agree with Alan, if you want to do 2nd option. That will cause too much trouble. It seems it is the same effect as we just wait out all the jobs are created and then make

[2017-11-20 16:36] amaltaro opened #8353 "Check PU location for ACDC workflows at GQ level"
As reported here, the agent should acquire/submit jobs only for the intersection of acdc doc + PU location. Did I miss anything Thong?

[2017-11-20 20:06] ticoann commented on #8353
Aren't we already doing this? Or ACDCs are handled different way?

https://github.com/dmwm/WMCore/blob/master/src/couchapps/WorkQueue/lists/workRestrictions.js#L87

https://github.com/dmwm/WMCore/blob/master/src/couchapps/WorkQueue/lists/workRestrictions.js#L104

[2017-11-21 15:17] #8350 closed

[2017-11-21 16:36] ticoann opened #8355 "dashboard report CE need to be fixed - wmagent reporting site name as CE"
Stephen requested

[2017-11-22 07:58] amaltaro commented on #7427
This should have been fixed by #8247

[2017-11-22 07:58] #7427 closed

[2017-11-22 09:35] amaltaro commented on #8346
Valentin, I'm getting these failures in an opportunistic mode, since it fails from time to time. I've just found logs for `testRequestManager` test, this was the error:
[code]

in case you want to see full logs, have a look at:
https://cmssdt.cern.ch/jenkins/view/DMWM/job/DMWM-WMCore-PR-test/lastCompletedBuild/testReport/WMCore_t.Services_t.MicroService_t.Unified_t.Transferor_t/TransferorTest/test

[2017-11-22 12:59] amaltaro commented on #8346
Log for the second test failure:
https://cmssdt.cern.ch/jenkins/job/DMWM-WMCore-PR-test/6551/testReport/junit/WMCore_t.Services_t.MicroService_t.Unified_t.Transferor_t/TransferorTest/testRequestManagerAutomation/

also to be deleted anytime in the comind days/weeks.

[2017-11-22 15:01] vkuznet commented on #8346
Alan, Seangchan,
could you please tell me if jenkins node provides X509 environment setup?
By inspecting the log I see that
[code]
so the both key and cert are set to None. It means that http calls will fail
to PhEDEx data-service since it requires certificates. But it is unclear
to me if this is the case since tests fails time to time. I also see cachepath
which may cause it. So my question is ho

[2017-11-22 15:10] amaltaro commented on #8346
We should mock all those phedex calls not to have unit tests calling the real data-services.
Valentin, I think it's going to be easier if Seangchan or I fix it (eventually)...

[2017-11-22 15:18] vkuznet commented on #8346
I totally agree, do you have mock class for PhEDEx?
Basically I need subscriptions API.

On  0, Alan Malta Rodrigues <notifications@github.com> wrote:

[2017-11-22 15:55] vkuznet commented on #8346
Alan, Seangchan,
I made a PhEDExMock class to imitate PhEDEx subscription by using actual phedex
data. Please have a look into https://github.com/dmwm/WMCore/pull/8359
It should fix the unit test problem here.
Best,
Valentin.

On  0, ticoann <notifications@github.com> wrote:

[2017-11-22 16:35] scarletnorberg commented on #8263
agent: vocms0251.cern.ch (1.1.6.patch4)
agent last updated: 2017/11/22 (Wed) 16:31:12 UTC : 0 h 3 m
data last updated: N/A
status: Draining Agent; Components or Thread down;
team: production
component errors for: TaskArchiver
TaskArchiver
worker thread: CleanCouchPoller
status: Timeout
last updated: 2017/11/22 (Wed) 15:20:59 UTC
pid: 4051565
error message:
Last worker thread heartbeat was 70 min a

[2017-11-22 17:48] vkuznet commented on #8346
Well, the class didn't support the group parameter which I used in my unit tests.
Therefore, I modified MockPhEDExApi code to provide this functionality and then I was able to
use it. Please review https://github.com/dmwm/WMCore/pull/8359
and let me know if you want to proceed with it.

On  0, ticoann <notifications@github.com> wrote:

[2017-11-22 21:52] ticoann commented on #8346
I see now. One thing is that you don't have to explicitly pass the mock PhEDEx. I will comments directly on the #8359

[2017-11-23 08:47] amaltaro opened #8360 "Pass DB instabilities during heartbeat update"
I'm seeing components going down - usually in mysql agents - from time to time, when there is a database glitch/temporary unavailability. When I connect to the agents, mysql is always running but most of the components went down because they failed to update the heartbeat.

I suggest we catch exceptions (or maybe that specific one) during heartbeat update and simple wait for the next one. If the d

[2017-11-23 10:08] vlimant commented on #8168
@ticoann the purpose is to be able to force a workflow to "completed" status and still have all information in it's ACDC document so that people can go ahead and run the corresponding ACDC workflows with adapted configuration.

[2017-11-26 15:29] #8337 closed

[2017-11-26 15:30] #8278 closed

[2017-11-27 04:30] ticoann commented on #8168
Since we still need to discuss the problem. I am reopening the issue.

As far as I understood, when force-fail happens

1. kill all the jobs if jobs are created/running
2. kill all the jobs which hasn’t been created after waiting for those jobs created. (To have ACDC record)
3. complete workflow - but this has to happen when? (before 1. or between 1, 2, or after 2).

If you can specify what exactl

[2017-11-27 08:36] vlimant opened #8365 "JobAccountant terminated but the heart still beats"
spotted https://cmsweb.cern.ch/reqmgr2/fetch?rid=vlimant_ACDC0_task_TOP-PhaseIITDRFall17wmLHEGS-00017__v1_T_171121_151106_5101 this by chance, in running since 5 days and 70 jobs created, nothing has ran as far as wmstats/gwmsmon says.
I could not spot anything specifically  wrong with the WQE https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/element/d7affcd8abd8c053781fbd3688802

[2017-11-27 08:40] vlimant commented on #8365
fyi @prozober @thongonary @mcremone

[2017-11-27 09:12] vlimant commented on #8326
The regular merging is not at all a problem here, as was explained at length in many places.
The scenario that we encounter weekly now is the follow. A workflow runs for n>2 weeks with several jobs reading unmerged files (reco jobs from NOT merged digi files, because the digi is not kept in output) failing because of something we will be able to recover (memory, job length, site setting, ...) OR a

[2017-11-27 09:12] #8326 closed

[2017-11-27 10:45] #8339 closed

[2017-11-27 11:16] amaltaro commented on #8365
JobAccountant is down since Nov 20th and I see no alarms in wmstats...
It seems the last one that restarted the component didn't care about checking the logs to see whether it was Ok (that could have been me btw)
[code]

there might be something funky with the terminate method of this component, since the unix process is still alive.

Sigh... it has 1M jobs backlogged in this component. From last

[2017-11-27 12:17] vkuznet commented on #8346
Seangchan,
just a reminder that you need to provide feedback directly in #8359.

On  0, ticoann <notifications@github.com> wrote:

[2017-11-27 12:27] vlimant commented on #8365
FYI @scarletnorberg

[2017-11-27 13:11] vlimant commented on #8365
@amaltaro I am assuming that you are thinking of a way to not have such silent failure.

[2017-11-27 14:26] ericvaandering commented on #8326
I've also argued for years that ACDC is fundamentally mis-designed. Relying on merge files still being somewhere in temporary storage is a mis-design.

If I were designing ACDC's today, I'd have a list of work needed for each output that that step knew about. Preceding steps would be the union of the work needed for their children. You wouldn't rely on any input that wasn't registered in DBS.

[2017-11-28 08:54] vlimant commented on #8365
has 0253 catch up ?

[2017-11-28 09:23] amaltaro commented on #8365
nope! The wmstats hearbeat alarm will vanish once the component is up-to-date.

[2017-11-28 13:47] amaltaro commented on #7495
Finally getting back to it. The latest draining campaign went much more smoothly and the only issues we had was related to this issue https://github.com/dmwm/WMCore/issues/8334 (which I still don't know what happen).

Nonetheless, I wrote a "Speedy draining" section to the WMCore/wiki that Seangchan created and I think that would be interesting to have in the agent.

[2017-11-29 06:21] vlimant commented on #8365
0256 has the same pb IMO.
any recent changes to that component that could explain this behavior ?

[2017-11-29 06:28] amaltaro opened #8368 "JobStatusLite failing to read empty condor log"
It complains about mmap'ing an empty file. I'll fix it if it pops up again
[code]

[2017-11-29 06:30] amaltaro commented on #8365
Are you sure you saw alarms for JobAccountant? There is nothing neither in wmstats nor in the logs.
Instead, JobStatusLite has a problem https://github.com/dmwm/WMCore/issues/8368

[2017-11-29 07:54] amaltaro opened #8369 "Bunch of unit tests failing for WMCore_t/WorkQueue_t/WorkQueueReqMgrInterface_t"
Some results here:
https://cmssdt.cern.ch/jenkins/view/DMWM/job/DMWM-PR-unittests/lastCompletedBuild/testReport/

[2017-11-29 11:15] vlimant commented on #8365
maybe not. sorry. I was just seeing that jobs status were apparently not updated

[2017-11-29 12:20] amaltaro commented on #8368
It crashed again and I applied a fix to the Lexicon file in vocms0256. I'll create a patch later on, once I'm done with some changes I'm working on another branch.

[2017-11-29 12:47] vkuznet opened #8370 "need to setup valid certificate for microservice"
The newly deployed microservice is responding on cmsweb-testbed, e.g.
[code]
but I can't place post request to query WQ, e.g.
[code]
produces the following traceback
[code]

So, my question is how do we need to configure microservice that it will be
allowed to query WQ and ReqMgr2? My understanding that we need a valid proxy or
host certificate but it looks like it is not the case on microservice

[2017-11-29 14:12] scarletnorberg commented on #8263
agent: vocms0253.cern.ch (1.1.6.patch5)
agent last updated: 2017/11/29 (Wed) 14:06:19 UTC : 0 h 4 m
data last updated: N/A
status: Draining Agent; Components or Thread down;
team: production
component errors for: JobAccountant
JobAccountant
worker thread: JobAccountantPoller
status: Timeout
last updated: 2017/11/27 (Mon) 19:57:30 UTC
pid: 815048
error message:
Last worker thread heartbeat was 2528

[2017-11-29 14:43] scarletnorberg commented on #8263
Yes I have heard it was more it had not been red and now is red so just keeping tack of things.

[2017-11-29 14:44] scarletnorberg commented on #8263
In principle I am not sure if this is a maybe we should put a longer heart beat or if this is the case that is odd that may not happen again (but probable will happen again) and we just will have a red agent for a while, while it catches up.

[2017-11-29 20:06] h4d4 commented on #8370
Checking the services that use dmwm-service-key.pem and dmwm-service-cert.pem

`cfg]$ grep -rn dmwm-service- ./* | grep manage`
/acdcserver/acdcserver_manage:45:  if [ -e $AUTHDIR/dmwm-service-cert.pem ] && [ -e $AUTHDIR/dmwm-service-key.pem ]; then
./acdcserver/acdcserver_manage:46:    export X509_USER_CERT=$AUTHDIR/dmwm-service-cert.pem
./acdcserver/acdcserver_manage:47:    export X509_USER_KEY=

[2017-11-29 20:40] vkuznet commented on #8370
@h4d4 Lina, could you then change manually the following
- create reqmgr2ms area in /data/srv/current/auth/ with proper permissions
- copy certs over there
- assign reqmgr2ms group to this area
- change reqmgr2ms manage script to set AUTHDIR=$TOP/current/auth/reqmgr2ms
- then restart the service and let us know
Then I can try to test if requests are coming through.
Thanks,
Valentin.

[2017-11-29 20:47] amaltaro opened #8372 "Why different results for WMBS_t/Job_t.py.testSaveTransaction between mysql and oracle"
While testing other unrelated features, I noticed the test above fails in oracle while it succeeds in mysql. The job id, name, etc is all the same, but somehow the job mask loaded is different.

Creating this issue to avoid forgetting that.

[2017-11-30 09:36] vlimant commented on #8368
vocms0257 crashed on this too ?

[2017-11-30 09:44] amaltaro commented on #8368
Yes, it was red in wmstats a few minutes ago.

[2017-11-30 11:16] h4d4 commented on #8370
@vkuznet I did the changes, please test and let me know how it's going.
Thnaks, Lina.

[2017-11-30 12:38] vkuznet commented on #8370
Lina,
something is not right. I still get the same error. Could you please list
/data/srv/current/auth/reqmgr2ms area since I don't have permission. Also let me know
if you restarted the service? And, it would be easier to debug if you'll
just add printouts to reqmgr2ms/manage script, e.g.
echo "$X509_USER_KEY"
echo "$X509_USER_CERT"
after they're setup (after if block where they set).
Please repo

[2017-11-30 12:50] amaltaro commented on #8370
Valentin, I think we should test it ourselves and only ask Lina if we really cannot catch these problems in dev.

[2017-11-30 13:21] vkuznet commented on #8370
Alan,
I'll be happy to do it if I either get spare VM or somebody give me proper
certificates, on my VM I have:

[code]

On  0, Alan Malta Rodrigues <notifications@github.com> wrote:

[2017-11-30 13:37] amaltaro commented on #8370
If you need more developments VM in your openstack personal project, then you should contact Daniel (VOC) and ask for it. Since you work on several different projects, I don't think they would deny your request :)

About these pem files. Are you using a real service certificate (or your proxy file)? Or is it just a fake file created during the deployment? Or is it in the cmsweb-testbed backend (ne

[2017-11-30 13:40] h4d4 commented on #8370
@vkuznet
In case that this can help:

Below the current status of /data/srv/current/auth/reqmgr2ms

`ls -lash /data/srv/current/auth/ | grep reqmgr2ms`
4.0K drwxr-x---.  2 cmsweb _reqmgr2ms    4.0K Nov 30 11:32 reqmgr2ms

`ls -lash /data/srv/current/auth/reqmgr2ms`
total 16K
4.0K drwxr-x---.  2 cmsweb _reqmgr2ms 4.0K Nov 30 11:32 .
4.0K drwxr-x---. 24 cmsweb _config    4.0K Nov 30 11:25 ..
4.0K -r

[2017-11-30 15:24] vkuznet commented on #8370
ok, I tested service in my VM using my personal certificates which I placed
in /data/srv/current/auth/reqmgr2ms/ area as
[code]
With this setup everything works. Here is PR for manage script changes
which I requested Lina to already apply for cmsweb-testbed:
https://github.com/dmwm/deployment/pull/566
With this change everything works in my VM (!!!).

Now, on cmsweb-testbed there is somewhere misc

[2017-11-30 15:36] ticoann commented on #8370
Lina, For the initial permission problem, what is the cert DN reqmgr2ms is using? If it is the same as other services in cmsweb it should have following group and role in sitedb.
"facops", "web-service"

https://github.com/dmwm/WMCore/blob/master/src/couchapps/WorkQueue/validate_doc_update.js#L18

[2017-11-30 16:49] h4d4 commented on #8370
@vkuznet I've given you access to vocms0134 and vocms0135 the testbed fronted machines

[2017-11-30 17:32] vkuznet commented on #8370
Lina,
here is the issue:
- the frontend yields 503 (HTTP Service unavailable) error
[30/Nov/2017:16:21:55 +0100] cmsweb-testbed.cern.ch 128.142.137.213 "GET /microservice/data/status HTTP/1.1" 503 [data: 5919 in 18003 out 1359 body 21556 us ] [auth: TLSv1.2 DHE-RSA-AES128-GCM-SHA256 "/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=valya/CN=443502/CN=Valentin Y Kuznetsov" "-" ] [ref: "-" "curl/7.19.7 (

[2017-11-30 17:36] h4d4 commented on #8370
@vkuznet Hello Valentin I've just restart the service.
Best regards, Lina.

[2017-11-30 17:45] vkuznet commented on #8370
Lina,
I doubt that you restarted proper one.
According to vocms0131:/data/srv/logs/reqmgr2ms/reqmgr2ms-20171130.log
the reqmgr2ms data-service last time was restarted at 30/Nov/2017:14:35:54

So, I don't know what you restarted but certainly it is not what I'm looking for.

Please provide details and check that you indeed restart reqmgr2ms on vocms0131.
Thanks,
Valentin.

On  0, Lina Jiménez  <not

[2017-11-30 20:14] #8368 closed

[2017-11-30 20:38] ticoann commented on #8263
@amaltaro, Alan do you want to still keep this open?

[2017-11-30 20:48] amaltaro commented on #8263
Just to wrap up:
 - WorkQueueManagerWMBSFileFeeder had issues related to too many parents (should have been fixed in 1.1.8.patch2)
 - JobAccountant is the most expensive component. Average of 10k docs per hour. Specific issue on #4656
 - JobArchiver is not very slow, but sometimes it triggers a heartbeat between 30 and 60 min. We might review and try to improve it eventually.
 - JobStatusLite fall

[2017-11-30 20:49] amaltaro commented on #8112
Proper issue created in #8333

[2017-11-30 20:49] #8112 closed

[2017-11-30 20:52] ticoann opened #8374 "Monitor component performance and identify problem."
- JobAccountant is the most expensive component. Average of 10k docs per hour. Specific issue on #4656
- JobArchiver is not very slow, but sometimes it triggers a heartbeat between 30 and 60 min. We might review and try to improve it eventually.
- JobStatusLite falls on the same case of JobArchiver. Deserves a code refactoring eventually (which should buy us a better job tracking as well).

[2017-11-30 20:52] amaltaro commented on #8191
Fixed by https://github.com/dmwm/WMCore/pull/8247

[2017-11-30 20:52] #8191 closed

[2017-11-30 20:53] ticoann commented on #8263
Thanks Alan, I created the new issue  for performance bottleneck in components

[2017-11-30 20:53] #8263 closed

[2017-11-30 20:53] amaltaro commented on #8105
Also fixed by https://github.com/dmwm/WMCore/pull/8247

[2017-11-30 20:53] #8105 closed

[2017-11-30 21:26] vkuznet commented on #8370
Now I think I understand what's going on. It seems to me we had two instances running on vocms0131. One feed /data/srv/logs/reqmgr2ms/reqmgr2ms-20171130.log log and it ended at 30/Nov/2017:19:38:10 and another feed /data/srv/logs/reqmgr2ms/reqmgr2-20171130.log which still runs. According to first log it was killed, then the second instance was allowed to run. Even though I don't know how in this c

[2017-12-01 09:22] vlimant opened #8376 "TotalInputEvents not totally accurate"
looking at
https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_RVCMSSW_10_0_0_pre1RunJetHT2016H_nanoinput__test_RelVal_nanoin_jetHT2016H_171130_172549_5546

  "TotalInputEvents": 109302,

114697 were created in /JetHT/CMSSW_10_0_0_pre1-94X_dataRun2_relval_v5_test_RelVal_nanoin_jetHT2016H-v1/NANOAOD without duplicates.

looks to me there is a mis-handling of the lumilist mask in calculating TotalInput

[2017-12-01 12:39] vlimant opened #8377 "Missing output dataset from StepChain"
https://cmsweb.cern.ch/reqmgr2/fetch?rid=vlimant_task_HIG-RunIIFall17wmLHEGS-00011__v1_T_171130_141411_8017
is expecting
"OutputDatasets": [
    "/ZZTo4L_13TeV_powheg_pythia8/RunIIFall17wmLHEGS-93X_mc2017_realistic_v3-v2/GEN-SIM",
    "/ZZTo4L_13TeV_powheg_pythia8/RunIIFall17wmLHEGS-93X_mc2017_realistic_v3-v2/LHE",
    "/ZZTo4L_13TeV_powheg_pythia8/RunIIFall17DRPremix-94X_mc2017_realistic_v10-v2/A

[2017-12-01 13:35] vlimant opened #8378 "Creation of a "held" status"
when something is developping badly for a workflow, we can use a "hold" button which would have the effect of preventing any new submission of prod/repro jobs and the condor_rm of existing ones, until the status is put back to a previous state of running-*.

Things can be done with unified somehow, but maybe better have it internal to wmagent.

[2017-12-01 16:37] h4d4 commented on #8370
@vkuznet
Hello Valentin,
for now I deleted the reqmgr2ms logs, let me review the changes to redeploy it.
I'll keep you posted.
Best Regards, Lina.

[2017-12-03 09:27] vlimant commented on #8377
ZZTo4L_13TeV_powheg_pythia8/RunIIFall17DRPremix-94X_mc2017_realistic_v10-v2/AODSIM: event: 68.6%, lumi: 68.6%
/ZZTo4L_13TeV_powheg_pythia8/RunIIFall17wmLHEGS-93X_mc2017_realistic_v3-v2/GEN-SIM: event: 68.4%, lumi: 68.4%
/ZZTo4L_13TeV_powheg_pythia8/RunIIFall17MiniAOD-94X_mc2017_realistic_v10-v2/MINIAODSIM: event: 66.8%, lumi: 66.8%
/ZZTo4L_13TeV_powheg_pythia8/RunIIFall17wmLHEGS-93X_mc2017_realist

[2017-12-03 09:27] #8377 closed

[2017-12-04 13:09] amaltaro commented on #8378
We discuss such feature for a few year already. I think this would be a nice mechanism to have in production.

I'm just wondering what are the statistics for these cases? How often it happens?  How often a workflow is aborted AND needs to be remade with new config? How often they are aborted and just cloned/resubmitted? Trying to figure out the cost-benefit of this development.

In addition to tha

[2017-12-04 16:01] ticoann commented on #8378
I was wondering where the fix comes from while some workflow is in held state? Is it mostly config changes as Alan mentioned and those need to be propagate all the the jobs which has not run?

[2017-12-04 16:33] ticoann commented on #1908
I am deleting this one. Whenever we get pylint warnings we can fix it gradually.

[2017-12-04 16:33] #1908 closed

[2017-12-04 16:36] ticoann commented on #2245
@ericvaandering, Do you want to keep this issue (If you remember :-))?

[2017-12-04 16:37] ticoann commented on #2247
closing this issue. Not sure still valid.

[2017-12-04 16:37] #2247 closed

[2017-12-04 16:38] ticoann commented on #2265
closing.

[2017-12-04 16:38] #2265 closed

[2017-12-04 16:39] ticoann commented on #2937
this is fixed

[2017-12-04 16:39] #2937 closed

[2017-12-04 16:41] ticoann commented on #2358
Not going to happen, unless we rewrite the WQ.

[2017-12-04 16:41] #2358 closed

[2017-12-04 16:42] ticoann commented on #2564
This should be fixed.

[2017-12-04 16:42] #2564 closed

[2017-12-04 16:43] ticoann commented on #3605
@ericvaandering, Eric can we close this?

[2017-12-04 16:45] #4010 closed

[2017-12-04 16:46] #2245 closed

[2017-12-04 16:47] ticoann commented on #4017
@ericvaandering, still wants to leave it open. :-)?

[2017-12-04 16:47] #3605 closed

[2017-12-04 16:48] ticoann commented on #4044
This is rewritten. Should be faster.

[2017-12-04 16:48] #4044 closed

[2017-12-04 16:49] ticoann commented on #4098
@ericvaandering, Is this still the case?

[2017-12-04 16:49] ericvaandering commented on #4017
Yeah. Maybe @amaltaro will fix this since he was just asking me about the "CherryPy still has 32 threads running" issue in the unit tests.

[2017-12-04 16:50] ticoann commented on #4017
OK set the milestone and assign to Alan. :-)

[2017-12-04 16:50] ericvaandering commented on #4098
Nothing changed since 2015 on this.

[2017-12-04 16:51] ericvaandering commented on #4017
Let's be honest. this is not going to be changed in the next month. No point in a close in milestone (or perhaps a milestone at all)

[2017-12-04 16:55] ticoann commented on #4091
@amaltaro, This want to investigate?

[2017-12-04 17:00] ticoann commented on #4017
If we don't set the milestone we tend to lose track. It is just a reminder. so someday we will fix it. Other wise it will show up next annual clean up. 😄

[2017-12-04 17:17] #4108 closed

[2017-12-04 17:18] #4183 closed

[2017-12-04 17:24] ticoann commented on #4294
I think we can mark as integration. Unless someone prefer to investigate.

[2017-12-04 17:28] #4531 closed

[2017-12-04 17:29] #4529 closed

[2017-12-04 17:30] ticoann commented on #4613
@ericvaandering, this is fixed isn't it?

[2017-12-04 17:30] ticoann commented on #4706
fixed

[2017-12-04 17:30] #4706 closed

[2017-12-04 17:31] ticoann commented on #4679
Not necessary anymore

[2017-12-04 17:31] #4679 closed

[2017-12-04 17:32] ericvaandering commented on #4613
It's not causing problems anymore. We deploy from scratch.

[2017-12-04 17:32] #4613 closed

[2017-12-04 19:46] #8258 closed

[2017-12-04 20:35] amaltaro commented on #4294
integration

[2017-12-04 20:37] amaltaro commented on #4091
Nope and it seems to have been fixed long time ago :)

[2017-12-04 20:37] #4091 closed

[2017-12-05 06:11] ticoann commented on #4644
This is fixed. WQ won't create too many elements at once any more.

[2017-12-05 06:11] #4644 closed

[2017-12-05 06:12] ticoann commented on #4667
We are now retrieving errors from condor log and out.

[2017-12-05 06:12] #4667 closed

[2017-12-05 06:13] ticoann commented on #4677
fixed. running open has different meaning now.

[2017-12-05 06:13] #4677 closed

[2017-12-05 06:28] ticoann commented on #4737
unified does this.

[2017-12-05 06:28] #4737 closed

[2017-12-05 06:28] ticoann commented on #4759
fixed

[2017-12-05 06:28] #4759 closed

[2017-12-05 06:29] ticoann commented on #4760
fixed

[2017-12-05 06:29] #4760 closed

[2017-12-05 06:29] ticoann commented on #4765
fixed

[2017-12-05 06:29] #4765 closed

[2017-12-05 06:31] ticoann commented on #4771
Closing it. It need better option to identify site issue. Use WMArchive.

[2017-12-05 06:31] #4771 closed

[2017-12-05 09:26] yiiyama commented on #8332
@ticoann What I had in mind is a query that will list all active workflows. But then I realized that I could query `https://cmsweb.cern.ch/reqmgr2/data/request?status=XYZ` where XYZ=new,assignment-approved, ... (i.e. all request statuses except for normal-archived, rejected-archived, and aborted-archived) and find the list of datasets that are involved. That will be a limited number of queries to

[2017-12-05 09:37] amaltaro commented on #8292
Looking at the code, I don't think it can happen anymore. There were a few changes in 1.1.6 that got this issue fixed.

[2017-12-05 09:37] #8292 closed

[2017-12-05 10:31] #6075 closed

[2017-12-05 15:13] #4294 closed

[2017-12-07 15:37] vkuznet commented on #8370
@h4d4 Lina, did you get chance to work on reqmgr2ms issue. I tried again and I can't pass the frontend. Here is frontend entry for this call `https://cmsweb-testbed.cern.ch/microservice/data/status`
[code]
and here is what back end says:
[code]

To me it is issue with frontend configuration.

[2017-12-07 17:19] ticoann commented on #8370
@h4d4  LIna, did you fix anything?
It seems it is working for me.

https://cmsweb-testbed.cern.ch/microservice/data/status

{"result": [
 {"microservice": "UnifiedTransferorManager", "request": {}, "results": {"status": {}}}
]}

https://cmsweb-testbed.cern.ch/microservice/data

{"result": [
 {"microservice": "UnifiedTransferorManager", "request": {}, "results": {"status": {}}}
]}

@vkuznet, Valent

[2017-12-07 23:26] vkuznet commented on #8370
Hi,
yes service is working, but I think it is configured to talk to 2 backends
as reqmgr2 and only one backend has it. Therefore time to time due to round
robin we hit a backend which does not have it.

But I did checked that when I hit proper backend I got correct behavior:
### getWorkflows: 49.6 sec
### dbsInfo: 22.5 sec
### phedexInfo: 11.0 sec
### eventsLumisInfo: 13.7 sec

So this is correct

[2017-12-08 11:44] h4d4 commented on #8370
@vkuznet @ticoann
Hello,

Regarding to those Valentin's suggestions[1].
I merged the PR #566 that Valentin did, and deleted the reqmgr2ms logs as he proposed, but I not redeployed on testbed yet. Last Thursday was the Production upgrade, so I decide to wait for this redeploy in testbed.
Then, I'll do it the next Monday. I'll let you know once the deployment is done.
Best Regards, Lina.

[1]
Anyhow

[2017-12-08 12:34] amaltaro opened #8382 "Remove unwanted top level parameters for TaskChain/StepChain"
Examples are: IncludeParents, LumiList and maybe SplittingAlgo

[2017-12-08 17:04] #7935 closed

[2017-12-08 17:11] #5186 closed

[2017-12-08 17:11] #7119 closed

[2017-12-08 21:05] #8252 closed

[2017-12-09 20:30] vlimant opened #8384 "Lock on secondary / query not functioning"
neither https://cmsweb.cern.ch/reqmgr2/data/request?mask=RequestDate&mask=MCPileup&status=normal-archived&detail=false nor https://cmsweb.cern.ch/reqmgr2/data/request?mask=RequestDate&mask=MCPileup&status=normal-archived works, I need to know what/when the secondary were used.
Is there a way to get directly a dictionnary of the form
{ <Dataset name> : <date of creation of the last workflow that ha

[2017-12-10 04:06] ticoann commented on #8384
Hi Jean-Roch,  reqmgr2 API doesn't allow get whole archived data and mask against that.  (There are simply too much data and not feasible to handle that).
Do you have any other parameters known other then status, i.e. campaign, input dataset, etc)

https://github.com/dmwm/WMCore/wiki/reqmgr2-apis

If you are searching none archive data wmstaserver api is faster, but in this case it seems you are l

[2017-12-11 14:26] h4d4 commented on #8370
@vkuznet

Hello Valentin,

I've re-deployed on testbed including the PR #566.
I've also create reqmgr2ms area in /data/srv/current/auth/ with proper permissions, including the dmwm certificates.

This is the part of the output when reqmgr2ms starts[1]

When I do:
https://cmsweb-testbed.cern.ch/microservice/data/status
I got:
{"result": [
 {"microservice": "UnifiedTransferorManager", "request": {},

[2017-12-11 14:40] vkuznet commented on #8370
Lina,
thanks, now as far as I can tell everything work as expected. I was able to
query the service via GET request as you shown and also placed a POST request.
We can close the ticket.
Thanks again for your help.
Best,
Valentin.

On  0, Lina Jiménez  <notifications@github.com> wrote:

[2017-12-11 20:58] #8370 closed

[2017-12-12 09:58] prozober opened #8385 "Jobcooloff as final status?"
Regarding https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_Run2017B-v1-DoubleEG-17Nov2017_940_171124_165655_3160
I was taking a look at the failures it got https://cmsweb.cern.ch/wmstatsserver/data/jobdetail/fabozzi_Run2017B-v1-DoubleEG-17Nov2017_940_171124_165655_3160

I noticed that it has several jobs in "jobcooloff" status, but the workflow already finished running, even I created a couple of

[2017-12-12 16:27] ticoann commented on #8385
@prozober, Paola, jobcooloff state is not the final state.  Actually those jobs are all killed and currently in clean up state.

It seems it missed couch update on that time to wmstats - this could happen and we don't have mechanism to automatically recover.

One weird thing is there is transition for jobfailed - jobcool off in couch db. (I am suspecting there is either race condition for updating

[2017-12-13 08:28] vlimant commented on #8384
if one could add

since=30

and get the data since 30 days, this would probably be enough.
or https://github.com/dmwm/WMCore/issues/7651 could be complete, or @yiiyama confirms we do not need the locks be made through unified. Either of the three would work for me.

at the moment, secondary inputs are not fully protected because of this

[2017-12-13 11:29] prozober commented on #8385
Hi @ticoann, we are having problems creating ACDCs because the documents are not there.
https://cmsweb.cern.ch/couchdb/acdcserver/_design/ACDC/_view/byCollectionName?key=%22fabozzi_Run2017B-v1-DoubleEG-17Nov2017_940_171124_165655_3160%22&include_docs=true&reduce=false

As you can see there are documents for
- DataProcessing
- DataProcessing/DataProcessingMergeALCARECOStreamHcalCalIterativePhiSym

[2017-12-13 11:43] yiiyama commented on #7651
We also have another issue open closely related to this: #8332

[2017-12-13 16:33] jenimal opened #8387 "Need to be able to sort logs by time"
During the last week and a half we have been trying to help debug some site issues.  RIght now, I can't find a good way to find the most recent log files to be able to give to sites so that we can say if the changes they made fixed the problem or not.
I looked in both WMStats and in Unified.  Page 1 in WMStats would frequently show old error messages and there isn't an easy way to sort by time.
Un

[2017-12-13 20:47] ticoann commented on #8385
@prozober, Hi Paola, Now I understand what is going on. The workflow is force-completed.

https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_Run2017B-v1-DoubleEG-17Nov2017_940_171124_165655_3160

which kills any none finished jobs except log collect/clean up jobs. We don't create acdc record for killed jobs currently (If I recall correctly, I think we removed that some long time ago due to creating

[2017-12-13 21:28] ticoann commented on #8332
@yiiyama, Hi Yutaro, sorry for the late reply.
If you are querying active workflows (not archived one following API will be better it uses server side cash so it will be fast and light).
https://github.com/dmwm/WMCore/wiki/wmstatsserver-api

i.e.

https://cmsweb.cern.ch/wmstatsserver/data/filtered_requests?mask=InputDataset&mask=OutputDataset&mask=MCPileup&mask=DataPileup&mask=RequestStatus

It on

[2017-12-13 23:15] ticoann commented on #8384
we can add "since" query with archived status and limit 60 days at a time.
I was just curious what is the logic behind 1 or 2 month checking workflows for secondary dataset (Pileup)?

[2017-12-14 01:41] vlimant commented on #8384
@ticoann we want to lock the secondary input of any workflow that is less than 1 month old, as a way to keep that secondary on disk for at least 1 month after the last actual use

[2017-12-14 01:44] vlimant commented on #8385
a clarification please @ticoann , setting force complete will NOT remove already existing ACDC documents for that workflow and will just not create any new document for the work that was forced, correct ?

[2017-12-14 02:07] vlimant commented on #8385
so indeed, since these were in transition phase, there won't be any ACDC for DataProcessingMergeAODoutput and DataProcessingMergeMINIAODoutput @prozober .
I wondered why these error show up in the report https://vocms049.cern.ch/unified/report/fabozzi_Run2017B-v1-DoubleEG-17Nov2017_940_171124_165655_3160 and that's because they do show up in this url http://cmsweb.cern.ch/wmstatsserver/data/jobdet

[2017-12-14 04:22] ticoann commented on #8385
Yes it won't remove existing ACDC document but it won't create the new document for the killed jobs.

It seems killed status is not propagated to wmstats as failed job. Which probably is not desired behavior. I will take a look whether we should push the killed status to wmstats.

If force-complete and creating ACDC is a normal operation, we can also consider putting killed job in ACDC as well. -

[2017-12-14 07:26] ticoann opened #8388 "add 'reserved' for PhEDEx priority"

[2017-12-15 09:47] yiiyama commented on #8332
Thank you @ticoann. It looks like reqmgr2 has some more information about the workflows than wmstatsserver. For example in the wmstatsserver link you have above, there is
`{
  "InputDataset": "/BTagCSV/Run2017B-v1/RAW",
  "MCPileup": null,
  "OutputDataset": null,
  "RequestName": "fabozzi_Run2017B-v1-BTagCSV-17Nov2017_940_171208_171010_9362",
  "RequestStatus": "running-open",
  "DataPileup": nul

[2017-12-15 11:20] vlimant opened #8391 "reject button does not work on the assign page"
@bajarang was having difficulties rejecting workflows that belongs to him from the https://cmsweb.cern.ch/reqmgr2/assign page.
Is this supposed to function ?
He was able to do it when reaching directly to https://cmsweb.cern.ch/reqmgr2/fetch?rid=request-bsutar_HLT_newco_RelVal_300155_171207_141000_168 but this is painful when you have multiple workflows to reject.
@ticoann @amaltaro  no emergency,

[2017-12-15 11:48] vlimant commented on #7536
ping ping https://its.cern.ch/jira/browse/CMSCOMPPR-1911

[2017-12-15 12:57] vlimant opened #8392 "Multicore in assigning ACDC of ACDC"
looking at
https://cmsweb.cern.ch/reqmgr2/config?name=pdmvserv_task_SMP-PhaseIITDRFall17wmLHEGS-00030__v1_T_171103_204004_8254
https://cmsweb.cern.ch/reqmgr2/config?name=mcremone_ACDC0_task_SMP-PhaseIITDRFall17wmLHEGS-00030__v1_T_171116_004028_825
https://cmsweb.cern.ch/reqmgr2/config?name=vlimant_ACDC1_task_SMP-PhaseIITDRFall17wmLHEGS-00030__v1_T_171122_180054_1020
https://cmsweb.cern.ch/reqmgr2/

[2017-12-15 13:00] vlimant commented on #8392
I allow myself to put urgent ops until I figure out a way to circumvent the problem and be able to make the last acdc for >10 upgrade requests of top priority

[2017-12-15 16:01] ticoann commented on #8392
Hmm, this should have been fixed by

https://github.com/dmwm/WMCore/pull/8286

Could you point me the script where the actual assignment is done. That will be helpful for debugging the issue.

[2017-12-15 16:16] ticoann commented on #8392
Actually, now I see what is wrong. I can create the patch but this will require cmsweb update. Meanwhile I maybe find the temporary solution on this. How is ACDC of ACDC is created and assigned?
@prozober, Paola are you using wmstats/reqmgr2 web interface or some script from WmAgentScript?

[2017-12-18 14:23] prozober commented on #8392
Hi @ticoann, actually we are creating ACDCs using Unified scripts.
I think @areinsvo could please help us to provide the info we need, that is where the ACDCs are created and assigned.

[2017-12-18 14:46] vlimant commented on #8392
my 2 cents is that we should not touch actor to patch for this and run second++ ACDC by hand and assign with the multicore option of assign.py until the fix propagates to reqmgr.

[2017-12-18 16:16] ticoann commented on #8392
I think assign with mutilcore option would be fine. Any minimal changes will be preferred for temporary solution. We will fix the update in next reqmgr release.

[2017-12-18 22:12] ticoann opened #8395 "ACDC missing parentage"
After the fix applied there seems to be still missing parentage in TaskChain,

The problem seems to be the grand parent file which is merged but it is not marked as merged.

[code]

[code]

[2017-12-18 22:18] ticoann commented on #8395
And original file in vocms0254, So the problem is when we create the ACDC we don't put the correct merge status.
[code]

[2017-12-20 00:43] #8395 closed

[2017-12-20 14:37] vlimant commented on #7536
@ticoann @amaltaro could we put the default value up to 200k so that it does not bother us until we get the value properly adapted to the max pilot lifetime (46-48h) and the time/event provided.

[2017-12-20 15:23] ticoann commented on #7536
Hi let me check whether there will be any side effect on 200k default value.  I move to a high priority and I will take the look at the problem too.

[2017-12-20 16:26] ticoann commented on #7536
It seems increasing default value will add the risk of creating long running jobs.
With EventAwareLumiBased algorithm, the minimal lumi per jobs is 1 and and increasing max_events_per_lumi  to 200k might cause some long running jobs to be created.

I can create the patch which only fails the job in creation if estimated jobs  (number of events per job * time per events) is exceeded the 48h. I don'

[2017-12-21 20:01] DrDaveD opened #8399 "Please add evironment variable in CMS jobs for frontier debugging"
At at least one point in the past I am quite sure WMAgent used to do this, but I just looked at some job logs where it is clearly not set.  Please set and export the environment variable FRONTIER_LOG_LEVEL=warning for CMS jobs in a future release of WMAgent.

[2017-12-21 20:13] ticoann commented on #8399
@DrDaveD, I don't recall we have this environment variable set before. Anyway, we can add that. But I was wondering what is accessing this variable?

[2017-12-21 20:15] ericvaandering commented on #8399
Must be Frontier being run inside CMSSW

[2017-12-21 20:18] ticoann commented on #8399
In this case shouldn't CMSSW or Frontier set this then (which one is setting default value)? Or is it (warning level) only for the jobs run by Agents?

[2017-12-21 21:12] DrDaveD commented on #8399
Yes it is the frontier client running inside CMSSW.  We don't want these messages to show up when people run cmsRun interactively, but they are helpful for debugging job failures.  There's a current issue that it would have helped with debugging, and the messages have helped with debugging many problems in the past.

[2017-12-22 09:09] vlimant opened #8400 "add information about "queued" in wmstats"
looks to me it should be possible to propagate the information about the location of the queued jobs to wmstats so that one can see where the jobs are queuing at.
if not possible, where can we have this information surfaced ?

[2017-12-22 15:18] ticoann commented on #8400
'queued' means pending in condor? site is only determined when jobs are submitted before that site information is random within the white list.

[2017-12-26 15:19] vlimant commented on #8400
I means "queued" as wmstats queued (the one pending in htcondor are "pending"), and mostly for subsequent task for which, except for multiple psn per pnn, there should be only one already defined job location in wmbs to which the job will get submitted.
The reason for this, is to try and figure out from this information whether the jobs are not submitted because of the agent doing something not ex

[2017-12-26 16:26] ticoann commented on #8400
Now I see what you would like to check. However, queued information won't give you that.
Normally job doesn't have location until it gets submitted (only files has the locations). (Except the retry jobs - even in that case it doesn't mean job will be submitted there.

Job submission logic uses site white list and random site in site white list for already submitted (pending) job to determine wheth

[2017-12-26 19:48] #8399 closed

[2017-12-27 17:25] #8392 closed

[2017-12-31 04:39] ticoann opened #8402 "Don't crash agent component for some of Oracle error."
Component need to be resilient for following errors (Need to send the warning in LogDB though)
[code]

Som examples
[code]
[code]
[code]

[2018-01-03 14:33] ticoann opened #8403 "Another unicode encoding failure"
It is in

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Storage/Execute.py#L70

output contains "\x95" which cause encoding error

and

'utf8' codec can't decode byte 0xb2 in position 24451

[2018-01-08 09:43] amaltaro commented on #8403
Seangchan, would you still have the complete traceback for this issue? Since the stdout is loaded in memory, I think we cannot fix it as we did for the condor.* logs

[2018-01-08 14:05] amaltaro commented on #8388
Fixed by #8390

[2018-01-08 14:05] #8388 closed

[2018-01-08 15:40] ticoann commented on #8403
Actually traceback doesn't say exact place I had to add some debugging messages to find out where it fails. Anyway, both error happened in the same place I pointed above.

Yes, you are right we can't do it the same way since this is in the memory. It will have to be fixed right on that code or as temp patch does. I think right on Execute is better since we don't waist that much resources.

[2018-01-08 17:47] belforte opened #8405 "when CRAB ASO timeouts should return exit code 60317"
see
https://github.com/dmwm/CRABServer/issues/5364
current code in
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMExceptions.py#L263-L265
returns 60321 which indicates site problem, while ASO timeout can be for other reasons as well. Should use the ad-hoc, already existing 60317

[2018-01-08 17:48] belforte commented on #8405
I will make a PR for this, but can't assign it

[2018-01-08 20:12] ticoann commented on #8405
Thanks Stefano

[2018-01-10 03:37] #8132 closed

[2018-01-10 09:47] amaltaro opened #8407 "One can approve and set other parameters all together"
Apparently Matteo succeeded setting a StoreResults to `assignment-approved` and set SiteWhitelist parameter altogether (thus bypassing its validation).
This should be of course forbidden.

In addition to that, we might allow SiteWhitelist to be set during a StoreResults creation.

[2018-01-10 15:21] amaltaro commented on #5342
Yes, we do validate those for quite some time now, see for instance
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1102

[2018-01-10 15:21] #5342 closed

[2018-01-10 20:36] ticoann commented on #7418
closing it,  timeout and retry clone job is added.

[2018-01-10 20:36] #7418 closed

[2018-01-10 21:31] goughes commented on #7495
Alan, I looked at your speedy draining section and I'm working on the implementation in the agent and had a couple questions.

1. Should the setting max retries to 0 part of speedy draining be an option that can be set (maybe in aux db) or happen automatically at the 500 job threshold?
2. Same for enabling all sites, should it be automatic at 100 jobs?

I'm thinking the agent could drain normally

[2018-01-10 21:42] amaltaro commented on #7495
Hey Erik,

this sounds like a great idea. I agree, we only enable speedy draining if someone sets it (SpeedDrain parameter or so) to true in the WMAGENT_CONFIG auxiliar doc.

[2018-01-11 17:09] amaltaro commented on #7495
Just to summarize what we discussed during the meeting:
* maxRetries configuration goes to the auxiliar db (thus no component restart will be needed)
* we add a SpeedyDrainConfig to the auxiliar db with something like
`SpeedyDrainConfig = {'retryThreshold': 500, 'siteThreshold': 200}`

such that we perform the automatic tweak based on those thresholds (below 500 jobs, or below 200 jobs for site, e

[2018-01-12 03:34] #1844 closed

[2018-01-12 03:34] #4036 closed

[2018-01-12 03:34] #4078 closed

[2018-01-12 03:34] #4094 closed

[2018-01-12 03:34] #4098 closed

[2018-01-12 03:34] #4198 closed

[2018-01-12 03:34] #4233 closed

[2018-01-12 03:34] #4243 closed

[2018-01-12 03:34] #4263 closed

[2018-01-12 03:34] #4318 closed

[2018-01-12 03:34] #4383 closed

[2018-01-12 03:34] #4427 closed

[2018-01-12 03:34] #4458 closed

[2018-01-12 03:34] #4475 closed

[2018-01-12 03:34] #4483 closed

[2018-01-12 03:34] #4522 closed

[2018-01-12 03:34] #4541 closed

[2018-01-12 03:34] #4621 closed

[2018-01-12 03:34] #4635 closed

[2018-01-12 03:34] #4740 closed

[2018-01-12 03:36] #4768 closed

[2018-01-12 03:36] #4787 closed

[2018-01-12 03:36] #4796 closed

[2018-01-12 03:36] #4807 closed

[2018-01-12 03:36] #4852 closed

[2018-01-12 03:36] #4866 closed

[2018-01-12 03:36] #4877 closed

[2018-01-12 03:36] #4890 closed

[2018-01-12 03:36] #4899 closed

[2018-01-12 03:36] #4912 closed

[2018-01-12 03:36] #4919 closed

[2018-01-12 03:36] #4950 closed

[2018-01-12 03:36] #5000 closed

[2018-01-12 03:36] #5047 closed

[2018-01-12 03:36] #5048 closed

[2018-01-12 03:36] #5049 closed

[2018-01-12 03:36] #5060 closed

[2018-01-12 03:36] #5067 closed

[2018-01-12 03:45] #4906 closed

[2018-01-12 03:45] #4917 closed

[2018-01-12 03:45] #5085 closed

[2018-01-12 03:45] #5094 closed

[2018-01-12 03:45] #5102 closed

[2018-01-12 03:45] #5106 closed

[2018-01-12 03:45] #5128 closed

[2018-01-12 03:45] #5137 closed

[2018-01-12 03:45] #5138 closed

[2018-01-12 03:45] #5140 closed

[2018-01-12 03:45] #5146 closed

[2018-01-12 03:45] #5213 closed

[2018-01-12 03:45] #5225 closed

[2018-01-12 03:45] #5232 closed

[2018-01-12 03:45] #5241 closed

[2018-01-12 03:45] #5242 closed

[2018-01-12 03:45] #5243 closed

[2018-01-12 03:45] #5244 closed

[2018-01-12 03:45] #5253 closed

[2018-01-12 03:45] #5270 closed

[2018-01-12 03:46] #5312 closed

[2018-01-12 03:46] #5326 closed

[2018-01-12 03:46] #5350 closed

[2018-01-12 03:46] #5356 closed

[2018-01-12 03:46] #5383 closed

[2018-01-12 03:46] #5391 closed

[2018-01-12 03:46] #5393 closed

[2018-01-12 03:46] #5395 closed

[2018-01-12 03:46] #5398 closed

[2018-01-12 03:46] #5436 closed

[2018-01-12 03:46] #5446 closed

[2018-01-12 03:46] #5449 closed

[2018-01-12 03:46] #5476 closed

[2018-01-12 03:46] #5481 closed

[2018-01-12 03:46] #5486 closed

[2018-01-12 03:46] #5492 closed

[2018-01-12 03:46] #5506 closed

[2018-01-12 03:46] #5518 closed

[2018-01-12 03:46] #5534 closed

[2018-01-12 03:46] #5565 closed

[2018-01-12 03:47] #2033 closed

[2018-01-12 03:47] #3570 closed

[2018-01-12 03:47] #4017 closed

[2018-01-12 03:47] #4948 closed

[2018-01-12 03:47] #5607 closed

[2018-01-12 03:47] #5608 closed

[2018-01-12 03:47] #5610 closed

[2018-01-12 03:47] #5617 closed

[2018-01-12 03:47] #5626 closed

[2018-01-12 03:47] #5627 closed

[2018-01-12 03:47] #5634 closed

[2018-01-12 03:47] #5660 closed

[2018-01-12 03:47] #5663 closed

[2018-01-12 03:47] #5673 closed

[2018-01-12 03:47] #5675 closed

[2018-01-12 03:47] #5677 closed

[2018-01-12 03:47] #5681 closed

[2018-01-12 03:47] #5697 closed

[2018-01-12 03:47] #5703 closed

[2018-01-12 03:47] #5711 closed

[2018-01-12 03:47] #5712 closed

[2018-01-12 03:47] #5735 closed

[2018-01-12 03:47] #5745 closed

[2018-01-12 03:48] #5771 closed

[2018-01-12 03:48] #5772 closed

[2018-01-12 03:48] #5777 closed

[2018-01-12 03:48] #5778 closed

[2018-01-12 03:48] #5780 closed

[2018-01-12 03:48] #5794 closed

[2018-01-12 03:48] #5829 closed

[2018-01-12 03:48] #5830 closed

[2018-01-12 03:48] #5839 closed

[2018-01-12 03:48] #5857 closed

[2018-01-12 03:48] #5864 closed

[2018-01-12 03:48] #5883 closed

[2018-01-12 03:48] #5887 closed

[2018-01-12 03:48] #5904 closed

[2018-01-12 03:48] #5913 closed

[2018-01-12 03:48] #5934 closed

[2018-01-12 03:48] #5957 closed

[2018-01-12 03:48] #5983 closed

[2018-01-12 03:48] #5992 closed

[2018-01-12 03:48] #5995 closed

[2018-01-12 03:48] #6052 closed

[2018-01-12 03:48] #6057 closed

[2018-01-12 03:48] #6061 closed

[2018-01-12 03:48] #6079 closed

[2018-01-12 03:48] #6080 closed

[2018-01-12 03:48] #6087 closed

[2018-01-12 03:48] #6093 closed

[2018-01-12 03:48] #6107 closed

[2018-01-12 03:48] #6113 closed

[2018-01-12 03:48] #6131 closed

[2018-01-12 03:48] #6132 closed

[2018-01-12 03:48] #6148 closed

[2018-01-12 03:48] #6152 closed

[2018-01-12 03:48] #6187 closed

[2018-01-12 03:48] #6208 closed

[2018-01-12 03:48] #6212 closed

[2018-01-12 03:48] #6214 closed

[2018-01-12 03:48] #6215 closed

[2018-01-12 03:48] #6230 closed

[2018-01-12 03:48] #6231 closed

[2018-01-12 03:48] #6233 closed

[2018-01-12 03:48] #6234 closed

[2018-01-12 03:48] #6243 closed

[2018-01-12 03:48] #6251 closed

[2018-01-12 03:48] #6281 closed

[2018-01-12 03:48] #6285 closed

[2018-01-12 03:48] #6329 closed

[2018-01-12 03:49] #6340 closed

[2018-01-12 03:49] #6346 closed

[2018-01-12 03:49] #6353 closed

[2018-01-12 03:49] #6367 closed

[2018-01-12 03:49] #6398 closed

[2018-01-12 03:49] #6400 closed

[2018-01-12 03:49] #6418 closed

[2018-01-12 03:49] #6433 closed

[2018-01-12 03:49] #6438 closed

[2018-01-12 03:49] #6448 closed

[2018-01-12 03:49] #6461 closed

[2018-01-12 03:49] #6471 closed

[2018-01-12 03:49] #6476 closed

[2018-01-12 03:49] #6490 closed

[2018-01-12 03:49] #6503 closed

[2018-01-12 03:49] #6517 closed

[2018-01-12 03:49] #6532 closed

[2018-01-12 03:49] #6534 closed

[2018-01-12 03:49] #6544 closed

[2018-01-12 03:49] #6546 closed

[2018-01-12 03:49] #6553 closed

[2018-01-12 03:49] #6574 closed

[2018-01-12 03:49] #6590 closed

[2018-01-12 03:49] #6653 closed

[2018-01-12 03:50] #6669 closed

[2018-01-12 03:52] ticoann commented on #6689
fixed

[2018-01-12 03:52] #6689 closed

[2018-01-12 03:52] ticoann commented on #6743
@vlimant, is this still the problem, if not could you close the issue?

[2018-01-12 03:53] ticoann commented on #6744
duplicate  issue

[2018-01-12 03:53] #6744 closed

[2018-01-12 03:55] ticoann commented on #6776
duplicate

[2018-01-12 03:55] #6776 closed

[2018-01-12 03:55] ticoann commented on #6781
@hufnagel, Dirk, are we still using CMSSW_7_6_0?

[2018-01-12 03:57] ticoann commented on #6814
@amaltaro, Alan do we need to fix this?

[2018-01-12 03:58] ticoann commented on #6766
added config tab

[2018-01-12 03:58] #6766 closed

[2018-01-12 05:56] hufnagel commented on #6781
No idea. More a question to Ops.

[2018-01-12 06:42] #6814 closed

[2018-01-12 06:47] amaltaro commented on #6072
Reopening this issue because this is something in our radar for some time now. Let's target it for March maybe

[2018-01-12 07:33] amaltaro commented on #4656
Reopening because this has to be fixed, eventually.

[2018-01-12 08:43] vlimant commented on #6743
to my knowledge there is still a difference in capitalization. but who cares

[2018-01-12 08:43] #6743 closed

[2018-01-12 08:50] vlimant commented on #5861
will go with unified integration with @vkuznet

[2018-01-12 08:53] vlimant commented on #5945
this is very relevant, as the production blocks are only subscribed to dataops in an adhoc way these days.

[2018-01-12 08:57] vlimant commented on #5681
will go with an effort to renew the wm monitoring IMO

[2018-01-12 09:03] vlimant commented on #4912
sounds interesting ;-)

[2018-01-12 09:54] vlimant opened #8411 "requested walltime is much less than 8h"
people from the cpu-eff task force were looking at inefficiencies from

https://cms-gwmsmon.cern.ch/prodview/fabozzi_Run2017F-v1-BTagCSV-17Nov2017_940_171218_171845_1070

coming from too short jobs. The requested walltime is ranging 20-75 minutes.

cmst1@vocms0250:/afs/cern.ch/user/v/vlimant $ condor_q -const 'WMAgent_RequestName =="fabozzi_Run2017F-v1-BTagCSV-17Nov2017_940_171218_171845_1070"' -a

[2018-01-12 09:56] vlimant commented on #8411
@ticoann @amaltaro this is very high on the list of things for management. so please help me understand what we are doing wrong here

[2018-01-12 11:14] drkovalskyi commented on #5861
Can you give more details on why it's closed? Is it implemented?

[2018-01-12 11:44] vlimant commented on #5861
it got closed in a "yearly" cleaning.
the communication was not optimal.

[2018-01-12 11:45] drkovalskyi commented on #5861
So it's not implemented? Can someone please clarify what will be done?

[2018-01-12 11:56] amaltaro commented on #5861
We're closing issues older than 2 years in order to do some house cleaning and make the project/issues more manageable.
As JR said, this is part of the unified into wmcore transition, but we can leave this open until we get the new request state implemented.

[2018-01-12 14:50] amaltaro commented on #8411
Hmm, checking the job splitting settings for
pdmvserv_task_HIG-RunIIFall17wmLHEGS-00048__v1_T_180110_201332_6404

I can't really see anything wrong, even though vocms0252 has two different job lengths for the first task:
[code]

the single core estimated time sounds reasonable (350 or 750min), but the final `MaxWallTimeMins` is set to 1 or 2.5h only. I suspect there is a logic problem in here, but

[2018-01-12 16:55] ticoann commented on #8402
2018-01-12 14:27:52,030:140065516156672:ERROR:BaseWorkerThread:Error in event loop (2): <WMComponent.AgentStatusWatcher.AgentStatusPoller.AgentStatusPoller object at 0x7f63929c8b90> (OperationalError) ORA-01033: ORACLE initialization or shutdown in progress
Process ID: 0
Session ID: 0 Serial number: 0
 None None
Backtrace:
  File "/data/srv/wmagent/v1.1.8.patch3/sw/slc7_amd64_gcc630/cms/wmagent/1.

[2018-01-12 17:02] ticoann commented on #8402
2018-01-12 14:27:23,833:140120038721280:ERROR:pool:Exception closing connection <cx_Oracle.Connection to CMS_WMBS_PROD11@CMSR>
Traceback (most recent call last):
  File "/data/srv/wmagent/v1.1.8.patch3/sw/slc7_amd64_gcc630/external/py2-sqlalchemy/0.9.6-comp/lib/python2.7/site-packages/sqlalchemy/pool.py", line 244, in _close_connection
    self._dialect.do_close(connection)
  File "/data/srv/wmage

[2018-01-12 17:17] ticoann commented on #8402
2018-01-12 14:31:15,830:140212895692544:ERROR:BaseWorkerThread:Error in event loop (2): <WMComponent.JobCreator.JobCreatorPoller.JobCreatorPoller object at 0x7f85dce589d0> <@========== WMException Start ==========@>
Exception Class: JobCreatorException
Message: Failed to execute JobCreator
(OperationalError) ORA-03113: end-of-file on communication channel
Process ID: 34271
Session ID: 1603 Serial

[2018-01-13 08:57] vlimant commented on #8411
@amaltaro can you please check on the data reprocessing one ?

singlecoreestimate of 350-750 is not reasonable, because it is the range of 8h, but the job will run with 8 cores and therefore will run 8 times shorter. the logic in the condor plugin is to have MaxWallTimeMins be EstimatedSingleCoreMins /Requestcpus ; hence 350=>87=350/8

[2018-01-13 08:58] vlimant commented on #8411
question is : how is singlecoreestimate estimated ?

[2018-01-14 09:50] vlimant commented on #8411
BTW : the two different values 350 and 750 is because of unified tuning the value based on observation of successful jobs. all in all, not enough work is put in the jobs.
time/event underestimate is bad, of course, but regardless, the initial MaxWallTimeMins submitted by wmagent should be ~8h, *not* 1-2.5 h.

[2018-01-15 11:30] amaltaro commented on #8411
Before I proceed debugging the condor classads and the time set by the agent, how is unified tweaking these jobs? All via JobRouter (thus when it's submitted to condor)?
Is there any flag that I can see to figure out whether unified changed the original values or not? Having a pointer to the unified code would be a plus too.

[2018-01-15 11:35] amaltaro commented on #8411
and what is the original value? 750 or 350?

[2018-01-15 12:19] vlimant commented on #8411
the jobrouter rules are created via https://github.com/CMSCompOps/WmAgentScripts/blob/master/Unified/go_condor.py running on the schedd, and feeding from https://vocms049.cern.ch/unified/public/equalizor.json
the original value between 350 and 750 must be 350, as the rule always tries to set the requested walltime to higher value (to avoid jobs going over pilot boundary)

[2018-01-15 12:22] vlimant commented on #8411
nope, the condition is
(target.HasBeenTimingTuned =!= true) || (target.EstimatedSingleCoreMins <= %d)
so either never tuned, or to be tuned to a bigger value

[2018-01-15 14:12] amaltaro opened #8414 "Implement a DrainSchedd"
The difference w.r.t. the standard draining is that DrainSchedd would set all pending thresholds to 0, such that we get jobs out of the global pool and no jobs are submitted to it (thus keeping it all under the internal wmagent database).

Of course the agent cannot pull any work from global or local workqueue.

[2018-01-15 15:02] amaltaro commented on #8411
Ok, I think I found the problem, which is
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobCreator/JobCreatorPoller.py#L116

Before doing anything, we need to work - once again - on the TimePerEvent definition. E.g. for 8 cores and TimePerEvent=5secs. Is TimePerEvent:
a) the time 8 cores "would take" to process 1 event? Thus in 5 secs we get 1 event, in 50 secs we get 10 events

[2018-01-15 15:24] vlimant commented on #8411
The convention in reqmgr is (a) timeperevent = (number of events processed) / (walltime of the job)
convention that is correct in the splitting, but indeed inconsistent in

j['estimatedJobTime'] = min(j['estimatedJobTime']/(nCores * 0.8), constraints['MaxWallTimeSecs'])

[2018-01-15 15:26] vlimant commented on #8411
for example "events_per_job": 4800, is derived from "TimePerEvent": 6, in https://cmsweb.cern.ch/reqmgr2/fetch?rid=fabozzi_Run2017F-v1-BTagCSV-17Nov2017_940_171218_171845_1070 for example.

4800

[2018-01-15 16:11] amaltaro commented on #8411
FYI: https://github.com/dmwm/WMCore/wiki/TimePerEvent-convention

[2018-01-15 16:52] vlimant commented on #8414
while you are at it, I would add that the agent could condor_rm all pendings, to get them back warm in local. That way you have better chance that there are no running jobs when you need to pull the plug on the schedd, and none of the pending jobs will end up orphan.
condor_rm should be done in stage to not shoot the schedd either.

[2018-01-15 20:48] vlimant commented on #8411
How soon can we have #8415 in ? Looks like an agent component, so in theory we could have a patch, right ?

[2018-01-15 21:25] amaltaro commented on #8411
tomorrow

[2018-01-16 07:23] amaltaro commented on #8414
Yes, removing pending jobs a couple of hours before the outage would be a plus, though it might not be always wanted, so it would be better to make that optional.
For now, I'd rather leave the condor_rm out of the game (or one can do it manually...) because it'd complicate this initial idea and take an additional substantial time.

[2018-01-16 12:33] bbockelm commented on #8414
Why would pending jobs end up orphans?  Everything should be recovered cleanly after reboots -- things will only get lost in the case of something like filesystem issues.

One thing worth doing would be adding something like:

[code]

and set `HostDraining` to true for all pending jobs when you want the drain to start (and vice-versa when you come out of draining).  The job edit can be done in a s

[2018-01-16 14:21] vlimant commented on #8414
would pending jobs in htcondor survive a schedd full reboot ?

[2018-01-16 14:45] bbockelm commented on #8414
Ah - I forgot, WMAgent deploys (at least at CERN) move half of the HTCondor state to ramdisk.  Awhile back, this would have been useful to avoid expensive FS operations - can't imagine it being all that useful now.

Since we partially lobotomize HTCondor on restart, I guess the agent should assume all state is lost on reboot.

It's a shame, really, as HTCondor should be able to do simple reboots a

[2018-01-16 15:52] vlimant commented on #8269
NB. this is the only road block between stepchain and production.
We have ~nothing in production that produces only output from the one step.

[2018-01-16 20:03] #8411 closed

[2018-01-17 07:54] amaltaro commented on #8414
Instead of condor_rm, I think we could bump all those jobs priority by 100, making sure that jobs from that schedd will go ahead the others. Do you think this would be somehow heavy to condor, a code like
[code]

[2018-01-17 08:22] vlimant commented on #8414
no, it is not realistic to drain the schedd by having all pending running to completion. it could take days, if not week.
@bbockelm do I understand that the HostDraining does not function because of the htcondor reboot on the machine ?

[2018-01-17 08:57] amaltaro commented on #8414
We're probably not going to save/complete all jobs, but the impact will be much smaller than condor_rm'ing jobs or not touching anything related to the job/schedd priority.

Checking historical dashboard, we seem to be completing ~200k jobs per day, while we usually have between 200k and 300k production jobs pending. Besides the low priority workflows, 2 to 3 days should suffice to get most of the

[2018-01-18 15:06] ticoann commented on #8360
Alan's patch fixed this

[2018-01-18 15:06] #8360 closed

[2018-01-18 15:08] ticoann commented on #8111
Alan, this is fixed, right?

[2018-01-18 15:09] ticoann commented on #7713
duplicate #8402

[2018-01-18 15:09] #7713 closed

[2018-01-18 15:25] amaltaro commented on #8407
Allow SiteWhitelist during creation of StoreResults (though it must be set again during assignment).
FYI @mcremone

[2018-01-18 15:47] amaltaro commented on #8111
It is not :(

[2018-01-19 00:55] bbockelm commented on #8414
HostDraining should still work - you just lose all the jobs on reboot and WMAgent would have to resubmit.  That part is just really ineffficient, but would keep new jobs from starting.

[2018-01-19 14:16] bbockelm commented on #8414
@amaltaro - it's not a standard feature, it's something I proposed a few comments above.

[2018-01-19 17:15] amaltaro opened #8420 "Inject global workqueue stats into monit IT"
using the stompAMQ and the document structure used by Benjamin for the agent info
https://github.com/stiegerb/wmamon_es/blob/master/post_agentinfo.py#L92

[2018-01-19 21:28] vlimant commented on #8414
@bbockelm is there really a huge cost to condor_rm 100 jobs every 10s or so ? I'd rather have the agent handle the disconnected jobs gracefully : i.e. condor_rm and flag with a dedicated error code, so as to not flowed operation with 10s of thousands of job with a weird htcondor error. i.e. we see and know what happened to these jobs and put it aside (even better, do not show them as cooloff)

[2018-01-19 21:54] vlimant commented on #7536
de-facto, when faced with creation failures of this type Ops would just set max_events_per_lumi to 200k if not more. In such cases there has been no very long jobs created.

[2018-01-22 21:23] #8402 closed

[2018-01-23 00:18] #8407 closed

[2018-01-24 05:45] ticoann opened #8422 "WMAgent wrapper script exits non-zero if the last step in the job fails"
That is, exit non-zero in the case where the last CMSSW fails (but stageout succeeds) or stageout of non-logfile job outputs fails (and CMSSW succeeds).
 Effectively, anything that would trigger a retry in the agent.

[2018-01-24 05:45] ticoann commented on #8422
I am not sure whether this is still true. I will investigate

[2018-01-24 05:47] ticoann opened #8423 "Include basic debugging information in the cmsRun stdout"
Hostname
dump of environment variables
dump of job classad

[2018-01-24 05:49] bbockelm commented on #8422
Thanks for opening this @ticoann !

Chris Jones reported finding such an example within the last week, so I suspect there are still corner cases out there.

One potential place to start (beyond reviewing the bash code!) is to look at condor_history and see if there's any cases where we exit code 0 but use condor_chirp to report a non-zero code from the FJR.  That might be one error path already cl

[2018-01-24 05:50] ticoann commented on #8423
I assume this is only for the job which is failed, right?
Shouldn't this be propagated to some where, wmstats?

[2018-01-24 05:56] bbockelm commented on #8423
I think this should be done for all jobs.

Given that logfiles are often the reference point for debugging -- and it's often difficult to correlate logs and external systems -- it would be fairly high value to get most of the debugging information in one place.

Think of it as a denormalized database table...

[2018-01-24 09:19] amaltaro commented on #8423
In order to avoid duplicate information in different log files, perhaps we could add the _condor wrapper logs and the scramOutput into the cmsRun logArchive logs. I know the _condor logs aren't complete/finished by there, but they would contain all the information mentioned above (+ stageout information).

[2018-01-24 09:24] amaltaro commented on #8423
@ticoann I'm owning this issue and you take the other one :)

[2018-01-25 06:43] ticoann commented on #8422
@Dr15Jones, Chris, do you still have example of this. I looked through the WMAgent code but I couldn't find the apparent place for this to happen. It will be helpful which exitCode and where the error occurred which end up reporting exitCode 0. Thanks.

[2018-01-25 16:32] Dr15Jones commented on #8422
I no longer have access to the example. I believe in the case I was looking at the framework job report from the framework was unparsable because the cmsRun job crashed before closing out the xml file.

[2018-01-25 19:49] ticoann commented on #8422
Hmm, that is weird it should set different exitCode than 0 when FWJR is available.
Chris, Thank you for the info. If you find another case please let me know.

[2018-01-29 04:09] #7536 closed

[2018-01-29 08:48] amaltaro commented on #7307
@prozober given that ACDCs can be made either on unmerged or merged files, doing a phedex/dbs data location lookup doesn't seem right. If you ever need to read acdc files remotely, please use the TrustSitelists flag.

[2018-01-29 08:48] amaltaro commented on #7199
It seems it isn't happening anymore, I'm closing this issue.

[2018-01-29 08:48] #7199 closed

[2018-01-29 21:55] amaltaro opened #8427 "DrainStatusPoller fails to query the schedd when the agent is empty"
Scarlet noticed that there are errors (apparently on the CERN agent only) in the AgentStatusWatcher logs (DrainStatusPoller thread) when the agent is running but there is actually no work on going and nothing in condor. See part of the log from vocms0255.
[code]

[2018-01-30 09:43] vlimant opened #8428 "Adjusting the pending/running threshold via central configuration"
@amaltaro @ticoann is there a way to update the pending threshold via the agent configuration in couchdb ?

which is better to increase job pressure ? increase the threshold or put a new agent in production ?

[2018-01-30 10:40] amaltaro commented on #8428
It's in our plans, but there is no central location yet.

About the global pool pressure, I'd actually bump the agent thresholds instead of adding a new one.
I see an average of 40k pending jobs in each agent, last time we discussed we said the ideal'ish number would be around 55k. We (someone has to change) can try that number and see if it improves.

[2018-01-30 10:46] aperezca commented on #8428
Once more we'd much rather go in the direction of using more agents. Each schedd has a limited number of maximum running and pending jobs for a number of reasons (max number of shadows, autoclusters, max allowed negotiation time per schedd, etc). There's no point in continuously trying to get the last few % out of each one, when we can easily expand horizontally.

[2018-01-30 10:59] amaltaro commented on #8428
Antonio, this is certainly not an issue here. We're talking about 4 agents running 40k jobs only (out of ~90k). Their pending could go as high as ~4*75k, thus 300k pending jobs, and we're approaching around 210k now and going down.
That's why I think there is no need for another agent and, it's actually not the best choice if we want to make sure priorities are always obeyed.

[2018-01-30 11:15] vlimant commented on #8428
@amaltaro OK for having the thresholds adjustable via couchdb.
pressure just solved itself with several high priority workflows coming in multi-core.

@aperezca an answer to https://cms-logbook.cern.ch/elog/GlideInWMS/5964 would be much appreciated. I'll put something in unified to adjust thresholds once we know where they have to be.

[2018-01-30 11:18] aperezca commented on #8428
Alan, we want to keep schedds in the "comfort zone", not stressed, as much as possible from the SI point of view. Right now I see you are using at least 6 agents (including one at FNAL, there are two more empty), and a few more available. Why not keep it like that? The more stuff you stack on a single schedd, the more likely it is that it will get dropped in the negotiation, so that's what would d

[2018-01-30 11:37] vlimant commented on #8428
@aperezca you would have to define what "comfort zone" is other than "put as many schedd as you have in hand", with numbers and all.

[2018-01-30 11:56] aperezca commented on #8428
Certainly. That's however a multivariate analysis on the status and performance of the pool we have not yet done. Manpower and priorities, like everything else.

For the time being, as a guiding rule, I'd just keep sufficient agents to avoid them running into the warning or critical status, as defined in
/etc/condor/config.d/95_cms_daemon_monitoring.config,
something that regularly happens with pr

[2018-01-30 15:03] vlimant commented on #8428
sigh ...
it was said that the warning/critical status has little to do with the schedd actually not getting to match, all the values defining the warning are hand made and not representative as far as I am concerned ; best way to avoid getting into the warning is to increase the threshold for getting into the warning. So let's have the exact reason and let's work on this, otherwise we just waste t

[2018-01-30 15:58] bbockelm commented on #8428
The warning / critical status there was carefully tuned to indicate the level of stress being put on the system, particularly in terms of auto-clusters.  It does not indicate that the schedd is non-functional (same way that monitoring alarms for disk space usage should go off at 80% full, not 100%!).

As usual, note that the *number* of idle jobs is almost irrelevant (especially beyond, say, a tho

[2018-01-30 20:55] ticoann commented on #8174
How do we quantize?  Just added to expression?

Something like below?
[code]

[2018-01-30 21:06] bbockelm commented on #8174
Hi,

You need to apply the rounding to `EstimatedSingleCoreMins` (or other attributes) prior to submission.

HTCondor has its own internal rounding mechanisms, but they've worked very poorly for CMS -- they have fairly funky rules that cause fairly gross under-estimates or over-estimates.

Brian

[2018-01-30 21:46] bbockelm commented on #8427
Are you sure that's "real" and not just a transient issue?

There were problems pool-wide over the last week (and not necessarily related to the number of running jobs), including a restart.  That would be what I would expect in terms of error messages if you queried during a restart.

[2018-01-31 08:04] amaltaro commented on #8427
That's what I thought too, however looking at the log file, I see it repeatedly happening
`2018-01-31 01:50:23,712:139865845200640:ERROR:PyCondorAPI:Condor failed to fetch schedd constraints for: JobStatus==2Error message: Failed to fetch ads from schedd.`

Still weird why it doesn't happen with FNAL submit4...

[2018-01-31 08:05] amaltaro commented on #8174
You're too late Seangchan LoL

[2018-01-31 08:06] ticoann commented on #8174
You shouldn't work that late. :-)

[2018-01-31 11:53] aperezca commented on #8428
JR, schedds in that list were dropped by the negotiators because they were dragging them. So they will not achieve matchmaking for their jobs at least for another cycle, that's it.

More autoclusters per schedd-> longer negotiation ->increased chances of being dropped. So the warning/critical status is relevant in that case

[2018-01-31 11:59] vlimant opened #8430 "adding error code 8501 to the failing list"
since #8188 the special error code is 8501 and should not be retried

[2018-01-31 12:15] amaltaro commented on #8430
Jean-Roch, since you're seeing these errors, can you post the error message here, just for the record. Thanks

[2018-01-31 18:57] scarletnorberg commented on #8427
Yes. I was going to say that 255 still seems to be in the same state condor running (unknown (schedd query error)) and condor idle (unknown (schedd query error)) where submit4 is fine. Even if someone had restarted it seems to be going back to this state.

[2018-02-01 10:25] vlimant opened #8431 "add a "held" status"
to get people to start thinking about this, medium-low priority, even though there is a way to hold workflows via jobrouter and unified, I think we should have this directly in reqmgr/agent.
a workflow in held should have no more job submitted.
the pending jobs should either be edited with "something" that makes them unmatchable, or removed (condor_rm) from the queue.
the running jobs, we might de

[2018-02-01 15:47] ticoann commented on #8431
Is this the same issue as #8378?  If it is the same issue we can discuss it further there.

[2018-02-01 16:46] amaltaro opened #8432 "Failure creating ACDC of ACDC in testbed"
@ticoann as we discussed in the meeting, we can't create an ACDC of another ACDC in wmstats because it fails the request spec validation (though we don't get the error back in wmstats).

You can see the whole traceback here [1], from the logs in vocms0132.

I think the problem is with this PR:
https://github.com/dmwm/WMCore/pull/8394/files#diff-4d2db220d56730a22e5834d40664acc7L86

where we shouldn

[2018-02-01 20:03] vlimant commented on #8378
same as #8431 indeed

[2018-02-01 20:27] ticoann commented on #8431
duplicate

[2018-02-01 20:27] #8431 closed

[2018-02-01 20:47] ticoann commented on #8378
@vlimant, Jean-Roch what will be the side effect of held state?
As you described in #8431,

1. stop retrieving the the work from GQ
2. stop Submitting the Jobs
3. kill the jobs in pending, running state.

Is this all needed (especially No.3) ? Or is there another desired thing to do

What will be the state transition from there,
1. go back to original state
2. aborted/rejected.

Will there be any

[2018-02-01 22:08] ticoann commented on #8430
@amaltaro, Alan, did you already update aux db for this, it seems it contains 8051.

[2018-02-01 22:19] ticoann commented on #8430
default value is updated in #8435

[2018-02-01 23:35] #8430 closed

[2018-02-02 05:33] hufnagel commented on #8378
Easiest way to fit something like this into the design is to kill all running jobs, hold new submissions and let the job retry logic take care of things when you come out of held. Downside is that if you were on the last retry of a job, that job would be completely failed and wouldn't be retried. Having a workflow go in and out of held would also trigger this since it would quickly exhaust the ret

[2018-02-02 10:06] #8432 closed

[2018-02-02 16:05] vlimant commented on #8378
@ticoann you got it all right IMO.
Operationally, wf would either be left to go as is, with a fix underneath (site, condor, ...) or rejected.

The goal here is to be able to have things send in held automatically (no human latency) and then be resumed/killed depending on some later decision. i.e. held is a way to "stop the damage automatically while someone comes to look at it".

When we get to re

[2018-02-02 16:07] vlimant commented on #8378
you can view this as an immediate benefit operationally, while a longer term rethinking of job retry is ongoing.

[2018-02-03 16:26] ticoann opened #8436 "Add mysql server gone away error on db exception handler"
FYI

2018-02-03 10:58:05,947:140021197522688:INFO:BaseWorkerThread:AnalyticsPoller took 7.863 secs to execute
2018-02-03 11:03:11,076:140021197522688:ERROR:BaseWorkerThread:Error in event loop (2): <WMComponent.AnalyticsDataCollector.AnalyticsPoller.AnalyticsPoller object at 0x7f5939c2f550> (OperationalError) (2006, 'MySQL server has gone away') 'SELECT component_id FROM wm_workers\n

[2018-02-05 10:20] amaltaro commented on #8118
@fabozzi Francesco, from my last comment, it wasn't really a WMCore/WMAgent issue. Given no issues were found in the last ~6 months, I wonder whether we could close this issue?

[2018-02-05 10:23] fabozzi commented on #8118
Hi, I agree with you. I can close the issue

[2018-02-05 10:23] #8118 closed

[2018-02-05 10:25] amaltaro commented on #7177
In production since long ago.

[2018-02-05 10:25] #7177 closed

[2018-02-05 10:26] amaltaro commented on #8118
Thanks!

[2018-02-05 10:40] amaltaro opened #8437 "MySQL lock timeout in JobArchiver"
Possible the same root cause as #8140 , so aborting a large workflow and getting lots of jobs killed and their status updated.

In this case, it was 38k jobs that were idle (in submit3)
`2018-02-05 04:09:15,098:139867153495808:INFO:WMBSHelper:Killing 38250 jobs for workflow: vlimant_task_SMP-RunIISummer15wmLHEGS-00162__v1_T_170919_144827_3219`

and here is the JobArchiver traceback [1].

I think s

[2018-02-06 20:21] #8174 closed

[2018-02-07 04:55] #8423 closed

[2018-02-07 09:03] amaltaro commented on #8270
Log has been reworked and it will get copied back to the agent and it will also be available in the job logArchive tarball (which ends up in the logCollect tarball). More info on https://github.com/dmwm/WMCore/pull/8425

[2018-02-07 09:03] #8270 closed

[2018-02-07 09:06] amaltaro commented on #7342
Fixed by https://github.com/dmwm/WMCore/pull/8383

[2018-02-07 09:06] #7342 closed

[2018-02-07 09:18] amaltaro opened #8442 "Access to production logs (both condor and cmsRun)"
More or less on the same line as https://github.com/dmwm/WMCore/issues/7224,
but creating a new issue with new ideas that came up yesterday (there seems to be some details still to be sorted).

In short, every single production job would copy the logArchive tarball to both the site's /store/unmerged area AND to a CERN EOS space behind a web server.

The working items Seangchan and I came up with a

[2018-02-07 14:25] amaltaro commented on #8420
for the site_info documents, we should actually have a static list of sites. Expanding on this, global_workqueue should get a list of PSNs from SiteDB and keep it cached for a day, then we always push docs into MONIT and it becomes clear which sites don't have work.

[2018-02-07 16:29] jenimal commented on #8336
OK we are seeing this again, with the following workflow:
vlimant_task_BPH-Summer12-00255__v1_T_171102_104929_2376
This is a low priority workflow: 63000
That was submitted in 171102, before CNAF had it's meltdown.  Now CNAF has been down for a LONG time:
http://cmssst.web.cern.ch/cmssst/siteStatus/detail.html?site=T1_IT_CNAF
but now we are submitting jobs to them and of course they are failing mi

[2018-02-07 16:35] amaltaro commented on #8336
Jen, CNAF was a problem with Unified/JobRouter. Jean-Roch found the problem a day or two ago and fixed it.

[2018-02-07 16:36] jenimal commented on #8336
So we are filtering through all the jobs that are were submitted 2 days ago?  We are still seeing active errors.

[2018-02-07 16:49] amaltaro commented on #8336
Perhaps because jobs took a long time in the pending queue? You better check with the P&R team and also with Jean-Roch to see if anything was done. It wasn't the agent submitting them, so nothing we can do :)

[2018-02-07 16:52] mapsacosta commented on #8336
Thanks for the acclaration Alan.. but I still have a question.. at [1] I see 14K aborted, 3K running all of them **submitted** today Feb 7th.

One of those jobs, for example, tried to run 3 times at CNAF without succeeding

jobcooloff: 2018/2/7 (Wed) 09:50:48 UTC, T1_IT_CNAF
jobcooloff: 2018/2/7 (Wed) 11:11:16 UTC, T1_IT_CNAF
jobcooloff: 2018/2/7 (Wed) 14:20:48 UTC, T1_IT_CNAF

So are these "lefto

[2018-02-08 09:38] amaltaro opened #8443 "Publish ReqMgr stats to CERN MONIT"
We could start with:
* for workflows in assignment-approved
  * their priority
  * their RequestNumEvents (if starting from scratch)
  * maybe, amount of requests in each campaign (tricky for TaskChains)

[2018-02-08 15:29] ticoann commented on #8442
Hi Alan, thanks for creating the issue. A couple of comment on the plan.
What will be the advantage and disadvantage for transferring log archive from WorkerNode vs from WMAgent?
Also we shouldn't fail the job if transferring the logArchive to EOS fails. (I don't think we even don't fail the job if the log archive fails)

[2018-02-08 15:34] ticoann commented on #6685
Alan, it should show in logdb. I am closing the issue.

[2018-02-08 15:34] #6685 closed

[2018-02-08 18:59] goughes commented on #8427
Here's where the query stops working from the AgentStatusWatcher log:
`2018-01-25 13:30:56,176:139865845200640:INFO:DrainStatusPoller:Drain stats: {'upload_status':{'dbs_notuploaded': 0, 'dbs_open_blocks': 0, 'phedex_notuploaded': 0}, 'workflows_completed': True, 'condor_status': {'idle': 0, 'running': 0}}`

`2018-01-26 01:31:58,925:139865845200640:INFO:DrainStatusPoller:Drain stats: {'upload_stat

[2018-02-09 04:03] bbockelm commented on #8442
I think the advantage of doing it from the worker node is it keeps complexity and load off the agent itself: a daemon would have to run on the agent and launch many file copies and keep state.  Additionally, if done in the HTCondor job, we can record the EOS URL in the job ad itself -- meaning it automatically gets to Kibana.  The downside of doing it on the worker node is there's less opportunity

[2018-02-09 05:25] ticoann commented on #8443
Hi Alan,
This information is in wmstats, exactly what statistics  need to be displayed and what is the advantage of putting is CERN Monit?

[2018-02-09 08:26] amaltaro commented on #8443
Indeed they are :) I usually don't pay attention to that stats box. Still, one has to apply some filters and aggregation by priority is not supported (it is for campaign), and the output isn't very user friendly (either a row or a table).
Having this info in Monit would allow to make a fancy graph :) and have that visualization in a dashboard, together with other overview graphs of central product

[2018-02-09 10:51] amaltaro commented on #8427
Does it mean we need to create a new schedd instance
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/PyCondor/PyCondorAPI.py#L20

after every schedd restart?

[2018-02-09 14:38] goughes commented on #8427
PR #8446 might do the trick.  I can't test though because I am unable to restart condor on my test agent.  I would need sudo access to systemctl.

[2018-02-09 15:07] bbockelm commented on #8427
I wouldn't suggest recreating the schedd object each API call -- better to reuse it if possible.

I'd suggest:
1.  Have the `PyCondorAPI` recreate the schedd object on error.
2.  Have users of `PyCondorAPI` recreate the `PyCondorAPI` object on error.
3.  Simply regenerate some of these cached objects every time a poll occurs or algorithm runs.
 For example, here: https://github.com/dmwm/WMCore/blo

[2018-02-09 15:13] goughes commented on #8427
Cool, thanks Brian! I'll do another PR based off your suggestions.

[2018-02-09 15:22] ticoann commented on #8427
I would vote for this solution.  So whoever uses api doesn't have to deal with it explicitly.
Maybe using retry decorator (?) https://pypi.python.org/pypi/retrying (We already have this package in wmagent rpm).

[2018-02-09 23:49] vlimant commented on #8336
@mapsacosta several things were there. the jobrouting code was not updating to the right gh repo on the fnal agents ; fixed by Farrukh. the rules were using the extended list of sites, as per Brian implmentation and indeed used sites in drain ; fixed https://github.com/CMSCompOps/WmAgentScripts/pull/259

[2018-02-09 23:49] #8336 closed

[2018-02-11 02:33] hufnagel commented on #8442
If you don't fail a job on "copy to EOS", you need to be able to monitor this in some other way.  Otherwise you could just mass fail these things without noticing for a while.

[2018-02-12 10:16] amaltaro commented on #7273
Reopening it since it still happens in agent version 1.1.10.patch1.
I've put a bunch of logs under
http://amaltaro.web.cern.ch/amaltaro/forWMCore/Issue_7273/

where one can find the sandbox tarball created by the agent, the JobPackage.pkl transferred to the job (as decribed by TransferIn ad), the job logs from JobArchiver and alan.json is JobPackage unpickled.

These were the parameters the agent

[2018-02-12 10:18] vlimant commented on #7273
happened also in production team, but there's too much crap going for streamlined reporting

[2018-02-12 14:31] bbockelm commented on #8442
@hufnagel - As this is the mechanism to get the logfiles to operators, I hope it is somewhat self-monitored...

[2018-02-12 14:42] amaltaro opened #8448 "ACDC docs with empty list of files"
I was wondering why the original workflow ran 106 jobs and the ACDC runs only 100 (and there are 6 lumis missing in the output). Workflow running on vocms0261

Checking the ACDC collection, the reason is that there are 6 couch docs/jobs that are missing information:
https://cmsweb-testbed.cern.ch/couchdb/acdcserver/_design/ACDC/_view/byCollectionName?key=%22amaltaro_ReDigi_AllFlag_Agent1110_Valida

[2018-02-12 14:57] hufnagel commented on #8442
True. But my question is: is an operator not finding the logs he is looking for not too late ?

I mean, you only monitor this by searching for logs you want to look at, right ?

[2018-02-12 14:58] vlimant opened #8449 "Constrain on request name length"
we have had this issue recently

Exception Class: WMSpecFactoryException
Message: 'vlimant_r-0-prebello_Run2016B-03Feb2017_ver2-v2-SingleMuon-05Feb2018_ver2_944_180207_191812_393_180212_154306_1681' does not match regular expression [a-zA-Z0-9\s\.\-_]{1,100}$

however what we input is requestor, request string and that's it, then a series of characters are added of variable size, hence we cannot c

[2018-02-12 15:04] amaltaro commented on #8442
We actually have this behavior already - since we added multi stage out to CASTOR and CERN EOS - and I haven't ever heard a complaint about logs not accessible in the EOS area.
I explicitly asked that question just to make people aware that logs might be missing, of course not all of them.

I think checking the presence of those logs during a new WMAgent release validation is good enough.

[2018-02-12 15:21] hufnagel commented on #8442
True, logCollect stageout only checks the Castor stageout, it ignores failures on the EOS stageout.

[2018-02-12 19:23] bbockelm commented on #8442
Yeah - I don't think it's too late.  Right now, they manage to work around the fact we have no logs from any FNAL agent -- so random failures shouldn't be too bad.

The problem becomes when there's a bias in the failures - in that case, operators will have to dig in.

[2018-02-13 08:50] amaltaro opened #8450 "ReqMgr Aux default config docs have to be updated when there are changes"
I was wondering why `job_time_limit` wasn't showing up in the ReqMgr2 UI (in testbed) and why splitting update wasn't working either. The reason is that (some) data structs from
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/DataStructs/DefaultConfig/

don't get posted after every ReqMgr deployment (or restart). I was going to say we need to push those docs in during the servi

[2018-02-13 08:51] vlimant opened #8451 "Merge job requirements"
maybe a GH with a couple of items. There is a new issue popping up because of the merging of nanoaod.
a) we need to be able to change that requirement one way or the other. short term if it turns out that the nano merging does need more memory because it goes through many many events, long term so that we have the flexibility.
b) I noted that the watch dog is set to 2.3G-ish, but the jobs are made

[2018-02-13 08:57] vlimant commented on #8331
#8451 maybe a duplicate

[2018-02-13 09:00] vlimant commented on #8385
@ticoann yes, we'd like to be able to force-complete and run ACDC with what is there prior to doing anything else. we need this understood and corrected.

I note that we could be doing what I had asked some time ago "create ACDC document with all killed/removed jobs when force-completing" ; this would be a great asset operationally, so please consider re-prioritizing this

[2018-02-13 09:02] vlimant commented on #8378
@ticoann we need a roadmap to get this of the ground and in production.

[2018-02-13 09:06] vlimant commented on #8198
@ticoann please consider prioritizing this important item for CMS computing throughput and stability.

[2018-02-13 09:07] vlimant commented on #8448
@ticoann I have no recollection of this impacting predominantly operation ; or is it @prozober.
@ticoann Can you please explain the "High Priority" tag ?

[2018-02-13 09:09] vlimant commented on #8437
@ticoann operationally, this is important that we do not have the agent crashing when removing workloads from the system. please consider prioritizing this up

[2018-02-13 09:12] vlimant commented on #8384
found a work around to lock secondary, using Unified configuration. not good in the long run.

[2018-02-13 09:13] amaltaro commented on #8331
You mean the other way around :)

[2018-02-13 09:13] amaltaro commented on #8451
dup #8331

[2018-02-13 09:13] #8451 closed

[2018-02-13 09:13] vlimant commented on #8365
@amaltaro @ticoann do you consider this solved and components are not dying silently ?

[2018-02-13 09:15] vlimant commented on #8245
how hard @ticoann ?

[2018-02-13 09:16] #8180 closed

[2018-02-13 09:17] vlimant commented on #8176
@amaltaro this was done recently, wasn't it ?

[2018-02-13 09:17] amaltaro commented on #8450
Well, it seems it only takes a PUT request to `app_config` api (DEFAULT doc). That will push only these 3 docs:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/DataStructs/ReqMgrConfigDataCache.py#L8

We can make it part of the reqmgr2 post deployment step. I'll have a look at it as well.

[2018-02-13 09:20] amaltaro commented on #8448
It can potentially create workflows with 100% success rate while there are unaccounted "missing" lumi sections in the output. It's a nasty problem, but if people consider it to be Medium Prio, I'm also fine with that.

[2018-02-13 09:23] amaltaro commented on #8365
I think it's worth further investigation, since it's quite recent. It happened only once though, so I think High Prio label isn't justified.

[2018-02-13 09:25] amaltaro commented on #8176
Yes, we're still missing RequestMemory though, but we need to be more thoughtful about that one. I think a new issue can be opened.

[2018-02-13 09:25] #8176 closed

[2018-02-13 09:37] vlimant commented on #8168
hints in #8385

[2018-02-13 09:37] vlimant commented on #8168
@ticoann 1.2.3 you laid out seems good to me

[2018-02-13 09:39] vlimant commented on #8331
from #8451 make sure you update also what goes in htcondor when you rework this

[2018-02-13 12:03] amaltaro opened #8453 "Splitting API removing attr not provided when posting new splitting"
@ticoann I might have got something wrong, so please correct me if something is wrong.

While testing the `splitting` rest api, it looks like one has to provide all (existent) allowed splitting attributes, otherwise it just gets removed when new settings are posted.

For example, if I post this content:
[code]
the `events_per_job` attribute is gone. I'd expect the update function to update only th

[2018-02-13 16:25] ticoann commented on #8436
fixed

[2018-02-13 16:25] #8436 closed

[2018-02-13 16:27] ticoann commented on #8140
duplicate #8437

[2018-02-13 16:27] #8140 closed

[2018-02-13 21:21] ticoann commented on #8385
@vlimant,  Unless jobs are created first then failed/created, ACDC recover those (not created jobs).
It sounds like you want to make faster procedure for those workflows but don't want to actually submit and run the jobs, is it correct?
I am not sure how to add this in current system. As I mentioned in #8186
1. set the force-fail status
2. In that case, make the priority highest and so it can be p

[2018-02-13 21:34] ticoann commented on #8245
Sorry I am not sure what was the problem? So this workflow failed on GQ when it try to create the WQEs?

[2018-02-14 16:06] vlimant opened #8457 "Changing priority in assignment-approved fails"
https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_PPD-RunIISummer17PrePremix-00006__v1_T_180212_090017_6410 trying to set up to 111000 gives people

Server error message
Invalid spec parameter value: There are invalid arguments for no-status update: {u'SoftTimeout': 129600, u'BlockCloseMaxEvents': 25000000, u'MaxMergeEvents': 100000000, u'CustodialSites': u'', u'Ma...

please advise, and prio

[2018-02-14 16:10] ticoann commented on #8457
Were you trying to change just priority without changing the status to assignment?

[2018-02-14 16:20] amaltaro commented on #8457
Yes, without changing the request status. I just reproduced this error (I think I put in this bug in my latest changes to that code...)
Jean-Roch, changing the priority via REST API still works. We'll have this fixed by the next production deployment.

[2018-02-14 16:38] DAMason commented on #8442
Just to understand -- we've been staging logs to unmerged at each site for years, and then we have these log archive jobs which tar up a bunch of them and already ship them to CERN after some period of time.  Not 100% sure, but assume there is a cleanup job after the log archiving that then removes the original unmerged tarballs -- maybe at workflow closeout?  Here we're saying the job not only st

[2018-02-14 16:39] #8437 closed

[2018-02-15 08:23] amaltaro opened #8460 "Quantize RequestMemory"
This one is a bit trickier because:
1) we need to make sure the MaxRSS follows the same RequestMemory settings
2) we should quantize at the very top level, such that it makes it to the request spec to avoid misleading information

I think 250MB quanta would suffice, no?
And of course, get rid of of the HTCondor one.

[2018-02-15 15:31] ticoann commented on #7224
superseed by #8442

[2018-02-15 15:31] #7224 closed

[2018-02-15 23:41] scarletnorberg commented on #7794
https://its.cern.ch/jira/browse/CMSCOMPPR-2353
Jean-Roch noticed that 258 JobAccountant has silently crashed
We have not seen this in a while. It seems to still be happening.

[2018-02-15 23:45] vlimant commented on #7794
Apologies, I did not keep the log, but there was indeed something like "connection refused" in there dated Feb 14 2018.
Is this supposed to be fixed the recently announced release that is resilient to oracle @amaltaro ?

[2018-02-15 23:47] vlimant commented on #8460
can you make the MaxRSS in the worker node always aligned with RequestMemory that the jobs sees from htcondor ?

[2018-02-16 01:48] bbockelm commented on #8460
Can we loop SI into this ticket?  There's a few places where rounding can occur -- we want to make sure they are all lined up.

@jamesletts can you flag this and bring in whoever else needs to take a look?  (GitHub auto-complete doesn't suggest anyone else...)

[2018-02-16 04:04] ticoann commented on #7794
I see this in the log

2018-02-14 14:15:40,518:140624510367488:ERROR:pool:Exception closing connection <cx_Oracle.Connection to CMS_WMBS_PROD8@CMSR>
OperationalError: ORA-03114: not connected to ORACLE
 (OperationalError) ORA-03113: end-of-file on communication channel
2018-02-14 14:15:40,521:140624510367488:ERROR:pool:Exception closing connection <cx_Oracle.Connection to CMS_WMBS_PROD8@CMSR>
Oper

[2018-02-16 04:05] ticoann commented on #7794
Closing this since patch is already in the master and wmagent branch.

[2018-02-16 04:05] #7794 closed

[2018-02-16 06:35] amaltaro commented on #7794
Since it was JobAccountant - and not JobSubmitter, as the subject suggests - it might be related to this other issue: https://github.com/dmwm/WMCore/issues/8365

[2018-02-16 08:36] amaltaro commented on #8198
Feel free to enlighten me in case I'm missing something.
The only negative impact I see with the job accounting instead of core accounting is that the agent will queue more work to sites, that being a) more jobs and b) more cores. Since higher priority workflows AND jobs can now go through and claim slots quicker at HTCondor level, I failed to see how badly it's impacting CMS (thus the priority la

[2018-02-16 08:39] amaltaro commented on #8405
@belforte I see you fixed it in your private branch. Are you going to make a WMCore PR?

[2018-02-16 10:13] amaltaro commented on #8457
And this is why it fails via web UI, because there is a stricter input arg validation now:
https://github.com/dmwm/WMCore/pull/8419/files#diff-c4879fa72848db5e9f2c06c100bdd3c0R382

and when we GET a request via reqmgr2 UI, it loads most of the assignment parameters, which is posted again when one pushes the `submit` button to change "only" the priority.

There are two ways to fix it:
* hard way: w

[2018-02-16 15:46] ticoann commented on #7794
Thank Alan, so we still close this issue and leave #8365

[2018-02-19 05:31] bbockelm commented on #7786
@amaltaro - can we pull this one back up from the dead?  Is it relatively simple to fix?

[2018-02-19 07:02] amaltaro commented on #7786
It should be fairly simple to implement it. We just have to decide how to publish this information for multi-steps jobs (I assume a comma separated ordered string), e.g.:
* step1 on 911, step2 on 911 and step3 on 900 --> "CMSSW_9_1_1,CMSSW_9_1_1,CMSSW_9_0_0"
* step1 on 800 and step2 on 800 --> "CMSSW_8_0_0,CMSSW_8_0_0"

Does it sound good? How about the scramArchs? Do we actually care about them?

[2018-02-19 08:57] sciaba commented on #7786
How can one know the nature of the steps? Is it always obvious what stepN is? If There is no way to know what CMSSW was doing on a particular step, the information is almost useless.

[2018-02-19 09:09] amaltaro commented on #7786
HTCondor classads don't carry information step-wise, instead they contain information about a job/task as a whole. You'd probably need to correlate a job information with the ReqMgr request information, unless CMSSW provides some of that meta data already via condor_chirp...

[2018-02-19 09:23] sciaba commented on #7786
I hope it does, and if not it should (and the same for the CMSSW version as well, as Dirk had suggested). Correlating information from different sources is often unwieldy.
In general we should find a sound solution for expressing the information about the steps, considering that multi-step jobs are more and more common. This goes beyond the scope of this ticket, though.

[2018-02-19 10:31] vlimant commented on #8198
This change would allow to have the pressure done in the metric that matters downstream for gwms : #of cores. It helps [1] keeping the pressure constant, regardless what workflow is in the system (we get pretty large single-core "legitimate" generator requests. Which means not "under queueing" when the majority of the workload is single core (we can get around booting more agents, which will be ne

[2018-02-19 10:42] vlimant commented on #8385
For data reprocessing, ops is now force-completing at 95% or so, ACDC whatever is there, then recovery. But the recovery is very expensive in CPU usage. Hence the need for having all work not done go in the ACDC, so that we can work with that ACDC.
Please propose a manageable alternative.
There is an alternative that requires development outside of wmcore (essentially reworking the recoverMissingL

[2018-02-19 12:01] amaltaro commented on #8365
Ok, it happened two times more, just restarted it in vocms0252:
`2018-02-14 15:49:18,169:140294450538240:INFO:BaseWorkerThread:Worker thread <WMComponent.JobAccountant.JobAccountantPoller.JobAccountantPoller object at 0x7f98e0374e50> terminated`

 I'll have a look at it this week

[2018-02-19 14:24] bbockelm commented on #8365
Hi @amaltaro -

The initial indications suggested it was an Oracle issue, right?

Could we perhaps ask Kate to look for long-lasting locks in the corresponding database?  Since the SQL statement itself looked fairly simple, maybe it's waiting for something holding a long-lived lock?

Brian

[2018-02-19 14:27] bbockelm commented on #7786
@amaltaro - we don't really care about the SCRAM arch because we get the runtime OS information from other sources.

Nowhere in CMS do we define what a `DIGI` job is: that's been a long-standing problem in all our monitoring, but we can't really fix this in this ticket.

[2018-02-19 15:08] amaltaro commented on #8365
Reading again the traceback, it's actually happening during the component/thread initialization, it fails in the setup method which hasn't registered the new component PID yet in the database. That's why we don't see any alarms in wmstats, because the previous component ID is still in the database (hmm, but still the heart beat should timeout..)

[2018-02-19 15:58] #8457 closed

[2018-02-20 06:04] #8279 closed

[2018-02-20 10:01] belforte opened #8467 "allow to ignore lumilists when using FileBased splitting"
see
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/3554/2/1/1/1/2/2/1/2/2/1/1/1/1/1/1/1/1/1.html

this is needed by
https://github.com/dmwm/CRABServer/issues/5645

@ticoann @amaltaro @hufnagel let's use this to converge on the new signature for the SplitterFactory
so that I can make the proper changes to CRAB in
https://github.com/dmwm/CRABServer/blob/master/src/python/TaskWorker/Acti

[2018-02-20 10:12] amaltaro commented on #8467
I might still be missing something, however, this is how (check the else below too) we load the list of files:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/JobFactory.py#L237
when sortByLocation() is called. It doesn't do any lumi/run check, it simply loads what's already in the agent/database. (I'm not sure how CRAB uses this though).

Then there are a few checks in t

[2018-02-20 10:15] aperezca commented on #8460
Hi, yes, I'm watching these issues as well.
In the last SI meeting we agreed to drop any rounding (disk, time and also memory, anything else?) in one of the WMAgent schedds and rely on quantization coming from upstream. We'd need to check that number of autoclusters and negotiation time for that schedd remains under control, before extending to the whole set of agents.

[2018-02-20 10:19] amaltaro commented on #8460
Antonio, the RelVal agent has the newest version with Disk/Walltime quantization in place. The node is vocms0259. Can you have a look to make sure everything is correct?

There are more nodes going into production today, see https://cms-logbook.cern.ch/elog/GlideInWMS/6058

[2018-02-20 10:23] belforte commented on #8467
thanks @amaltaro . I will check the JobFactory.py and the CRAB code and dig for the analysis that was done when we had to set the limit. The problem only appeared in CRAB because we run 10 processes on the same machine, when a few of them load the super-large lumilists the host runs out of memory.
If we can solve by simply not passing the lumilist to the splitter factory, and no change to WMCore,

[2018-02-20 10:35] amaltaro commented on #8467
Ah-ha, now I finally see the problem, thanks! Ok, let us know your findings.

[2018-02-20 12:49] amaltaro opened #8468 "Properly fetch Job and Machine Features"
As a follow up of #8304. We need to correct how the JOBFEATURES and MACHINEFEATURES are parsed by the runtime code.
While talking to Antonio @aperezca these environment variables/files are not even enforced in CMS yet. If we want to start using them, we should probably go through a deployment/commissioning phase and enforce it (maybe through a SAM test).

FYI, paper pointed out by Antonio: http://

[2018-02-20 14:28] hufnagel commented on #8467
Technical comment, if the splitting doesn't need the run/lumi information and that information is massive, not fetching it from the database in the first place likely improves the splitting performance quite a bit.

So even if the reason for the crash isn't precisely in the data retrieval in the FileBased splitting algo, but more in what CRAB does with this information, you might still want to not

[2018-02-20 14:31] hufnagel commented on #8467
Ah, re-reading your comment, CRAB might not even use this data discovery though but have it's own. And NANOAOD will never be processed by production workflows. Ignore (for the most part) my comment then.

[2018-02-20 14:36] belforte commented on #8467
@hufnagel I fully agree with your comment. Simply have not the code in my mind and can't say where to touch it yet. Definitely will want to do make things as lean as possible

[2018-02-20 14:58] amaltaro commented on #8333
Just for the record, it happened again on vocms0255 this time. There were 44 files duplicated among the pickle job reports that the component was processing (none of them were already in the database).

Those files were removed and the component restarted. It has accumulated 127k jobs to process within these 12h of outage.

[2018-02-20 16:07] vlimant commented on #8333
how do we get this not silently shooting us in the foot ?

[2018-02-20 19:13] jenimal opened #8473 "Error Codes reporting 0 to Dashboard but 50660 to Archive and WMStats"
SeangChan was looking for instances of misreporting error codes to Dashboard.  Here is a prime example

pdmvserv_task_HIG-RunIIFall17wmLHEGS-00630__v1_T_180216_120647_5907

Looking at Dashboard:
http://dashb-cms-job.cern.ch/dashboard/templates/web-
job2/#user=&refresh=0&table=Jobs&p=1&records=25&activemenu=1&usr=&site=&submissiontool=wmagent&application=&activit
y=reprocessing&status=&check=submit

[2018-02-20 20:09] scarletnorberg opened #8474 "vocms0255 and vocms0250"
TaskArchiver on 250 seems to not be updating:
2018-02-20 19:07:23,350:140662893139712:INFO:TaskArchiverPoller:Marking subscriptions as Done ...
2018-02-20 19:07:25,431:140662893139712:INFO:TaskArchiverPoller:Marking subscriptions as Done ...
2018-02-20 19:07:26,036:140662893139712:INFO:TaskArchiverPoller:Marking subscriptions as Done ...
2018-02-20 19:07:26,544:140662893139712:INFO:TaskArchiverPol

[2018-02-20 20:38] belforte commented on #8467
@ticoann feel free to assing to me. I will either close if fix is all in crab land, or come back with request for WMCore and you can review then.

[2018-02-20 20:39] belforte commented on #8405
haven't got the chance to test that yet. Eventually I will make a PR

[2018-02-20 20:49] amaltaro commented on #8474
TaskArchiver was completely down in vocms0250. The agent has 2 other heart beat alarms, one for JobAccountant which is just fine and one for a WorkQueueManager thread. Looking at the history, there has been cases that that thread took longer than 2h to run, so I'll just leave it as it is.

JobAccountant is going through a large backlog in vocms0255

[2018-02-20 20:50] ticoann commented on #8474
I seems JobAccountant in vocms0250 is just backlogged. But TaskArchiver is seems to be stuck. I am restarting the agent.

[2018-02-21 08:09] amaltaro opened #8477 "WorkQueueManagerCleaner is very slow"
And so it raises a heartbeat alarm.
I don't know exactly what it's doing to be honest, but I see it taking a few hours per cycle, on vocms0250
[code]

probably there is some room for improvements here. Or we slice the amount of work it has to do. Or ...

[2018-02-21 08:14] amaltaro opened #8478 "CleanCouchPoller is very slow"
And so it triggers the heartbeat alarm. It has been executing the same cycle for 680min now (>10h!!!).
Maybe we can improve or slice the amount of work done in every cycle such that it doesn't take so long in busy cycles.

[2018-02-21 09:12] vlimant opened #8479 "no agent information"
https://cmsweb.cern.ch/couchdb/wmstats/_design/WMStats/_view/agentInfo?stale=update_after

 return a completely empty json.

[2018-02-21 12:36] amaltaro commented on #8479
Not anymore! We had to remove the couch views this morning to see whether wmstats would stop giving these proxy errors (timeout).

[2018-02-21 12:36] #8479 closed

[2018-02-21 13:54] amaltaro opened #8480 "Push worker threads execution time to MONIT IT"
Since we now collect this data and persist it in the relational database, it should be pretty straight forward to publish how long each component and their threads take per cycle.
This is going to be more like a developers metric/view, but I think it's quite useful.

[2018-02-21 14:01] amaltaro commented on #7158
@alexanderrichards can you remind me whether it has been fixed already?

[2018-02-21 14:04] amaltaro commented on #7140
Fixed by https://github.com/dmwm/WMCore/pull/8195
Feel free to reopen if something is missing.

[2018-02-21 14:04] #7140 closed

[2018-02-21 14:06] amaltaro commented on #6997
We're not going to send anything because there is always a site missing some of those thresholds. Moreover, there are other tools using the same views, so they will also spot in case something goes really bad.
Closing as - not necessary.

[2018-02-21 14:06] #6997 closed

[2018-02-21 16:37] amaltaro commented on #8219
This is actually a dup of #7260

[2018-02-21 16:37] #8219 closed

[2018-02-22 04:19] ticoann commented on #8236
@amaltaro, Alan, so even if MaxRSS is defined in the request, it gets overwritten when Memory value is set, is that correct?

[2018-02-22 08:18] amaltaro commented on #8236
MaxRSS can't be (manually) set during request creation, it is an assignment argument. Well, scratch that, actually it can:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L1054

If user explicitly sets it, then the expected behaviour is to use the user input (though I'm not sure it corresponds to reality :) Still, I don't think P&R team sets it during creati

[2018-02-22 12:12] amaltaro commented on #8236
Seangchan, I think I just figured what the problem is. I'll have a look at it soon and - if needed- you can follow it up on your timezone :)

[2018-02-22 20:21] #7355 closed

[2018-02-22 20:39] #8450 closed

[2018-02-22 23:13] amaltaro commented on #8236
Honestly, I think we should just "get rid of" this MaxRss and hard couple it to the Memory requirements, in a completely transparent way to the end users/P&R.

[2018-02-23 02:04] ticoann commented on #8236
I completely agree if users are not going to set it in different value than memory. I can update the patch

[2018-02-23 05:04] ticoann commented on #8236
However, looking at WmAgentScript code. It seems it is explicitly set the MaxRSS
https://github.com/CMSCompOps/WmAgentScripts/blob/master/reqMgrClient.py#L790
is MaxRSS has different unit than Memory?

[2018-02-23 06:15] amaltaro commented on #8236
They used to have, Memory is/was in MB and MaxRSS was in KB. We changed MaxRSS half an year ago to MB too, but we had to support KB too
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Monitors/PerformanceMonitor.py#L201

we should be able to replace that by now, I hope. I'm asking them in this issue:
https://github.com/CMSCompOps/WmAgentScripts/issues/248

[2018-02-23 09:25] amaltaro commented on #7273
FMY: While I look at something else in the code, I found it:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobSubmitter/JobSubmitterPoller.py#L174

it's worth having a deeper look at this code...

[2018-02-26 03:58] bbockelm commented on #7273
I wonder if it's possible that an exception is thrown before `addJobsToPackage` when handling a new job (causing the transaction to abort), then it's somehow skipped on the second refresh, causing the job to be submitted regardless.

I don't see any code that would cause this -- but seems to be one candidate we should hunt down.

[2018-02-26 11:18] amaltaro opened #8488 "Tracking job completion in HTCondor"
As discussed with Brian in https://github.com/dmwm/WMCore/pull/8469 (see full discussion over there), we can make some improvements to the job tracking where we can guarantee that the TransferOutput files have been transferred back to the schedd and that the job is really gone from the condor queue.

In short:
* only complete jobs that have left the condor queue
   * thus, do not complete jobs in

[2018-02-26 15:01] bbockelm commented on #8488
Just wanted to note that `Completed` state always _happens_, but it's typically a fraction of a second so it is rarely _observed_.  It's only when the schedd is very busy that a backlog forms for completing jobs and you see many jobs in this state.

[2018-02-26 15:07] amaltaro commented on #8488
I didn't want to pollute this thread, but about "Just wanted to note that Completed state always happens". It happens only for jobs that end "gracefully", right? Or even Held/Suspended jobs still sit in completed for a fraction of a second before leaving the queue (like, Completed is always the last job state)

[2018-02-26 16:25] amaltaro commented on #8221
@hufnagel @bbockelm any reason not to remove it?

[2018-02-26 22:20] hufnagel commented on #8221
Practical difference between removing it and setting it to 1TB is kind of irrelevant. But if you really are finally too bothered by it, sure, why not ;-).

[2018-02-26 22:24] amaltaro commented on #8221
I always heard we should not kill jobs based on vsize, that's why I used 1TB as default value :) Just wanted to hear any good arguments for doing or not something.
The more code, the more maintenance, that's the mean reason behind removing it if unused/useless.

[2018-02-26 22:27] hufnagel commented on #8221
I cannot foresee any scenario where we would ever go back and want to actually kill on VSize. So in that sense removing it should be fine (and make the code a bit easier to maintain in the long run as you said).

[2018-02-27 02:18] bbockelm commented on #8221
I would prefer to remove it.  We have `git history` if this turns out to be the wrong decision.

[2018-02-27 15:36] #8236 closed

[2018-02-27 17:04] ticoann commented on #8374
duplicate

[2018-02-27 17:04] #8374 closed

[2018-02-27 17:13] amaltaro commented on #7308
Fixed by #8424 (possibly)

[2018-02-27 17:13] #7308 closed

[2018-02-27 17:16] amaltaro commented on #8333
It's going to be fixed by #8487 , we hope! Closing it for now

[2018-02-27 17:16] #8333 closed

[2018-02-27 17:18] ticoann commented on #8308
will reopen when it happens

[2018-02-27 17:18] #8308 closed

[2018-02-27 17:21] amaltaro commented on #8085
Fixed by https://github.com/dmwm/WMCore/pull/8425

[2018-02-27 17:21] #8085 closed

[2018-02-27 17:22] amaltaro commented on #6903
@yuyiguo can you please answer the question above? Thanks

[2018-02-27 17:40] ticoann commented on #8474
since it is not happening anymore closing the issue.

[2018-02-27 17:41] #8474 closed

[2018-02-27 18:45] vlimant commented on #7669
I think this was propagated properly to wmstats

[2018-02-27 18:45] #7669 closed

[2018-02-27 19:08] ticoann commented on #7469
@prozober, @amaltaro, Alan is this still the problem?

[2018-02-27 19:10] amaltaro commented on #7469
For what I'm concerned of, nope. I didn't manage to reproduce it back there and we run ACDC merge + trust in almost every cmsweb integration tests.

[2018-02-27 19:12] ticoann commented on #8245
I still don't know what is the problem. How we can reproduce this? create the recovery workflow then create the ACDC of that when it fails? Could you point me the code how to create the recovery workflow?

[2018-02-27 19:14] amaltaro commented on #8245
I think I know what the problem is, so I can look into it. Still, we need to have a pointer to the recovery script @vlimant

[2018-02-27 19:19] vlimant commented on #8245
https://github.com/CMSCompOps/WmAgentScripts/blob/master/recoverMissingLumis.py is used to create the Resubmission "recovery" workflows.

[2018-02-27 19:28] ticoann commented on #8385
It seems you need to get 100% of workflow but last 5% is not processing soon enough and you need to speed up that 5%? I wonder what is the situation when force fail will be used (if it is implemented)  used. Do you need to twig anything when you create the ACDC?

I am not sure what will be the advantage doing let workflow completed and create the ACDC vs force fail and create the ACDC. If ACDC is

[2018-02-28 03:38] bbockelm commented on #8460
Is this done?

[2018-02-28 03:47] bbockelm commented on #8017
This is fixed.

It was due to an unlisted dependency (`libaio.so`) indirectly brought in via Oracle.  The dependency was reported by the T0 team, confirmed on the core framework mail list, then added to the container image we use for Singularity.

The T0 team confirmed the fix, so I'll preemptively close this one!

[2018-02-28 03:47] #8017 closed

[2018-02-28 08:02] amaltaro commented on #8017
Thanks!

[2018-02-28 08:16] amaltaro commented on #8460
Nope, RequestMemory requires more changes such that we make everything consistent starting from the request creation. Feel free to suggest a milestone.

[2018-02-28 09:43] vlimant opened #8492 "delayed release of work"
was discussing with @amaltaro what could be the origin of the burst on submit4

![daily](https://user-images.githubusercontent.com/4989875/36780523-88bd6120-1c73-11e8-9fac-a202f1cba7aa.png)

the agent is in drain, and it is holding work for ~10h.
Given that this impacts draining time and delivery of the samples, I would like that we get an understanding.
Given this

![daily-cpu](https://user-image

[2018-02-28 10:05] amaltaro commented on #8492
For the record while I have some investigation still fresh in my mind.
As we chatted, it could be pretty much anything, it could be LQE having a valid location, sites going in/out of drain, priority x resources, components misbehaving (not the case here), workflows being force-completed/aborted, etc.

Can you provide the same plots but for a longer period of time (at least > 3days). Just to see wh

[2018-02-28 10:17] amaltaro commented on #8334
Jean-Roch noticed something weird going on with vocms0254, regarding this request:
pdmvserv_task_EXO-RunIISummer16NanoAOD-01867__v1_T_180210_152217_1516

it has only two WQE, both in Running state on vocms0254. One of them is completed, the other is `Running` in the agent. The wf_id `16179` and sub_id `34350` is still not finished, see
[code]

both Processing filesets are no longer `open`, but onl

[2018-02-28 12:48] amaltaro commented on #8334
I found the problem, but I don't know how it happened!

The file available for job splitting does NOT have any run/lumi map information:
[code]

which makes this file not to have any Run object inside the job splitting algo, which causes no job to be created:
https://github.com/dmwm/WMCore/blob/1.1.8_wmagent/src/python/WMCore/JobSplitting/EventAwareLumiBased.py#L120

The component responsible for

[2018-02-28 15:31] amaltaro commented on #8334
And I have a conceptual comment, even though code-wise it seems to be correct.

I can't make much sense of this code
https://github.com/dmwm/WMCore/blob/1.1.8_wmagent/src/python/WMCore/WorkQueue/WMBSHelper.py#L438

haven't we started a new transaction object a few lines above? Thus, I'd expect `existingTransaction` to be True, (problem is that it would not commit anything in that case).

It seems

[2018-02-28 17:11] ticoann commented on #8334
Alan, you are right. The code should be above.  I think it was mistake.
But since this should be (is) a top level function, maybe someone want to make sure it commits.
I would change the code for clarity.

[2018-02-28 20:59] amaltaro opened #8493 "JobSubmitter memory hungry"
As reported by Diego in this elog
https://cms-logbook.cern.ch/elog/GlideInWMS/6087

there is a wmagent process that is consuming around 18GB of RSS memory on vocms0253. Having a look at the agent, that's JobSubmitter:
[code]

This must be the reason why that process sometimes silently dies (or it gets somehow stuck, I don't remember right now) and causes it to be automatically restarted.

For the

[2018-02-28 21:10] ticoann commented on #8493
We can control the memory usage (in some degree) by setting below value lower.
config.JobSubmitter.cacheRefreshSize = 30000
Currently it gets holds 30000 record in the cache, which shouldn't be 18GB. I will restart JobSubmitter whether memory usage goes up again. We might have some memory leak.

[2018-03-01 00:39] ticoann commented on #8493
After JobAccountant restarted memory usage is around 400MB. So it doesn't seem to be due a cache size. (cache was reduced only 33%). I will monitor for a few more days.

[2018-03-01 09:34] vlimant commented on #8334
what can we do in the short term to release the missing jobs ?

[2018-03-01 14:04] hufnagel commented on #8334
Retrieve the run/lumi for the affected files from DBS, then insert the missing run/lumi database records in WMBS. Next job splitter data discovery should find it. @amaltaro , do you agree ?

[2018-03-01 14:17] amaltaro commented on #8334
Yes, I'll try this procedure for that one file/workflow. If things go well, then we'll have to see how many we're missing and automatically fetch/insert the missing info.
Sorry, I had the pleasure to be stuck in the car for the whole morning...

[2018-03-01 19:53] amaltaro commented on #8334
@vlimant the agent had only that file without the run/lumi map. I manually inserted it, the job was created and that workflow is now announced.

[2018-03-01 22:08] vlimant commented on #8334
is there a way to detect other such cases ?
https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=pdmvserv_task_B2G-RunIISummer16NanoAOD-01730__v1_T_180228_041828_870
https://cmsweb.cern.ch/couchdb/workqueue/_design/WorkQueue/_rewrite/elementsInfo?request=pdmvserv_task_B2G-RunIISummer16NanoAOD-01233__v1_T_180227_201834_636
https://cmsweb.cern.ch/couchdb/workqueue

[2018-03-01 22:09] vlimant commented on #8334
there are several others with same stalling apparent behavior that can be spotted visually, let me know if you find a way to track them all down

[2018-03-02 04:23] ticoann commented on #8334
It seem above workflows are stuck with different reason than Alan described.

It merge task create the job but not yet submitted. (Not sure why)
/pdmvserv_task_B2G-RunIISummer16NanoAOD-01730__v1_T_180228_041828_870/B2G-RunIISummer16NanoAOD-01730_0/B2G-RunIISummer16NanoAOD-01730_0MergeNANOEDMAODSIMoutput

http://vocms0253.cern.ch:5984/wmagent_jobdump%2Fjobs/_design/JobDump/_show/jobSummary/500188

[2018-03-02 07:13] amaltaro commented on #8334
Seangchan, for the case you looked up, that processing job ran at T1_US_FNAL, so the merge and logCollect jobs are waiting to run there. Problem is that FNAL has more jobs pending than the number of slots
[code]

that's why even these very high priority jobs haven't been submitted to condor yet.

Question is, why we have exceeded the site pending slots? Possible because the agent pulled higher pri

[2018-03-02 07:52] amaltaro commented on #8334
BTW, I've just checked all the other agents in drain and there are no cases of files without run/lumi map. Which makes it very unlikely to be a bug in the WMCore code btw...

[2018-03-02 08:47] vlimant commented on #8334
apologies for dumping an unrelated set of workflow in the issue. good if no other such cases are in no other agents (did you check also the running ones?)

[2018-03-02 10:16] amaltaro commented on #8334
Yep, it's all good!

[2018-03-02 15:14] ticoann commented on #8334
Thanks Alan for checking this one but don't work while you are on vacation.

[2018-03-02 15:20] ticoann opened #8495 "clone API doesn't work (400 error)"
It seem it need to filter out RequestName)

Following API gives  400 error.

cmst2@vocms049:/data/cmst2 $ curl --cert $X509_USER_CERT --key $X509_USER_KEY -X PUT -H "Content-type: application/json"  -d '{"RequestNumEvents": 4000}' https://cmsweb.cern.ch/reqmgr2/data/request/clone/wmagent_dmason_NERSCTEST_171102_171002_8020

[2018-03-02 16:09] dlont opened #8496 "reqmgr priority update using curl"
I copy the issue from JIRA https://its.cern.ch/jira/browse/CMSCOMPPR-2448

I tried using REST API, as you suggested, but I cannot even GET the dictionary, i.e.

curl --cert myusercert.pem --key myuserkey.pem -X GET https://cmsweb.cern.ch/reqmgr2/data/request/pdmvserv_task_TOP-RunIISummer15wmLHEGS-00284__v1_T_180227_092148_7752

throws an error:

curl: (58) Unable to load client key -8178.

It is n

[2018-03-02 17:19] ticoann commented on #8496
@dlont, Hi Denys,
Are you using curl and openssl?
You can create RSA key and try with that

openssl pkcs8 -in path/to/your/pkcs8/key -out path/to/rsa/key
Here is more of the same problem you are having.
https://stackoverflow.com/questions/20969241/curl-58-unable-to-load-client-key-8178

Anyway, web ui for changing priority is fixed and will be deployed next week.
If you could tell me the requests

[2018-03-02 17:40] ticoann commented on #8334
It seems there are a lot of higher priority jobs running on FNAL but I haven't specifically checked for the merge job. Anyway, if it is the real problem, I will create the separate issue.

[2018-03-02 18:49] dlont commented on #8496
It is the workflow specified in the original message

[2018-03-02 19:48] amaltaro commented on #8495
@ticoann I guess we're missing some details with this curl call, because using python https works just fine:
[code]

You can see this script here:
https://github.com/amaltaro/scripts/blob/master/ReqMgr2/clone.py#L22

[2018-03-02 19:52] amaltaro commented on #8495
and voila:
[code]

[2018-03-02 20:03] thongonary commented on #8331
So... how straightforward it is to increase the threshold to some higher value, say, 4GB?

[2018-03-02 20:53] hufnagel commented on #8331
You don't want to do this for all such jobs. Requesting 4GB for standard merge, cleanup, logcollect etc jobs means you have less resources that can run them (you wait longer to run them and can run less of them) and you leave less resources available for other jobs.

If special types of utility jobs (i.e. NANOAOD merges that aren't really standard merges) need more memory, we should request more m

[2018-03-02 22:02] thongonary commented on #8331
Thanks! That's what we want.

[2018-03-03 03:56] ticoann commented on #8496
Hi Denys, Priority is updated to 82K. Since the issue (curl failure) itself doesn't seem to be WMCore issues. If you agree, could you close the issue?

[2018-03-03 04:25] ticoann commented on #8495
Thanks Alan, I used PUT instead of POST. That is why I got the error. (following works)

curl --cert $X509_USER_CERT --key $X509_USER_KEY -X POST -H "Content-type: application/json"  -H "Accept: application/json"  -d '{"Step1":{"RequestNumEvents": 4000}}' https://cmsweb.cern.ch/reqmgr2/data/request/clone/wmagent_dmason_NERSCTEST_171102_171002_8020

[2018-03-03 04:25] #8495 closed

[2018-03-03 07:13] amaltaro commented on #8331
For the record, several of the `Task` getters/setters methods don't touch "utilitarian" jobs. Right now we cannot change resource requirements for such jobs and if we want to support updates to those tasks too, that's going to be tricky and likely ugly for the assigner/unified side (the only way I see memory updates working without causing issues in other tasks would be specificifying every single

[2018-03-03 12:58] vlimant opened #8497 "Speed Draining from central config"
Apologies for the duplicate GH in case there's one already ; I could not find one.
when the functionality of speed draining an agent with a flip of a switch in central couch, please update this ticket so that I can have unified use the switch.
@amaltaro which Erik is working on this ?

[2018-03-03 21:21] amaltaro commented on #8497
This issue is already being discussed in https://github.com/dmwm/WMCore/issues/7495

[2018-03-03 21:21] #8497 closed

[2018-03-04 07:45] bbockelm commented on #8331
Hi,

Note that the NanoAOD merge issues are really a ROOT bug -- and affect how well these files can be effectively read by users.  See:

https://github.com/cms-sw/cmssw/pull/22445

For the other merge jobs - are we really seeing memory limits, or are we simply snapshotting `cmsRun` when it forks?  The watchdog should be using PSS, not RSS, in the end.

Brian

[2018-03-04 09:43] amaltaro opened #8498 "Monitor memory utilization based on PSS instead of RSS"
Some interesting explanation here: https://elinux.org/Android_Memory_Usage

In short, RSS considers all pages of shared libraries (so there is always an overcounting), while PSS (Proportional) divide that size among all the processes sharing it.

[2018-03-04 15:01] bbockelm commented on #8498
This is relevant because `cmsRun` will `fork` / `exec` in order to startup `condor_chirp` for statistics gathering.

If the watchdog triggers after the `fork` but before the `exec`, it will currently see the memory usage as doubling, even though the RAM usage is approximately the same.  Since this phase is quite short, it will just cause infrequent "mystery memory usage" that looks as if it double

[2018-03-05 01:27] dlont commented on #8496
Yes, I agree, but I need to move a couple of wfs to 89k, please.

https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_TOP-RunIISummer15wmLHEGS-00285__v1_T_180301_042036_331

https://cmsweb.cern.ch/reqmgr2/fetch?rid=pdmvserv_task_TOP-RunIISummer15wmLHEGS-00286__v1_T_180301_041930_4968

[2018-03-05 07:06] amaltaro commented on #8496
Hi Denys, as requested, I've updated the priority of these 2 workflows above to 89k.
As Seangchan already mentioned, the web UI will get fixed during tomorrow's CMSWEB upgrade.
I'm closing this issue

[2018-03-05 07:06] #8496 closed

[2018-03-05 07:58] amaltaro commented on #8448
For the record, it seems to be completely reproducible with this template:
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMgr/requests/Integration/ReDigi_AllFlag.json

maybe there is something very very _special_ about this setup that triggers that...

[2018-03-05 21:41] ticoann opened #8499 "Provide get call for splitting only returns updatable parameters."
Add options on following api which returns only valid parameters for update.
/reqmgr2/data/splitting/

[2018-03-06 07:37] amaltaro commented on #8499
For this specific case, I think we should GET all splitting parameters but when one POSTs it, we should update only what's allowed.
For the record, another issue created on the same subject a week ago: https://github.com/dmwm/WMCore/issues/8453

[2018-03-06 14:58] ticoann commented on #8499
I have a little different approach to that. Since we are getting strict about validation. I think we shouldn't ignore the some parameters blindly. If we want to be more flexible, we should at least report back which parameters won't be updated. But also, user shouldn't try to modify some parameters which is allowed to be changed.

[2018-03-06 15:02] amaltaro commented on #8499
I completely agree! However, in this case we'd need to return only changeable parameters with the GET api, which might not be optimal if someone wants to check all job splitting parameters.

[2018-03-06 15:05] ticoann commented on #8499
Oh, I meant add "option" to retrieve only updatable parameters. So we can add query string ?only_updatable=true. Than, returns the list of values which can be updated. Without that option behavior of get will be the same.

[2018-03-06 15:08] amaltaro commented on #8499
Approved!!! :)

[2018-03-06 15:09] ticoann commented on #8499
Thank you, Sir. 😄

[2018-03-06 15:21] amaltaro commented on #8453
@ticoann since you're going to look into this splitting API, can you also have a look at this issue?

[2018-03-06 16:44] #8468 closed

[2018-03-06 20:20] #6821 closed

[2018-03-07 16:44] amaltaro commented on #8448
And in the end it's a problem with files without any valid location, that's why the same template fails all the time. That template is assigned with Trust flags enabled and, one of the blocks
/BuToJpsiKV2_BMuonFilter_TuneCUEP8M1_13TeV-pythia8-evtgen/RunIIWinter15GS-MCRUN2_71_V1_ext1-v2/GEN-SIM#50a1707e-c0bc-11e6-8e8a-001e67abef8c

don't have any valid location (besides buffer and MSS).

Then when

[2018-03-07 17:08] #8334 closed

[2018-03-08 04:33] #8365 closed

[2018-03-08 10:08] amaltaro commented on #8448
Let's discuss in the meeting today whether:
a) TrustSitelists should force SiteWhitelist to be the location of every input file in wmbs_file_location
or
b) whether we should add another handle for jobs that come back with no input files from this code:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/ErrorHandler/ErrorHandlerPoller.py#L366
and basically rerun the same DAO but with

[2018-03-08 12:49] amaltaro commented on #8253
While working on another issue on the same component, I think we can get a reasonable speed up if we sort `failedJobs` by workflow and task. It will avoid lots of CouchCollection and CouchFileset creations, see
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ACDC/DataCollectionService.py#L90

to profit of such changes, we need then increase the number of failed jobs processed per cycl

[2018-03-09 09:06] amaltaro commented on #7495
@goughes @ticoann I updated the title and description of this issue at the very top. Let me know your thoughts

[2018-03-09 17:31] ticoann opened #8506 "fix the returnCursor or remove it"
This causes following error when there more than 600 binding is passed (current cms oracle setup)

DatabaseError: (DatabaseError) ORA-01000: maximum open cursors exceeded.

In the comment, it said it is not supported by select - make sure this is true.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Database/DBCore.py#L86

There is one place in WMCore it uses but there are few places

[2018-03-09 18:05] ticoann commented on #8453
It seems it should set up (update) correctly. But only top level task doesn't set up correctly in the workQueue splitting parameter. Does that wha you observed?

[2018-03-09 18:53] amaltaro commented on #8453
I didn't even assign those tests because I'm pretty sure it will break JobCreator (maybe even Global WorkQueue), since the splitting attribute is removed.

You can try the example I mentioned above, but before changing the splitting, have a look at the workload spec (not the json) and locate the `splitting` section. After you update the job splitting with partial parameters, you'll see that some a

[2018-03-09 20:02] ticoann commented on #8453
Are you calling REST api something like below?
[code]

[2018-03-09 20:07] ticoann commented on #8453
Never mind Alan, I can reproduce the problem thanks.

[2018-03-12 12:35] amaltaro commented on #7273
I can't really see that happening. The only exception that wouldn't rollback the transaction (and is not terminal) happens to jobs that failed to be submitted, thus they weren't actually added to the cache.
Any other exception would trigger a transaction rollback and be terminal to the component.

JobPackage is job driven, by this I mean they get created as we load/parse jobs, which "at the same t

[2018-03-13 05:18] #7181 closed

[2018-03-13 08:32] amaltaro commented on #8498
BTW, I thought ps would have the `pss` argument, but it doesn't! It looks like we have to look at `/proc/$pid/smaps` instead (does the pilot/payload have access to it?).

Here's a suggestion on how to monitor PSS memory usage (mind that the first answer is wrong, we have to actually sum all those entries up):
https://superuser.com/questions/102005/how-can-i-display-the-memory-usage-of-each-process

[2018-03-13 09:48] amaltaro commented on #8403
Sigh... it happened again on the CMS@Home agent (vocms0267), I put the bad job report here for further investigation:
http://amaltaro.web.cern.ch/amaltaro/forWMCore/Issue_8403/

traceback is
[code]

[2018-03-13 14:34] bbockelm commented on #8506
The solution we discussed yesterday was to return an iterator which yields the cursors.  That way, the returning code can process them instantly and close them as they are returned.

See also: https://github.com/dmwm/DBS/issues/560

[2018-03-13 14:39] bbockelm opened #8510 "Scale lumisection by filter efficiency"
TaskChains can produce very small lumisections when many of the generated events are filtered out.

For example, if 99% of events are removed, a 300 event lumisection at the generator step becomes a 3 event lumisection for DIGI/RECO; the latter has seriously bad CPU efficiencies as we must serialize on lumi boundaries.

After discussion on the CPU efficiency mailing list, I think we've settled on 

[2018-03-13 16:56] ticoann commented on #8506
Thanks Brian, that is good idea. I looked at the code. There are few place needs to be changed to pass the iterable instead of list. However, only when it returns the cursor not data (There are too many place to using this I am not sure whether how many cases it expect list (using list method). Anyway, I will create the patch. Thank you for the tip.

[2018-03-13 20:05] vlimant opened #8513 "50664 in no retry list"
de-facto the agent configurations were updated to not retry jobs that hard-timedout at the ~47h limit.
I think this should be set as a default.
@prozober can likely find an error printout while scanning the on-going failures

[2018-03-14 08:48] vlimant commented on #8510
n.b. we already rely heavily on the filter-efficiency, which values is somehow more sane than you might think.
I am surprised of the absence of the /=efficiency at the line you point out to, but then, on the injection side of things:

https://github.com/cms-PdmV/cmsPdmV/blob/14e47fae465857eae9c5ad976781afbe2ac8ed41/mcm/json_layer/request.py#L2741
https://github.com/cms-PdmV/cmsPdmV/blob/14e47fae46

[2018-03-14 09:10] vlimant commented on #8510
remembering this #6857

[2018-03-14 12:17] prozober opened #8514 "No run/lumi information in file (WMAgent)"
We have seen this exception in several ReRecos

`NoRunLumiInformation (Exit code: 70452)
No run/lumi information in file (WMAgent)., file was /store/data/Run2017G/HIZeroBias1/DQMIO/17Nov2017-v1/90000/F278548C-0826-E811-A168-0242AC1C0500.root`

In this case, https://dmytro.web.cern.ch/dmytro/cmsprodmon/workflows.php?prep_id=ReReco-Run2017G-HIZeroBias1-17Nov2017-0025, it seems the file just vanished

[2018-03-14 14:47] vlimant commented on #6857
is this something I should implement on unified side, or that should go in wmcore ?
@ticoann @amaltaro due to the expected deterioration of cpu efficiency because of this, this is now high priority.

[2018-03-14 15:50] amaltaro commented on #6857
Should we a) round down, b) round up or c) round to the closest multiple? Needless to say, such jobs will no longer target 8h length, but some more (or less).

However, IF `EventsPerJob` is provided during request creation, then I assume we don't do anything with that, right?

[2018-03-14 15:57] amaltaro commented on #8510
Do we want to update it in WMCore then? We can make this change for the next CMSWEB release if agreed.

[2018-03-14 15:58] ticoann commented on #6857
What splitting algo we are talking about here? EventBased, right? Doesn't EventAwareLumiBased do this already?

[2018-03-14 16:20] amaltaro commented on #6857
It's only EventBased, the others *LumiBased are in the end splitted by lumis. I can take this issue Seangchan, especially because the fix is simple ;)

[2018-03-14 16:31] vlimant commented on #6857
"not simple" in 2016, "simple" in 2018 ;-)

[2018-03-14 16:32] amaltaro commented on #8514
Paola, this same issue was initially reported in here:
https://github.com/dmwm/WMCore/issues/8258#issuecomment-337850035

and as you can see from my reply, the CMSSW FJR doesn't really have any run lumi information, that's why the agent cannot find any of them and raises this job failure. Ohh, the missing run/lumi information is also missing for the input files.

I wonder if that job skipped all u

[2018-03-14 16:39] amaltaro commented on #6857
Code is much easier now than it was in the beginning of 2016 :-)
BTW, I'll seek this approach: c) round to the closest multiple

[2018-03-14 16:43] prozober commented on #8514
@amaltaro, it seems all files were skipped https://cms-unified.web.cern.ch/cms-unified//joblogs/fabozzi_Run2017G-v1-HIZeroBias1-17Nov2017_944_180306_174119_2212/70452/DataProcessingMergeDQMoutput/52fa7d26-255a-11e8-8e5c-ac1f6b05ec6a-11-4-logArchive/job/WMTaskSpace/cmsRun1/cmsRun1-stdout.log.trunc.txt

[2018-03-14 17:02] amaltaro commented on #8514
Oh, I see the "Failed to open file..."
Ok, then the only thing left to be done in WMCore is to change this exit code and error message to something more clear. Now why it skipped so many files, that's something to be followed up with the SS team, I think

[2018-03-14 17:21] vlimant commented on #6857
I think we need some elasticity in both events_per_job and events_per_lumi, i.e adjust either one of them depending on how much you have to change them.
see the attached python

[2018-03-14 17:22] vlimant commented on #6857
[l.py.txt](https://github.com/dmwm/WMCore/files/1812224/l.py.txt)

[2018-03-14 18:36] amaltaro commented on #6857
Patch was created based on the initial discussion. Is there any strong reason to have this elasticity? Your snippet mentions number of jobs, this part of the code has no clue of jobs (it's all one job).

[2018-03-14 19:50] vlimant commented on #6857
typo indeed, the njobs is nlumisinthejob.
the elasticity makes it that we do not have to worry about whether EpL and EpJ are multiple of each other or equal, and rely on the submission side to behave. conceptually, this should be the production system that makes sure no tiny lumis are created, not the requester that does not care the last bit about lumisize in MC.
the patch is good, we'll just hav

[2018-03-15 11:07] amaltaro opened #8516 "Add the service certificate under AgentStatusWatcher watch"
The component has all the mechanism to monitor the proxy lifetime already, we should add the service certificate as well and get notifications (error!) when it's about to expire.

[2018-03-15 18:36] anorkus opened #8517 "None values in reqmgr2 injection, while input dictionary has zero None values"
Last week we noticed a masive (few hundred requests) were failing injection to reqmgr2 with this error:
          <p>Invalid spec parameter value: int() argument must be a string or a number, not 'NoneType'</p>

example dictionary we tried to inject is here: https://pastebin.com/raw/gAC4TEzW

We are not sending any null values in dictionary. So it seems it's missing a variable, but... I retried in

[2018-03-15 20:07] amaltaro commented on #8517
Yes, printing the parameter name in the error message makes a lot of sense, unfortunately it doesn't seem to be the case for data type check, we'll fix it.

This is still fresh and we have a timestamp. I'll check the reqmgr2 logs tomorrow to see if I can get any useful info from it.

[2018-03-15 21:07] amaltaro opened #8518 "Clean up ReqMgr2Only code"
Which was used in the transition from ReqMgr to ReqMgr2. Time to do some housekeeping :)

[2018-03-15 23:53] #8499 closed

[2018-03-15 23:54] #8453 closed

[2018-03-15 23:55] #6857 closed

[2018-03-16 06:21] anorkus commented on #8517
the most strangest error (maybe related to None values) was on March 14, 2018 10:21 AM sending this dictionary: https://pastebin.com/raw/vkGT39CM

Exception Class: WMSpecFactoryException
Message: Argument 'Task1' cannot be None
        ModuleName : WMCore.WMSpec.WMWorkloadTools
        MethodName : _validateArgumentDict
        ClassInstance : None
        FileName : /data/srv/beHG1803c/sw/slc7_am

[2018-03-16 07:29] amaltaro commented on #8517
I also hit this issue yesterday. It comes from the slightly complex validation of dict arguments.

For the first issue, I think it comes from here:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/TaskChain.py#L482

I'll investigate it for the next week testbed deployment.

[2018-03-16 10:20] vlimant commented on #6857
I am overly confused about how things are going. We discussed this, and decided that we would keep the EpJ as a suggestion, and enforce no small lumi here, since there is no use case for ever wanting to have a "small lumi at the end".

[2018-03-16 20:00] ticoann commented on #8376
This was impossible to calculate correctly. since dbs didn't contains each events per lumi and file.
We just estimated the all the lumis have the same number of events with in the file. In case some lumis in the file has different event number then others the number will be slightly off.
Now we are putting that information on DBS there are some data we can calculate accurately, (Since June 2017 an

[2018-03-16 20:05] ticoann commented on #8376
Just for me to remember

Fix will be filtering exact matching events with the corresponding lumis from this call.

https://cmsweb.cern.ch/dbs/prod/global/DBSReader/filelumis?logical_file_name=/store/mc/PhaseIITDRFall17wmLHEGS/TTGamma_SingleLeptFromTbar_TuneCUETP8M1_14TeV-madgraph-pythia8/GEN-SIM/1core5k_93X_upgrade2023_realistic_v2_ext1-v3/40000/E61A3274-21DA-E711-B8BF-5065F381A251.root

In WMCore

[2018-03-19 19:39] ericvaandering commented on #8376
What's the field used for? If nothing, maybe it could be named "estimated" for cases where it can't be calculated correctly.

Seangchan, do you know (not suggesting a partial solution here) if the calculation assumes all lumis in the dataset are the same or all lumis in a FILE are the same?

[2018-03-19 19:50] ticoann commented on #8376
Not directly in WMAgent, I can change the name. I am not sure how this is used in Unified. Jean-Roch, could you comment on that?

[2018-03-19 19:55] ticoann commented on #8403
@amaltaro, do you still want to leave this open? Since Brian's uuid4 patch would mostly fix this?

[2018-03-19 21:00] amaltaro commented on #8403
uuid fixes another issue, not this one :)

[2018-03-20 00:44] ticoann commented on #8403
Ah, yes you are right. :-)

[2018-03-20 06:02] amaltaro opened #8522 "Cleanup/alarm for logs in /store/logs/prod/recent/"
Follow up of #8456
It's not a WMCore issue, but I think it's worthy having a ticket here and discuss how we're going to handle that log storage space. The allocation is 30TB and a maximum of 50M files, which can be seen with
[code]

According to dashboard, we're running between 500 and 600k jobs a day (based on the last week resource utilization). From Seangchan's recent tests, the tarballs are ar

[2018-03-20 15:29] ticoann opened #8523 "Provide parameters for override from Spec definition"
Need to set up the override value from spec definition.
and set it using
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMStep.py#L139

[2018-03-20 19:06] ticoann commented on #8403
It seems special character is in the error message. This should be fixed.

2018-03-20 19:59:36,007:140106155919104:ERROR:CMSCouch:{'docs': [{'timestamp': 1521572374, 'archivestatus': 'ready', 'retrycount': 0, 'fwjr': {'task': '/ireid_MonteCarlo_eff2_IDR_CMS_Home_180317_211405_3095/Production', 'PrepID': 'FSQ-ppSpring2014-00007', 'skippedFiles': [], 'Campaign': 'IDR_CMS_Home', 'fallbackFiles': [],

[2018-03-21 13:46] amaltaro opened #8525 "Incorrect retry count in wmstats"
While debugging something else with Vytas, we noticed wmstats reports retry_count + 1.
The first time a job fails (goes to cooloff), the retry number is supposed to be 0, not 1. Or we rename it to something like "Attempt count"...

See the state transition below to see how many times this job was retried (only once).

[code]

[2018-03-21 13:46] amaltaro commented on #8525
You know this code much better than me, so there you go @ticoann  :-)

[2018-03-22 15:11] ticoann commented on #8442
fixed by #8456

[2018-03-22 15:11] #8442 closed

[2018-03-22 15:21] amaltaro commented on #8442
Wooohoooo!!!!!

[2018-03-22 15:22] ticoann commented on #8442
If we don't clean up,  we will have a problem. 😄

[2018-03-22 15:55] ticoann commented on #8510
Is this still a issue? Real issue is #6857, right? In that case, we can

[2018-03-22 19:41] vlimant commented on #8376
it can stay inaccurate as it is. I understand the lumitation from the lumimask now. it's only used in prodmon monitoring (not in unified)

[2018-03-22 19:42] vlimant commented on #8510
we need to hold on for the agreement on doing the coordinated changes on both ends mcm/reqmgr

[2018-03-22 19:42] #8376 closed

[2018-03-23 08:32] amaltaro opened #8528 "Heartbeat timeouts for WorkQueueManagerWMBSFileFeeder"
As reported here:
https://its.cern.ch/jira/browse/CMSCOMPPR-2534

this WorkQueueManager thread spent around 12h processing/inserting data into the database for some requests.

From vocms0253 logs, it spent around 11h to process this request:
vlimant_ACDC0_task_HIG-RunIIFall17wmLHEGS-00623__v1_T_180322_210305_3387

[code]

[2018-03-23 15:58] #8443 closed

[2018-03-23 16:53] ticoann commented on #8427
fixed

[2018-03-23 16:53] #8427 closed

[2018-03-25 08:36] bbockelm commented on #8522
@vlimant - who in operations would be in the best position to do this?

It's "just a cronjob", but getting it known to operations (documented, finding a responsible team, etc) is probably more effort than writing the cronjob itself.

[2018-03-25 08:42] amaltaro commented on #8528
vocms0257 is even in a worse situation, apparently the component has spent almost 3 days injecting one ACDC information into WMBS (and counting):
[code]

[2018-03-26 14:21] amaltaro commented on #8528
Again from vocms0257, now with my debug logs
[code]

so the thread spent around 10h on `_addACDCFileToWMBSFile()`, which basically creates a bunch of File and DBSBufferFile objects (for this workflow, around 212k unique files!!!). Bad news is, I couldn't find any clear and easy improvements to be done here.

The worst offender is still `_createFilesInDBSBuffer()` though, which took ~16h so far. Th

[2018-03-27 09:10] vlimant commented on #8522
the availability of reports/logs from unified is set to "keep everything you have for workflows that have not been announced more than 2 weeks ago".
the cron is already set, I would just need to add /eos/cms/store/logs/prod/recent to the paths to clean and be given delete permission in it.

[2018-03-27 09:12] vlimant commented on #8510
@anorkus has agreed to push the change on mcm when the change is deployed for reqmgr.
@amaltaro please go ahead with a change, and coordinate deployment

[2018-03-27 09:39] vlimant commented on #8442
the "year of the log" ; champagne all around !

[2018-03-27 11:09] amaltaro commented on #8510
Thanks! Antanas, let's plan this change for *May* production upgrade.

[2018-04-04 03:40] #7786 closed

[2018-04-04 06:50] amaltaro commented on #8355
@vytjan Vytas is willing to have a look at this issue :)

[2018-04-04 15:28] goughes commented on #7495
Alan and I discussed details of the speed drain.  Here is the current plan:

- Update drain thread polling from 12 hours to 1 hour
- Don't have a speed drain flag, just go into speed drain mode at the thresholds defined by 'SpeedyDrainConfig' dictionary.
- Criteria for updating any agent configuration: if drain mode and a valid speed drain config
- Rename key name in dictionary so they are more me

[2018-04-04 19:57] amaltaro opened #8544 "ReqMgr2 request API with pileup query strings"
While looking at ReqMgr2 APIs to list requests using a given pileup dataset, I noticed that the `mc_pileup` query string
https://cmsweb.cern.ch/reqmgr2/data/request?mc_pileup=/Neutrino_E-10_gun/RunIISummer17PrePremix-MC_v2_94X_mc2017_realistic_v9-v1/GEN-SIM-DIGI-RAW&detail=false&status=ACTIVE

returns a different result than `mc_pileup` + `data_pileup` query
https://cmsweb.cern.ch/reqmgr2/data/req

[2018-04-04 21:25] #8391 closed

[2018-04-05 10:04] amaltaro opened #8545 "JobUpdater crashing with timeout"
It happened to the CMS@Home agent, we should just skip the cycle (and maybe register it in logdb).

Traceback was
[code]

[2018-04-09 12:34] amaltaro commented on #8513
This is already in

[2018-04-09 12:34] #8513 closed

[2018-04-09 13:27] amaltaro opened #8549 "Revisit cleanup job policies and make it time-based too"
As discussed in the Fall17 O&C week, I think there was a proposal to trigger cleanup jobs every X days (a week, 10 days or so). I couldn't find that discussion in my inbox, if anyone still has it, please complement this issue.

[2018-04-09 13:40] amaltaro commented on #7908
Now that we have this info in the FJR, I'll leave the wmstats implementation to you Seangchan :)

[2018-04-09 13:45] vlimant commented on #8124
the use case of having EventsPerJob be a suggestion of "do not run more than that many events per job" is ~dead as it does not seem we have an agreement with ppd/gen on what/when/how to provide this. Since it looks like we are lucky with getting gen code fixed instead of finding this work-around, I would close this issue until next time.

[2018-04-09 13:45] #8124 closed

[2018-04-09 13:47] amaltaro commented on #7834
Since we haven't had any issues during the last 11 months, I'm closing this issue

[2018-04-09 13:47] #7834 closed

[2018-04-09 13:49] amaltaro commented on #7631
Fixed by https://github.com/dmwm/WMCore/pull/8429

[2018-04-09 13:49] #7631 closed

[2018-04-09 13:51] amaltaro commented on #7469
Since this issue is more than an year old and there were no further cases, I'm closing it. Feel free to reopen it if it pops up again.

[2018-04-09 13:51] #7469 closed

[2018-04-09 14:32] amaltaro commented on #6911
I guess it can be closed, I see this in the FJR for a 9_4_0 release:
[code]

[2018-04-09 14:32] #6911 closed

[2018-04-09 16:05] hufnagel commented on #7070
We should push to deprecate the former, since FNAL should be able to switch to the Xrdcp plugin.

[2018-04-09 18:57] #7268 closed

[2018-04-10 07:06] amaltaro opened #8554 "WMAgentStepExecutionError instead of StageOutError error"
I've just seen it while testing 1.1.12.patch1. It happened in a Logcollect job: StepThreeProcLogCollect

and this is the output in wmstats:
[code]

we should fix it, eventually.

[2018-04-10 13:35] amaltaro commented on #8378
As Seangchan described:
[code]

should we chase it in WMCore or Unified? In addition to that, we might not kill jobs in running state (depending on the use case, there might be use cases where they have chances to succeed).

@bbockelm @vlimant I leave it up to you to decide where it should be implemented. For me, it makes more sense to have it in reqmgr2 because them all the other systems would be

[2018-04-10 15:28] vlimant commented on #8378
In unified, there is something that will loosely prevent matching of any pending jobs, but this would have to catch up with job submission from the agents.

Setting held should indeed
 stop retrieving wqe : not mandatory imo
 stop submitting job : yes, mandatory
 kill pending : not directly I would say. editing the whitelist to prevent further matching yes, and kill+mark as HeldSubmit to be resubm

[2018-04-10 16:38] vlimant commented on #8378
sorry alan, I am mixing with site holding :-(

[2018-04-10 16:39] vlimant commented on #8378
so yes, kill pending, and kill running, sending them in something like SubmitHold cooloff, and if possible to prevent that to count as a retry

[2018-04-10 16:42] amaltaro commented on #8378
Ok, thanks. I'm setting the milestone for the next WMAgent release (beginning of June). Please update it if we should or should not put that prio.

[2018-04-10 19:43] ticoann commented on #8346
Closing it

[2018-04-10 19:43] #8346 closed

[2018-04-10 19:46] ticoann commented on #8276
@vlimant, Jean-Roch, this is not an issue any more, right?

[2018-04-10 20:02] ticoann opened #8556 "Stepchain Parentage handling"
1. provide DBS api for setting the dataset parentage with out inserting the file first. (and more)
       - https://github.com/dmwm/DBS/issues/570
       - https://github.com/dmwm/DBS/issues/569
       - https://github.com/dmwm/DBS/issues/566
2. provide api find a file parentage by given dataset/block/file. - This will be expensive check for dataset)
3. provide api insert parentage (WMCore API)
4.

[2018-04-10 20:03] ticoann commented on #8269
Closing this and create a new issue as we discussed. #8556

[2018-04-10 20:03] #8269 closed

[2018-04-10 20:15] ticoann commented on #8128
@amaltaro, So the bottleneck here is (WorkQueue) couch db updates?

[2018-04-10 20:17] ticoann commented on #7944
@amaltaro, Alan this is fixed with your recent patch, isn't it?

[2018-04-10 21:44] vlimant commented on #8556
the way I see it, and that I am not sure it's what I understand from your description above, and with a further suggestion from Liz today.

 * we need the piece of code that does the file based parentage (based on lumisection) provided either a block parentage (where can we get this from?), or a dataset parentage (this is contained in the request schema)
 * we need to run this at workflow close-ou

[2018-04-10 21:47] vlimant commented on #8276
NANOAODSIM is not of EDM type, and will never be. If we care about the declared type in dbs, we need to declare the correct type. if we don't care about the declared type in dbs, we can drop this.

hence the question : what are the allowed types in dbs @yuyiguo and do we have the handle in the agent to inject a file type different than "edm"

[2018-04-11 06:44] amaltaro commented on #8128
Yes, it happens when there are way too many workqueue elements. Same for force-complete that can take several secs or minutes or even timeout.

[2018-04-11 06:57] amaltaro commented on #7944
AFAIK the scram command is still executed with COMP python, so it should have been python2.7.
I'm not sure it was fixed (or actually there was anything to fix), but I'll just close it and assume we won't be running python2.6 CMSSW anymore :)

[2018-04-11 06:57] #7944 closed

[2018-04-11 11:25] amaltaro commented on #8220
Given the previous comments, I'm demoting this issue and pushing it to end'ish of this year...

[2018-04-11 11:52] #8220 closed

[2018-04-11 18:03] ticoann opened #8560 "ACDC clean up"
It seems there are a lot of workflows in ACDC is not cleaned up.

fabozzi_Run2016G-v1-JetHT-22Feb2017_8020_170222_161732_4892_d4821cc4-0fb1-11e7-8b39-02163e00f196

amaltaro_Run2016B-v2-DoubleEG-07Aug17_ver2_8029_170920_092605_5698_a7ff971e-a9a6-11e7-ab10-02163e00f196

Need to identify old workflow and clean up. Also find out why clean up thread didn't clean up these.

[2018-04-11 20:33] amaltaro commented on #8560
From the name, these are non-standard Resubmission workflows. Maybe there is something missing regarding recovery workflows.

[2018-04-11 20:35] ticoann commented on #8560
That is the collection name which is original workflows.  Weird thing is the workflow name itself is not standard.

[2018-04-11 20:40] amaltaro commented on #8560
It's not standard because it's created from the recovery script (which generates a hash to append to the request name). Same for the collection name, you'll see it's off from the usual workflowName/taskName pattern.

[2018-04-12 07:57] amaltaro opened #8561 "Why Scenario is not used in central production wfs"
While investigating the usage of CMSSW Configuration.DataProcessing in WMCore, I noticed none of the central production specs pass `scenarioName` value to the `setupProcessingTask` method, defined only here:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L299

while the `Scenario` argument is defined here:
https://github.com/dmwm/WMCore/blob/master/src/pyth

[2018-04-13 09:15] vkuznet opened #8564 "Need Dockerfile and image for kubernetes"
Could you please create Dockerfile and image for current cmsweb server (e.g. ReqMgr2, etc) that we can use to deploy it to kubernetes. Follow up github.com/vkuznet/CMSKubernetes for instructions, in particular look-up dbs2go folder which contains Dockerfile for dbs2go. We need similar for all WMCore based servers we use on cmsweb.

[2018-04-13 09:22] vkuznet opened #8565 "Migrate machine tools to port 8443"
We need to identify machine tools which access cmsweb and start switching them to use port 8443 to access cmsweb.

[2018-04-13 10:52] amaltaro opened #8566 "MonteCarlo policy workflow failed in global workqueue"
This taskchain workflow - starting from scratch - failed to be acquired in the global workqueue with this error message:
[code]

and the reason seems to be coming from the splitting section for Task1
[code]

[2018-04-13 16:38] #8566 closed

[2018-04-16 09:10] amaltaro commented on #8545
Since it's on the same component, vocms0250 had this Couch error:
[code]

[2018-04-16 16:11] amaltaro opened #8569 "Update ReqMgr2 deployment to overwrite the AMQ credentials"
Seangchan, as we were discussing, these 2 credentials
https://github.com/dmwm/deployment/blob/master/reqmgr2/config.py#L15-L16

have to be updated (maybe using the `-a` option from the deployment procedure) during reqmgr2 deployment. I talked to Lina and apparently we can assume that the file will be in every single backend under /data/srv/auth/reqmgr2/filename

As we discussed, we can assume the

[2018-04-16 16:16] ticoann commented on #8569
Due to the bad connection, I think we might not understood each other. :-) If it is the same for every instance, why does it have be be updated with option? I thought it just need to be set (hardcoded) not updated.

[2018-04-16 16:30] amaltaro commented on #8569
The filename *can* be the same for every instance (not necessarily the passwd). And we could have backends hosting both secrets, e.g., preprod_secrets and prod_secrets and then having the deploy script to find out which secrets file to use depending on the deployment flavor.
If it's still not clear, ping me on slack and we can have a chat.

[2018-04-16 18:02] #7908 closed

[2018-04-16 18:54] ticoann commented on #8544
If you specifies multiple parameters. It considers as AND operation. (I am not sure that is standard interpretation, though) But I think mostly we assume it is "AND" operator.

https://www.ibm.com/support/knowledgecenter/en/SS6KJL_8.6.4/FEB/ref_data_rest_api_list_filter.html

Is this causing any problem, should we support OR operator?

[2018-04-17 07:11] amaltaro commented on #8544
Ohhh, I missed this line
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/Service/Request.py#L338

sorry for the noise, Seangchan. Closing it

[2018-04-17 07:11] #8544 closed

[2018-04-17 12:18] amaltaro commented on #8569
Seangchan, I think I managed to get most of this setup. I'm only missing one minor detail, I hope. Please don't spend time on it until I get back to you.

[2018-04-17 13:56] amaltaro commented on #8569
See https://github.com/dmwm/deployment/pull/602

[2018-04-17 15:27] #8448 closed

[2018-04-18 10:58] amaltaro commented on #8522
For the record, Daniel provided this grafana link to monitor that EOS space:
https://monit-grafana.cern.ch/dashboard/db/vocms-eos-quotas?orgId=6&refresh=15m&var-fulltotalquotas=All&var-quotas=All&var-totalquotas=All

and he's also set an alarm (runs every 10min) with a 90% thresholds, Seangchan and I are supposed to get it, initially.

[2018-04-19 14:31] ticoann commented on #8569
Alan, We can close this one, right?

[2018-04-19 20:15] amaltaro commented on #8569
Doesn't it get automatically closed when that deployment PR gets merged? Otherwise, yes, we can assume it's done now.

[2018-04-19 20:27] ticoann commented on #8569
I am not sure if it is in different repository. Maybe it will. I will just leave it so we can check. 😄

[2018-04-19 22:03] #8420 closed

[2018-04-19 22:16] #8523 closed

[2018-04-20 14:26] ticoann opened #8574 "Clean up the temp directory"
reference #5331

/tmp is full old stale .wmcore_cache directories.

[2018-04-23 10:05] amaltaro opened #8579 "Failed to push workqueue couchapps in testbed"
Every time we need to {re}start couchdb in testbed, it looks at the files under the stagingarea and those are executed to push the couchapps to couch.

It's now failing to import WorkQueueSecrets
[code]

PYTHONPATH is correct, so it should be able to find that module. I'm also not able to reproduce it in my VM.

I'm making a deployment patch for it.

[2018-04-23 12:56] amaltaro opened #8580 "Fail to load request config in testbed"
Apparently it's happening to any request created after the last testbed upgrade.
Queries like:
/reqmgr2/config?name=amaltaro_MonteCarlo_eff_HG1805_Validation_180422_144232_6230

return a 500 Internal Server Error.
Logs from the server are:
[code]

[2018-04-23 13:50] ticoann commented on #8580
Sorry Alan, I missed config test. Thanks for fix it.

[2018-04-23 13:50] #8580 closed

[2018-04-23 16:10] ticoann commented on #8579
Discussed with Alan,
We will change workqueue deployment (manage script) for pushing couchapp.
Instead of using wmagent-couchapp-init push the app directly.  (Error is caused by importing config)

[2018-04-25 08:25] amaltaro opened #8584 "ACDC stopped working with the Override parameter/validation"
New requests can't be ACDC'ed in testbed. Logs from reqmgr2 are in [1].
I'm working on it.

[1]
[code]

[2018-04-25 10:07] amaltaro commented on #8525
The example above actually has the correct behavior. And this is what I noticed this week as well, I don't think there is anything to fix in here.

[2018-04-25 10:07] #8525 closed

[2018-04-25 12:37] amaltaro commented on #8517
Fixes by #8585

[2018-04-25 12:37] #8517 closed

[2018-04-25 17:26] vkuznet opened #8587 "Migrate ReqMgr2 to pypi"
As Brian suggested I'm opening up a ticket to start campaign of migration DMWM tools to pypi. This one goes to ReqMgr2. And we need similar to other sub-systems of WMCore.

There are several steps which need to be accomplished:
- write proper setup.py
- write requirements.txt file for app in question
- test/deploy app via pip install -r requirements.txt on local node, e.g. `pip install -r requirem

[2018-04-26 09:05] amaltaro commented on #8579
Seangchan, since you already looked at that code, let me reassign this one to you :)

[2018-04-26 12:45] amaltaro commented on #7495
@goughes Erik, about the job priority bump, we might do something equivalent to:
`condor_qedit -const 'JobStatus=?=1 && (CMS_JobType =?= "Production" || CMS_JobType =?= "Processing")' JobPrio 999999`

the other job types already have a very high JobPrio.

[2018-04-27 21:56] hufnagel commented on #8561
This is only needed if you actually use Configuration.DataProcessing to build your config at runtime. If you pass in a prebuilt config via ConfigCache, you don't use the scenario.

Historical artifact of how configurations were built in CMS. Tier0 needed something automatic, hence Configuration.DataProcessing. We assumed back then that organized processing would also use that interface, but they s

[2018-04-30 04:46] ticoann opened #8590 "Create new API which retrieves parent files by lumi section"
Precondition is at least dataset parentage needs be know.

1. provide file parentage by given file and parent dataset
2. provide file parentage by given block and parent dataset
3. provide file parentage by given dataset and parent dataset

Option 3 will take big performance hit.

[2018-04-30 04:54] ticoann opened #8591 "Add dataset parentage without setting the file parentage first for StepChain"
Prerequisite: https://github.com/dmwm/DBS/issues/566

Set the dataset parentage in DBS.
Need to investigate proper place to do this. reqmgr2, wmagent?

[2018-04-30 15:02] ticoann commented on #8545
Scarlet reported again this problem on multiple agent again. I check the wq view which causing this problem - elementsDetailByWorkflowAndStatus. Didn't see any reason. (Number of WQ elements are small enough ~1000).
I think it might be some temporary couch server glitch. Although that doesn't explain many agent has the same problem at the same time.
I will create the patch for retrying in this cas

[2018-04-30 18:49] #8347 closed

[2018-04-30 19:01] ticoann commented on #8545
Doesn't match the time exactly with the JobUpdater error, but below couch error is showing in couch log.
[code]

[2018-05-02 08:11] amaltaro commented on #7194
I haven't seen this issue for quite some time now, so closing it.

[2018-05-02 08:11] #7194 closed

[2018-05-02 08:25] amaltaro opened #8594 "ErrorHandler getting stuck processing ACDC documents"
ErrorHandler started misbehaving in the newest WMAgent version and the cause is probably in this PR that got in #8533
This is one of the components watched/restarted by a cronjob, but I'm bumping it to run every hour or so.

[2018-05-02 11:29] amaltaro commented on #8594
Just an observation, reducing `maxProcessSize` from 500 to 100 seems to make the component stable again (though its performance gets degraded...)

[2018-05-02 12:28] amaltaro commented on #8522
Cleanup has also been addressed by the data transfer team (Sid). In short, any directory last-modified > 60 days ago will be deleted. This means a workflow might have some task directories but not others, in case nothing has been written in there for 60 days or more.

Further details can be found in the thread "CERN EOS logs cleanup" with data-transfer and oc-dmwm egroups.

[2018-05-02 12:28] #8522 closed

[2018-05-02 14:35] amaltaro opened #8595 "Override needs to be applied to all steps of all tasks"
I've just noticed the Override settings don't get applied to all steps. Can be reproduced with this template:
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMgr/requests/DMWM/ReDigi_3steps.json

and this workflow in testbed
amaltaro_ReDigi_3steps_HG1805_Validation_180426_114348_7098

[2018-05-06 16:57] #8545 closed

[2018-05-07 03:53] ticoann commented on #8595
Override setting need to be applied only for logArchive step currently. Does that changed in log archive step?

[2018-05-07 03:57] ticoann opened #8598 "JobAccountant error - unique constraint violated"
It seems there are duplicate file error again. (It hasn't been observed after UUID4 is applied)
But this time there are 881 of them.

[code]
Full record is in
cmst1@vocms0251:/data/srv/wmagent/current/duplicateFiles.txt

Since there are so many of them, we need to investigate before apply the manual fix.
JobAccountant is restarted for now. (It will crash again)

[2018-05-07 12:33] amaltaro commented on #8595
It's getting applied to the first (top?) level task only, and all steps in that task:
[code]

[2018-05-07 13:15] amaltaro commented on #8598
Seangchan,

this file had only 3 lines. I ran that script once again and it didn't find any in-memory duplicate files. However, there are 1185 dup files between the Report outputs and what's already in the database.
where 250 are root files and 145 are logArchive.tar.gz
There seems to be a problem counting the number of dups, since the overview gives me only 395 files instead of 1185...

[2018-05-07 16:15] amaltaro opened #8600 "JobSubmitter logs silent after a restart"
I just noticed JobSubmitter is quiet in vocms0253 (after patching it and restarting all the components).

Process is still alive
[code]

and the logs are stuck here
[code]

I'm creating a (debug) patch for it.

[2018-05-07 19:41] ticoann opened #8603 "update the ACDC before move to exhausted status in ErrrorHandler"
If ACDC update is failed job still move to exhaused status. This can cause the problem of missing document ACDC. (Not sure this happened but better to be fixed)

[2018-05-07 19:55] amaltaro commented on #8603
and what happens if we upload the same ACDC jobs twice? Well, we do have a merge function when pulling ACDC docs, it might not be a problem...

[2018-05-08 13:28] amaltaro opened #8608 "Is there anyone using UserFileCache?"
This module
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/UserFileCache/UserFileCache.py

seems not to be used within WMCore. Check whether it's used by any other external service, if not, delete it.

[2018-05-08 13:29] amaltaro opened #8609 "Is there anyone using SAM?"
This module
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/SAM/SAM.py

seems not to be used within WMCore. If external services are not using it either, then let's delete it.

[2018-05-08 13:30] amaltaro opened #8610 "Is there anyone using Registration?"
This module
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/Registration/Registration.py
seems not to be used within WMCore. If external services are not using it either, then let's delete it.

[2018-05-08 13:52] ticoann commented on #8610
Yes we should delete it. I added in JobCreator clean up patch.

[2018-05-08 13:54] ticoann commented on #8608
I think crab uses this

[2018-05-08 13:54] ticoann commented on #8609
I am not sure but not in us. (WMAgent)

[2018-05-08 15:58] vkuznet commented on #8565
Is there any progress on this?

[2018-05-08 17:10] bbockelm commented on #8609
Delete it.  The SAM test it references is no longer in use.

@PerilousApricot heads-up.  You touched the file last.

[2018-05-08 17:11] bbockelm commented on #8608
Correct, this is used heavily by CRAB3.  Closing ticket.

[2018-05-08 17:11] #8608 closed

[2018-05-08 18:04] ticoann commented on #8609
Thanks, I added in #8607

[2018-05-08 19:59] amaltaro commented on #8600
Just to keep a record here (already discussed some of this with Seangchan). The component memory keeps growing, even with the temporary patch I applied to vocms0253 8602.
It was consuming 1.5GB yesterday (and growing) and today it's consuming 5GB (even though there are less jobs in the jobDataCache now).

I'll resume this investigation after the review is over.

[2018-05-08 21:38] belforte commented on #8467
after reviewin CRAB code, I believe that the simplest solution for us is via a small upgrade in WMCore as indicated here
https://github.com/dmwm/CRABServer/issues/5645#issuecomment-387550233
feel free to reply here or there... if you agree it may be better to have an ad hoc issue about the additional functionality in Services/DBS

[2018-05-09 13:43] amaltaro commented on #8190
Vytas, since I'm time constrained until tomorrow evening, you might want to create this cronjob (download the script too :)) in the production T0 agent such that it gets automatically restarted if JobSubmitter goes quiet for > 15min:
https://github.com/dmwm/WMCore/blob/master/bin/deploy-wmagent.sh#L355

Then we can start investigating it. This isn't something new and we have seen the component get

[2018-05-09 14:39] amaltaro commented on #8598
We had 4 more jobs with clashing output files in vocms0256. There was one succesfull job and 3 failed, this is the overview from the script [1].

Getting more info for those Report files, I see they ran in multiple sites and worker nodes, like:
[code]

[1]
[code]

[2018-05-09 15:35] bbockelm commented on #8598
@amaltaro - I don't understand.  I poked through a few of those and they seem to be all different LFNs?

[2018-05-09 16:00] amaltaro commented on #8598
Those LFNs have been already added to the wmbs table (that's where the unique constraint comes from). There were no clashes among jobs in memory (reports to be parsed/added)

[2018-05-10 22:26] amaltaro opened #8614 "ErrorHandler very high memory footprint while creating ACDCs"
vocms0255 was going from 0 to 20GB within 20min or so.

The problem seems to be coming from this query
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMBS/MySQL/Jobs/LoadForErrorHandler.py#L43

when there are several MCFake file jobs to be handled (generating > 100k run/lumi maps).
Apparently we get the run/lumi map for unique fileids, but if we have 100 of them in the same binds, it

[2018-05-11 08:52] vytjan commented on #8190
I added the cronjob you mentioned to the vocms0313.
Earlier this morning, the JobSubmitter died the same way on the vocms0313. However, there weren't any schedd alarms (neither any other alarms, besides the WMStats), so not sure if that was anyhow helpful.

[2018-05-11 16:16] amaltaro commented on #8614
We've mapped most of high memory footprint (and slowness) to this method:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMBS/MySQL/Jobs/LoadForErrorHandler.py#L47

where 157k run/lumi maps (for the same file, e.g. 199892) explodes to ~500MB of RSS memory.

I'm looking into that method to see what can be done to decrease it.

[2018-05-11 21:35] bbockelm commented on #8190
That method invoked C++. Could you get a stack trace from it?

[2018-05-12 02:41] bbockelm commented on #8598
Can we track down the logs for the jobs that produce the LFNs from the WMBS table?  I'd be curious to see if there is any pattern we can see...

[2018-05-12 14:52] amaltaro commented on #8598
Brian, you can find condor logs for the first 2 jobs above (Rome and UNL) under:
http://amaltaro.web.cern.ch/amaltaro/forBrian/Job_364613.tar.bz2
http://amaltaro.web.cern.ch/amaltaro/forBrian/Job_196080.tar.bz2

Let me know if you need the cmsRun logs as well.

[2018-05-12 14:59] amaltaro commented on #8614
Apparently 0256 has hit the same issue, I'm decreasing it to 10 jobs per iteration.

[2018-05-14 02:27] bbockelm commented on #8598
Yes - I already had those.  It would be useful to identify which jobs produced the files already in the table.

[2018-05-15 05:00] #8467 closed

[2018-05-16 04:41] ticoann opened #8619 "Add matrix for prometheus monitor in reqmgr2"
use https://github.com/dmwm/WMCore/blob/master/src/python/Utils/ProcessStats.py

[2018-05-18 04:08] #8610 closed

[2018-05-18 04:09] #8603 closed

[2018-05-21 18:28] #8619 closed

[2018-05-23 07:31] amaltaro opened #8626 "Create unit tests for PhEDExInjectorPoller"
Such that we can catch issues like this one https://github.com/dmwm/WMCore/pull/8625

[2018-05-27 18:23] amaltaro opened #8630 "T0 making dataset level deletions instead of blocks"
After the delete method got fixed
https://github.com/dmwm/WMCore/pull/8625

T0 team noticed the agent was making dataset level phedex deletion requests instead of blocks, see
https://hypernews.cern.ch/HyperNews/CMS/get/tier0-Ops/1900.html

[2018-05-28 07:15] amaltaro opened #8632 "Fix LogDBBackend error message"
I've seen this error in a few components. From AgentStatusWatcher
[code]

[2018-05-28 07:24] amaltaro opened #8633 "Add ORA-12545 temp error to the passable list of SQL db exceptions"
This issue happened last night and it hit a couple of agents, at least. The error message is
[code]

I think we could add it to the list of skipped sql database exceptions (well, at least for heartbeat).

Just in case, traceback is:
[code]

[2018-05-28 08:58] #8595 closed

[2018-05-28 09:04] amaltaro opened #8634 "Make a different dir structure for T0 prod/recent logs (?)"
Since T0 process much more workflows than central production (and workflows usually behave), I think we could isolate Tier0 logs from central production ones.

Default URL is
https://eoscmshttp.cern.ch/eos/cms/store/logs/prod/recent/

how about we make it
https://eoscmshttp.cern.ch/eos/cms/store/logs/prod/recent/Express

and so on, such that we create an additional directory based on the request s

[2018-05-28 10:07] drkovalskyi commented on #8634
Why Express instead of Tier0 or something more representative. Is it really only for Express? If not we need a better name.

[2018-05-28 10:26] amaltaro commented on #8634
Express for Express, Repack for Repack etc. Check out the proposed fix in 8635
Anyways, I don't think I can change anything before Dirk gets back from vacations, since there are some details that I need his feedback.

[2018-05-28 10:28] drkovalskyi commented on #8634
Sounds good to me

[2018-05-29 12:31] amaltaro commented on #8598
Today we hit another dupplicate lfn in two agents (submit3 and vocms0257).
I'm investigating the problem on submit3 and I copied the job report  under
[cmsdataops@cmsgwms-submit3 current]$ ls dupReport/
Report.0.pkl

here is the basic information on this report:
[code]

I was looking for the job that created that unmerged file, but it's very painful to do so through the agent. I'm also trying to g

[2018-05-29 14:40] amaltaro commented on #8422
While looking for something else in the steps classes, I think this is the place we'd have to propagate the exit code from to the job wrapper (of course, still running logArch step):
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/Steps/Executors/CMSSW.py#L236

[2018-05-29 19:18] bbockelm commented on #8422
Hi Alan -

Indeed, let's handle this one with a higher priority.  A lot of external systems look at the HTCondor exit code; it would be useful to make sure they are synchronized.

Brian

[2018-05-30 08:55] amaltaro opened #8639 "Decrease EventsPerLumi when it's bigger than the calculated EventsPerJob"
From this discussion
https://its.cern.ch/jira/browse/CMSCOMPPR-2861

[2018-05-30 09:14] roksys commented on #8355
Hi,

We found some WNs reported as CE, probably it is related issue.

http://dashb-cms-job.cern.ch/dashboard/templates/web-job2/#user=&refresh=0&table=Jobs&p=1&records=25&activemenu=1&usr=&site=unknown&submissiontool=&application=&activity=reprocessing&status=&check=submitted&tier=&date1=2018-05-28+09%3A11&date2=2018-05-30+09%3A11&sortby=ce&scale=linear&bars=20&ce=&rb=&grid=&jobtype=&submissionui=

[2018-05-30 12:10] #8639 closed

[2018-05-30 14:41] vlimant commented on #8639
listing here all the wf severely (>factor 2) affected
pdmvserv_task_SUS-RunIIFall17wmLHEGS-00026__v1_T_180501_163815_1272
pdmvserv_task_HIG-RunIIFall17wmLHEGS-01113__v1_T_180415_203614_875
pdmvserv_task_SUS-RunIIFall17wmLHEGS-00018__v1_T_180415_204125_5254
pdmvserv_task_EGM-RunIISummer18GS-00005__v1_T_180521_224529_6986
@prozober

[2018-05-31 12:27] amaltaro opened #8642 "ReqMgr2 info API reqmgr_last_injected_request"
This API is probably not used for anything but by the ServerMonitor.
Still, we might eventually want to fix this `reqmgr_last_injected_request`, which is clearly wrong.
And there might be other parameters not getting updated as well.

[code]

[2018-06-04 14:11] #8630 closed

[2018-06-05 20:42] amaltaro opened #8644 "Log original request parameters before ReqMgr default values are added"
We should keep a record of every POST (and PUT) ReqMgr2 request before we apply the default parameters/values to the user request, in addition to what we have already.

[2018-06-06 10:27] amaltaro commented on #8510
Before I forgot, we still have to figure out what's the best way to implement it. The best would be to "recalculate" EventsPerLumi according to the FilterEfficiency and update EventsPerLumi with the new value. Problem is: the original value would be lost and Ops clone/resubmission would retrigger the EventsPerLumi calculation...

We might add another argument for the original values and not change

[2018-06-07 09:01] amaltaro opened #8645 "Make ACDC creation to recover all tasks/failures"
Hi @thongonary @mcremone @vlimant
Seangchan and I were discussing whether it would be helpful if we changed the behavior of ACDC creation.
The current behavior is that one needs to create an ACDC workflow for every single task that we want to recover. So it offers a good flexibility on what exactly to recover, but it might spans several additional wfs.
The proposed behavior would be that a single

[2018-06-07 09:28] thongonary commented on #8645
@prozober may have some opinion on which ACDC behavior she prefers.

[2018-06-07 09:41] amaltaro commented on #8645
One use case would be whether Ops decides to recover the merge jobs only (since that would yield enough stats) and forget any other production/processing task failures. If you try to recover everything, it might just delay the announcement of such samples.

Thus it's more like a tradeoff question, is it worth it to have a better traceability of work and sometimes add a delay to a request here and

[2018-06-07 09:43] thongonary commented on #8645
Thanks! Now I remember we had quite frequent encounter with similar situations in the past where 1 task has fatal exception (mostly due to misconfiguration) and we only ACDC the other tasks to recover what's possible.
So my answer from me would be no, we like to keep it that way. I will confirm after the discussion at the group meeting.

[2018-06-07 15:33] thongonary commented on #8645
The conclusion from our meeting was that we would like to keep it the current way.

[2018-06-07 20:56] amaltaro commented on #8645
Ok, thanks Thong. Closing the issue.

[2018-06-07 20:56] #8645 closed

[2018-06-08 09:53] amaltaro opened #8646 "Create new API for job requirements update on the fly"
Seangchan and I discussed this new feature a few weeks ago and it consists of providing a ReqMgr2 API that would allow a few parameters - job requirements wise - to be updated while the workflow is running.
The expected behavior is:
1) ReqMgr2 itself won't do anything automatically, it needs an external system to post data to this new API.
2) it won't touch jobs already created in the agents (and

[2018-06-11 09:05] belforte opened #8647 "add new EDM ExitCode 8033 FileWriteError"
see https://github.com/cms-sw/cmssw/pull/23544
need to add to the list in
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMExceptions.py

I have already updated the twiki  :
https://twiki.cern.ch/twiki/bin/view/CMSPublic/JobExitCodes

[2018-06-11 14:29] amaltaro opened #8648 "vocms0256 has created > 3 million jobs (!)"
There is something weird going on with the production system.
According to grafana, today at 15:05 CERN time there was a spike of requests in ReqMgr2 (jumping from ~4k to ~17k requests in the system), where ~6k of them were in acquired status. (I bet it was a monit glitch, since it's back to normal after 15:15).

Then looking at the agents, it seems vocms0256 managed to acquire and create more tha

[2018-06-11 16:00] amaltaro commented on #8648
I still don't know what exactly happened, but vocms0256 has acquired ~1400 WQE units since yesterday:
[code]

I should have looked at the resource thresholds before moving the agent into drain mode.

@thongonary any chance we can abort/clone/reassign this *_5265? otherwise it will just slow this agent and production in general.

[2018-06-11 16:02] amaltaro commented on #8648
These two other workflows are also good candidates (they haven't ran a single job yet):
pdmvserv_task_SMP-RunIISummer15wmLHEGS-00226__v1_T_180416_194018_271
pdmvserv_task_SMP-RunIISummer15wmLHEGS-00222__v1_T_180416_194007_2727

[2018-06-11 16:05] thongonary commented on #8648
OK, priorities are all 90k and 91k. @prozober please clone the 3 workflows that Alan mentioned above and make a JIRA.

[2018-06-11 17:29] prozober commented on #8648
The workflows have been cloned.

[2018-06-12 10:57] amaltaro opened #8649 "JobArchiver dying when there are way too many jobs to finish"
Another side effect of #8648 and its massive number of jobs aborted within the same workflow.
The component takes a long time to fetch (and create Job objects in-memory) all jobs that can be finished and it eventually dies out, without anything in the logs, e.g.:
[code]

[2018-06-14 07:23] amaltaro commented on #8648
There are way too many jobs and the component is struggling to submit those jobs. I'm gonna make a temporary patch that loads only 50k (or 100k) jobs into the cache and make the normal condor submission. I'll try to respect the workflow priority, but if that means a good amount of rework or too intrusive changes, I'll have to simply load the first Xk jobs that come back from the database.

[2018-06-14 11:55] #8647 closed

[2018-06-14 11:55] #8405 closed

[2018-06-14 12:33] vlimant commented on #8648
If the priority is in the database, that could be part of the query

[2018-06-14 12:57] amaltaro commented on #8648
Not the final job priority, but I'm coming up with something that looks better and will probably go upstream too ;)

[2018-06-14 20:17] amaltaro commented on #8646
Dup of #8622

[2018-06-14 20:17] #8646 closed

[2018-06-16 06:37] amaltaro opened #8656 "Eventually remove the job requirement string"
It's still needed for HLT and now for the CMS@Home project (see #8615)

[2018-06-16 07:10] #8649 closed

[2018-06-18 19:39] jenimal commented on #7817
I am seeing this issue again with workflows in the system:
RAL had another spike in failures ~4 hrs ago  affected workflows are:
pdmvserv_task_HIN-HiFall15-00297__v1_T_180502_124108_6981
pdmvserv_task_HIN-HiFall15-00291__v1_T_180502_124059_5115
pdmvserv_task_HIN-HiFall15-00303__v1_T_180502_124221_8353

https://ggus.eu/?mode=ticket_info&ticket_id=135711&come_from=submit

Error Code is 73:
CMSSWStep

[2018-06-18 19:54] bbockelm commented on #8148
@vlimant - is this still high-priority?  It has lingered for an awfully long time.

[2018-06-18 19:55] bbockelm commented on #8422
@amaltaro / @ticoann - this one remains high priority.  Is it being actively worked on?

[2018-06-18 19:55] bbockelm commented on #8510
This is marked as milestone WMAgent1804.  Is that correct?

[2018-06-18 19:59] ticoann commented on #8422
It is not actively worked on since last findings by Alan (20 days ago). I will look at the code Alan pointed.

[2018-06-18 20:45] ticoann commented on #8510
Yes.  I think we haven concluded how to implement this. (If we want to move this in WMCore instead of McM unified handling this)
1. Keep EventsPerLumi as original value without filter efficiency applied (and change the current code to apply only internally)
2. Change EventsPerLumi value by applying filter efficiency (but in that case we have to keep original value in other parameter (i.e. EventsPe