[2015-04-01 11:32] Farrukh-Aftab commented on #5738
For Andrew's case, this value was too low i.e. 300 something, 160 something. 300 mins are like 5 hours, so his jobs were being matched to old glideins and when the glideins were dying, the jobs were being evicted.

[2015-04-01 14:58] bbockelm commented on #5738
It's reasonable to enforce some high outer limits.

Currently, Julian has a stuck workflow because the jobs ask for 52 days of walltime.  While a global limit of 48 hours is too low - can we do 1 week?

[2015-04-01 15:02] bbockelm opened #5745 "Remove site-level pending limits"
We had this occur a few months back, but I don't think we ever fixed it.  Feel free to close it if we in fact did this.

The way that production jobs are submitted with large whitelists means that sites can have many pending jobs - well over the site-wide limit.  This causes other types of workflows (merge, reprocessing) to no longer get new jobs.

Now that everything is HTCondor, there's no need

[2015-04-01 15:19] amaltaro opened #5746 "WMDataMining fail to retrieve some data from McM (in testbed)"
Hey folks, while scanning the reqmgr2 logs in cmsweb-testbed, I noticed this error is being raised every 15min
[code]
I know 0 about this service, but it seems it fails to retrieve wf information from McM (based on the prepID) and then it fails to find that key.

BTW, I just found this one as well
[code]

[2015-04-01 15:30] ericvaandering commented on #5746
Thanks Alan. Let me look into this. It looks like I didn’t manage to trap every exception that could be thrown.

Eric

Eric W. Vaandering
Computing Physics Developer
CMS Computing Development Lead

Scientific Computing Division
Fermi National Accelerator Laboratory
630 962 7260 office
www.fnal.gov <http://www.fnal.gov/>

[2015-04-01 16:19] ericvaandering commented on #5746
We think this is due to RegMgr2 missing some data. I've protected the code against it and then @ticoann  can see which workflow(s) have a problem.

[2015-04-01 16:28] ericvaandering commented on #5746
BTW, nothing to do with McM, but it's good to see those errors are now being caught.

[2015-04-01 17:06] #5746 closed

[2015-04-01 17:06] bbockelm opened #5748 "Report job type to HTCondor"
Long-term, HTCondor can apply global limits to number of running jobs for arbitrary sets of jobs (like "merge jobs per site").  These are global across the pool - something the independent agents can't actually do.

However, to apply these limits, we need more information from the agent in the HTCondor job.  Can we add an attribute for the "job type"?  Looking at the resource control, I see the fo

[2015-04-01 17:19] vkuznet commented on #5705
After initial prototype we further discussed these requirements. Here is outcome of this discussion:
- we will have central LogDB which will collect information from local agent LogDBs as well as provide interface to add additional comments by external clients
- we will create local LogDB within an Agent, it scope will be record all log entries from all components. To solve concurrency problem wit

[2015-04-01 18:25] ericvaandering commented on #5748
Make sense. Can either you or @jamesletts choose a class add variable that fits with the others we use and I'll add it. Makes sense to implement the same in CRAB, probably using at least Analysis, PrivateMC, and perhaps PrivateLHE.

MultiProduction/MultiProcessing are for multicore applications. Back in the day with forking these were quite different because of the built-in mini-merge. Now they ar

[2015-04-01 18:36] ericvaandering opened #5750 "Add NCores to start of job or submission of job."
See https://hypernews.cern.ch/HyperNews/CMS/get/wmDevelopment/681.html for a discussion

[2015-04-01 19:37] bbockelm commented on #5748
I would propose "CMS_JobType" (in other places, we've used 'WMAGent_*" prefix - but it'd be nice to leave room for CRAB too).

[2015-04-01 19:51] ticoann commented on #5745
Hi Brian, for the submitting the jobs,  WMAgent always checks per site and per type for its threshold.
For the large white lists, it simply add up the all the white listed sites' pending threshold minus jobs are  already pending for those sites. Is that what you were asking, should I close the issue?

[2015-04-02 03:52] ticoann commented on #5738
@julianbadillo,  Julian, What kind of jobs ask for 52 days of walltime? Is that a mistake or intentional?
Other problem seems to be that failing job for this is a little to late (Current code seems to define this value when job splitting happens). If possible we should probably reject when workflow is created, didn't we have enough information to check this before actual job splitting happens at l

[2015-04-02 03:55] ticoann commented on #5738
I think required disk size might be harder to calculate from the spec.

[2015-04-02 08:04] amaltaro commented on #5738
Seangchan, it usually happens to i/o intensive jobs (or almost like that). Skimming, miniaod, alcareco jobs, etc. Since in these cases each job go through much more events than normal.
Since we have this MaxWallTime in condor, I believe we could 'submitfailed' it there, no?

About the disk size, yes, it's going to be trickier since we have have several output modules for a single job. However, may

[2015-04-02 14:25] amaltaro commented on #5739
Interestingly, I investigated that pickled file and it goes through that method without any problems (and TotalEventCPU is there)
[code]
unless I got the wrong report pickle file...

[2015-04-02 14:26] ticoann commented on #5738
Thanks Alan for the explanation.

Yes we could. what I meant "too late" means, if we can check this when request is create that would be better. We can avoid full down the work and creating the job altogether, just warn the requester 'this workflow won't run unless JobSplitting parameter changes'. However, I am not sure we can get proper estimate of "MaxWallTimeMins" with the given parameter witho

[2015-04-02 16:20] ticoann commented on #5738
Alan,  you are right it is hard to get the MaxWallTimeMins before job splitting unless it is EventBased.
I will take this issue.

[2015-04-02 18:02] vkuznet commented on #5705
The initial implementation of LogDB can be found here: #5743. The required configuration

[code]

The following APIs are provided:

[code]

[2015-04-02 20:00] ericvaandering commented on #5653
Working on master now. Closing.

[2015-04-02 20:00] #5653 closed

[2015-04-02 21:02] ericvaandering commented on #5420
@hufnagel where is the hack that you used to get around this? I'll shortly have a simple patch that does what you want. I don't have a way to construct a workflow with steps with different core counts though. Maybe that's OK.

[2015-04-02 21:09] amaltaro commented on #5420
The only difference between Dirk's case (multi-step task/job) and TaskChain is that the latter creates a different job per task. In addition to what Eric said:
 a) for multi-step task, we could simply get max(cores) for the different steps
 b) for taskChain, use number of cores provided for each task (or read the one from the main dict)

[2015-04-02 21:15] ericvaandering commented on #5420
@amaltaro the task chain case (for RelVals at least) should be fixed by #5754

[2015-04-02 21:24] ericvaandering commented on #5748
It looks like this code is almost correct to do what you want: https://github.com/dmwm/WMCore/blob/0ec011d746ee8e00e2278b772f4f9b2b7950dd8f/src/python/WMCore/BossAir/Plugins/PyCondorPlugin.py#L1053

Looks to me like it's just a bug that we don't have this already. The subTaskType string appears nowhere else in the WMAgent codebase.....

Any ideas @ticoann ?

[2015-04-02 21:39] ticoann commented on #5748
Eric, yes, that looks like a bug. it should be
[code]

[2015-04-02 21:40] ericvaandering commented on #5748
Doing a bit of archaeology this code was introduced in https://github.com/ericvaandering/WMCore/commit/d4888b91a89c786fc18666e78dda3974f9cfa686 in its current form. @bbockelm is listed as an author. Before that commit subTaskType was not in the code base, after that patch, just in this one place. Sure looks like a bug. I'll change the code and use the variable Brian suggests so that CRAB can set t

[2015-04-02 21:44] ticoann commented on #5748
That sounds good, Thank you.

[2015-04-02 21:50] PerilousApricot commented on #5748
Can I add the ClassAd variable to make all my jobs run at max limits?

--
Sent from Gmail Mobile

[2015-04-02 22:01] ericvaandering commented on #5748
Sorry, that functionality is currently limited to holders of Ph.D.s only.

[2015-04-02 22:04] ticoann commented on #5748
But we will do anything for Andrew. How about CMS_VIP flag?

[2015-04-03 13:59] bbockelm commented on #5748
Thanks Eric!

At yesterday's HTCondor/CMS phone call, we outlined the general idea to the HTCondor team (using their "concurrency limits" to enforce these rules globally across the pool).  They identified a few items they'll need to improve in HTCondor to do this at scale.

So, it'll probably take a release cycle or two to get all the pieces in place.  However, with this change, the submit infra t

[2015-04-03 14:10] ericvaandering commented on #5748
With the current lead time for every WMCore patch to make it into a running agent, I would say this patch may already be late. :-)

[2015-04-03 14:22] ericvaandering commented on #4949
Ticket #5225 is related

[2015-04-03 14:23] ericvaandering commented on #4748
StoreResults is done

[2015-04-03 14:23] #4748 closed

[2015-04-03 14:24] ericvaandering commented on #4994
@belforte I think we can close this issue here in WMCore?

[2015-04-03 14:27] ericvaandering commented on #2201
This is a very old ticket and the code referenced was probably left behind in TRAC. Can we just close this? I suspect that if we've gotten by this long without a DAS service class, we don't actually need one. @ticoann ? @vkuznet ?

[2015-04-03 14:34] vkuznet commented on #2201
Eric, I think we can safely do that. Let's wait for Seangchan to confirm.

On  0, Eric Vaandering <notifications@github.com> wrote:

[2015-04-03 14:57] belforte commented on #4994
CLose,  because this is handled in the client (CRAB).

[2015-04-03 14:57] #4994 closed

[2015-04-03 20:52] bbockelm commented on #5745
Hi,

Possibly not - I'm not sure we're talking about the same thing.

I think we need to simply ignore the site-pending limits, as the per-site-per-type is sufficient.

Brian

[2015-04-04 11:24] hufnagel commented on #5420
@ericvaandering , I added an optional parameter useMulticore

https://github.com/hufnagel/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L231

which can be overridden when constructing your tasks in the real specs by calling setupProcessingTask. Express/PrompReco override this for the AlcaSkim task for instance, which shouldn't use multicore, but goes through the setupProcessingTa

[2015-04-05 05:03] ticoann commented on #2201
Actually, in principle, this could be useful. Since DAS is collective call for all other services, instead of making different calls to dbs, PhEDEx, and agent can make call to DAS to get the information. This might be useful especially in validation step (close out), but I guess we can create the new issue if we really needed.

[2015-04-05 05:03] #2201 closed

[2015-04-06 19:51] ticoann commented on #5745
Hi Brian, I guess I misunderstood what you are asking for.
So you just need WMAgent not checking the overall site pending number when we submit the job, is that correct? (something like below - I have to check the code more in detail)
https://github.com/cms-sw/cmsdist/commit/35c4230fab722d787e163568821f4e75c2ec2514

I was just wondering whether there is any pending number restriction in HTCondor i

[2015-04-06 20:03] bbockelm commented on #5745
Hi Seangchan,

Yes - that proposed fix looks appropriate.

When we were using gLite, there were two things we were trying to accomplish through the thresholds:
1.  Do not overload the number of pending jobs the CE can handle (site-wide limit).
2.  Do not overload the SE with a lot of high-IO job (per-site-per-task limit).

I guess there are some cases where sum(limits of type 2) were greater than

[2015-04-07 00:58] ticoann commented on #5745
Thanks Brian for the explanation.

[2015-04-07 10:45] amaltaro commented on #4390
We do have "Dashboard" parameter which is set during assignment.
So we can close this issue @ticoann

[2015-04-07 10:47] amaltaro commented on #4241
Bullshit! :-) I don't know why I opened this issue, the current behavior looks good to me.
So I'm closing this issue.

[2015-04-07 10:47] #4241 closed

[2015-04-07 10:50] amaltaro commented on #5641
Andrew just reported the same issue again, and it's increasing
[code]

I don't know if the best approach here would be to limit the 'TaskName' or whether we do some tricks with Oracle/MariaDB to allow larger strings ?

[2015-04-08 03:17] ticoann commented on #4994
Hi Stefano, actually this is handled in WMCore/Services/DBS/DBS3Reader.py as well. (Yuyi, provided validFileOnly flag)
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Services/DBS/DBS3Reader.py#L455

[2015-04-08 09:25] belforte commented on #4994
thank @ticoann , sorry I forgot that CRAB3 talks to DBS via WMCore. But I think this all OK now.,

[2015-04-08 13:25] bbockelm commented on #5688
@hufnagel - can we get this merged up?

[2015-04-08 13:26] bbockelm commented on #5748
@ericvaandering @ticoann - is it possible to get Eric's PR merged for this?

[2015-04-08 13:57] ericvaandering commented on #5688
We are in the usual pre-CMSWeb release merge freeze. Besides that Seangchan may be out of commission and Dirk is probably traveling.

[2015-04-08 14:21] amaltaro commented on #5748
Landing late to this discussion

not sure I really understood it. Does it mean HTCondor would control the *total* number of jobs running for a specific task? How would it manage the number of merge thresholds for instance? What if we run much more merge jobs in 10 sites and exceed this thresholds, would other sites starve of merge jobs?

[2015-04-08 14:27] bbockelm commented on #5748
Hi Alan,

Not exactly - HTCondor would control the total number of jobs of a certain job-type running at a given site.

In other words, if you limit # of merge jobs at site Nebraska to 100 and are at that limit, then HTCondor would refuse to start additional merge jobs _only at Nebraska_ until one of the running jobs has finished.

This is similar to what WMAgent does now, except:
1. It is applied

[2015-04-08 14:38] #5042 closed

[2015-04-08 14:41] #5659 closed

[2015-04-08 14:44] amaltaro commented on #5748
Crystal clear now ;)
About 1), this setting is in an agent basis, not globally. Though one could say it's "global" since several agents contribute to the global limits (sum of all agents task/site thresholds).

[2015-04-08 14:50] #5750 closed

[2015-04-08 14:50] #5688 closed

[2015-04-08 14:51] #5748 closed

[2015-04-08 14:53] #5420 closed

[2015-04-08 19:42] #5672 closed

[2015-04-08 20:20] ticoann opened #5761 "wrong total lumi calculation in task chain."
Review the code below.

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/Policy/Start/MonteCarlo.py#L58

Following gives double total lumis than what it supposed to be.
https://cmsweb.cern.ch/couchdb/reqmgr_workload_cache/pdmvserv_task_TOP-RunIIWinter15wmLHE-00015__v1_T_150404_183555_8973

[2015-04-09 05:55] juztas opened #5762 "AttributeError: 'NoneType' object has no attribute 'addFile'"
This is critical for CRAB3 right now...
[code]

[2015-04-09 06:01] PerilousApricot commented on #5762
What is sending None down to self.splitLumiFiles? https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/LumiBased.py#L127

That dict is populated with:
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobSplitting/LumiBased.py#L289

but I don't see how f can be none since that block is in a loop iterating over f['runs']

[2015-04-09 06:29] juztas commented on #5762
good catch @PerilousApricot . I have identified where the issue is and this is CRAB3 problem. False alarm ;) Will create CRAB3 ticket

[2015-04-09 06:29] #5762 closed

[2015-04-09 06:31] PerilousApricot commented on #5762
:v:

[2015-04-09 06:36] PerilousApricot commented on #5762
dmwm/CRABServer#4747

[2015-04-09 15:09] AndrewLevin commented on #5641
Hi,

We are going to start running TaskChain workflows outside of relval soon (actually we already have started this), so the workflows will likely go to both FNAL (mariaDB) and CERN (oracle) wmagents. Currently, since the relval wmagent is a CERN (oracle) wmagent, this issue is not a showstopper, but I guess it will become a showstopper once we start sending a lot of TaskChain workflows to both C

[2015-04-10 03:06] ticoann commented on #5685
CleanUp code is added

[2015-04-10 03:06] #5685 closed

[2015-04-10 03:07] #5702 closed

[2015-04-10 03:08] ticoann commented on #5657
summary view cleaned up

[2015-04-10 03:08] #5657 closed

[2015-04-10 03:21] #5601 closed

[2015-04-10 03:22] ticoann opened #5766 "WMCore-04-2015-issues"
Some candidate issues
https://github.com/dmwm/WMCore/milestones/WMAgent1504
(This list still need to be updated)
High Priority:

#5339 #5340 #5341 #5342 #5344 #5347 #5343
#5345 #5346 #5264 #5360 Remove SE from WMAgent (Ax) (Testing)
#5468 New workflow type for DQM aggregation (S) (deployed debugging)
#5426 Handling very long Skims wfs in WMAgent
#5632 Remove calculation of checksum other than adle

[2015-04-10 03:23] #4482 closed

[2015-04-10 03:25] #5066 closed

[2015-04-10 03:25] #5005 closed

[2015-04-10 03:26] #4636 closed

[2015-04-10 13:20] juztas commented on #4880
@ericvaandering can you reopen and assign it to me? I will test this next week on T2_CH_CERN with WmAgent and CRAB3. Thanks

[2015-04-10 13:59] amaltaro opened #5767 "ACDC EventBased is also broken"
For my record :), Julian mentioned ACDCs using EventBased job splitting are creating duplicate lumis. It seems it also creates less jobs than what it should. I'll investigate it

[2015-04-10 14:10] ticoann commented on #4880
Thanks Justas, let me know.

[2015-04-10 14:11] ericvaandering commented on #4880
@tsarangi was going to help with this testing too, right?

[2015-04-10 14:16] juztas commented on #4880
If T2_US_Wisconsin have gfal2 installed we can also test on this site. For sure T2_CH_CERN has and we need to specify own site-local-config  for this.

[2015-04-10 14:43] tsarangi commented on #4880
yes, gfal2 is available for compute nodes at Wisconsin.

[2015-04-10 17:23] amaltaro commented on #5740
This issue has been fixed by #5752. Closing it

[2015-04-10 17:23] #5740 closed

[2015-04-10 17:31] amaltaro opened #5768 "Force-complete no longer works in new agent (1.0.5)"
Creating this issue now that I can collect facts. This workflow was moved to "force-complete" - via webpage - in testbed:
amaltaro_TaskChain_Multicore_Agent105_CDB16_HG1504_150409_002328_4571

and it
a) did not kill the pending jobs
b) is still creating new jobs

If I open GQ, I no longer see any elements in there. The same applies for the workqueue_inbox doc, it has been deleted.

Investigating W

[2015-04-10 18:30] amaltaro commented on #5768
and for completeness, these blocks have been deleted from local workqueue and workqueue_inbox as well, though I can still list them in wmbs_workflow table. I guess there is no way to stop this wf :-)

[2015-04-11 01:03] hufnagel opened #5771 "JobAccountant crashes on jobs returned without file location"
Hi,

We observed a JobAccountant crash in the Tier0

https://cms-logbook.cern.ch/elog/Tier-0+processing/12610

Analyzing the code, the problem is here

https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobAccountant/AccountantWorker.py#L802

where it ignores file records returned in the job report if they don't contain a location.
If then for some reason the only files that are pro

[2015-04-11 07:18] amaltaro opened #5772 "ReDigi with 3 steps incorrectly create jobs (specific case)"
While testing new templates (ReDigi_cmsRun3.json), it seems if you set
"KeepStepOneOutput" : "True",
"KeepStepTwoOutput": "False",

it only creates jobs for StepOne and LogCollect. Nothing else.

[2015-04-12 06:47] AndrewLevin commented on #5738
Also, it would be good to have a configurable minimum and maximum walltime such that if a job has a walltime greater than the maximum walltime, it is automatically set to the maximum walltime. This is obviously different from killing the job if its walltime is too large. I think both options would be useful in certain cases, because sometimes the walltime is accurate and sometimes it is not (eg in

[2015-04-13 11:49] amaltaro commented on #5767
It seems we need to change how we upload information to the ACDC server, if we want to make it to work for MC from scratch. This is the - important - information currently uploaded:
 fileset['events'] which is the same value as 'RequestNumEvents'. Instead, it should contain EventsPerJob for this job.
 fileset['first_event'] which is always 1.
 fileset['last_event'] which is always 0.
 fileset['run

[2015-04-13 13:16] amaltaro commented on #5768
Actually it does not happen only in the new agent, I found a similar wmbs error in the 1.0.0 as well.
And it's not easily reproducible.
What about the following fix: https://github.com/amaltaro/WMCore/commit/b52e0acc8db98293cd86f1090baf1e99a2cad9f7
@ticoann ?

[2015-04-13 13:30] bbockelm commented on #5738
Seems to be rather dangerous, no?
1.  If the walltime is accurate and you auto-shorten, you now waste 48 hours of CPU time when the job is going over the limits.
2.  If the walltime is wildly inaccurate, then you're going to be severely decreasing the effective priority of the job (c.f. the existing upgrade DIGI-RECO workflows).  Further, it likely indicates something has gone wrong with the workf

[2015-04-13 13:42] AndrewLevin commented on #5738
1. The 48 hours of CPU time is not wasted, because the problem will be reported to the submitter and they will fix it. Relval is a very small fraction of the entire workflow share and the fraction of relval that runs for longer than 48 hours is a small fraction of that. So, I am not really worried about the wasted resource usage. I am more worried about the wasted human time the results from jobs

[2015-04-13 13:55] bbockelm commented on #5738
1.  Apologies - I still don't understand this, or I'm missing something.  My interpretation of what you wrote is that it is better to wait for 48 hours then fail the job than to fail the job on submit?
2.  Nope - this is completely expected.  The closer the MaxWallTime is to the maximum pilot lifetime, the less likely there is a that can run the job - and more likely some other job will run instea

[2015-04-13 14:08] AndrewLevin commented on #5738
1. No, because you don't a priori know whether the walltime is correct.
2. OK,  but any new glidein should go to the highest priority job, regardless of it's walltime, right? For release validation, I think we want to eliminate evicted jobs "at all costs" even if it means wasted resources, inefficiency, etc. As you are aware from the e-mail thread, wmagent does not have any "evicted job protocol"

[2015-04-13 14:25] ticoann commented on #5768
Hi Alan, it seems there are 4 things happen when killWorkflow calls,

https://github.com/amaltaro/WMCore/blob/b52e0acc8db98293cd86f1090baf1e99a2cad9f7/src/python/WMCore/WorkQueue/WorkQueue.py

1. kill BossAir jobs.
2. update couchdb status of the jobs
3. update the dashboard status of jobs.
4. change the wmbs db job status.

I am guessing the problem is in 2. But not completely sure. Was that the

[2015-04-13 14:43] bbockelm commented on #5738
1.  So, instead of getting folks to fix the walltime of requests, we silently ignore them?
2.  Correct - any new glidein gets the highest priority job.  Let's say that a relval job requests 36 hours, but really runs for 12.  Then a new glidein will run one relval job - and potentially four 8-hour long lower-priority jobs.  In this example case, only 25% of the walltime goes to the highest-priority

[2015-04-13 15:15] AndrewLevin commented on #5738
1. Yes.
2. OK. I see how it can happen that relval gets only 25%. So, there is a tradeoff. I think for release validation the disadvantages of walltime matching (the human effort needed to make sure the wall time is being set correctly, the possibility of evicted jobs and jobs stuck in pending) are worse than the advantages.  After 36 hours, WMAgent kills the job itself in a way that log files are

[2015-04-13 17:01] bbockelm commented on #5738
Ah-ha!

The key piece I was missing was about the jobs timing out regardless at 36 hours.  Thanks!

I think we should probably brainstorm a bit more; I'm sure we can come up with something better (hopefully the suggestion I put in elog will tie you over?).  Can you send out a doodle with some available times this week?

(This is just for brainstorming, mostly to help my understanding.  Anything fi

[2015-04-13 18:12] amaltaro commented on #5768
From the error message, I'd say it fails in 4), when updating wmbs database.
I agree, I'll first apply #5682 to testbed and run a few tests over the night and then we discuss further this issue ;)

[2015-04-13 18:21] ticoann commented on #5768
Sorry, I didn't read the error message carefully. In that case, I don't know how to handle that. I think we should check whether it will cause any side effect when wmbs job status is not updated.

[2015-04-13 23:45] hufnagel commented on #5738
About 1, we should still push to have better wall time estimates. If nothing else it makes scheduling jobs to pilots (and especially single core jobs to multicore pilots) much more efficient if we know how long the job is going to run.

OTOH, I do not think we can ever get to a point where we can rely on these wall time estimate to the extent that we can say "you are 10% over your estimate, now we

[2015-04-14 16:28] vkuznet opened #5777 "Add clean-up of local DB"
Need to define the policy when to clean up the log. i.e. after workflow is archived, etc.

[2015-04-14 16:32] vkuznet opened #5778 "Add thread name to LogDB in ctor and modify the LogDB doc structure"
Once thread name is passed then LogDB will need to summarize docs per agent and thread name

[2015-04-14 16:35] vkuznet opened #5779 "Wrap all APIs in LogDB to process request gracefully"
We'll wrap LogDB API with try/except and if error happen with LogDBBackend we'll get exception and write error to the logger. But LogDB APIs will proceed gracefully with failures on LogDBBackend.

[2015-04-14 16:36] vkuznet opened #5780 "Add trigger functionality to LogDB"
When something changes, e.g. request failed, we need a trigger which will call upload2central API automatically.

[2015-04-14 16:47] vkuznet commented on #5779
Please take PR: https://github.com/dmwm/WMCore/pull/5781

[2015-04-14 18:40] vkuznet commented on #5777
First draft: https://github.com/dmwm/WMCore/pull/5782

[2015-04-14 22:09] belforte commented on #5738
I think the brainstorming chat will be more effective if based on some data.
How long to RelVal jobs really run for ? Given how excited people get whenever it is delayed by a few ours, I was imagining many O(1~2h) jobs. If large majority fits e.g. 4h I would submit everything with that and those who time out could be restarted with 12h or more via a JDL attribute.
That is coarse yes, but may be go

[2015-04-15 06:35] AndrewLevin commented on #5738
Hi Stefano,

RelVal runs 95% at FNAL. According to Farrukh, after a schedd claims a glidein, it can keep it as long as it wants. So, having 7 day glideins at FNAL would make the turn-on too slow I think. Maybe we should consider requiring the schedd to give up the glidein after each job.

Even considering the effect of walltime matching, I still cannot understand the attached plots. They would onl

[2015-04-15 08:12] belforte commented on #5738
thanks Andrew, it really helps to be concrete about what we talk about.
And clearly this is not doing what expected and may require more then
MaxWallTime tuning.
I defer to Brian on the exact policy under which a glidein is released for
a new matching cycle, although I think it is ClaimLifeTime or something similar
and mating is done to a user, not a schedd, when claim expires the pilot
goes back

[2015-04-15 09:09] Farrukh-Aftab commented on #5738
That is not true Andrew. If you recall, I told you that there is a claim lifetime. Once a schedd gets a glidein, it keeps hold of it for 12 hours. After 12 hours, the glidein goes back to the pool.

That would be inefficient. The idea of having 12 hours as the claim life time was that more often than not a schedd has multiple jobs pending to the same site, so a schedd should reuse the glidein with

[2015-04-15 09:13] Farrukh-Aftab commented on #5738
I tried looking up the job you just mentioned. Taking a closer look, I saw that your jobs didn't have anything that would prevent them from being matched to glideins. I looked up the glideins in the pool [1] and there were available glideins. I tried reverse analyzing some of the jobs, and that shows that most of the glideins don't have any CPUs (if you recall, FNAL went all multicore, so perhaps

[2015-04-15 10:29] AndrewLevin commented on #5738
Hi,

So, Brian, we will need your help to debug this. Please let us know if you need any additional information.

Thanks.

Andrew

[2015-04-15 12:55] vkuznet commented on #1696
Here is a good reference of how to make transition: https://www.youtube.com/watch?v=KPzDX5TX5HE

[2015-04-15 12:58] evansde77 commented on #1696
Im pretty disappointed that @sfoulkes hasnt done this yet.

[2015-04-15 13:02] sfoulkes commented on #1696
I'm all over this.

[2015-04-15 13:15] vkuznet commented on #1696
How nice that people still care

[2015-04-15 13:23] PerilousApricot commented on #1696
🙅🙅🙅🙅🙅🙅🙅🙅🙅

--
Sent from Gmail Mobile

[2015-04-15 13:42] bbockelm commented on #5738
Hi,

Farrukh was on the right track - we had:

PostJobPrio2 = quantize(QDate, {3600})

(so newer was better).  We restored this to the original intent:

PostJobPrio2 = -quantize(QDate, {3600})

I now see older jobs being started preferentially.  It might take a few hours for the weirdness to filter out of the system.

On the original issue of job runtime: talking to Dave Mason at the FNAL T1, he w

[2015-04-15 13:49] ericvaandering commented on #1696
Crap. Cannot assign this to @sfoulkes .

[2015-04-15 13:56] belforte commented on #5738
Dave Mason should say which job duration he expects to get with best splitting. 8h jobs in 48h pilots is a bit marginal IMHO, we are there out of necessity, not by some optimal design.

[2015-04-15 13:59] belforte commented on #5738
@bbockelm for my education where is PostJobPrio2 defined ? I'd like to understand this in depht.

[2015-04-15 14:06] bbockelm commented on #5738
Yes - I think 8 hour splitting is still desirable.  We only get ourselves in trouble when we have requests for 36 hours like RelVal occasionally does.

PostJobPrio2 is currently defined by the schedd (although there's a patch to have WMAgent manage this).

[2015-04-15 14:07] amaltaro commented on #3470
@ticoann , please close this one since WMS mode only adds sites that have available slots in resource control.

[2015-04-15 14:08] amaltaro commented on #885
@ticoann , I guess we can close this issue from 2010 :-)

[2015-04-15 14:12] belforte commented on #5738
OK. I found some related info to PostJobPrio in
https://github.com/dmwm/WMCore/issues/5688 and https://github.com/dmwm/CRABServer/issues/4705
including that it is not documented (no point to dig in HTCondor).
Those talk about PostJobPrio1, not PostJobPrio2, but I guess if only one is defined it is not different.
Yet I am puzzled because I thought RelVal had higher basic "JobPrio" so should run bef

[2015-04-15 14:18] amaltaro commented on #3546
@ticoann @PerilousApricot do we still need to keep it open? I'm sure there are several checks against the pickled fwjr after 3 years :)

[2015-04-15 14:22] amaltaro commented on #3612
@ticoann @hufnagel can we close this one (3 years without any news)?

[2015-04-15 14:26] amaltaro commented on #1746
@ticoann @gutsche I guess we can close this one since we have now force-complete. Agree?

[2015-04-15 14:28] #1746 closed

[2015-04-15 14:29] amaltaro commented on #3195
@ticoann I believe it's going to be part of ReqMgr2, right? How about we then close this one?

[2015-04-15 14:29] #5779 closed

[2015-04-15 14:32] ticoann commented on #3195
We were not planning to to this in reqmgr2, but shouldn't this be when it gets announced?

[2015-04-15 14:33] ticoann commented on #3195
I will close this unless Steve want to do it. :smile:

[2015-04-15 14:33] #3195 closed

[2015-04-15 14:33] amaltaro commented on #3672
@ticoann do we still need to fix it? otherwise we should close since it's 3 years old.

[2015-04-15 14:36] amaltaro commented on #2823
Isn't it part of the Smart retry 'project'? Should we close this one in favor of those PRs/issues that Dirk was working on?

[2015-04-15 14:41] #3672 closed

[2015-04-15 14:57] amaltaro commented on #1259
It's available in the workloadSummary 'output' section. @ticoann please close

[2015-04-15 14:58] amaltaro commented on #874
One can apply such sorting in WMStats for creation of ACDC. @ticoann I guess we can close

[2015-04-15 15:01] ericvaandering commented on #1696
There is also this Wiki which probably doesn't contain anything new: https://github.com/dmwm/WMCore/wiki/python3-transition

[2015-04-15 15:07] ericvaandering commented on #1696
So let me comment on how I think we should go about this. Having looked at modernize vs. futures, I definitely prefer futurize to avoid polluting things with a whole bunch of dependencies on "six". We have no need to support 2.5 or earlier.

I would like to start with two things: Adding the "from future" boilerplate to all new files as he suggests. And running the futurize fixers one at a time. Th

[2015-04-15 15:07] bbockelm commented on #5738
@belforte - yes - _JobPrio2_ only affects the ordering *once* the schedd has been handed the match (and only between jobs with the same _JobPrio_).  _JobPrio_ is the only sorting considered when the negotiator is deciding which negotiator to talk to next.

Digging in, there's another problem here - USE_GLOBAL_JOB_PRIOS is enabled on the negotiator but not the schedds.  That's causing the global us

[2015-04-15 15:15] ticoann commented on #874
I think this is already added in wmstats

[2015-04-15 15:15] #874 closed

[2015-04-15 15:16] #1259 closed

[2015-04-15 15:23] belforte commented on #5738
cool.
if global priorities were ignored it may explain some other
situation where people argued at length on production not
delivering workflows in expected order

Is the conclusion that the mere threat of a meeting made us (well.. you!)
solve and the meeting is not not needed ?

[2015-04-15 15:27] bbockelm commented on #5738
Unfortunately not - we still need to figure out MaxWallTime issues on RelVal, and how to better handle jobs that exceed it.

[2015-04-15 15:34] vkuznet commented on #1696
+1

On  0, Eric Vaandering <notifications@github.com> wrote:

[2015-04-15 15:44] bbockelm commented on #5738
@belforte - we probably didn't notice because "general" workflows are distributed across many agents.  With global priorities turned off, we basically start negotiating with a random schedd.  When high priority workflows are on many schedds, it's highly likely we start the negotiation with a schedd that contains the highest priority workflow.

However, this issue sticks out especially for RelVals

[2015-04-15 15:50] belforte commented on #5738
@bbockelm yes, sort of working is exactly what makes for long and lively debates in meetings where none knows the inner details enough :-)

[2015-04-15 16:26] amaltaro commented on #3602
If agent fails to start one component, then it stops there and reports an error. I guess it's good for now. @ticoann , shall we close this 3 years old issue?

[2015-04-15 16:28] amaltaro commented on #3604
Still from the svn era :-) I'm not aware of output reporting problems, so I guess we can close this one, @ticoann ?

[2015-04-15 16:33] amaltaro commented on #3605
Right now we have a memory monitoring (MaxRSS and MaxVSize) that is shipped along the job.
On the agent side, there is a "config.JobStatusLite.stateTimeouts" where we specify for how long jobs can be in the running/pending state (the action I believe to be a condor_rm or close to it).
For disk space, there is nothing monitoring it from the WMAgent side.

If we should implement it, then leave it op

[2015-04-15 16:33] #3602 closed

[2015-04-15 16:34] #3604 closed

[2015-04-15 16:35] #3612 closed

[2015-04-15 16:35] amaltaro commented on #2883
We no longer stageout to /store/tmp - from WMAgent code at least. @ticoann, please close this issue.
Andrew, don't get sad :-)

[2015-04-15 16:35] #2883 closed

[2015-04-15 16:36] amaltaro commented on #2889
4 years old issue and I guess this issue is gone since a long time. @ticoann , please close it.

[2015-04-15 16:37] amaltaro commented on #3946
Done since 2012. @ticoann please close it

[2015-04-15 16:38] amaltaro commented on #3250
I don't quite understand this issue. Anyways it's too old and lots of things happened on this front :-) @ticoann @vkuznet can we close this one?

[2015-04-15 16:40] amaltaro commented on #2958
I guess we can close it since we now specify in the job classAds the expected WallTime, Expected disk usage, number of cores, memory required, etc @hufnagel @ticoann , should we close it?

[2015-04-15 16:42] #2889 closed

[2015-04-15 16:43] #3250 closed

[2015-04-15 16:44] amaltaro commented on #3328
It should be fixed by now. If it's not, people usually look directly into the couch doc.
@ticoann can we close it?

[2015-04-15 16:45] amaltaro commented on #2673
WMStats offers the PFN to the logArchive since some time by now. @ticoann can we close it?

[2015-04-15 16:46] amaltaro commented on #3664
Don't understand this issue, but it's 3 years old and perhaps we can close it, @ticoann  ?

[2015-04-15 16:48] amaltaro commented on #3665
A few changes happened to job splitting and it's possible to pass them (and algo) during request creation. @ticoann I guess we can close this one.

[2015-04-15 16:49] amaltaro commented on #3666
Is it to somehow to avoid dup output files? @ticoann do you understand this issue? Is it ok to close it?

[2015-04-15 16:52] amaltaro commented on #1529
It seems quite useful, but not very easy to do in cases we have a list of blocks or runs white or blacklisted (assignment may take several seconds in this case).
Since WorkQueue will acquire work - and users can still transfer the input pileup - and will update input location, I guess we could close this issue.

Unless @gutsche still wants this feature? :-) @ticoann

[2015-04-15 16:53] amaltaro commented on #3734
I guess we can close this one, @ticoann ?

[2015-04-15 16:57] amaltaro commented on #3043
The code was not changed. I wonder whether WMAgent is using this wrapper and whether these changes are still wanted. @vkuznet since you developed it, you are the best person to help us here :-P

[2015-04-15 16:58] #3328 closed

[2015-04-15 16:58] #2673 closed

[2015-04-15 16:58] #3664 closed

[2015-04-15 16:59] #3665 closed

[2015-04-15 17:01] amaltaro commented on #1937
Comp has moved to cherrypy 3.2.2, I guess we can close this one, @ticoann ?

[2015-04-15 17:02] amaltaro commented on #2125
That's the EventAwareLumiSplitting with a maximum # of events per job. If that exceeds, don't submit this job. @ticoann @ericvaandering can we close this one?

[2015-04-15 17:05] amaltaro commented on #3385
JobArchiver is still importing directly json. Should we keep it open or... just close it? @ticoann @ericvaandering

[2015-04-15 17:05] #1937 closed

[2015-04-15 17:06] #2125 closed

[2015-04-15 17:06] amaltaro commented on #2531
How about this issue from 2011 @ericvaandering @ticoann ? Do we still plan to perform the datatier check during request creation?

[2015-04-15 17:08] amaltaro commented on #1650
I guess lots of things changed since 2011, for good :-) Can we close this one @ericvaandering ?

[2015-04-15 17:12] amaltaro commented on #3170
Bump, this seems to be interesting :)

[2015-04-15 17:13] amaltaro commented on #3939
@ticoann do we still need this historic analysis?

[2015-04-15 17:17] ticoann commented on #3939
We do but lets close it.

[2015-04-15 17:17] #3939 closed

[2015-04-15 17:20] amaltaro commented on #2660
This seems to be interesting, however we do not have plots while the workflow is running. How about the available tables showing cooloff jobs with different exit codes and sites? I believe it's Ok for now :-)
@ticoann what do you think? If that's basically not feasible, then let's close this one.

[2015-04-15 17:23] amaltaro commented on #2040
@ticoann I guess we can close this one.

[2015-04-15 17:24] amaltaro commented on #2115
WMStats is available now and provides these filters (and couchdb views). @ticoann I guess we can close this one.

[2015-04-15 17:28] amaltaro commented on #2119
Seems interesting to have. @ticoann we could also add this information to reqmgr_workload_cache db, as well as subscription types and sites auto-approved

[2015-04-15 17:28] amaltaro commented on #852
@ticoann please close

[2015-04-15 17:32] amaltaro commented on #2790
Single submit ACDC is already available.
The bulk part is still missing, maybe we could have a bulk ACDC in a request basis, like a single button that would create ACDCs for Task1, Task2, MergeDQM, MergeAODSIM, etc discarding non-processing and merge failures.

@ticoann or we close it and create a brand new ticket with better and up-to-date specifications. (?)

[2015-04-15 17:34] amaltaro commented on #3781
AFAIK we don't mix multiple runs in DQM jobs (especially not in harvesting ones). @hufnagel , you should know about this better than me :-)

[2015-04-15 17:36] amaltaro commented on #923
I believe it would be quite hard to come to a good approach. Which may not be worth in the end.
@ericvaandering @ticoann should we close it?

[2015-04-15 17:38] amaltaro commented on #2796
This feature was added 2 or 3 years ago with the OpsClipboard - or something like that - and after a few tests we came up with a conclusion that it would be quite hard to manage such a thing.
Moreover, by the moment you select a 'hold', easily tens of thousands of jobs may be created already.
IMO we should close this issue. @ticoann

[2015-04-15 17:42] amaltaro commented on #2933
I really don't know what this space token is. Since this issues has not been touched for 4 years now, should we close it @PerilousApricot @ticoann ?

[2015-04-15 17:45] ericvaandering commented on #3385
Let me look @ this one.

Sent from a mobile device. Please excuse my brevity or transcription errors.

[2015-04-15 17:46] amaltaro commented on #2245
@ericvaandering @ticoann is this issue still out there?

[2015-04-15 17:51] amaltaro commented on #3570
I guess I;ve never used this setup.py test :( @PerilousApricot @ticoann has this issue been solved?

[2015-04-15 17:54] amaltaro commented on #2659
Things have changed in Ops now and people don't usually wait for the Data Managers to approve requests. In addition to that, phedex subscriptions are more flexible now (including Disk endpoints) and the agent can self approve it.
@ticoann if you agree we can close this one.

[2015-04-15 17:56] amaltaro commented on #2993
I believe this will be part of the WMArchive. Also, the WL summary does not seem to be the best place to put a list of LFNs (not for very big workflows at least). @ticoann @yuyiguo should we close this one and defer it to WMArchive?

[2015-04-15 17:57] amaltaro commented on #3719
Provided Dirk's comment, should we close this issue @hufnagel @ticoann

[2015-04-15 17:58] amaltaro commented on #3290
waiting review since 2012 :-D @ticoann please close this one

[2015-04-15 18:28] ericvaandering commented on #3385
Closing. #4418 even says JSONParser is no longer needed which I can see from looking at the code. I'll open another issue to actually get rid of it.

[2015-04-15 18:28] #3385 closed

[2015-04-15 18:28] ericvaandering opened #5784 "Remove JSONParser"
per #4418, we no longer need to parse non-standard JSON since all our code should be producing proper JSON.

[2015-04-15 18:39] ericvaandering opened #5785 "Standardize on JSON libraries"
As explained here: https://docs.python.org/dev/whatsnew/2.7.html the python standard library for JSON got much faster in python 2.7 so there is no advantage from cjson or simplejson. We should standardize and simplify or remove the JsonWrapper class.

[2015-04-15 18:42] ericvaandering commented on #2531
Doesn't DBS enforce this now? @yuyiguo

[2015-04-15 18:43] #1650 closed

[2015-04-15 18:45] ericvaandering commented on #3781
I think this is irrelevant as we are now actually trying to do the opposite: allow DQM harvesting for more than one run, but not by default.

[2015-04-15 18:50] ericvaandering commented on #2245
Looks like loadList was cleaned up but loadView still has the same pattern referenced above.

https://github.com/dmwm/WMCore/blob/477c33757e856b4d1c0c916fa7b3baabbf04f55b/src/python/WMCore/Database/CMSCouch.py#L437

Of course, I don't really know what problem I was finding 4.5 years ago.

[2015-04-15 20:09] yuyiguo commented on #2531
WMAgent uses  bulk insert into DBS. If the tier is not already in DBS, DBS will insert one.   DBS does not know if the new tier is valid or not.

[2015-04-15 20:19] ericvaandering commented on #2531
We may want to revisit that. I'm not concerned about WMAgent really, but as I just commented on the slack user-data-review channel, don't we open up to every user defining any data tier they want this way?

[2015-04-16 04:17] #3290 closed

[2015-04-16 04:18] #3719 closed

[2015-04-16 04:18] #2993 closed

[2015-04-16 04:19] #2659 closed

[2015-04-16 04:21] ticoann commented on #2933
I don't know either. If we don't know, we will close it. Chances are we will probably never look at it.

[2015-04-16 04:21] #2933 closed

[2015-04-16 04:21] #2796 closed

[2015-04-16 04:22] #923 closed

[2015-04-16 04:23] #2790 closed

[2015-04-16 04:23] #852 closed

[2015-04-16 04:24] #2115 closed

[2015-04-16 04:25] #2040 closed

[2015-04-16 04:27] ticoann commented on #2660
We have information in wmstats. We can plot it too. But I guess we will close this unless some one screams for it.

[2015-04-16 04:27] #2660 closed

[2015-04-16 04:28] #3170 closed

[2015-04-16 13:39] vkuznet commented on #3043
Here is the fix: https://github.com/dmwm/WMCore/pull/5790, regarding the usage of the module I can't say much. Let's ask Seangchan, @ticoann do you know?

[2015-04-16 14:17] ticoann commented on #3043
I think we are using pycurl in agent. But haven really check. closing the issue.
https://github.com/cms-sw/cmsdist/blob/comp_gcc481/wmagent.spec#L8

[2015-04-16 14:17] #3043 closed

[2015-04-16 15:49] amaltaro opened #5791 "Implement shuffling of PU files"
As a follow up of discussions all around and this summary from @chwissing
"in the last few weeks we have constantly trouble with processing
workflows, because each and every job opens the _same_ pileup file for
discovering the data products. That causes some issues at some sites."

we should shuffle the pileup files to avoid opening always the same one by each job.

Here is my understand of the co

[2015-04-16 16:15] ericvaandering commented on #5791
Thanks Alan. Yes, I can either find where this list is inserted into the PSet and shuffle it before. Or extract it and shuffle it. That should make each job different. If I recall correctly, the start position to actually read events from this list is also chosen randomly, so these two randoms should not make the whole process less random. :-)

Maybe @Dr15Jones has input here.

[2015-04-16 19:19] vlimant opened #5793 "SubscriptionInformation not in workload cache"
Also add ProcessingVersion as well

On @amaltaro suggestion:

neither of

https://cmsweb.cern.ch/couchdb/reqmgr_workload_cache/jbadillo_TOP-Summer12-00335_00209_v0__150406_103823_3394

  nor

https://cmsweb.cern.ch/reqmgr2/data/request?name=jbadillo_TOP-Summer12-00335_00209_v0__150406_103823_3394

  has

'SubscriptionInformation':
{'/TTJets_MSDecays_JpsiFilter_1785_TuneZ2star_8TeV-madgraph-tauola/

[2015-04-16 19:24] ticoann commented on #5793
Hi Jean-Roch, is there any other information you want to include?

[2015-04-16 19:26] vlimant commented on #5793
is there any other information you need ? I just found SubscriptionInformation information useful and would be a shame to not have it anymore anywhere.

[2015-04-16 20:46] ticoann commented on #5793
No, I just want to know is there any other information missing but you want to add since we are going to change that we can add it together.

[2015-04-16 20:49] amaltaro commented on #5793
To be honest, we could simplify it by just adding these info in couch docs (probably reqmgr workload)
"NonCustodialSites": [whatever]
"CustodialSites": [whatever]
etc etc etc.

In principle there is no need to replicate the output dataset there again. We could also drop the "SubscriptionInformation" key.

[2015-04-16 21:05] ericvaandering opened #5794 "All in one test, Jenkins deployment is failing to install WorkloadSummary"
While this particular log comes from my attempts to get Jenkins running, I constantly see this when running the all in one tests as well.

[code]

[2015-04-17 03:02] #5784 closed

[2015-04-17 10:43] amaltaro commented on #4878
Since this discussion looks a bit confusing, and we got another issue reporting the real problem #5767.
I'm closing this one

[2015-04-17 10:43] #4878 closed

[2015-04-17 10:44] amaltaro commented on #4938
@ticoann I guess we can close this issue. I believe these issues happened when we had 2 instances of GQ running in cmsweb.

[2015-04-17 14:06] #4938 closed

[2015-04-17 15:12] amaltaro opened #5798 "LumiList not added in the workload for TaskChain"
@ticoann , I need your help with this issue since I failed miserably while trying to fix it :-(

The problem is that LumiList does not get added to the workload.request.schema section, since we call this method with an empty dict
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/WMWorkload.py#L802

I applied a couple of changes in the TaskChain.py spec file, basically
 - calling

[2015-04-17 15:22] ticoann commented on #5798
Hi Alan, so lumi mask need to be set differently by task in task chain? or it just need to be added in schema section?

[2015-04-17 15:45] amaltaro commented on #5798
The logic behing lumi mask for taskchain seems to be Ok (at least if someone sets it in the first task), e.g.
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMgr/requests/Integration/TaskChain_Data_LumiMask.json#L29

It's "just" a matter of adding it to the schema section :-)

[2015-04-17 16:46] ticoann commented on #5798
Why do you need to set the schema? To have json document? anyway, I will take the issue. Please don't spend time on it.

[2015-04-17 17:00] amaltaro commented on #5798
I'm not anymore :-P  Because then we have the whole information provided by the requestor in one place and inside the spec file
https://cmsweb-testbed.cern.ch/couchdb/reqmgr_workload_cache/amaltaro_TaskChain_Data_LumiMask_TEST_clone_LumiList_Alan_150417_091600_9167/spec

which then we use WMWorkloadHelper to go through these parameters and clone that request.

I noticed this information is already

[2015-04-17 17:05] amaltaro commented on #5798
Here is how we load this info
https://github.com/CMSCompOps/WmAgentScripts/blob/master/reqMgrClient.py#L632

and then we read the spec with (in my version I actually use dictionary_whole_tree_())
https://github.com/CMSCompOps/WmAgentScripts/blob/master/resubmit.py#L45

[2015-04-17 17:51] ericvaandering commented on #5798
To answer the original question, we have an alternate way of specifying these lumi lists specifically to make it fit into two lists. I'm sure there are functions to convert them; if you cannot find it, let me know.

The representation for what you've got is something like

[code]

[2015-04-17 19:00] ericvaandering commented on #5791
Fix is trivial. CMSSW vstring is a python list that can be shuffled in place.

[2015-04-18 13:27] amaltaro opened #5805 "Why do we need 'aborted-completed'?"
Hey folks, I'm investigating why WorkQueue (or TaskArchiver) is not archiving aborted workflows, and I just found out that a new status was added (new at least for me :))
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/RequestManager/RequestDB/Settings/RequestStatus.py#L56

Is there any reason to have 'aborted-completed' status there? I'd simplify it with 'aborted' to 'aborted-archive

[2015-04-18 14:00] ticoann commented on #5805
Hi Alan, actually it is not a new state. Originally for the aborted workflow Ops wants the workflow summary as well. So when workflow aborted, it will go through all the normal complete procedure. cleaning up db and create the workload summary. Then TaskArchiver move the request status to aborted-complete status then it move to aborted-archived status

There are certain cases aborted in not moving

[2015-04-18 14:49] amaltaro commented on #5805
I barely see an use case for that :(, I hope Ops is really using this feature
Ok, thanks a lot Seangchan!

[2015-04-19 14:38] amaltaro opened #5809 "WQ trying to abort workflows in aborted-archived"
Hi Seangchan,

I can see LOTS of error messages in the central WQ logs (both for testbed and production) where it tries to move 'aborted-archived' workflows to 'aborted'. Here is the traceback

[code]

The reason seems to be coming from the fact that these workflows still have elements in the workqueue_inbox (and the spec file doc) and then it goes through the report() method for WQ.

I made a pos

[2015-04-19 15:13] amaltaro commented on #5809
Actually, I noticed it can be simplified by: https://github.com/amaltaro/WMCore/commit/a4c71ea69de769f89b3abecef9edef208a3b3425
We basically have to skip reportElement() and append this element to uptodate_elements, which will then do the job here https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/WorkQueueReqMgrInterface.py#L64

[2015-04-20 02:53] #5791 closed

[2015-04-20 02:59] ticoann commented on #5809
Thanks Alan, I think your patch would work. I was just wondering how it happens in (trying to abort request when request is already archived.) Since we can always clean up manually, I will hold on to your patch a while.

[2015-04-20 07:44] amaltaro commented on #5809
Being verbose :-) I think the reason is the following, the workflow given in the error message above still has a document in the workqueue_inbox with "Status":"Canceled":
https://cmsweb-testbed.cern.ch/couchdb/workqueue_inbox/_design/WorkQueue/_rewrite/element/amaltaro_ReDigi_cmsRun3_Agent105_CDB16_forceComplete_150416_123020_8567

Since the request status is "aborted-archived", it will fall into

[2015-04-20 15:47] ticoann commented on #5809
Thanks Alan, I wasn't saying we should manually clean up. :smile:  I was just saying since we have the other means to do this, it is not critical to fix to add now. I was just want to know how this happen first.

Cancelled request periodically  cleaned up by this call.

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/WorkQueue.py#L826

It seemed it is Cancelled but not be ab

[2015-04-20 16:07] Dr15Jones commented on #5791
The framework right now just opens the first file in the list in order to find out what data is available and then it closes that file. However, when it comes time to actually get events for pileup, we randomly choose which file to start from and then randomly choose which event to start from within that file.

[2015-04-20 16:10] ericvaandering commented on #5791
OK, so my patch will have exactly the right effect. By randomizing the list on the WN, you effectively will have two random file opens.

[2015-04-20 16:24] ericvaandering commented on #5632
OK, we are fully cleared to do this, just don't deploy it before May 1. I think that should not be an issue.

[2015-04-20 16:44] hufnagel commented on #5632
Is there actually code for this already ?

[2015-04-20 17:05] ticoann commented on #5534
@ericvaandering, Eric wants me to check what is involved to change code base for this.
To clarify,
1. seeding is by job not by request, correct?
2. first generation of jobs has random seeding but failed job will  have the same seeding, correct?

If 1. is true it will be harder to preserve that information in acdc.

[2015-04-20 17:49] ericvaandering commented on #5534
It seems to me that ACDCs are especially difficult since the jobs in an ACDC may not even map to jobs in the original workflow. Job splitting parameters, etc may have changed, right?

[2015-04-20 17:50] ericvaandering commented on #5632
No, I believe no one has started to work on this. If you want it, take the ticket.

[2015-04-20 18:01] amaltaro commented on #5534
Seangchan/Eric, my understanding about this issue is the following:
 - about 1., yes, random seed is by job and not by request
 - about 2., that's correct again. When a job fails, the job retry should use exactly the same seed (that's intended to easily reproduce errors that may come from a "very special" seed)

About ACDCs, I see this as a second step since it's much harder.
At least in RelVals w

[2015-04-20 19:17] ticoann commented on #5534
Yes, ACDC is harder. I am not sure that is even possible since failed job in Original workflow doesn't match acdc job created later.

For the retrying case we need to find mechanism to save initial job seeding.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py#L282

It seems this algorithm just do that. Not completely sure how this works, though.

[2015-04-20 19:17] ticoann commented on #5534
Yes, ACDC is harder. I am not sure that is even possible since failed job in Original workflow doesn't match acdc job created later.

For the retrying case we need to find mechanism to save initial job seeding.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMRuntime/Scripts/SetupCMSSWPset.py#L282

It seems this algorithm just do that. Not completely sure how this works, though.

[2015-04-20 19:29] amaltaro commented on #5534
Me neither :-) But it looks like there are several different seeds in the game. I was looking at one job configuration at this exact moment (DIGI job)
http://amaltaro.web.cern.ch/amaltaro/forSeangChan/myPSet.py

[2015-04-20 21:41] ericvaandering commented on #5534
We have lots of seeds but as long as you generate those with "random" #'s that themselves have a deterministic seed, you are OK. If I was doing this, I would see the python random # generator with some hash of the job definition. Perhaps what is happening.

[2015-04-21 06:33] hufnagel commented on #5632
Taking it, already running tests. Not completely trivial as some couchapp code is also affected.

[2015-04-21 12:48] amaltaro opened #5817 "JobUpdater crashing with CouchConflictError"
This component is crashing all the time with couch conflict errors, this is the traceback
[code]

Since work is distributed in at least 4 different agents, that is probably the reason we are getting this couch conflict, since > 1 agent is trying to update the same doc.

It's not something from the new agent, but someone put a cronjob updating  request priorities on the fly (and it seems for quite

[2015-04-21 15:10] amaltaro commented on #4879
It's fixed in the current version (and I have no idea since when...).
Closing this issue as fixed!

[2015-04-21 15:10] #4879 closed

[2015-04-21 15:13] amaltaro opened #5819 "Do not build ACDC docs for aborted workflows"
This is an improvement and, since I will most likely forget it tomorrow, better to keep this record.
I guess the easiest way of doing so, would be by creating a new job state.

[2015-04-21 15:23] amaltaro commented on #5470
Fixed a long time ago by #5313 . Closing this issue

[2015-04-21 15:23] #5470 closed

[2015-04-21 15:26] ticoann commented on #5819
Alan, this might be a little hard to do it, since document is pushed to acdc jobs failed not when status changes. So when workflow is aborted there are bunch of jobs already pushed to acdc.
Currently what we are doing is clean up after the fact.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/CherryPyThreads/CouchDBCleanup.py#L41

We can add "aborted" there. currently only "abo

[2015-04-21 16:56] amaltaro commented on #5819
I still did not investigate how it could be done, but the main reason for that is that ACDC building is a very very expensive operation for ErrorHandler, so if we could get rid of them in such cases, that would be a super improvement ;-) I will investigate it during this week ...

[2015-04-21 17:07] ticoann commented on #5819
I think the key is when would you know whether workflow will be aborted. If you know very early on it reflect that not to push files to acdc. But workflow is aborted after many jobs finished the data will be already in acdc db. You could change the code to update acdc after certain state "completed" But I think that will be quite a lot of change.

[2015-04-21 17:11] amaltaro commented on #5819
Actually, my concern is not whether there are ACDC documents or not. Instead, I would like just to avoid building acdc documents for those jobs that were aborted in the agents (that were pending or running).

[2015-04-21 17:18] ticoann commented on #5819
If you are just concern the jobs after aborted, I think it is pretty easy to add. I will take this issue. Don't spend time on this. :smile:

[2015-04-21 17:24] amaltaro commented on #5819
Exactly! Oh, that's great and you are the man!!! It's not urgent though, if you have more interesting things to work on, relax and go for that.

[2015-04-21 21:17] ticoann commented on #5819
Hi Alan, it seems actually we are doing that already.
This is the place where files are uploaded to acdc server
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/ErrorHandler/ErrorHandlerPoller.py#L194

and that is called by handleRetryDoneJobs
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/ErrorHandler/ErrorHandlerPoller.py#L261

And the jobList is from
https://

[2015-04-22 07:02] amaltaro commented on #5819
Yes, you're right. According to this code aborted jobs should not go to the acdc server.
Maybe I aborted my tests yesterday just when a hundred of jobs were failing....
Closing this issue, thanks Seangchan!

[2015-04-22 07:02] #5819 closed

[2015-04-22 07:07] amaltaro commented on #5768
Fixed by #5800

[2015-04-22 07:07] #5768 closed

[2015-04-22 09:58] amaltaro commented on #5767
Ok, I did some more progress on this (btw, feel free to assign it to me and don't bother reading it for now :)).

Here is the place that we get the right information about first/last things:
https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/ErrorHandler/ErrorHandlerPoller.py#L193
e.g.:
[code]

Then it gets inside this if
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/

[2015-04-22 12:46] amaltaro commented on #1532
@ticoann I guess this even precedes WMStats and so I think we can close this issue.

[2015-04-22 12:48] amaltaro commented on #3886
@ticoann should we close this one? since we have a general makeover issue for that #4483

[2015-04-22 12:50] amaltaro commented on #1745
@ticoann if we've lived without this since 2011, then I guess it'd not be very useful (?)
Sorry Oli, no hard feelings ;-)

[2015-04-22 12:51] amaltaro commented on #3546
no answer for a week again, shall we close it?

[2015-04-22 12:53] amaltaro commented on #2553
Living with that for 4 years now :-) @ticoann @ericvaandering shall we close it?

[2015-04-22 12:53] amaltaro commented on #885
ping

[2015-04-22 12:54] amaltaro commented on #3470
@ticoann ping

[2015-04-22 12:55] amaltaro commented on #3666
@ticoann ping

[2015-04-22 12:56] amaltaro commented on #2958
ping

[2015-04-22 12:56] amaltaro commented on #3946
@ticoann close plz

[2015-04-22 12:57] amaltaro commented on #3536
@ericvaandering since you started playing with jenkins, should we keep this one open?

[2015-04-22 12:58] amaltaro commented on #2823
@hufnagel can we close this one on behalf of your smart retry handling developments?

[2015-04-22 12:59] amaltaro commented on #3781
agreed! @ericvaandering can you close it then please?

[2015-04-22 13:00] amaltaro commented on #2119
Addressing the same thing in #5793. close this one please

[2015-04-22 13:04] amaltaro commented on #2531
Yep, I agree that only DBS admins (real admins) should be able to create new data-tier. Otherwise, having this check in WMAgent should properly protect DBS/datatiers (at least global instance).

[2015-04-22 13:04] amaltaro commented on #3734
ping

[2015-04-22 13:05] amaltaro commented on #1529
I guess silence means No. Seangchan, can we close this one?

[2015-04-22 13:09] amaltaro commented on #3169
@ticoann do you think such view would be feasible?

[2015-04-22 13:10] amaltaro commented on #1717
json can be retrieved from the workloadSummary document (which requires a makeover btw).
@ticoann I would close this issue.

[2015-04-22 13:11] amaltaro commented on #2798
@ericvaandering how about this one?

[2015-04-22 13:15] hufnagel commented on #2823
Yeah, closing this, doesn't make sense to have this independent from the smart retry handler. If we ever have a quiet moment I need to work our with @ticoann and @ericvaandering what to do about the smart retry handler. That one has a lot of things implemented, not all of which we might want to use immediately or at all. But there are some definitely useful things in there as well, just have to de

[2015-04-22 13:15] #2823 closed

[2015-04-22 13:16] amaltaro commented on #2033
Bump! AFAIK nobody cleans the local WMAgent database... But ok, let's fix this eventually

[2015-04-22 13:18] amaltaro commented on #3019
4 years old issue, I would just close it and open a new one if we hit the same issue after years of multicore development @ticoann

[2015-04-22 13:19] amaltaro commented on #3014
probably no longer needed @ticoann can we close this one?

[2015-04-22 13:20] amaltaro commented on #3917
if nobody checked this issue @ticoann can you close it please?

[2015-04-22 13:21] amaltaro commented on #3086
the review probably finished a long time ago @ticoann can we close this issue

[2015-04-22 13:22] amaltaro commented on #1154
@vkuznet @ticoann should we close this one?

[2015-04-22 13:24] amaltaro commented on #3483
@HassenRiahi @ticoann can we close this 3 years old issue?

[2015-04-22 13:24] amaltaro commented on #2222
ACDC has changed a lot in the past 3 years, I would close it @ticoann

[2015-04-22 13:26] amaltaro commented on #3148
.lhe files are provided in the couch config cache, so it most likely got solved in the previous years.
@ticoann please close this issue

[2015-04-22 13:27] amaltaro commented on #1898
@ticoann you are the master and will know by heart whether this standard template is in place or not :-)

[2015-04-22 13:27] amaltaro commented on #831
It's there. @ticoann please close it

[2015-04-22 13:28] amaltaro commented on #1908
@ticoann any idea about this one?

[2015-04-22 13:29] amaltaro commented on #681
@ericvaandering can we close this issue?

[2015-04-22 13:30] amaltaro commented on #1134
People use scripts for this whole thing now (and it's possible to come in ReqMgr2...).
@ticoann can we close this one

[2015-04-22 13:30] mmascher commented on #3148
That's so freaking old :)

We should close all the issues that did not get an update (not even a milestone change) in the last year..

[2015-04-22 13:33] amaltaro commented on #2564
Bump! I guess this one is still true, stageout errors are awfully reported

[2015-04-22 13:37] amaltaro commented on #3967
Samir, it seems this information is available in the workloadSummary. Since nobody looks at the "human" workflow summary. I would close this issue.
@ticoann can we close it please

[2015-04-22 13:38] amaltaro commented on #2839
This stuff has been implemented in WMStats. What is not there, will probably make it in ReqMgr2
@ticoann shall we close this one?

[2015-04-22 13:38] ericvaandering commented on #2798
I think this is settled a long time ago. It's possible @yuyiguo will be asked to do something similar in the WMArchive project or CRAB may eventually turn something like this on to gather data, but for now I am closing.

[2015-04-22 13:38] #2798 closed

[2015-04-22 13:38] amaltaro commented on #2358
@ticoann is it feasible?

[2015-04-22 13:38] #3148 closed

[2015-04-22 13:39] amaltaro commented on #2353
@ticoann @ericvaandering shall we close this one?

[2015-04-22 13:40] hufnagel commented on #2564
I was going to tackle this when I have some free time. Wanted to write a generic xrootd stageout plugin and I wanted to do so in the v2 stageout implementation we have. @PerilousApricot wrote that at some point, but it a) was never adopted by anyone, b) is by now also quite dated and c) doesn't go far enough IMO in terms of simplifying the stageout code.

I wanted to overhaul the v2 version or may

[2015-04-22 13:41] #2353 closed

[2015-04-22 13:44] ericvaandering commented on #681
Yup. This was for CRAB3-WMAgent.

[2015-04-22 13:44] #681 closed

[2015-04-22 13:46] ericvaandering commented on #3014
This probably is some early version of what @alexanderrichards is doing now. Closing

[2015-04-22 13:46] #3014 closed

[2015-04-22 13:46] #3019 closed

[2015-04-22 13:48] #3781 closed

[2015-04-22 13:48] ericvaandering commented on #3536
I think with whatever re-boot of Jenkins we have, all new issues are going to crop up. So yeah.

[2015-04-22 13:48] #3536 closed

[2015-04-22 13:49] ericvaandering commented on #2553
Only 3.5 years.....

[2015-04-22 13:49] #2553 closed

[2015-04-22 13:50] ericvaandering commented on #3546
Attachment is lost too. Closing

[2015-04-22 13:50] #3546 closed

[2015-04-22 14:15] #1532 closed

[2015-04-22 14:15] #3886 closed

[2015-04-22 14:17] #885 closed

[2015-04-22 14:17] #3470 closed

[2015-04-22 14:18] #3666 closed

[2015-04-22 14:26] ticoann commented on #2958
This still might be relevant. Since we are having meeting about MaxWallTimeMin in a couple of day. I can create the new issue after finding out what comes out from the meeting and reference this issue.

[2015-04-22 14:26] #3946 closed

[2015-04-22 14:27] #2119 closed

[2015-04-22 14:28] #3734 closed

[2015-04-22 14:29] #1529 closed

[2015-04-22 14:32] ticoann commented on #3169
This would be very simple to add. But not sure of the use case now.

[2015-04-22 14:33] #1717 closed

[2015-04-22 14:36] #3917 closed

[2015-04-22 14:37] #3086 closed

[2015-04-22 14:38] ticoann commented on #1154
Should we close this, Valentin?

[2015-04-22 14:39] #3483 closed

[2015-04-22 14:40] #2222 closed

[2015-04-22 14:41] ticoann commented on #1898
Diego did this already wrong time ago and we are using it.

[2015-04-22 14:41] #1898 closed

[2015-04-22 14:41] amaltaro commented on #4028
I did not run any test yet, so I cannot say :-) @ticoann any comments on this?

[2015-04-22 14:41] vkuznet commented on #1154
yes

[2015-04-22 14:43] amaltaro commented on #4000
@ticoann I guess we should close it

[2015-04-22 14:44] amaltaro commented on #3992
this has been done @ticoann close it please

[2015-04-22 14:44] amaltaro commented on #3982
done in WMStats @ticoann please close it

[2015-04-22 14:45] amaltaro commented on #3981
3rd will be part of the LogDB, so I guess we can close this one @ticoann

[2015-04-22 14:46] amaltaro commented on #4094
seems interesting, but I don't think we''ll ever work on it (3 years have past) :-)
@ticoann should we close this one?

[2015-04-22 14:48] ericvaandering commented on #2275
@amaltaro can't we close this since you are actually doing this?

[2015-04-22 14:48] amaltaro commented on #4091
It may be worth it to investigate whether this issue has been completely solved or not. But I'm not doing it right now :)

[2015-04-22 14:49] amaltaro commented on #4090
WMstats does this job now @ticoann please close it

[2015-04-22 14:50] amaltaro commented on #4078
May also be interesting to investigate it...

[2015-04-22 14:51] amaltaro commented on #4050
PSet stuff, I guess we can close this one @ticoann

[2015-04-22 14:52] #831 closed

[2015-04-22 14:53] amaltaro commented on #4036
@ericvaandering you may have input for this issue

[2015-04-22 14:54] ericvaandering commented on #4050
This may be related to CRAB3-WMAgent.

[2015-04-22 14:54] #4050 closed

[2015-04-22 14:55] ericvaandering commented on #4036
Let's keep this one open. It's just a generally good idea even if we don't do it anytime soon.

[2015-04-22 14:58] ticoann commented on #1908
id is built in function in python but we are using id as parameter as well. (in some case file too). We shouldn't do that. I will move this issue to  "When proper compensation is paid by Eric" milestone.

[2015-04-22 15:00] #1134 closed

[2015-04-22 15:01] #3967 closed

[2015-04-22 15:01] #2839 closed

[2015-04-22 15:09] ticoann commented on #2358
Yes, but I think in terms of performance it is OK, since there won't be big data in WQ. (We cleaned up pretty diligently.  But it will be good to filtering in client side since we can propagate the log to LodDB now, so if workflow is not pulled in local queue. the reason can be reported.

[2015-04-22 15:19] #1154 closed

[2015-04-22 15:20] ticoann commented on #4028
I think this is done. We will reopen the issue if not.

[2015-04-22 15:20] #4028 closed

[2015-04-22 15:20] #4000 closed

[2015-04-22 15:21] #3992 closed

[2015-04-22 15:21] #3982 closed

[2015-04-22 15:21] #3981 closed

[2015-04-22 15:35] ericvaandering commented on #5473
Isn't this superseded by LogDB? @ticoann @vkuznet

[2015-04-22 15:43] vkuznet commented on #5473
I think so, once LogDB in place they can start using it, but we need to discuss how they'll make updates (either in code or external client).

[2015-04-22 15:44] #4090 closed

[2015-04-22 15:56] #5473 closed

[2015-04-22 20:18] ticoann opened #5825 "move aborted workflow to aborted-archived when agent is not yet pulled the workflow"
via aborted-completed

[2015-04-22 20:18] ticoann commented on #5825
following #5805

[2015-04-22 20:18] ticoann commented on #5805
create the new issue.#5825

[2015-04-22 20:18] #5805 closed

[2015-04-22 20:45] amaltaro commented on #2275
I have no idea what Marco's script is, but I would close this one :)

[2015-04-22 20:47] #2275 closed

[2015-04-23 16:28] ericvaandering opened #5829 "Remove references to popen2, replace with subprocess"
This is another library that has been deprecated in modern pythons.

[2015-04-23 16:32] ericvaandering opened #5830 "Change pylint disable-msg to disable"
and enable-msg similarly. These are old ways of specifying this and generate lots of messages.

[2015-04-23 20:35] hufnagel commented on #5829
I have some changes for this in the runtime code which I should probably clean up and make a pull request for...

[2015-04-23 20:38] ericvaandering commented on #5829
Cool. There were not many occurrences.

Sent from a mobile device. Please excuse my brevity or transcription errors.

[2015-04-24 08:24] amaltaro opened #5832 "Agent may not create phedex subscriptions eventually"
Jean-Roch/Julian pointed me out to one workflow where only the LHE sample was subscribed, but not the GEN one
pdmvserv_task_HIG-RunIIWinter15wmLHE-00047__v1_T_150421_001721_9640.tasks.HIG-RunIIWinter15wmLHE-00047_0

I still have to investigate this issue, however my theory is the following. IF the first block of that GEN sample got created just after the PhEDExSubscriber cycle AND the workflow mov

[2015-04-24 09:23] amaltaro commented on #627
@ticoann @ericvaandering I don't really understand this issue. Since it's opened for 4 years with no further comments, how about closing it?

[2015-04-24 09:25] amaltaro commented on #2702
I think all these injections are quite stable by now. How about we close this one since nobody worked on it since 2011? @ticoann

[2015-04-24 09:26] amaltaro commented on #2703
@ticoann someone with more knowledge of wmclient can comment on it? or close :P

[2015-04-24 09:28] amaltaro commented on #3977
@ticoann should we close this one?

[2015-04-24 09:29] amaltaro commented on #4053
@ticoann should we close this one as well?

[2015-04-24 09:31] amaltaro commented on #4044
it seems it was an exceptional case with 500k jobs in the system.
Looking at the query.... wow, it's huge. Maybe @yuyiguo could try to improve this query?

[2015-04-24 09:35] amaltaro commented on #4121
Closing it since AFAIK a new datatier gets created if it's not available.

[2015-04-24 09:35] #4121 closed

[2015-04-24 09:35] amaltaro commented on #4113
@hufnagel any comments on this issue? Can we close it?

[2015-04-24 09:36] amaltaro commented on #4110
probably does not happen anymore otherwise people would be screaming. Can we close it @ticoann

[2015-04-24 09:37] amaltaro commented on #4108
I believe it inherits it now. @ticoann can we close it?

[2015-04-24 09:38] amaltaro commented on #4102
PdmV now calculates the expected output events, so no need to have this new field. @ticoann can we close it?

[2015-04-24 09:40] amaltaro commented on #4098
@ericvaandering @ticoann do you guys know if that's still the case?

[2015-04-24 09:45] amaltaro commented on #4017
This commit is also related:
https://github.com/dmwm/WMCore/commit/de452acc0a54ccd8a8f27366a0a52d66d2c4f4b3

maybe @ericvaandering has some input here. I still need to ramp up on unit tests stuff :(

[2015-04-24 09:48] amaltaro commented on #4183
I see we send the jobID (don't know the difference for the gridID). If it's not done yet, then it's not needed :-) @ticoann should we close this one?

[2015-04-24 09:49] amaltaro commented on #4178
assigned to rejected is not allowed anymore. @ticoann please close

[2015-04-24 09:50] amaltaro commented on #4162
We don't even set this GLIDEIN_Is_HTPC anymore. @ericvaandering should we close it?

[2015-04-24 09:51] amaltaro commented on #4159
We have made several changes lately to this code and it should not happen anymore. Besides it's quite old :-) @ticoann close this one please

[2015-04-24 09:52] amaltaro commented on #4139
It seems it defaults to 400k now. Closing this issue

[2015-04-24 09:52] #4139 closed

[2015-04-24 09:53] amaltaro commented on #4131
Seems it got fixed. @ticoann please close

[2015-04-24 09:57] amaltaro commented on #4248
Maybe we can also close this one and if that happens again, then we open a new one. @ticoann how about it?

[2015-04-24 09:58] amaltaro commented on #4243
I believe WMArchive is going to handle it. @ticoann shall we close it?

[2015-04-24 09:59] amaltaro commented on #4235
Probably no longer out there. @ticoann please close

[2015-04-24 10:00] amaltaro commented on #4233
I have no idea about the current fallback monitoring. Since it's from 2012, I'd say it's ok to close it.
@ericvaandering I'm sure you have a better input than me xD

[2015-04-24 10:01] amaltaro commented on #4229
Same comment as in #4243.
I believe WMArchive is going to handle it. @ticoann shall we close it?

[2015-04-24 10:02] amaltaro commented on #4219
It needs to go over a makeover #4483
@ticoann please close this one

[2015-04-24 10:02] amaltaro commented on #4198
@ticoann should we also close this one?

[2015-04-24 10:05] amaltaro commented on #4315
Closing this one in favor of #4483

[2015-04-24 10:05] #4315 closed

[2015-04-24 10:08] amaltaro commented on #4294
@ticoann @ericvaandering you know if it's still the case.
Should I stop bugging you guys about these test issues?

[2015-04-24 10:09] amaltaro commented on #4286
Most likely it's gone. @ticoann shall we close this one?

[2015-04-24 10:10] amaltaro commented on #4281
I guess they don't need it anymore since nobody asked during the last 3 years :-)
@ticoann shall we close it?

[2015-04-24 10:23] amaltaro commented on #4278
It seems nothing else calls this method in WMCore. @ticoann should we close it?
Testing interactively, it does not crash, simply return a
[code]

[2015-04-24 10:24] amaltaro commented on #4274
Very old and certainly fixed by now :) @ticoann please close

[2015-04-24 10:24] amaltaro commented on #4266
@ticoann @ericvaandering should we also close this one?

[2015-04-24 10:25] amaltaro commented on #4263
@ericvaandering another Jenkins stuff

[2015-04-24 10:25] amaltaro commented on #4257
@ticoann please close

[2015-04-24 10:27] amaltaro commented on #4250
Seems to have been fixed. @ticoann please close

[2015-04-24 11:40] hufnagel commented on #4113
@ticoann or @lucacopa might know more. I think this is related to Tier0 wmstats and how the Tier0 defines requests, but I don't know much about how that is done in detail.

[2015-04-24 13:05] vkuznet commented on #627
Alan, I think we can safely close this ticket.

[2015-04-24 13:34] #627 closed

[2015-04-24 13:36] ericvaandering commented on #4263
Maybe just unit tests. Let me label it and see about it later.

[2015-04-24 13:36] #4266 closed

[2015-04-24 13:36] #4274 closed

[2015-04-24 13:38] #4281 closed

[2015-04-24 13:40] ericvaandering commented on #4294
Also marked for future review. Of course @PerilousApricot 's suggestion is easy to implement.

[2015-04-24 13:42] ericvaandering commented on #4233
No, leave this open. We and CRAB still have to report to dashboard when xrootd is used.

[2015-04-24 13:44] #4162 closed

[2015-04-24 13:45] ericvaandering commented on #4017
No idea. Probably leave it open for now.

[2015-04-24 13:46] ericvaandering commented on #4098
I dunno, but this is in my wheelhouse now.

[2015-04-24 13:47] ericvaandering commented on #2702
Closing

[2015-04-24 13:47] #2702 closed

[2015-04-24 14:07] ticoann commented on #4257
LogDB should handle this eventually

[2015-04-24 14:07] #4257 closed

[2015-04-24 16:16] PerilousApricot commented on #4098
It still is the case

--
Sent from Gmail Mobile

[2015-04-24 19:43] lucacopa commented on #4113
This shouldn't be an issue anymore. Request are moved to complete correctly according to:
https://github.com/dmwm/WMCore/blob/master/src/couchapps/WMStats/_attachments/js/DataStruct/T0/WMStats.RunSummary.js#L47
Also, we are able to keep requests in complete status for as log as we configure it. Then they are moved to archived as any other kind of request.
@ticoann you can close this

[2015-04-24 20:27] #4113 closed

[2015-04-24 21:59] ticoann opened #5834 "Take TimePerEvents (etc) per task in TaskChain"

[2015-04-24 22:08] ticoann commented on #4183
I am not sure what is gridID either, is it worker node id?

[2015-04-24 22:14] ericvaandering commented on #4183
It's a concept from edg days: an id to uniquely is a job on the grid.

Sent from a mobile device. Please excuse my brevity or transcription errors.

[2015-04-26 15:56] #4278 closed

[2015-04-26 15:57] ticoann commented on #4286
Yes this is fixed

[2015-04-26 15:57] #4286 closed

[2015-04-26 16:01] ticoann commented on #4198
I will fix this.

[2015-04-26 16:03] ticoann commented on #2703
I think we already do that with reqmgr.py

[2015-04-26 16:03] #2703 closed

[2015-04-26 16:04] #3977 closed

[2015-04-26 16:04] #4053 closed

[2015-04-26 16:06] ticoann commented on #4044
We will try to looking into rewrite the query

[2015-04-26 16:06] #4110 closed

[2015-04-26 16:07] #4131 closed

[2015-04-26 16:07] #4248 closed

[2015-04-26 16:43] ticoann commented on #4243
Local couch has this in formation, yes this need to be implemented in WMArchive

[2015-04-26 16:43] #4178 closed

[2015-04-26 16:44] #4159 closed

[2015-04-26 16:44] #4235 closed

[2015-04-26 16:45] ticoann commented on #4229
WMStats has this information.

[2015-04-27 19:42] ericvaandering opened #5839 "WMCore_t/Database_t/DBFormatter_t.py very slow under Jenkins"
This test: WMCore_t/Database_t/DBFormatter_t.py takes 8 hours to run under Jenkins. No idea why just yet. For the moment in #5838  I've marked it integration. If we can figure out why, we can remove it.

[2015-04-29 08:33] amaltaro commented on #4366
@ericvaandering I guess you sorted this out now, didn't you?

[2015-04-29 08:41] amaltaro commented on #4388
It seems part of this discussion (way too long) is very fruitful. If we are getting rid of of oracle db in reqmgr2, should we keep this open @ticoann ?

[2015-04-29 08:45] amaltaro commented on #4331
I'm not aware of this problem for quite some time now. If I'm not wrong the limits for ext4 filesystem are much bigger and thus this problem should not happen anymore.
Should we close this issue @ticoann ?
How about @alexanderrichards ' PR? Maybe we keep that opened but close this one?

[2015-04-29 08:50] amaltaro commented on #4341
@ticoann I guess this is related to the fix you are working on to decouple workflow completion, no?

[2015-04-29 08:50] amaltaro commented on #4390
@ticoann please close this one

[2015-04-29 08:52] amaltaro commented on #4394
I just reproduced this issue with "job progress" column, at least.

[2015-04-29 08:53] amaltaro commented on #4405
I guess we can close this one as well. @ticoann if we find TaskArchiver "defeating" the DB, then we can open a new one

[2015-04-29 12:42] ericvaandering commented on #4366
I suppose. It's irrelevant

[2015-04-29 12:42] #4366 closed

[2015-04-29 12:57] amaltaro commented on #4427
If I looked at the right place
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/Steps/Executors/LogCollect.py#L184

then the cleanup in logCollect jobs is still in place and we need to fix it, eventually :D

[2015-04-29 12:58] amaltaro commented on #4438
workload summary is going to be worked here #4483. @ticoann please close this one

[2015-04-29 13:00] amaltaro commented on #4573
Duplicate of #4450 @ticoann please close this one

[2015-04-29 13:01] amaltaro commented on #4450
@ericvaandering you may know whether it's still the case :-)

[2015-04-29 13:02] amaltaro commented on #4451
@ticoann do we still want it?

[2015-04-29 13:03] amaltaro commented on #4460
since we moved away of LSF submission, do we still want to spend time on this issue? @hufnagel @ticoann otherwise close it please

[2015-04-29 13:04] ericvaandering commented on #4450
Just close all these if you find them.

[2015-04-29 13:04] #4450 closed

[2015-04-29 13:05] #4460 closed

[2015-04-29 13:12] amaltaro commented on #4462
We have migrated to _replicator db some time ago. Though I still see _replicate being mentioned in 2 files. Maybe we should clean them up? @ticoann

[2015-04-29 13:37] amaltaro commented on #4450
Those labelled by "JenkinsFail"? Anyways I have no powers to close them, but I can bug Seangchan for that :)

[2015-04-29 13:40] amaltaro commented on #4475
IF this ever happens, then such tools would indeed be very handy.
However, since we have plennnnty of things on our plate already, I would either close it or... don't know, maybe set a milestone to 2016 or something like that @ticoann

[2015-04-29 13:40] amaltaro commented on #4478
MC extension is in production for quite some time. @ticoann please close

[2015-04-29 13:44] amaltaro commented on #4490
Two years have passed and this was not implemented nor bumped, I'd assume we don't really need it.
@ticoann shall we close this one?

[2015-04-29 13:44] amaltaro commented on #4510
@ticoann please close

[2015-04-29 13:44] ericvaandering commented on #4450
Well, I've started using JenkinsFail, but let me check. I'm happy to do it as well.

[2015-04-29 13:45] amaltaro commented on #4526
@ticoann I'm sure you know this by heart. Has this happened already?

[2015-04-29 13:45] #4510 closed

[2015-04-29 13:45] #4573 closed

[2015-04-29 13:45] #4764 closed

[2015-04-29 13:45] #4819 closed

[2015-04-29 13:45] #4889 closed

[2015-04-29 13:45] #4962 closed

[2015-04-29 13:46] amaltaro commented on #4527
@ticoann I have no idea :)

[2015-04-29 13:46] #4963 closed

[2015-04-29 13:46] amaltaro commented on #4528
Seems interesting. Though I would mark it as low prio instead

[2015-04-29 13:49] amaltaro commented on #4529
Seems interesting, though it's going to be very trick for multiple steps and multiple output datatiers (which means it will never be that accurate...)

[2015-04-29 13:50] amaltaro commented on #4533
@ticoann I guess this is going to be handled by WMArchive, no?

[2015-04-29 13:51] amaltaro commented on #4541
@lucacopa BIG shame that you did not fix this yet :-P
Do you have time to work on this issue? Otherwise I'll try to handle it in the next days (seems to be simple)

[2015-04-29 13:53] amaltaro commented on #4564
@ticoann do you understand this issue?

[2015-04-29 13:53] ericvaandering commented on #4533
I changed the title to be more generic. Will also assign to @yuyiguo on the assumption that it gets taken care of.

[2015-04-29 13:54] amaltaro commented on #4569
@ticoann this applies to number of entries and sorting basically, right?

[2015-04-29 13:55] amaltaro commented on #4572
Closing this issue since nothing needs to be added on the service side, just add it yourself and be happy :)

[2015-04-29 13:55] #4572 closed

[2015-04-29 14:02] amaltaro commented on #4613
Sorry :-) @ericvaandering how about this one?

[2015-04-29 14:08] ericvaandering commented on #4613
Let's keep it.

[2015-04-29 14:21] ticoann commented on #4569
This one need to be done. WMStats automatically refresh page but if table is sorted different way than default it changed to default which shouldn't happen

[2015-04-29 14:27] ticoann commented on #4564
We can change reqmgr  couchdb 2 ways, going through reqmgr2 api and direct access to couchdb. There are more control over what it can be done with reqmgr2 api. (which permission is given to which function, etc). We should have the same control on direct couch access. But this might be hard to do that.
One thing we can do is restrict direct couch update access to local  and only allow reqmgr2 api a

[2015-04-29 14:30] ticoann commented on #4529
Yes this will never be accurate. But point is better algorithm. :-) I will just open this hoping a great idea comes along.

[2015-04-29 14:33] ticoann commented on #4528
This requires having WMStats Server apllication. And now dashboard provide that information. How many jobs running and pending per sites (but not how many jobs not created), I will close the ticket.

[2015-04-29 14:33] #4528 closed

[2015-04-29 14:34] ticoann commented on #4527
This is duplicate issue. #5681

[2015-04-29 14:34] #4527 closed

[2015-04-29 14:36] ticoann commented on #4526
No this need to be done rather soon. Make. high priority

[2015-04-29 14:37] #4490 closed

[2015-04-29 14:37] #4478 closed

[2015-04-29 14:38] lucacopa commented on #4541
@amaltaro I have forgot about this :-) Not this week, and I am leaving on vacation next one, so if you can work on it, go ahead

[2015-04-29 14:40] ticoann commented on #4462
I will clean them up. But after https://github.com/dmwm/WMCore/pull/5628

[2015-04-29 14:41] #4451 closed

[2015-04-29 14:42] #4438 closed

[2015-04-29 14:46] ticoann commented on #4405
this is fixed at least on the query getting finished workflow

[2015-04-29 14:46] #4405 closed

[2015-04-29 14:46] #4390 closed

[2015-04-29 14:48] ticoann commented on #4341
yes

[2015-04-29 14:48] #4341 closed

[2015-04-29 14:49] ticoann commented on #4331
Yes Alex made a patch, we didn't put in since it didn't get tested. So open the pull request but close this one.

[2015-04-29 14:49] #4331 closed

[2015-04-29 14:51] ticoann commented on #4388
I will keep this one just for the check point. We can close it when we switch to reqmgr2

[2015-04-29 19:09] amaltaro commented on #4621
We found out that couch and sql database clean up is needed in the end.
Deployment is quite straight forward now, though it does not follow cmsweb way (it's not a cmsweb service anyways xD).
@ticoann shall we close this one?

[2015-04-29 19:41] ticoann commented on #4621
Since Diego already did work and we just need to validate. I think we should keep this.

[2015-04-30 04:11] ticoann opened #5846 "pycurl call gives following error"
#5846 need to applied to test

Traceback (most recent call last):
  File "/Users/sryu/WorkArea2/WMCore/test/python/WMCore_t/Services_t/ReqMgr_t/ReqMgr_t.py", line 62, in setUp
    RESTBaseUnitTestWithDBBackend.setUp(self)
  File "/Users/sryu/WorkArea2/WMCore/src/python/WMQuality/REST/RESTBaseUnitTestWithDBBackend.py", line 53, in setUp
    self.testInit.setupCouch(dbName, couchApp)
  File "/Users/

[2015-04-30 10:41] amaltaro opened #5847 "outputDataset broken for TaskChains"
@vlimant just reported that both the ReqMgr API [1] and a couch view [2] is broken when:
 1. it's a TaskChain request with no AcquisitionEra (probably ProcessingString as well) in the main dict
 2. the request is still not assigned.

These views are being used to check whether there will be dataset collision (different requests creating the same output dataset).

It's quite important, but since to

[2015-04-30 10:45] amaltaro commented on #5847
and these are the views/apis
https://cmsweb.cern.ch/reqmgr/reqMgr/outputDatasetsByRequestName/vlimant_task_B2G-RunIIWinter15wmLHE-00013__v1_T_150430_120421_6714

https://cmsweb.cern.ch/couchdb/reqmgr_workload_cache/_design/ReqMgr/_view/byoutputdataset?key=%22/TprimeBToBW_M-1800_13TeV-madgraph/FAKE-v2/LHE%22

[2015-04-30 10:49] vlimant commented on #5847
the output curently is
['/TprimeBToBW_M-1800_13TeV-madgraph/FAKE-v2/LHE', '/TprimeBToBW_M-1800_TuneCUETP8M1_13TeV-madgraph-pythia8/FAKE-v2/GEN-SIM']
and
{"total_rows":166842,"offset":146174,"rows":[
{"id":"vlimant_task_B2G-RunIIWinter15wmLHE-00013__v1_T_150430_120421_6714","key":"/TprimeBToBW_M-1800_13TeV-madgraph/FAKE-v2/LHE","value":null}
]}
that request might get assigned soon

[2015-04-30 11:50] amaltaro commented on #5643
@rovere Marco, do you know what should be the expected name when we upload a single root file containing > 1 runs?

[2015-04-30 11:53] rovere commented on #5643
The file **must** contain one and only one run-number. Maybe you are referring to the case in which we run the so called multi-run harvesting? But, also in this case, the final ROOT file will have the full statistics of all runs merged into a "fake" run. The agreement w/ Federico and the DQM Team is to have this identified by 999999. @deguio should be able to comment further, in case it is needed.

[2015-04-30 11:56] amaltaro opened #5848 "Improve PSet configuration for multiRun harvesting jobs"
I had a "multiRun" harvesting job running over 2 runs and I noticed the fileNames in process.source contain duplicate lfns.
lumisToProcess does not contain duplicates, but it does not create lumi ranges when possible, e.g.:
202205:21-202205:21
202205:22-202205:22
202205:23-202205:23
202205:24-202205:25
202205:26-202205:27

instead of 202205:21-202205:27.
I guess the dup files is harmless, but it's

[2015-04-30 12:05] amaltaro commented on #5643
Yes, it's about the multi-run harvesting.

Perfect!!! That's what I needed to know ;) Thanks Marco!

[2015-04-30 12:19] amaltaro commented on #5848
BTW, putting a job configuration (for a successful job) here as example:
http://amaltaro.web.cern.ch/amaltaro/forWMCore/myPSet_GH5848.py

[2015-04-30 12:24] hufnagel commented on #5848
Hm, could it be that it picks duplicates because it first assigns files for one run and then files for another run and there are overlaps between files ? If so, the problem is likely in the job splitter, doing a run by run assignment without properly taking into account the multirun nature.

With the file duplicates in the input, there could be bad effects (duplicate input transitions etc).

Also,

[2015-04-30 12:30] vkuznet commented on #5846
Seangchan, I don't get this error. But I also found that in order to run this test I was need to ```cp test/data/ReqMgr/requests/DMWM/ReReco.json test/data/ReqMgr/requests/``` file and then adjust ```test/python/WMCore_t/Services_t/ReqMgr_t/ReqMgr_t.py``` at line 100 (test fails with RequestPriority value which I changed from 1000 to 10000, but I think it is due to ReReco.json which had 10000 valu

[2015-04-30 12:46] deguio commented on #5643
I confirm. thanks to both,
F.

[2015-04-30 13:58] amaltaro opened #5849 "DQMHarvest spec creates merge job instead of harvesting"
Everything with the new DQMHarvest spec "succeeds" until the job starts running on the worker node, where it fail with a segmentation fault or some kind.

The problems seems to be that this spec is creating a merge job instead, and so the PSet is missing the whole configuration basically.

[2015-04-30 14:00] amaltaro commented on #5849
I'm testing a possible fix in my VM (or at least something that will help me to understand it).
BTW, I put the PSet.py here:
http://amaltaro.web.cern.ch/amaltaro/forWMCore/myPSet_GH5849.py

[2015-04-30 14:04] ericvaandering commented on #5848
I bet CMSSW is smart enough to ignore that, but we should still fix it with a quick list-set-list roundtrip.

[2015-04-30 14:54] ticoann commented on #5846
Sorry Valentin, unittest is fixed now.  (But pycurl error still
https://github.com/dmwm/WMCore/pull/5850
I am using pycurl-7.19.0. It seems production is pycurl-7.19.3. I will update and run again.

[2015-04-30 15:36] vkuznet commented on #5846
Seangchan, I updated my tree and now I can run unit test without tweaking. So here is my output (everything is fine):
[code]

[2015-04-30 19:01] ticoann commented on #5846
Hi Valentin, after I upgrade to pycurl-7.19.3. The unittest ran fine. I am not sure why it failed to connect in production Agent. I am closing the issues and I will test in agent environment. Sorry for the false alarm.

[2015-04-30 19:01] #5846 closed

[2015-04-30 19:50] ericvaandering opened #5853 "MySQL fails often due to length of socket filename"
Socket filenames (with path) in linux can be at most 117 characters long. Burying the socket file deep in the deployment can blow this limit. Instead, allow the socket file to be set by an optional environment variable.

[2015-05-01 15:05] #5124 closed

[2015-05-01 15:41] ticoann commented on #5451
Fixed

[2015-05-01 15:41] #5451 closed

[2015-05-01 15:44] ticoann commented on #5166
wmstats request type db is removed so not relevant anymore

[2015-05-01 15:44] #5166 closed

[2015-05-01 15:50] ticoann commented on #4768
@AndrewLevin, do you still need this feature. To do this,
1. check dbs when request is created, if the dataset is exist give the warning and make the user confirm
  (I am not sure how this will work if the script is used to create the workflow).
2. Or in the spec, we can add the flag 'ignore duplicate output dataset' so it can be controlled. (i.e. ACDC workflow will set this flag True).

[2015-05-01 16:40] #1504 closed

[2015-05-01 16:41] #5396 closed

[2015-05-01 16:41] #5382 closed

[2015-05-01 16:42] #4797 closed

[2015-05-01 16:42] #3149 closed

[2015-05-01 16:43] #3631 closed

[2015-05-01 16:44] #5120 closed

[2015-05-01 16:44] #4972 closed

[2015-05-01 16:46] #4792 closed

[2015-05-01 16:48] ticoann commented on #5242
@ericvaandering, Eric is doing whole Jenkins make over. should we close this?

[2015-05-01 16:49] #5817 closed

[2015-05-01 16:50] #5705 closed

[2015-05-01 16:51] ticoann commented on #5449
@hufnagel, @lucacopa Can we close this issue?

[2015-05-01 17:01] lucacopa commented on #5449
@ticoann some of the features are still pending, I think we can keep:
- Add Request Alert 'Check bookkeeping' for Runs that are standing in 'Active' status for more than 24 hours
- search tab: Add an option to search by run number

[2015-05-01 17:24] AndrewLevin commented on #4768
Hi Seangchan,

Yes, we still need this feature.

Using only a DBS query when the workflow is created does not cover all cases. If two workflows which produce the same dataset are created at similar times, then this check will not catch this. (This happens relatively frequently in release validation.) Do you have an idea about how to catch that case?

Thanks.

Andrew

[2015-05-01 17:55] ericvaandering commented on #5853
Code is in deployment, not WMCore

[2015-05-01 17:55] #5853 closed

[2015-05-01 17:59] ericvaandering commented on #5242
I'm basing what I'm doing on @PerilousApricot 's scripts, so these are OK notations to have.

[2015-05-02 11:50] hufnagel commented on #5632
Ok, since the CRC checksum is mandatory in DBS for now, I reviewed this again and I can calculate both CRC and Adler32 checksums in a single file read. Therefore closing this issue, super-seeded by #5855

[2015-05-02 11:50] #5632 closed

[2015-05-02 14:33] ticoann commented on #5849
In term of jobs need to be created, Shouldn't DQM spec create the merge job? I thought since input dataset is DQM dataset, we just need to merge those (with lumi filter).  I might be completely misunderstood the case. @hufnagel, Dirk, could you give me some advice on this?

[2015-05-02 15:18] hufnagel commented on #5849
Well, looking at the DQMHarvest spec, it creates a merge job because that's what you told it to do. That whole spec implements a merge workflow, not a harvesting workflow.

What are you trying to do here ? Have a DQM or DAQIO dataset as input and run a single harvesting job on it ? Or something more elaborate ?

[2015-05-02 15:19] hufnagel commented on #5849
https://github.com/hufnagel/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/DQMHarvest.py#L66

clearly tells it to create a merge configuration. The rest of the code setting up the task and steps also looks like more like merge than harvest.

[2015-05-03 13:49] ericvaandering opened #5856 "WMAgent still has DBS2 client as a dependency"
When installing WMAgent by RPM I see this:

Get:3 http://cmsrep.cern.ch cmssw/comp.pre/apt/slc6_amd64_gcc481/cms cms+dbs-client+DBS_2_1_9-comp6 1-1 [638kB]

No need for that anymore....

[2015-05-03 16:55] amaltaro commented on #5849
What we want to do with this spec is:
 a) get an input dataset (it will be either a DQM or DQMIO datatier)
 b) harvest this input dataset
 b.1.) either a single job for the whole input dataset (in case of "multiRun" harvesting)
 b.2.) otherwise, one job per run (standard harvesting)

IMO that merge task is not necessary, we only want to create a "Harvesting" task and  logCollect/cleanup for it.

[2015-05-03 23:05] hufnagel commented on #5849
https://github.com/hufnagel/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L587

will show you how to set this up. The DQMHarvest spec needs to be changed accordingly.

[2015-05-03 23:06] hufnagel commented on #5849
The Harvest job splitter already supports a single (multirun) job per fileset or one job per run. You just need to figure out how to tell the workqueues that it needs to feed the whole dataset at once, not block by block.

[2015-05-04 07:31] amaltaro opened #5857 "Review AlertProcessor component"
We just got a message from CERN IT complaining that one of our agents (vocms055 - testbed) were sending too many mails to wmagentalerts@gmail.com, which slows down delivery of messages to gmail and impacts people at CERN.

Looking at the component log, it seems it retries this operation each 5 secs.

For now I have commented out a few lines in the config.py (fromAddr, smtpServer and toAddr). That

[2015-05-04 07:59] amaltaro commented on #5857
BTW, who owns this account wmagentalerts@gmail.com?

[2015-05-04 08:31] amaltaro commented on #5849
Yep, I looked at this code in the past week, but it assumes the harvesting task will have a parentTask, which does not apply for this spec, since we want to directly create a harvesting job without any task dependencies.

[2015-05-04 08:59] hufnagel commented on #5849
Well, yes, that is different. Everything else is the same though.

[2015-05-04 14:59] ticoann commented on #5849
As far as I understood,
This is needed only for the case for the multi run harvesting job with some run lumi filter.
 1. original workflow creates DQM or DQMIO with multi run harvest.
 2. DQM spec uses those input with run lumi filter generates new DQM file specified run and lumi.

I thought input is DQM dataset we just need to merge that with the filter. But I guess I completely misunderstood.  (

[2015-05-04 15:02] hufnagel commented on #5849
The spec can support both a single multirun harvesting of a complete dataset or the standard one_job/one_run harvesting of a complete dataset. This should be selectable in the spec parameters.

Input is a DQM dataset, but there is no need to merge it, you just pass it directly to a DQM Harvesting task.

[2015-05-05 18:26] amaltaro commented on #5847
@ticoann certainly a good bug to be closed by the next upgrade

[2015-05-05 18:26] amaltaro commented on #5809
@ticoann certainly a good bug to be closed by the next upgrade

[2015-05-05 18:28] amaltaro commented on #5711
@ticoann certainly a good bug to be closed by the next upgrade. Actually, it could be a new feature to JobUpdater

[2015-05-05 18:30] amaltaro commented on #5631
the force-complete part has been done and pushed to production in the previous week.
the aborted transition already works as expected, no?

[2015-05-05 18:33] amaltaro commented on #5426
I'd not mark it as high prio since it's not clear to me whether it's going to be handled by CompOps or T0 folks in the end. Maybe @hufnagel and @ericvaandering have something to add.

If I'm not wrong, @lucacopa was going to run a replay to test some changes that @vlimant would provide him, though I don't know the current status.

[2015-05-05 18:40] amaltaro commented on #5105
I would close this issue unless we see it again. It's from may 2014... @ticoann

[2015-05-05 18:43] amaltaro commented on #5832
@ticoann mark it as high prio please. We need to do it by the next upgrade.

[2015-05-05 18:44] amaltaro commented on #5825
@ticoann we have to fix it for the next cycle as well. High prio

[2015-05-05 18:44] #5105 closed

[2015-05-05 18:46] amaltaro commented on #5798
@ticoann also high prio.

[2015-05-05 18:48] amaltaro commented on #5739
@ticoann also high prio, I think this affects the final stats in the end (reqmgr_cache)

[2015-05-05 20:06] ericvaandering commented on #5426
Yes. @hufnagel and I were discussing this over pre-dinner drinks... I'd say it's still under discussion.

[2015-05-06 15:56] drkovalskyi opened #5861 "Need a new state in Request Manager"
Dear Developers,

we need a new state to indicate that a workflow is being worked on, but not ready to be assigned yet. In practice it means that we are transferring data or doing some other preparation. Since no production tools will have to act on this state, the change should be trivial and correspond to work done before a workflow is assigned.

To summarize, we would like to be able to the fol

[2015-05-06 16:35] ticoann commented on #5861
Hi Dima,
Is staging required for all workflows?
How does the state transition is made. Is there a script automatically change the transition?

[2015-05-06 16:37] ticoann commented on #5426
Move the milestone to 1506 for now

[2015-05-06 16:39] ticoann commented on #5631
Aborted still creates clean up log collect job.

[2015-05-06 16:44] ticoann commented on #5857
Probabley Zdenek

[2015-05-07 05:49] #5411 closed

[2015-05-07 07:07] drkovalskyi commented on #5861
Hi Seangchan,

this state will be used by auto-assignment tools for workflows that need some time-consuming procedure (in reality it's pretty much always data stage-in). This way we will have a clear split between workflows that no one acted on yet and need to be assigned and those that are not assigned because we are doing something.

Dima

[2015-05-07 08:44] vlimant opened #5864 "Hybrid job-data-site matching for optimal use of T2-AAA-T1"
in between using the data location for making job-site matching criteria and ignoring any data location, there is the hybrid, which matches a good strategy of using T2 for digi-reco wihout having to have the input dataset locally (T2 dataops quota issue).
The essence is that job should have a white-list containing sites that hold the block being run over and sites that do not hold any of the block

[2015-05-07 08:52] hufnagel commented on #5864
This currently can't be done in WMAgent. It can't be done at a very deep level because site overrides happen at data injection times. We lie to the system and tell it that all blocks are at A, B and C, there is no way the job to location matching can access the previous information.

We would have to switch to the "Tier0 style" site overrides also for WMAgent, which do the override at submission t

[2015-05-07 10:16] amaltaro commented on #5864
If we manage to update the workqueue docs when it's been "Acquired" or "Running" by the agent (it already happens for Available docs), then we may implement a new feature in JobUpdater to read the local workqueue_inbox and update queued/pending jobs.
Though it's not a simple fix, but a new feature with major changes.

[2015-05-07 11:00] hufnagel commented on #5864
Wouldn't that still only update the whole workflow, not block by block ?

[2015-05-07 11:18] amaltaro commented on #5864
Ouch! I skipped this subtle detail, we would need to map a block (which maps to a fileset, if I correctly understand it) to all its created/pending jobs. Then the condor_qedit would need to be fired only against those specific jobIds (wait, do we have condor job id inside wmbs? if we don't, then game over)

[2015-05-07 13:26] hufnagel commented on #5864
That's painful and complicated. I would instead speed up the migration to the "Tier0 style" overrides as these apply the site overrides at the last possible moment, when the job is submitted.

We need to work out  a few problems these could cause in the job splitting logic. Job splitters would then see not all real+fake locations but only real locations.

[2015-05-07 18:06] ticoann opened #5867 "WMCore-05-2015-issues"
Some candidate issues
https://github.com/dmwm/WMCore/milestones/WMAgent1505
(This list still need to be updated)
High Priority:

#5468 #5849 New workflow type for DQM aggregation (A) (done - testing)
#5848 Improve PSet configuration for multiRun harvesting jobs (done)
#5854 remove unnecessary views from wmagent wmstats view (done)
#5798 LumiList not added in the workload for TaskChain (done - need

[2015-05-07 18:14] amaltaro commented on #4878
Fixed by #5860

[2015-05-07 18:17] amaltaro commented on #5867
Fixed by #5860
Also adding this one to High Priority:
https://github.com/dmwm/WMCore/issues/5848 Improve PSet configuration for multiRun harvesting jobs (A)

[2015-05-07 18:18] amaltaro commented on #5867
Sorry, another High Priority
#5832 Agent may not create phedex subscriptions eventually

[2015-05-07 19:46] ticoann commented on #5867
Thanks, Alan, I updated the issue. Please review

[2015-05-08 03:38] ticoann opened #5871 "Reduce the number of job in DMWM test"
~20 jobs per workflow if possible. (MonteCarlo_eff)

[2015-05-08 07:48] ericvaandering commented on #5867
These look reasonable to me.

Eric W. Vaandering
Computing Physics Developer
CMS Computing Development Lead

Scientific Computing Division
Fermi National Accelerator Laboratory
630 962 7260 office
www.fnal.gov <http://www.fnal.gov/>

[2015-05-08 07:55] vlimant commented on #5631
I am not sure we even need the logcollect when force-completing (at least for the remainder), as we usually do force-complete when we know it's good to go and we want it out.

that's another discussion on logcollect, we should keep the logs only of the failing jobs, and randomly picking 1% of the succeeding jobs : those are IMO the only use case for logs

[2015-05-08 09:46] amaltaro commented on #4837
@ticoann PyCondorPlugin is out there. Still not fully stable, but major work done. How about we close this one?

[2015-05-08 13:15] julianbadillo opened #5874 "ReqMr2 - Admin interface -> link of "check the status of these request""
I followed this steps:
- Go to Admin page
- User management option
- typed "jbadillo" on "new user name" and click on "Add"
This displays a "Confirmation" page, with a section "Further Actions"
If I click on the link "check the status of these request", this goes to the page of a workflow, I thought this was suppose to navigate to the status of the user creation request.

[2015-05-08 13:18] julianbadillo opened #5875 "ReqMgr2 -> Create Request by Table or JSON"
I followed these steps:
- Went to "Create" option
- selected "MonteCarlo" as template
- Either Table or JSON options (I tested both)
- Input the wf information
- clicked on "create"
It created a request, however the name is not displayed. I have to navigate back to "Home" to see which was the name of the workflow.

Also move the mandatory fields on top of the pages

[2015-05-08 13:24] julianbadillo opened #5876 "ReqMgr2 -> Assign workflows - assign button."
I followed these steps:
- Selected "Assign" option
- selected a workflow I just created (marking the checkbox on the left)
- then clicked on button "Assign"
This showed this error box:
Invalid spec parameter value: '/store/data//TTToHplusBHminusB_csbar_M-90_7TeV-pythia6-tauola/GEN-SIM/SITE_TEST-v1' does not match regular expression /store/results/([a-zA-Z0-9\-_]+)/"

After that I cannot unmark the

[2015-05-08 13:41] amaltaro commented on #4741
Do we still want this feature? I think coordinators would get lots and lots of emails :)

[2015-05-08 13:43] amaltaro commented on #4834
@ticoann this can be closed

[2015-05-08 13:45] amaltaro commented on #4805
Fixed by #5676 @ticoann please close it

[2015-05-08 13:47] amaltaro commented on #4798
I guess we do not have any workflows using the old parameter anymore.
So instead of adding more code into WMCore, I would suggest to simply close this issue.
@ticoann what do you think?

[2015-05-08 13:48] amaltaro commented on #4790
It was a very old wmagent version. I would close this issue and in case we see new problems, of course, just create a new one. @ticoann what do you think?

[2015-05-08 13:53] ticoann commented on #5876
Setting of Assignment field should only display the fields need to be added or modified. (And preserve previous set value) - Julian, could you specify which field need to be modified in assignment stage?

[2015-05-08 14:07] ericvaandering commented on #4741
This was a Store Results ticket. I will look at and close them all.

[2015-05-08 14:07] #4741 closed

[2015-05-08 14:08] #4742 closed

[2015-05-08 14:08] #4743 closed

[2015-05-08 14:08] #4744 closed

[2015-05-08 14:08] #4745 closed

[2015-05-08 14:08] #4746 closed

[2015-05-08 14:12] vkuznet commented on #5875
The mandatory fields on top are addressed in this PR: https://github.com/dmwm/WMCore/pull/5877

[2015-05-08 14:20] vkuznet commented on #5875
@ticoann, Seangchan in order to implement Julian's request to show request name on web UI once user clicked create button I need REST request API to return the name of the request. The we can tweak ajacRequest function to show it within response pop-up UI element. Please let me know if REST request API can return request name or should we query it separately. If later then we need an id or somethi

[2015-05-08 14:28] #4805 closed

[2015-05-08 14:29] ticoann commented on #4798
@AndrewLevin, Andrew, can we close this?

[2015-05-08 14:30] #4834 closed

[2015-05-08 14:38] ticoann commented on #5875
@vkuznet, Valentin, I thought it was returning the names with other stuff.

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/ReqMgr/Service/Request.py#L434

[code]
But I will change to return only request names. ['request1', 'request2', ....]
Is that ok?
Could you check what is returned currently?

[2015-05-08 14:41] AndrewLevin commented on #4798
Can you make a list of allowed parameters and check all of the parameters against this list?

[2015-05-08 14:44] #4790 closed

[2015-05-08 14:51] ticoann commented on #4798
Yes, we can. All the parameters are base parameters defined here.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L874

But specific parameters are defined for each spec
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/MonteCarloFromGEN.py#L98

We can check whether some parameter is passed which is not defined in there, through th

[2015-05-08 14:54] AndrewLevin commented on #4798
Yes, that is what I want.

[2015-05-08 14:55] amaltaro commented on #4758
@ticoann please close. It must be fixed :-)

[2015-05-08 14:57] #4758 closed

[2015-05-08 15:53] amaltaro commented on #4798
Hmm, I agree that we should only allow expected parameters.
However, we sometimes need to provide another parameter that is not expected and
I would like not to have requests failing during injection, e.g., RequestSubType, Comments (that I'm using in my battery of requests).

This issue is basically 2 years old, why would we care about enabledqmharvest that is no longer used?!

[2015-05-08 16:29] vkuznet commented on #5875
Currently it return the passed workflow parameters. I changed code to return created request name instead and modified web UI to show this. Please review PR: https://github.com/dmwm/WMCore/pull/5879
![screen shot 2015-05-08 at may 8 12 22 09 pm](https://cloud.githubusercontent.com/assets/125138/7540731/df8901be-f57d-11e4-8aa8-63af2d8422ff.png)

[2015-05-08 18:32] #4526 closed

[2015-05-09 05:43] ticoann opened #5883 "Make pycurl client in WMCore return type according to the decoding passed"

[2015-05-09 06:52] AndrewLevin commented on #4798
Hi Alan,

If you want to have Comments and RequestSubType, can't you just add them to the list?

Do you need to use so many new parameters that you can't add them to the list before you use them?

Andrew

[2015-05-09 08:21] ericvaandering opened #5884 "Fix testACDCProduction test"
testACDCProduction was removed in #5878 because it was a) failing and b) generating 300K lines of debug output when it failed. Both of these issues have to be fixed before it can be reenabled.

[2015-05-09 09:28] ericvaandering opened #5887 "Build special setup_test mode to test unittest coverage"
I removed all coverage stuff in an earlier pull request. Should put back something useful in a standalone test.

[2015-05-09 20:24] amaltaro commented on #4798
StdBase has only mandatory arguments for all the requests. These parameters are not mandatory, especially "Comments".
I insist, do you see any harvesting problems for the last months due to this retired parameter?

[2015-05-09 20:29] AndrewLevin commented on #4798
No, I don't see any harvesting problems in the last months. But I still think we should check the workflow parameters. Are we doing any checking of the workflow parameters now?

[2015-05-10 02:57] ticoann commented on #4798
On May 9, 2015, at 3:29 PM, AndrewLevin <notifications@github.com<mailto:notifications@github.com>> wrote:

No, I don't see any harvesting problems in the last months. But I still think we should check the workflow parameters. Are we doing any checking of the workflow parameters now?

—
Reply to this email directly or view it on GitHub<https://github.com/dmwm/WMCore/issues/4798#issuecomment-100542

[2015-05-10 03:02] ticoann commented on #4798
All the parameters are validated (If it is not optional user should enter the value. If it is optional it will take the default value specified in case a user didn't specify the value) But we are not checking the values it is not defined. (Simply gets ignored). It is good to check whether parameter is defined or not. However, as Alan said if the parameter is newly defined between the deployment it

[2015-05-10 08:27] AndrewLevin commented on #4798
Yes, I think we should have a list of optional parameters and of required parameters, and we should check that all of the parameters that are received are in one of these lists. Alan, do you agree?

[2015-05-10 08:49] amaltaro commented on #4798
Provided we keep:
 - "SubRequestType" (for TaskChain only - optional)
 - "Comments" (for all workflows - optional)
It's fine with me. Even so, I'd mark it as low priority and/or improvement ...

[2015-05-10 20:20] amaltaro commented on #5060
I don't think it's possible unless we parse lots of strings/regexp.
Otherwise, we got the yellow warning state for 2 months now.

[2015-05-11 14:02] #5871 closed

[2015-05-11 15:19] ticoann opened #5892 "Validate sitewhite list and blacklist."
Shouldn't be able to set the site whitelist and blacklist for the same site.

[2015-05-11 16:07] vkuznet commented on #5876
The fix for disabled attribute is here: https://github.com/dmwm/WMCore/pull/5895

[2015-05-11 17:45] hufnagel commented on #5739
Yes, this is fixed by my change. Its an error but a passable one, agent still works, we "just" don't update job stats in couch.

[2015-05-11 21:33] hufnagel commented on #5739
We can probably close this...

[2015-05-12 15:05] amaltaro commented on #5892
From the discussions I had so far, it seems people would prefer to get an intersection of them instead of completely different lists. So we either:
 a) add validation not to have duplicate site in both lists
 b) (whitelist - blacklist) https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WorkQueue/WMBSHelper.py#L307 , and don't inject valid=False into wmbs anymore

[2015-05-12 15:15] ticoann commented on #5892
I was wondering why people set the same site for both black and white list. If it is just a human mistake we can validate when the site list is set.

[2015-05-12 16:00] amaltaro commented on #5892
It was not a mistake, but that's how Jean-Roch understood these site lists would work (intersection).
For me it also makes no sense saying that "I want a beer" and at the same time "I do not want a beer" :-)

[2015-05-13 15:10] #5848 closed

[2015-05-13 15:13] ticoann commented on #5874
Thanks Julian for testing, actually for admin page we haven determined what we should control for the access control, we completely rely on the sitedb so we don't need to create user.
Currently there is no restriction for team or groups (group is not even defined).
If you have any suggestions about what admin should do. we will implement that.  (Since you are the only one gives us feed back, you c

[2015-05-13 15:22] ticoann commented on #4670
done and deployed.

[2015-05-13 15:22] #4670 closed

[2015-05-14 14:21] AndrewLevin commented on #5453
solved by this pull request:

https://github.com/dmwm/WMCore/pull/5494

[2015-05-14 14:21] #5453 closed

[2015-05-14 15:14] AndrewLevin commented on #4768
Hi,

I think Julian and I still need to discuss what exactly we want. Please hold off on working on this.

Andrew

[2015-05-14 15:45] ticoann opened #5904 "remove slicing when DBS client updated"
from this code
https://github.com/dmwm/WMCore/blob/79dba9f7b62ceb0cea2d1625af883b9b828d2798/src/python/WMCore/WorkQueue/Policy/Start/Block.py#L223

[2015-05-14 17:40] ticoann commented on #5847
Hi Alan, Jean-Roch,  Sorry for the late reply. Second part of output dataset name B in /A/B/C, is constructed by combining Acquistion  Era and version,  so unless that is specified you won't have correct output dataset name. (Currently that is set when workflow is assigned).
So are you asking that acquisition era need to be set in request creation stage?

[2015-05-14 17:43] amaltaro commented on #5847
Seangchan, B should be
AcquisitionEra + "-" + ProcessingString + "-" + ProcessingVersion

for most of the workflows, these parameters are set during request creation.
Since it's broken only for TaskChain, I believe WMStats (or something else) is not picking these values from the inner dicts (Task1, Task2, etc)

[2015-05-14 17:53] ticoann commented on #5847
Alan, yes, you are right but ProcessingString is optional.
what do you mean by "broken"? Is that acquisiton era is not picked up when task chain workflow is created but picked up when other workflow is created?
One other question, can acquisition era be differ between the tasks in the same TaskChain?

[2015-05-14 17:57] amaltaro commented on #5847
Hmmm, I thought it was mandatory... Maybe it's mandatory only during assignment.

By broken I meant it gets the default value (FAKE) when there is no AcquisitionEra parameter defined in the main dict (during creation). It should get those from inside the tasks.

Yes, that's possible. The same happens for ProcessingString, they can differ among different tasks.

[2015-05-15 10:43] AndresTanasijczuk opened #5907 "When using EventAwareLumiBased splitting, some jobs analyze less lumis than expected"
I am testing CRAB3 with EventAwareLumiBased splitting (I am adding the feature of allowing to specify a "total_events" limit to stop creating new jobs; similar as I did for LumiBased and FileBased splitting in the past) and I observed that some jobs analyze less lumis than expected, in the sense that some jobs could analyze more lumis than they did and still fit within the requirement to analyze (

[2015-05-15 10:57] AndresTanasijczuk opened #5908 "Add support for a total_events limit in EventAwareLumiBased splitting."
In LumiBased and FileBased splittings there is support for total_lumis and total_files limits respectively. Need to add a similar limit in EventAwareLumiBased splitting. The limit should be on events.

[2015-05-15 11:57] amaltaro opened #5912 "Create unittests for DQMHarvest spec"
Please assign to me.

[2015-05-15 13:37] PerilousApricot commented on #5907
I'm confused, shouldn't you be limiting "total_lumis"? That splitter is
lumi based splitting, it just takes into account some lumis being bigger
than others

--
Sent from Gmail Mobile

[2015-05-15 13:47] ericvaandering commented on #5907
It splits by lumis but uses events as the suggested unit. Obviously it's an approximation.

When I discussed this on the tram with @mmascher I suggested that the "right" thing to do is to make each job no larger than the suggested units_per_job (in events and if possible, of course) but make sure the task is at least as large as "total_units". So cut off after the lumi that gets them *over* total_

[2015-05-15 13:50] ericvaandering commented on #5907
Of course you can't know how many events are in a lumi, so you can't guarantee that will happen, but that's what I'd shoot for.

[2015-05-15 14:22] bbockelm opened #5913 "Boost priority of later processing stages"
Randomly looking at tails of current DR workflows, it appears StepThree jobs can sometimes get stuck behind a raft of StepOne jobs (sometimes from other workflows).  Because they have the same priority in HTCondor, StepThree and StepOne are handled in FIFO order.

However, it seems logical to boost the priority of StepThree -- these basically represent work already run which we should finish up (s

[2015-05-15 14:22] ticoann opened #5914 "move alan's deployment script under WMCore/bin/ and create the wiki for instruction"
Alan could you move your script to WMCore
https://github.com/amaltaro/scripts/blob/master/deployProd.sh

[2015-05-15 14:25] #5849 closed

[2015-05-15 15:26] amaltaro commented on #5914
I change it quite often (basically each time there is a new patch). Maybe twice per week.
Are you sure? :-)

[2015-05-15 15:30] ticoann commented on #5914
Yes, this doesn't affect any thing for other code base and every one can use it. :smile:
Also it doesn't have to change so often if we make patch apply optional? right?
i.e. deployProd.sh -patch 5465,5342. something like that. :smile:
But you don't have to change anything now. I just think this is useful to have in main repository. We can improve it later for different use cases.

[2015-05-15 15:32] amaltaro commented on #5914
... why I have never thought about this --patch 1234 .... ?!?! :-)

[2015-05-18 14:19] #5892 closed

[2015-05-18 14:21] #5798 closed

[2015-05-18 14:27] #5847 closed

[2015-05-19 11:28] hufnagel commented on #5739
@amaltaro , this is fixed, right ? If I don't hear feedback I'll close it...

[2015-05-19 13:21] amaltaro commented on #5739
Thanks Dirk! Indeed #5893  fixes this issue. Closing it

[2015-05-19 13:21] #5739 closed

[2015-05-19 14:16] yuyiguo opened #5922 "lfn check failed for existing logical_file_name"
Below existing logical_file_name cannot pass Lexicon.py and these are valid lfns.
/store/Generators/2008/3/12/RelVal-tt3j-madgraph-1205358838/0000/069E0626-C9F0-DC11-8041-003048561854.root
/store/Generators/2008/3/29/RelVal-tt3j-madgraph-1206775163/0009/B87DC6FB-D5FD-DC11-8FDE-000423DD2F34.root

[2015-05-19 14:26] yuyiguo commented on #5922
another group of valid lfns cannot pass Lexicon:
/store/data/h2tb2007/testbeam_HCalEcalCombined/RAW/default_v1/h2.00015635.0008.edm.storageManager.0.0000.root

[2015-05-19 14:30] hufnagel commented on #5922
Tier0 LFNs don't work either anymore. Probably all related to #5905

[2015-05-19 15:05] ticoann commented on #5922
@yuyiguo, Hi Yuyi which call is failing? could you point me the error message.

[2015-05-19 15:46] ticoann commented on #5922
Tier0 is slightly cases, I had a bug in #5905 but not the lexicon problem.
I looked that https://twiki.cern.ch/twiki/bin/viewauth/CMS/DMWMPG_Namespace
and the format provided for generator file is a little different. I guess we can support both but twiki page need to be updated as well.
@belforte, Stefano, are you maintaining that twiki? Could you confirm the formats supported for generator file?

[2015-05-19 16:00] ticoann commented on #5922
Also if some one can confirm what each part maps in
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Lexicon.py#L24

/store/Generators/2008/3/12/RelVal-tt3j-madgraph-1205358838/0000/069E0626-C9F0-DC11-8041-003048561854.root

I guess '/2008/3/12/' date.

Is this some old style tier0?
/store/data/h2tb2007/testbeam_HCalEcalCombined/RAW/default_v1/h2.00015635.0008.edm.storageManager.0.0000

[2015-05-19 16:25] ericvaandering commented on #5922
Why would we modify our current definition of what could be put into DBS to satisfy something put in in 2007 or 2008? Surely today we would have the first example go under /store/generator and the latter go into /store/group?

If needed, maybe we can have a "legacy" regex so we don't cause problems with data existing in DBS, but we don't actually want new data coming in with those patterns.

[2015-05-19 16:26] hufnagel commented on #5922
Aren't there already different checks for input validation and output validation ? We just need this to be a valif LFN for the former, not the latter.

[2015-05-19 16:30] ticoann commented on #5922
I think it is reading from dbs not putting to dbs? Yuyi, is dbs using the same lfn check for reading and writing as Dirk said? (FIY, We don't have validation /store/generator in lexicon currently - at least we can add that).

[2015-05-19 17:54] yuyiguo commented on #5922
DBS GET and POST are using different validation functions. However, for the POST calls that actually search the DB because one wants to supply DBS with a long list of lfns, lumis, or runs. We have no way to know it is a select or insert in validation level with current code.

I  found another set of lfns that cannot pass lexicon.py.
'/store/data/h2tb2007/testbeam_HCalEcalCombined/RAW/default_v1/h2

[2015-05-19 18:16] ticoann commented on #5922
I think we have to maintain 2 different validation for the post call as well (one for insert and one for select). Changing validation for 'insert' to read legacy data will cause wrong format to get inserted.
Yuyi, could you point me the code where the validation occur for the POST call? If not possible to distinguish at the time of the validation occurs, can we revalidate before the insert call ha

[2015-05-19 18:27] yuyiguo commented on #5922
This is where DBS call happends
https://github.com/dmwm/DBS/blob/master/Server/Python/src/dbs/utils/DBSInputValidation.py#L289

As I said that DBS has generic validation for POST and GET. But when POST is used for searching we have to use the POST validation.

I found there are a lot of existing lfns that could not past current Lexicon.lfn test.

[2015-05-19 18:41] ticoann commented on #5922
I was more talking about how the post calls the validation function not the validation function it self. Anyway, looking at the code, it doesn't seem to validate the same way for all post calls. (I might be wrong though)

i.e. for this post call instead of using the same validation you can use relaxed validation since it is reader option, isn't it?

https://github.com/dmwm/DBS/blob/master/Server/P

[2015-05-20 08:49] amaltaro opened #5930 "SiteState changes should not result in job kill"
well, not for all the cases. For example, if we want to set T2_CH_CERN_HLT to 'Down', but it has jobs "running" in a whitelist ['T2_CH_CERN','T2_CH_CERN','T2_CH_CERN_HLT'], the agent should not kill these jobs. From what I see here
https://github.com/dmwm/WMCore/blob/60dbd1d2626d41b5ad53923454f84ff8c9e3081b/src/python/WMCore/ResourceControl/ResourceControl.py#L63

jobs will always be killed.

[2015-05-20 09:17] hufnagel commented on #5930
Why do we want to set T2_CH_CERN_HLT to Down anyways. Is there a particular reason ? Seems a lot of operational overhead to me, isn't it better to make WMAgent work with the HLT as-is ?

[2015-05-20 09:18] amaltaro commented on #5930
HLT does not accept connections from outside CERN (actually there is a very specific network class).
So schedd (condor_shadow) at FNAL agents will always fail to connect to the pilots at HLT worker nodes.

[2015-05-20 09:23] hufnagel commented on #5930
I don't understand. If the agent can't submit to the HLT, setting the HLT to Down in the agent can't kill any jobs there. If the agent can submit jobs to the HLT, why would you want to set it to Down. I don't see the problem. One agent cannot see another agents jobs, can it ?

[2015-05-20 09:25] hufnagel commented on #5930
In any case, an agent should only kill jobs on setting a site A to Down if the jobs are actually running at that site A. Killing on whitelist is not useful at all under any circumstance.

[2015-05-20 09:36] amaltaro commented on #5930
Yes, you are almost right! The agent will only kill this job IF it's 1 and only 1 site in the Desired_Sites (which means, this is the location where the job is running)
https://github.com/dmwm/WMCore/blob/cb33dbb88f7844e8075de57c3168734f2ece7fad/src/python/WMCore/BossAir/Plugins/CondorPlugin.py#L747

The agent does not check the site the job is really running, only the DESIRED_Sites and ExtDESIRED

[2015-05-20 09:36] amaltaro commented on #5930
BTW, closing this issue since it's not authentic.

[2015-05-20 09:36] #5930 closed

[2015-05-21 14:35] ticoann commented on #5719
Could you point me the cronjob script code?

[2015-05-21 14:52] merictaze commented on #5719
Hi,

Just a clarification, it's not crashing a lot, it was crushing in the first implementation when castor file listing returned a lot of file. It got fixed 3 months ago and working without any problem since then.

However, instead of listing files on castor everyday with a cronjob, it would be better if WMAgent injects the log files into PhEDEx Ops instance once they're created.

The script can

[2015-05-21 18:38] ericvaandering opened #5934 "Rewrite end of SetupCMSSWPSet with nested context manager"
In python 2.7 you can do with a, b and simplify this a lot.

[2015-05-21 20:03] ericvaandering opened #5935 "Make sure MaxRSS and Memory are settable by Task"
In the same way we need to schedule cores task by task we need to do the same with the Memory requested and the MaxRSS used for killing jobs on the WN.

[2015-05-21 20:27] belforte commented on #5922
what exactly breaks if you do not change anything ? @yuyiguo  how did you find the LFN's in your initial posting ? Where they tripping something ?

[2015-05-21 20:58] ericvaandering commented on #5935
This is the commit for the multicore stuff

https://github.com/ericvaandering/WMCore/commit/204a1f7074b8b0bf2774f26e886f712f778c79d1

[2015-05-22 01:26] yuyiguo commented on #5922
I was testing the limit on some of the DBS APIs to see what is the maximum lnfs I can have in a list and the API can be finished in reasonable time. So I just got random lfns in DBS, but when I used them for query, they could not pass input validation if the call was POST. This is because DBS POST call are using Lexicon.py. I will have to rewrite some part of the validation code not to use the Lex

[2015-05-22 06:40] belforte commented on #5922
indeed simulated datasets from 2008, or data imported from pre-Run1 test beam are very likely not to
be searched for by anyone, especially not starting with a LFN fragment !
Anyhow using a relaxed regexp check when searching should be the best solution, IIRC we have this
for dataset names already. Simply do not put too much effort into this and it is not worth any
ad-hoc patching. By the way, user

[2015-05-22 11:53] AndrewLevin commented on #5719
Hi Seangchan,

We would like WMAgent to do three things:

1) Inject all of the log files into the phedex instance
2) When the workflow is finished, create a replica subscription to transfer its log files from T0_CH_CERN_MSS to T2_CH_CERN
3) Approve this subscription

Andrew

[2015-05-22 12:17] merictaze commented on #5719
Hi,

Current procedure in the script is the following:
<pre>
1) Get log files under '/castor/cern.ch/cms/store/logs/prod/[YEAR]/[MONTH]/WMAgent'
2) Filter out the files already injected to PhEDEx
3) Create injection xml
dataset: /Log[YEAR]/[MONTH]/[WFNAME]
block: /Log[YEAR]/[MONTH]/[WFNAME]#01
LFN: /store/logs/prod/[YEAR]/[MONTH]/WMAgent/[LOGFILE]
4) Inject to T0_CH_CERN_Export
5) Create subscript

[2015-05-22 14:18] ticoann commented on #5922
I discussed with Yuyi yesterday. We (WMCore side) won't change or maintain Lexicon for relaxed validation. DBS will handle for the search validation. Thanks, created the new issue https://github.com/dmwm/DBS/issues/475 Thanks

[2015-05-22 14:18] #5922 closed

[2015-05-28 03:19] ticoann opened #5940 "Create task chain params for MaxRSS, etc"
similar to #5937

[2015-05-28 03:19] #5935 closed

[2015-05-28 07:33] julianbadillo opened #5942 "PhEDExInjector stops silently"
Once in a while PhEDExInjector stops working with the following symptoms:
- No new entries in the ComponentLog
- No error message in the ComponentLog either
- No error/warning in wmstats
- From outside the agent, there is no new file or subscription created on PhEDEX.
Usually shutting down and starting again the component is enough for solving the problem.
Though we need to be able to spot it from

[2015-05-28 07:35] julianbadillo commented on #5942
A few examples from the last days:
https://cms-logbook.cern.ch/elog/Workflow+processing/20508
 https://cms-logbook.cern.ch/elog/Workflow+processing/20466
https://cms-logbook.cern.ch/elog/Workflow+processing/20307

[2015-05-28 09:02] vlimant opened #5943 "Reduce the amount of LogCollect jobs created"
Having seen frequently now that most of the tails in MC are created by logcollect, here is a suggestion.
send/create log collects to "jobs/blocks that failed" (whatever is the unit) and only send a small fraction of those with no error (ceiling of 1%), only if there are still production/merging on-going.

1% is too low, make it 5%, it should be far enough for the IMO non-existent usage of logs for

[2015-05-28 14:27] vlimant opened #5944 "Having a state transition from announced/normal-archived to rejected"
For anything that needs to be rejected after it has been announced, it would be less confusing and better for later book-keeping to have things rejected being in status rejected.

[2015-05-28 15:39] vlimant opened #5945 "Inject Blocks in Phedex with group=DataOps"
If this https://github.com/dmwm/PHEDEX/issues/989 get solved, we should get the blocks injected to phedex under dataops group.

[2015-05-28 19:20] ticoann commented on #5943
@vlimant, do you still need this or we can do as we discuss in the meeting? (separate state transition from log collect jobs and clean up jobs.)

[2015-05-29 07:44] vlimant commented on #5943
what you suggested sound very good.
I still think we could reduce the amount of logollect to create, but that's another discussion if they are not in the way of having the workflow announced

[2015-05-29 08:17] amaltaro commented on #5943
Seangchan, if we separate state transition from logCollect/Cleanup. Would we still update workloadSummary with the logCollect castor location after a workflow moves to completed?

[2015-05-29 12:25] ticoann commented on #5943
I think we have to make that way.

[2015-05-29 12:32] ticoann commented on #5943
The reason I asked, other people mentioned before that all the log collect are needed even though 95% of them won't be ever looked at. (We are even planning to implement meta data db which can search log location easily) I need to know whether this requirement is agreed on all the parties involved.

[2015-05-29 12:47] ericvaandering commented on #5943
We are not going to stop doing LogCollect jobs. Period. We are, in fact, trying to go the other direction and saving more data even from successful jobs since occasionally this is useful for physics debugging.

[2015-05-29 13:31] vlimant commented on #5943
you find me happy with Seangchan's proposal of making delivery time shorter

[2015-05-30 00:10] AndrewLevin commented on #4798
Someone requested a workflow with EnableDQMHarvest again:

woodson_HLT_newconditions0_RelVal_245005_150529_211459_9221

Can you please change this issue to be high priority?

[2015-06-01 04:04] #5944 closed

[2015-06-01 14:38] #5914 closed

[2015-06-02 11:28] AndrewLevin commented on #5940
Hi Seangchan,

For release validation, it is not very useful to be able to set Memory per task if we cannot also set MaxRSS per task. I think you should make this issue high priority.

Andrew

[2015-06-02 14:55] ticoann commented on #5940
Hi Andrew, I will try to do this first then. Do you need this one on this production deployment?

[2015-06-02 14:59] #5907 closed

[2015-06-02 14:59] #5908 closed

[2015-06-02 15:01] ericvaandering commented on #5940
I don't understand the urgency. Are you not able to run somewhat inefficiently by just requesting too much memory?

[2015-06-02 15:07] amaltaro commented on #5940
Most likely there is a misunderstand here. With Memory being passed by task, we'll have the proper job matching and efficiently use of the CE queues. That's what is really important IMO.
MaxRSS is only used for job monitoring and, in the worst case a job will be killed by the batch system instead of WMAgent (in this case there is no logs back).

[2015-06-02 15:12] AndrewLevin commented on #5940
Yes, we are able to run the workflows inefficiently without maxrss per task.

[2015-06-02 15:15] AndrewLevin commented on #5940
No, Alan, the memory per task is useless unless we have also maxrss per task for release validation at least. We need wmagent to kill the jobs before they get killed by the site.

[2015-06-02 15:23] ericvaandering commented on #5940
Yes, up are correct.

Eric W. Vaandering
Computing Physics Developer
CMS Computing Development Lead

Scientific Computing Division
Fermi National Accelerator Laboratory
630 962 7260 office
www.fnal.gov <http://www.fnal.gov/>

[2015-06-03 10:50] amaltaro opened #5957 "Failed jobs report a wrong number of cores to dashboard"
only and only when the job fails. Here is an example [1] based on this template:
https://github.com/dmwm/WMCore/blob/master/test/data/ReqMgr/requests/Integration/TaskChain_Task_Multicore.json

So, we got 74 failures for RECODreHLT (8 cores), but the failures in dashboard appears under the 1 core bar.

@ericvaandering I remember you mentioned somewhere that the # of cores was only reported in the e

[2015-06-03 12:56] amaltaro commented on #5825
Seangchan, as discussed privately, this is half fixed in the current testbed. If the workflow was either in 'assigned' or 'acquired' but only by the GQ, then it will remain in 'aborted' state in ReqMgr, though I see it in 'aborted-archived' in WMStats. Here is one example
https://cmsweb-testbed.cern.ch/reqmgr/view/details/amaltaro_MonteCarlo_PhEDEx_HG1506d_Validation_ChangeState_150603_130547_4450

[2015-06-03 14:24] ticoann commented on #5825
Yes that was intentional. reqmgr Oracle db will go away. I didn't think there is a need to move aborted status to aborted-archived in Oracle db. Since all the reading the status should be through reqmgr2 api not reqmgr api. (At least this might force people to use reqmgr2 api for status checking instead reqmgr rest api. Do you find any problem causing by this?

[2015-06-03 14:37] amaltaro commented on #5825
Provided people are not using reqmgr to retrieve the status, it should be fine.
I'd rather keep all of them in sync, since it may take several months for us to retire oracle, but anyways not a big deal :-)
Feel free to close this one, fixed by #5928

[2015-06-03 15:10] ticoann commented on #5825
One other thing is it also creates the reqmgr dependency to reqmgr2, since this code is in reqmgr2 cherry thread. Closing the issue. Let me know if you find any problem causing by this.

[2015-06-03 15:10] #5825 closed

[2015-06-03 15:20] ericvaandering commented on #5957
Shouldn't be. There was a patch in April https://github.com/dmwm/WMCore/commit/dfb0ebeca9a4fdf400470adf8c2a35ca0ac0de9c that should predict the number of cores. Are we running with it?

[2015-06-03 15:41] amaltaro commented on #5957
Ahaaa! I knew you had something up your sleeve. That must be it. This fix was not backported to 1.0.5.
I'll take care of it and close this issue if that gets fixed. Thanks

[2015-06-03 15:45] ericvaandering commented on #5957
I had to go look at the code history since I thought you were right. :-)

[2015-06-03 16:34] amaltaro commented on #5468
Fixed by #5911 . I think we can close this one

[2015-06-03 16:36] amaltaro commented on #4837
ping

[2015-06-03 16:38] hufnagel commented on #4837
Isn't that what PyCondorPlugin is supposed to be ?

[2015-06-03 16:41] amaltaro commented on #5809
Should be fixed now. But still it tries to abort workflows in 'aborted-completed' now, since this aborted-completed is a transient state, this issue happens only for a couple of global WQ cycles. Nothing urgent, we can fix it for the next cycle.

Just in case, here is the traceback
[code]

[2015-06-03 16:47] tsarangi commented on #4837
yes, and can we close this one !

[2015-06-03 17:59] #5468 closed

[2015-06-03 17:59] #4837 closed

[2015-06-04 05:57] #5940 closed

[2015-06-04 10:25] amaltaro commented on #5957
Probably that patch fixes another issue, I still see the wrong number of cores reported to dashboard.
I took a quick look, but I could not spot yet how to get the number of cores here
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/JobStateMachine/ChangeState.py#L485

If you don't pick this one, then I can investigate it in the next week :)

[2015-06-04 14:55] AndrewLevin opened #5961 "jobs continue to run after a workflow is aborted"
Hi,

I have seen many cases where I abort a workflow and then check several hours or even one day later and still see jobs running or in pending.

Andrew

[2015-06-04 15:00] ticoann commented on #5961
reference to #4159. Andrew, is there a specific case this happen as in #4159. What kind of jobs are running? Is this logCollect and cleaning job or other jobs as well?

[2015-06-04 15:04] AndrewLevin commented on #5961
they are not logcollect or cleaning jobs -- they are other kinds of jobs

here is a specific example, which is happening now:

anlevin_RVCMSSW_7_4_3HydjetQ_MinBias_2760GeV_150530_092906_9430

[2015-06-04 15:28] AndrewLevin commented on #5961
by the way, this one is NOT high priority :)

[2015-06-04 15:48] AndrewLevin commented on #4798
Just to clarify, this is for reqmgr2.

[2015-06-04 16:45] #5867 closed

[2015-06-04 16:51] ticoann opened #5962 "Make injection workflow script to have option to use reqmgr2"
Need to add reqmgr2 assignment script as well

[2015-06-04 16:58] ticoann opened #5963 "WMCore-06-2015-issues"
Some candidate issues
https://github.com/dmwm/WMCore/milestones/WMAgent1507
(This list still need to be updated)
High Priority:

#5793 SubscriptionInformation not in workload cache (done)
#5711  add ability to change white site list after request is assigned
#5171 Improve request warning page in wmstats
#4671 create wmstats WMCore.REST server (Work in progress)
#5962 make reqmgr2 injection workflo

[2015-06-04 20:52] AndrewLevin commented on #4798
Hi Seangchan,

Now there is both a low priority label and a medium priority label. Can you please remove the low priority label?

Thanks.

Andrew

[2015-06-04 22:38] amaltaro commented on #4798
I'd remove the medium... it does not affect any operations, it's simply a mistake from PPD side!

[2015-06-05 06:12] AndrewLevin commented on #4798
It does affect operations.When they make this mistake we need to debug what happened and then rerun workflows. I really think you should add the medium priority label back.

[2015-06-05 10:14] julianbadillo opened #5969 "Missing TotalInputLumis from reqmgr_worklod_cache"
Once in a while we get one or two workflows missing this parameters
TotalInputLumis, TotalInputFiles, TotalInputEvents and TotalEstimatedJobs
in the reqmgr_worload_cache page
Here is an example
https://cmsweb.cern.ch/couchdb/reqmgr_workload_cache/pdmvserv_EXO-RunIISpring15DR74-00093_00043_v0__150511_200312_3690

[2015-06-05 13:47] ticoann opened #5970 "Make a state transition without waiting LogCollect and Cleanup job to finish."
discussed here: #5943.
Plan is
For completion status - don't wait for logcollect and clean up job finished. So it can be closed-out and announced without those jobs finished.
For achieved-status, it will wait for the log collect job to finished.
Add API for logcollect and cleanup job status checking for give workflow (REST api)

Need to look carefully since this is related db clean up. (We might n

[2015-06-05 13:48] ticoann commented on #5943
Closing this and  new issue is created #5970

[2015-06-05 13:48] #5943 closed

[2015-06-05 13:52] AndrewLevin commented on #5970
Hi Seangchan,

For relval wmagent, I think disconnecting state transitions from logcollect jobs is not the right thing to do. There is a large rate of failures in relval workflows, and we need to provide log files when we announce the workflows. Would it be difficult to configure in the config.py file whether you want this feature to be on or off?

Thanks.

Andrew

[2015-06-05 15:10] ticoann commented on #5970
Hi Andrew,
Announce state is in ops control. It doesn't even have to be configured. How do you announce the workflow. Do you check certain conditions before announced.  The change should only affect completed status. For close-out and announced, it is currently controlled by ops. (Which eventually need to be moved in reqmgr), For now, you can add the condition whether logCollect jobs are finished

[2015-06-05 15:15] AndrewLevin commented on #5970
Hi Seangchan,

Yes, an API to check if the logcollect jobs are finished is a sufficient compromise. Thanks.

Andrew

[2015-06-05 15:19] ticoann commented on #4798
Hi Andrew, the level of priority relative and we had to coordinate with other requirement. Actually, if there is alternative solution to handle the situation if goes lower level. We have to evaluate the issues for this month to define the priority. I know we have bad consequences when ops make mistake, however since this need to be done after reqmgr2 fixes are in I think we can set low for now, an

[2015-06-05 15:22] AndrewLevin commented on #4798
OK, I agree this should have low priority until request manager 2 is in production.

[2015-06-05 17:58] amaltaro opened #5971 "Create trust PU site location flag"
Since the 'useSiteWhiteListAsLocation' (or trustSiteList...) applies only to the input dataset, we should also create a flag to trust the PU site location, such that agents would pull down work even if PU sample is not available.

This is mainly to allow running redigi at opportunistic sites. With the SDSC, NERSC and AWS flying around, we should mark it as high prio for the next cmsweb cycle.

[2015-06-08 15:30] amaltaro commented on #5719
Meric just told me the phedex log instance is running in virtual dev machines, not in cmsweb.
I would not advice any WMCore development against external services running in other's private VM, that means it will most likely not be done for July.

[2015-06-08 15:44] AndrewLevin commented on #5719
OK, can you put it in cmsweb @merictaze?

[2015-06-09 12:19] amaltaro opened #5975 "Investigate the silent outage of ReqMgr"
We've seen ReqMgr silently (no logs AT ALL) dying in private VMs and cmsweb-testbed for the last 2 or 3 months. It never hit the cmsweb production cluster before today, when we had the service down in 2 different backends.

We should hunt this issue down for the next cmsweb cycle (and it's going to be very hard :-D)

[2015-06-10 10:13] amaltaro opened #5979 "Do we use 'Analysis' task type?"
Just wondering whether we could clean up this part of the code (maybe it is from the era where CRAB3 would be using ReqMgr...).
@ticoann @ericvaandering

[2015-06-10 10:55] merictaze commented on #5719
I asked to migrate it to cmsweb in the next deployment.

https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1999/1/1/1/1/1.html

[2015-06-10 12:11] ericvaandering commented on #5979
It was from that era. Let's get confirmation from @mmascher that CRAB3 does not use this part of WMCore. They certainly use the WMSteps.

[2015-06-10 12:41] mmascher commented on #5979
No we do not use it, feel free to clean it up.

[2015-06-11 15:06] vlimant opened #5982 "taskchain subsequent step job location matching data location"
as discusssed during the workflow team meeting, it coud solve some limitation of using the taskchain if the TaskN(N>=2) could have job created to sites in the white list matching the output of step1 location.
example: A,B,C in whitelist.
Task1 gets fully done at A, but output is replicated at B and therefore end up at A & B. Task2 would only try to read from A, ignoring that B is a possible job lo

[2015-06-11 15:10] amaltaro commented on #5982
Eim? Probably you miswrote something, that's the current behaviour. Task2 will try to run at A only.

[2015-06-11 15:33] vlimant opened #5983 "handling threshold for taskchain"
to solve gracefully, as discussed during the workflow team meeting, an issue with operating taskchain with multiplication of number of jobs in TaskN(N>=2), it would be great if total estimated number of jobs for a taskchain were accounted for when comparing to site thresholds ( compared to current number of jobs, corrsponding to Task1, which can be very small). This would help in not having a site

[2015-06-11 17:09] amaltaro commented on #5983
Giving a second thought to this issue now, IMO it would be something extremely hard to be done.

Perhaps, a better/easier approach here would be, for each task1 job, do a round robin on the site whitelist and add only ~3 sites to the DESIRED_CMSSites. This could - maybe - be done via a flag during assignment. What do you think?

[2015-06-11 18:44] vlimant commented on #5982
The desired behavior is to have task2 running at A and B

[2015-06-11 19:52] lucacopa opened #5985 "Add one case to the creation failures in the EventAwareLumiBased splitting algorithm"
There is a bug in the EventAwareLumiBased splitting algorithm. When a job is going to process a file with a single lumi and the avgEvtsPerLumi > eventLimit (default 20k), we move it to CreationFailure, which is correct. The problem is that if the input file has more than 1 lumi and still avgEvtsPerLumi is higher than the limit, that job is not moved to CreationFailure. Only input files with a sing

[2015-06-12 07:40] vlimant commented on #5983
Given the parameters of a taskchain, it is possible to get an rough estimation of how many jobs will spawn from one job of task1. We can work out this number together. Is that simpler then once we have that number ?
Picking n at random from the whitelist means that we can still overlay several taskchains on a site that won't be able to absorbed the many jobs of the subsequent tasks ; it might help

[2015-06-12 07:51] amaltaro commented on #5983
I don't think it can be done. It completely changes the way WMAgent works. It does not estimate number of jobs, it "simply" pulls down work from GQ and do the job splitting and create jobs. It has no track of the next task for the same workflow.

Moreover, I could bet that if we develop what is asked here, people would start complaining that workflows are moving slower than normal, since it would

[2015-06-12 07:59] amaltaro commented on #5982
Subsequent tasks don't use DBS nor PhEDEx for data location, that's why we currently cannot replicate output from task1 and get this new location in for task2. It uses the information returned from the task1 jobs.

At the time we get task1 output replicated to other sites, we most likely would have all the task2 jobs running or pending. That means:
 - we would need to query dbs/phedex for all file

[2015-06-12 08:05] vlimant commented on #5983
As discussed during the workflow meeting : not adding to the whitelist, means one has to calculate the total ammount of work the task is going to create, and do the site whitelist accordingly : i.e. do the site threshold matching above.
Furthermore, even though one estimate the amount of work and matches to site, this would probably not reduce the whitelist much (for the example we are talking abo

[2015-06-12 11:06] hufnagel commented on #5982
Seconded. All the data subscriptions run as an external step within the agent in a fire&forget mode and the actual PhEDEx transfers are outside the agent anyways. They are in no way coupled to the execution of the taskchain, which triggers when output of task1 is available and the job splitter for task2 sees that data. By design transfer requests and changes in location do not affect subsequent pr

[2015-06-12 11:12] hufnagel commented on #5982
What "might" be possible is to implement something with different sitewhitelists and trustSiteLists for later tasks. That won't make the WMAgent location of the data match the after-transfer location, but as you know you also made the request to site B, you override the agent location matching and tell it to submit to site B anyways, even though all the input data is at site A as far as the agent

[2015-06-12 11:15] hufnagel commented on #5982
You better make sure site A has functional xrootd export of its data though, because the job creation and submission for task2 is not going to wait for the transfers to run, which might make this unusable in practice...

[2015-06-12 11:18] hufnagel commented on #5983
Number of jobs is kind of irrelevant anyways. Number of jobs can be one to a gazillion, depending on how you set your job splitting parameters (independent of input sample). What matter is the amount of work a request will do (number of jobs x average time of a job). Only the requester knows this, the agent can't look into the configuration.

[2015-06-12 11:36] vlimant commented on #5983
Hi Dirk, from the information in the request there is a way to get the estimate of amount of job and work.
How does the threshold work ? In terms of workload or number of events ?
If one introduce a jobfactor parameter we can estimate (multiplication factor in number of jobs) then this can be used to check against thresholds and accounting, maybe

[2015-06-12 13:31] ericvaandering commented on #5982
Yeah, we cannot do this without a major redesign of WMAgent. It's a great idea for an ideal system, but that's it.

[2015-06-15 07:07] julianbadillo commented on #5969
Another more recent one:
https://cms-logbook.cern.ch/elog/Workflow+processing/20805

[2015-06-15 07:42] julianbadillo commented on #5969
Another one:
https://cms-logbook.cern.ch/elog/Workflow+processing/20807

[2015-06-15 09:39] julianbadillo commented on #5969
And one more:
https://cms-logbook.cern.ch/elog/Workflow+processing/20812

[2015-06-15 14:12] alexanderrichards opened #5990 "remove debug logging messages"
When ready to merge the phedex node name stuff, remember to remove the debug logging messages, as @ericvaandering points out in the following comment

https://github.com/dmwm/WMCore/pull/5989/files#r32423380

from this pull request:
#5989

[2015-06-15 14:19] alexanderrichards opened #5991 "restore new exception as syntax"
When ready to pull
https://github.com/dmwm/WMCore/pull/5989

remember to first put back the newer Exception as syntax that got lost in the rebasing.

as mentioned in comments:
https://github.com/dmwm/WMCore/pull/5989#discussion_r32423677
https://github.com/dmwm/WMCore/pull/5989#discussion_r32423874

[2015-06-15 19:32] ericvaandering opened #5992 "Create generic xrdcp stageout plugin"

[2015-06-15 19:33] ericvaandering opened #5993 "Make sure we can ignore the pileup location when using secondary input"
Especially with premixing, when we have it, it should be possible to run a workflow at a site where the pileup data does not exist and get the data via AAA.

[2015-06-15 19:35] ericvaandering opened #5994 "Request settings for allowed and force workflows to run on Amazon EC2"
Perhaps name these more generically. But the point is that AWS will be a sub-type of FNAL resources and we should set a flag for workflows that are able to run on AWS and another (or different value of the same) that forces a workflow to run on AWS for debug purposes.

[2015-06-15 19:37] ericvaandering opened #5995 "Ability to block job outputs, logs, if above a threshold."
For the log you could conceivably throw it out (and the compressed size is what matters). For outputs, we get free output from AWS at some level and then start to pay. So we should be careful and check the size of the output before allowing the output to continue and be moved off of AWS.

[2015-06-15 21:40] lucacopa opened #5996 "Add failed jobs column to the Requests tab in tier0 WMStats"
The Requests tab in the Tier-0 WMStats is currently showing workflow, status, duration, submitted jobs, pending jobs, running jobs,... we need a column for failed jobs too. Currently we have click on each of the workflows and go to the Jobs tab to get this info.
Can this be done for the next release @ticoann ?

[2015-06-16 06:50] amaltaro commented on #5993
It's a dup of #5971, please close one of them.

[2015-06-16 13:30] ericvaandering commented on #5993
Thanks Alan

[2015-06-16 13:30] #5993 closed

[2015-06-16 14:02] hufnagel commented on #5971
Instead of creating a new specific flag for this, we could also add the needed flags to use the "Tier0 style site override". That one is a direct override in the JobSubmitter, it doesn't rely on faking input data location. As such, it wouldn't care about secondary input location either.

Possible downside is that this needs a check and possible change of any location aware intermediate code layers

[2015-06-16 19:09] ticoann opened #6004 "Populate the wmbs_location_senames table with PNN"
This is needed for Alex' patch to work.
Eventually we need to rename wmbs_location_senames to wmbs_location_pnns, but for now don't change the schema. To make this compatible with old agent, we need to insert both pnn and se names in the table.

Following function need to return {cmsName: [pnns], ....}
https://github.com/dmwm/WMCore/blob/master/bin/wmagent-resource-control#L98
especially,
https://

[2015-06-16 20:06] amaltaro commented on #5971
What do you mean by "it does not fake input data location". I guess the correct thing here is to get all the files available from the PU dataset and consider (fake) them as available at the site whitelist, no?
Maybe you can point me to a commit/PR containing these changes?

[2015-06-16 20:12] hufnagel commented on #5971
I mean that the regular site override fakes the data to be present at all sites it runs on. That has consequences for file location aware later code (like job splitting).

The "Tier0 mode" override is a direct override in the job submission, location information is not touched.

[2015-06-16 20:16] hufnagel commented on #5971
By design your current way of doing things has advantages in that you get the behavior of "run everything as if the data is also at site C, even if it isn't for free. But it has big disadvantages too because this mode by design only allows you to do remote xrootd reads for the very first task in a workflow. You can't override the later stages.

That was exactly the reason I needed something else f

[2015-06-16 20:17] amaltaro commented on #5945
From what I see in the phedex discussion, injecting data with phedex group is a no go. @vlimant shall we close this issue?

[2015-06-16 20:20] hufnagel commented on #5971
This is activated with this parameter in a spec

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L902

and then applied per task like this

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/StdSpecs/StdBase.py#L274

[2015-06-16 20:22] vlimant commented on #5945
If one ask me : injecting data and leaving it un-own is a no go ; but I have no say.
There has been no objection it seems to inject and subscribe which @hufnagel said he could look at while changing PhedexInjector that would help leaving any dataops data own by dataops and accounted for.

[2015-06-16 20:25] amaltaro commented on #5971
For most of the cases - up to now - faking the data location for the first task only would be all we wanted.
However, from the AWS discussions I've seen so far, we want to run one full workflow starting from scratch and going up to (MINI)AOD., so the Tier0 override is what needs to be done here.

Hmmm, so that's the difference between UseSiteListAsLocation and TrustSitelists... I wanted to learn t

[2015-06-16 20:30] hufnagel opened #6005 "subscribe any new block we inject from WMAgent to DataOps ?"
Followup to #5945. Talked to Nicolo and this could work technically.

Basically, when the WMAgent creates a new block in PhEDEx, ie. when file injections create a new block, immediately make a block level subscription for that block to the site we inject it at under DataOps.

This would help with space accounting for DataOps. Not sure if it would break anything else.

[2015-06-16 20:31] amaltaro commented on #5945
Just thinking out loud... perhaps one way to keep these data/groups 'clean' would be by firing a move subscription when the workflow is *ready* to move to completed. So it would move all the produced files to a single place and clean up the 'working' sites.

[2015-06-16 20:31] hufnagel commented on #5945
Had no time to discuss this yet, but we should really close this issue as assigning ownership on injection is a no-go, but making a separate subscription might work.

[2015-06-16 20:32] hufnagel commented on #5945
We uses to work with move subscriptions, but they are not usable for all scenarios. Plus they still leave the block unassigned for some time (although admittedly that time would be short).

[2015-06-16 20:33] amaltaro commented on #6005
Please no, it would create an insane amount of mails/subscriptions. It looks much more easy - for me at least - to allow phedex group for data injection, since when we are injecting a block against a specific site, we are also saying this data is available there...

[2015-06-16 20:33] hufnagel commented on #6005
You can make a subscription without mails...

[2015-06-16 20:34] hufnagel commented on #6005
Data groups at injection time is a absolute no-go because injection is a file level operation, which ownership is recorded at block level. You need separate calls for them.

[2015-06-16 20:36] amaltaro commented on #6005
Hm, anyways I wonder if there would be any impact handling big datasets with 2k different subscriptions, that looks ... not clean to me.
But don't we have 2 separate calls anyways? We need to inject either a block and its files into TMBD.

[2015-06-16 20:38] hufnagel commented on #6005
You inject FILES (and this might or might not create a new block). You subscribe BLOCKS. Very different things.

Nicole said the extra subscriptions should be manageable. They would be temporary anyways because most of the data DataOps produces is eventually moved somewhere else for aggregation purposes, right ? That would remove the individual block level subscriptions from the system.

[2015-06-16 20:42] amaltaro commented on #6005
How the block names get defined them? When the agent injects file, does it get back the block name to which the file was injected? Thinking how we then have the same block name between DBS and PhEDEx...

Lots of things have changed in operation and I'm not sure anymore whether there is a final move subscription to aggregate data. @vlimant for sure knows that.

[2015-06-16 20:43] ericvaandering commented on #5971
Well, to first order we want to run as many (well few) cmsRun{1,2,3} steps on a single "worker node" as it takes to get from "scratch" to mini(AOD).

[2015-06-16 20:44] hufnagel commented on #6005
Not sure myself about your first question. The agent somehow gets the block name, not sure if that's a return from the file injection, it creates it upfront or it specifically checks for it. These three things come to mind. @ticoann , any comments on this ?

[2015-06-16 20:45] vlimant commented on #5945
@amaltaro : making a move when completed is one thing that would remove all the blocks left behind, but would also remove sources/routings for further dispatching of the dataset for analysis or further processing. data is still left un-owned at a site for some relevant amount of time, time at which a site admin willing to find space could remove un-owned data and badly interfere with production. W

[2015-06-16 20:50] vlimant commented on #6005
There is no "final move" for various practical reasons irrelevant to the question of whether should dataops own a block dataops inject

[2015-06-16 20:56] amaltaro commented on #5945
Then creating block subscriptions seems to be the better approach here, though something tells me creating hundreds or thousands of block subscriptions per day will cause problems somewhere to someone :-)

[2015-06-16 21:01] vlimant commented on #5945
I had the same worry, but it does not seem to be a problem for phedex (see the GH issue)

[2015-06-16 21:19] hufnagel commented on #6005
Without a final move this needs to be rethought. We cannot just leave blocks owned by DataOps scattered across the sites. At the very least all these subscriptions would need to be changed to be AnalysisOps. DataOps has limited space, we need to cleanup after ourselves.

[2015-06-16 22:30] vlimant commented on #6005
#5945 """There are no more moves ; only transfers and deletes"""

[2015-06-17 08:25] juztas commented on #4880
it is tested with production and analysis and merged to official repo. @ticoann you can close this. Thanks

[2015-06-17 15:37] hufnagel commented on #6005
My statement stands, DataOps doesn't have enough space available to them to not cleanup (where cleanup can be delete or subscribing to a different group) data it produces. The DataOps space is designed to keep processing input samples and to temporarily store processing output. Not permanently store processing output.

[2015-06-17 15:48] vlimant commented on #6005
agreed, hence the deletes.

[2015-06-17 17:12] amaltaro opened #6008 "Fix DQMHarvest spec to work with LumiList"
To remind myself. This is not working.

[2015-06-18 08:24] amaltaro commented on #1745
It could be done. However, the right thing here would be to report the workflow back to the requestors, abort it and put a new request in place.
@ticoann shall we close this one?

[2015-06-18 08:28] amaltaro commented on #2958
I don't remember what came out of that discussion, but we do specify several parameters now.
Shall we close it?

[2015-06-18 08:30] amaltaro commented on #3319
It has been 3 years with not a single comment to this issue. @ticoann how about we close it?

[2015-06-18 08:37] amaltaro commented on #4102
@ticoann can we close this one?

[2015-06-18 08:38] amaltaro commented on #4219
ping

[2015-06-18 08:40] amaltaro commented on #4229
Can we close it then?

[2015-06-18 08:40] amaltaro commented on #4250
ping

[2015-06-18 08:47] #4250 closed

[2015-06-18 09:44] amaltaro commented on #4659
Andrew, can you confirm whether you still want this feature?

[2015-06-18 09:45] AndrewLevin commented on #4659
no, I think we can do this easily enough outside of wmagent

[2015-06-18 09:45] #4659 closed

[2015-06-18 09:54] amaltaro commented on #4807
Hmm, I believe we no longer need it, don't we? @ticoann should we close it?

[2015-06-18 09:56] amaltaro commented on #4815
@ticoann can we close this one in favor of #4851 ?

[2015-06-18 10:18] amaltaro commented on #4913
@ticoann @DAMason so, should we close this issue?

[2015-06-18 10:21] amaltaro commented on #4933
This is in place for quite some time now :-) @ticoann please close it.

[2015-06-18 10:26] amaltaro commented on #5018
@hufnagel it seems it has been fixed for both central production and Tier0, no?
unless you want to have a flag enabling/disabling it.

[2015-06-18 11:20] belforte opened #6011 "storage plugins have inconsistent signatures for doTransfer()"
from https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/2363/2/2/1/4/1/3.html

On 06/18/2015 12:09 PM, Andrea Sciaba' wrote:>

[2015-06-18 13:05] hufnagel commented on #6011
All the changed plugins are in the Plugins directory, which AFAIK no one is using anywhere. All sites use the Backends directory implementations.

[2015-06-18 14:07] ticoann commented on #5719
What kind of log files are under /castor/cern.ch/cms/store/logs/prod/[YEAR]/[MONTH]/WMAgent?
Is are those log archive files? or something else?

[2015-06-18 14:08] amaltaro commented on #5719
The logCollect tarballs, like this one
/castor/cern.ch/cms/store/logs/prod/2015/06/WMAgent/amaltaro_ReDigi_cmsRun2_LumiMask_Agent107_Validation_v2_lazy_150616_141051_4986/amaltaro_ReDigi_cmsRun2_LumiMask_Agent107_Validation_v2_lazy_150616_141051_4986-LogCollect-server-d429648e-a427-4338-9300-659b69d7eaaf-1-logs.tar

[2015-06-18 14:11] ticoann commented on #5719
Isn't that only in the tape for the reason? (i.e because of it size, if it is stored T2_CH_CERN isn't it using too much disk space to store that?)

[2015-06-18 14:12] #4219 closed

[2015-06-18 14:12] ticoann commented on #4483
Diego and I were talking and we think that we could improve the Workflow Summary page in order to have it more dinamic and useable.

2 Main needed features for now are :

    Expand and shrink tasks (you only look at the tasks you want
    Make the histograms/plots on the client side, have data points on the server side (couch document)

That's all for now. We need to solve all tickets listed belo

[2015-06-18 14:13] amaltaro commented on #5719
We use tape in order to archive those logs "forever". The idea of writing it also to T2_CH_CERN is more for the ~new workflows (last 6 months or so). Later on someone will need to do some clean up, but I guess we don't need to worry about it right now.

[2015-06-18 14:15] #4229 closed

[2015-06-18 14:18] merictaze commented on #5719
Currently anything at this path older than 2 months are being deleted by EOS cleanup script.

[2015-06-18 14:22] ticoann commented on #4815
duplicate

[2015-06-18 14:22] #4815 closed

[2015-06-18 14:33] #5018 closed

[2015-06-18 14:33] #4933 closed

[2015-06-18 14:36] ticoann commented on #4807
Andrew reported there is a case 'abort' doesn't kill the jobs. But there is the separate issue. Closing this.

[2015-06-18 14:42] #4102 closed

[2015-06-18 14:43] #3319 closed

[2015-06-18 14:43] #2958 closed

[2015-06-18 14:44] #1745 closed

[2015-06-18 16:38] #6011 closed

[2015-06-18 16:39] #4462 closed

[2015-06-19 15:34] #5996 closed

[2015-06-19 20:57] #5793 closed

[2015-06-22 11:33] amaltaro commented on #5962
Isn't it solved by #5972?

[2015-06-22 11:59] amaltaro commented on #5616
Closing this one since we're getting rid of Multi* tasks

[2015-06-22 11:59] #5616 closed

[2015-06-22 14:26] ticoann commented on #5962
Yes

[2015-06-22 14:26] #5962 closed

[2015-06-23 04:17] #6008 closed

[2015-06-23 13:37] amaltaro commented on #5975
Just got back this traceback for this reqmgr crash (from my VM running 1.0.8.pre2)
[code]

[2015-06-23 14:04] amaltaro commented on #5975
And it's a segmentation fault, here is the strace I just got (1.0.8.pre5 now)
[code]

[2015-06-23 15:28] hufnagel commented on #5985
@lucacopa , we discussed this and this is actually the desired behavior. With multi-lumi input, even if the average per lumi is too high, some lumis could be ok. In order to recover them we need to run jobs on each lumi.

Can this be closed ?

[2015-06-23 15:46] lucacopa commented on #5985
Yes, this can be closed.

[2015-06-23 15:46] #5985 closed

[2015-06-24 13:00] alexanderrichards commented on #6004
@ticoann
I have made the first change that you suggest, namely

see https://github.com/dmwm/WMCore/commit/1c5d14c82bd9a9b31fe28a936ed5ff02b0bdba7b

---
However I have an issue with the second:

So I looked at this file but se_name is set from the input locations as:
[code]
Here: https://github.com/dmwm/WMCore/blob/master/src/python/WMComponent/JobAccountant/AccountantWorker.py#L837

However search

[2015-06-24 15:18] ticoann commented on #6004
Hi Alex,

Thank you,

Sorry, there was misunderstanding. This is not second issue. I was trying to explain what happen since we are not putting pnn in wmbs_location_sename table. The there is one issue and it should solved by your patch.

I am sorry I think I only talked about second issue on the email. Not here. (let me find the email)

[2015-06-24 15:39] ticoann commented on #6004
Here is the second issue.

However, there might be more problem when log collect jobs come back. I don’t think it will set the file location correctly for the log collect job.

InputDatasetLocations only set for initial input dataset is set when the jobs comes back and location is set from fwjr this will be empty.

I just looked at the code again. I think getting location that way is wrong.
First,

[2015-06-25 14:50] AndrewLevin commented on #5719
Hi,

@nikmagini told me it is possible to copy files from outside of CERN to eos, using lcgcp for example. I think the best solution is that we write the log files directly to eos instead of castor (or we write them to both castor and eos).

Andrew

[2015-06-25 15:20] amaltaro commented on #5687
Thanks Luis! @ticoann please assign it to me (or @tiradani :-D)

[2015-06-26 16:46] amaltaro opened #6029 "Reduce PerformanceMonitor polling cycle"
The current config is set to 300 secs. We should evaluate costs on the worker node and if possible reduce it to 1 minute or 30 secs. I know nothing about this watchdog, so I cannot make further comments at the moment.

[2015-06-29 14:51] ticoann opened #6034 "Clean up WQ and other caches created by Request.py in Service package"

[2015-06-30 13:44] amaltaro commented on #4880
ping

[2015-06-30 13:44] amaltaro commented on #4913
ping

[2015-06-30 13:57] juztas commented on #4880
do we need to test it more ? tested on BR_SPRACE, T3_US_Princeton_ARM, and T2_CH_CERN

[2015-06-30 14:13] ticoann commented on #4913
Alan, I think we can close this. We haven't seen this since. we will reopen it when it happens.

[2015-06-30 14:13] #4913 closed

[2015-06-30 14:24] amaltaro commented on #4880
If CRAB3 and SAM tests move first to gfal2, then I guess we don't need to test it in WMCore.
Otherwise, I think we still need to commission this new plugin for production, here I mean running at a bunch of sites (~5) and transferring data around (maybe also simulating some stage out failures).

Anyways, the plugin has been developed, so I think we can close this one.

[2015-06-30 14:26] #4880 closed

[2015-06-30 14:27] amaltaro commented on #5767
Closed by #5860

[2015-06-30 14:27] #5767 closed

[2015-06-30 14:27] amaltaro commented on #5766
@ticoann should we close this ticket?

[2015-06-30 14:29] amaltaro commented on #5697
@ericvaandering is it about the deterministic pileup? If so, then I guess it was worked on on another ticket, right?

[2015-06-30 14:32] ericvaandering commented on #5697
No, this is totally different.

Sent from a mobile device. Please excuse my brevity or transcription errors.

[2015-06-30 14:48] #5766 closed

[2015-06-30 14:49] amaltaro commented on #5669
@ticoann can also be closed

[2015-06-30 14:50] amaltaro commented on #5667
Fixed by #5754 , @ticoann please close this one

[2015-06-30 14:51] #5669 closed

[2015-06-30 14:51] amaltaro commented on #5642
Fixed by @hufnagel in the last couple of months.

[2015-06-30 14:51] #5642 closed

[2015-06-30 14:56] amaltaro commented on #5587
@ticoann I think we can close this one. Luis and Tapas fixed this issue some time ago.

[2015-06-30 14:58] #5667 closed

[2015-06-30 14:59] amaltaro commented on #5431
Resource estimates are in the system for a few months now. Should we close this ticket?

[2015-06-30 15:05] #5431 closed

[2015-06-30 15:05] #5587 closed

[2015-06-30 19:13] davidlange6 commented on #5697
I’ll look for you tomorrow Alan..

[2015-07-01 14:37] ticoann opened #6038 "Format LogDB error messages in WMStats (add new lines)"

[2015-07-01 17:18] hufnagel commented on #5983
Thresholds are purely for number of jobs. It doesn't have any concept of looking inside a job, its for the number of jobs *right now*. It also can't distinguish between single and multicore jobs, which will make setting useful thresholds for the T0 and T1 tricky.

[2015-07-01 19:55] ticoann commented on #5719
It seems following code (eventually) triggers log archived file to go castor.
https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/WMSpec/Steps/Executors/LogCollect.py#L71

I am not sure whether we can stage out to both. If we stageout to eos we have to move to castor somehow.

@hufnagel, Dirk, could you give me some advise?

[2015-07-02 07:37] AndrewLevin opened #6045 "wmagent archivedelayhours is not working"
In the wmagent config.py I see

config.TaskArchiver.archiveDelayHours = 336

but workflows are disappearing from wmstats after 1 day. For example:

woodson_HLT_newconditions0_RelVal_246951_150630_140936_4826

[2015-07-02 08:18] amaltaro commented on #5697
Summarizing here what David and I discussed, so I don't forget :)
The idea is that 2 workflows exactly the same (the only difference being its CMSSW release) would use the same set of random seeds, e.g.:
 - wf1 job1 use the same set of random seeds than wf2 job1
 - wf1 job2 use the same set of random seeds than wf2 job2
etc
This way they can perform identity tests in RelVals.
David, feel free to c

[2015-07-02 08:32] AndrewLevin commented on #6045
Actually, I see that workflow now. But this workflow is missing:

woodson_HLT_reference_RelVal_248038_150630_161538_7152

[2015-07-02 09:16] amaltaro commented on #6045
When did you change the TaskArchiver configuration? The agent was redeployed on 29 of June with the default value (24h). It may be that this workflow was archived before your change (+ TaskArchiver restart, of course).

[2015-07-02 09:23] AndrewLevin commented on #6045
I did not change it. 336 was the original value when it was deployed.

[2015-07-02 09:50] hufnagel commented on #5719
Hm, the LogCollect Executor code is basically a customized Stageout Executor. You can see it in the comment in line 5 that it started out as a simple copy. All they do here is hardcode using the overrides and hardcode the default override settings. Its done in a bit convoluted way, but I guess they wanted to keep the ability to use a real override for staging out logcollect too.

We could just mod

[2015-07-02 13:44] ericvaandering commented on #5697
I thought the point of this was different, that it was for trying to recover exactly what a workflow would have done. E.g. on a resubmit. At least we talked about determinism in that case too.

Maybe the easiest way to do this is to require, in this comparison case, a master seed to be supplied by the user. Then we initialize the python random # generator for each job with (that seed) + 1.

[2015-07-02 16:21] amaltaro commented on #6045
Ok, it was in the deployment script. As I told you in the meeting, I think I know what the problem is and I'm cooking a fix for that.

[2015-07-02 16:28] ticoann commented on #5719
Thanks for the comments Dirk.
Assuming we can/want two stage out. There are a couple of things need to be hacked to make this work.
1. output file locations need to be set on eos location which would be T2_CH_CERN (assuming PNN transition is done) instead of castor.
2. The log archive files need to be recorded in DBSBuffer with meaning pull dataset name and block name (it doesn't mean it will be u

[2015-07-02 16:39] hufnagel commented on #5719
As far as I remember, these will go into a separate DBS and PhEDEx instance, correct ? Which is not really supported by DBSBuffer...

[2015-07-02 16:40] hufnagel commented on #5719
And if I wanted to do this in a clean way, I would make logArchive output files from a job look exactly like any other ouput files from a job (with the possible caveat to override the stageout to T2_CH_CERN). If they are treated like anything else, you can setup the usual subscriptions etc.

[2015-07-02 16:51] AndrewLevin commented on #5719
Hi Seangchan,

If we can stage out the log files to both castor and eos, I think we probably won't use a phedex instance for log files. We can then just delete old log files from eos with a cron job. Do you agree @merictaze?

Andrew

[2015-07-02 16:55] ticoann commented on #5719
Hi Andrew, so Is PhEDEx not used for search, just for the transferring files?
In that case current naming conversion for lfn, is sufficient for getting the file you want efficiently?

[2015-07-02 16:59] AndrewLevin commented on #5719
Hi Seangchan,

Yes, the log file phedex instance is just used right now for transferring and deleting the files. Having lfns for log files is not necessary.

Andrew

[2015-07-02 17:02] hufnagel commented on #5719
If all you want is to have have copies on eos and castor instead of just castor, having WMAgent make the copies is indeed the easiest way to handle that. That's runtime code only changes in WMAgent.

Retrofitting WMAgent to be able to get logArch information up from the runtime to the PhEDExInjector and then be able to inject files into a different instance would be a major pain.

In an ideal worl

[2015-07-02 17:55] amaltaro commented on #5719
I second the idea of double stage out and that is IT. Or stage out to EOS and then copy it to castor.

However, in the past when this issue was discussed, it seems everyone was in favor of using a PhEDEx instance for this purpose (and letting the FTS server/system) handle any transfers. Of course, for that it was discussed we would inject logs into PhEDEx in a similar way as we do for real data/da

[2015-07-02 18:03] hufnagel commented on #5719
If you do treat logArchives like any other data, you can even just use the normal stageout rules, define a dataset and then have move/copy subscriptions to T0_CH_CERN_MSS and T2_CH_CERN. Advantage is that you don't hack around, you just treat it as any other data produced by the jobs. Which in the long run should help quite a bit as it simplifies the system.

The problem is that this is a lot of w

[2015-07-02 18:39] AndrewLevin commented on #5719
Hi Dirk,

See the new title of the issue. I think we should try to have the double stage out from wmagent, plus a cronjob to delete from eos. We should forget about putting log files into phedex. That is totally overkill.

Andrew

[2015-07-04 02:46] ticoann commented on #5719
Thanks Dirk, Andrew for all the inputs. So we will just add the code to double stage out LogCollect files.

[2015-07-06 14:40] ericvaandering opened #6051 "AWS workflow (details to be determined)"
We need a GEN/SIM/DIGI/RECO/MiniAOD producing workflow spec that may need several cmsRun steps.  Exact details are still to be determined depending on what we can fold into a single cmsRun.

[2015-07-06 16:13] amaltaro commented on #6051
Hmm, that is going to be a nice challenge/development :-) It'll be basically a taskChain spec but mimicking the KeepOutput (actually drop) from ReDigi spec.
Eric, do we have a timescale for this one? I guess it's for September's cycle?

[2015-07-06 16:21] ticoann commented on #6051
I think we should start this as soon as possible since this would affects whole chain.

[2015-07-07 15:34] #6038 closed

[2015-07-07 15:40] amaltaro opened #6052 "Review what's stored in couchdb wmagent_jobdump/fwjrs"
Since this information is going to be stored in WMArchive in the near future, we should review (also based on users feedback) what we are storing in those documents and make sure we have important and useful information over there.

Looking at one example (not very good btw), I can see lots of fields that we could basically drop, as 'analysis', 'cleanup', 'performance' for logArch and stageOut ste

[2015-07-07 15:57] yuyiguo commented on #6052
https://hypernews.cern.ch/HyperNews/CMS/get/comp-ops/1975/1/1/1/1.html. please refer this link for monitoring info that people like to see in WMArchive DB.

Also, we have some thing like below in W-FWJR:
'storage': {'readAveragekB': 5.1022841432000003,
                                                            'readCachePercentageOps': 0.0,

[2015-07-07 16:00] belforte commented on #5971
I have not tried to understand this discussion (yet). But of course the same use case happens for CRAB. Is there any interest for a common solution, at least semantic-wise. THe implementation may be different, but in the long run it may be good to use same  language and same logic.
Crab3 already has an issue for this:
https://github.com/dmwm/CRABServer/issues/4334

[2015-07-08 08:56] mmascher opened #6054 "About the regular expression used to validate datasets"
Hi,

I have a question, CRAB3 is using this regular expression to validate the input dataset provided by users:

https://github.com/dmwm/WMCore/blob/master/src/python/WMCore/Lexicon.py#L78

I just noticed with @jmarra13 that things like `/Getlogout` matches (a user put that as input dataset), so I am wondering if this is the correct regular expression to use, and what is DBS is using to validate a

[2015-07-08 09:28] amaltaro commented on #6054
Marco, what is the complete dataset name set by the user?
Looking at the PrimaryDataset only, I see no problem setting it to "Getlogout", most likely the error is coming from another part of the DS name.

[2015-07-08 15:17] mmascher commented on #6054
The user set up just `/Getlogout`. That's the complete dataset.

I would like to understand if `HTTPError: HTTP Error 400: Invalid Input Data /Getlogout...: Not Match Required Format` means that the dataset we pass to `listDatasets` is not mathing a regexp (and therefore which one DBS is using), or it means an error in a second step because no datasets were found (and in this case the validation i

[2015-07-08 16:38] ticoann commented on #6045
@amaltaro, Hi Alan, this can be closed, right?

[2015-07-08 17:24] amaltaro commented on #6045
Hi Seangchan, that's right. Please close this issue.

[2015-07-08 17:35] AndrewLevin commented on #6045
Wait, Alan, I have a question. If you have two agents that are both on the same team, with different archivedelayhours, then does your fix (https://github.com/dmwm/WMCore/pull/6048) still work?

[2015-07-08 17:36] amaltaro commented on #6045
it makes no sense to have two agents in the same team with different archiveDelay settings.

[2015-07-08 17:42] AndrewLevin commented on #6045
But it is still possible to make a mistake. For relval there is only one agent, but for some teams there are like 3 or 4 agents, right? And agents are being added/removed/redeployed pretty frequently, right? So, it is probably not a good idea to require that the settings between different agents be synchronized. I recommend we set this per workflow, not per agent. Or we just set it to globally in

[2015-07-08 17:47] amaltaro commented on #6045
There is a stable deployment procedure and agents belonging to the same team will always have the same archiveDelay (unless someone changes it by hand).

We don't have finer granularity to control it and IMO making this setting by workflow is completely overkill (besides more work on us). You are the only 'client' interested/using this feature and it will work perfectly fine for you.

[2015-07-08 17:56] AndrewLevin commented on #6045
I have been changing it by hand. It is very easy to change the config.py by hand. As you said it will work for me for now (but maybe in the future we will get multiple relval agents), so if you want please go ahead with. But I recommend we leave this issue open or create a new one (with a very low priority label) so we don't forget about this potential problem.

[2015-07-08 18:19] amaltaro commented on #6045
If we want to create a GH issue for each potential problem, then we would end up with lots of tickets, making it harder to manage, to keep track of, to fix, etc. In the end it reduces our ability to track and prioritize these issues, that's why I'd rather avoid issues that will most likely not be worked on for a long time (also meaning they are not really important ;)).

[2015-07-08 18:35] yuyiguo commented on #6052
need to add below items into w-FWJR if they are not there: (comment from David Lange)
- the date/time the job ran (e.g., start,stop in UTC)
- the CMSSW version used (maybe this is acquisition era?)-
- information about the CPU (e.g., SystemCPU info in the FJR)
-Only LFN is needed, if LFN is not present then PFN can be used. W-FWJR currently have two lfn and pfn for each. PFN can be reconstructed f

[2015-07-08 18:40] AndrewLevin commented on #6045
Hi Alan,

I think there is a general design flaw here.

Why should wmagents control when workflows move from announced to normal-archived? Don't you think it would be better if the workqueue or the request manager controls this?

Andrew

[2015-07-08 18:45] yuyiguo commented on #6052
comments from Andrew Levin:
- Inserting to WMArchive DB has to be robust. Losing data is not acceptable.
- WMArchive must have a flexible schema to allow adding or removing fields.
- retrieving histograms of time per event, rss, and total job time like what is now in the workflow summaries.
- retrieving number of jobs, number of failed jobs, and failed jobs organized by cause of failure in the for

[2015-07-08 20:26] ticoann opened #6057 "Combine workload summary from agent instead of replacing it."
When workload summary created it replaces the data instead of combining it.
(I thought there is issue created before but I couldn't find it)

[2015-07-08 21:33] amaltaro commented on #6057
We have this issue created #4483. But maybe we can fix this issues first and then work on improvements. It's up to you ;-)

[2015-07-08 21:44] ticoann commented on #6057
Thanks Alan, I knew there was issue like that. :smile: But I think it is missing this part on that issue.
Anyway, we have think this with other issues you pointed.

[2015-07-09 16:15] ericvaandering commented on #5971
So just to put my proposal in words, we would have a setting like like "Trust_Pileup_From='T?_US_*'" rather than just a boolean.

What that would do is when it hits the worker node populate the list of available pileup LFNs from the superset of the files that exist at any site matching the RegEx.

This way we can draw pileup files worldwide or from regions or from a "sister site" like T2_UCSD for

[2015-07-09 17:21] belforte commented on #5971
Not sure if it makes sense that I write thi comment, but after trying to understand if this debate is useful for the CRAB sim with pileup use case:
do I understand correctly that that would be a setting in WMA for a specific workflow ?
At least that seems the idea of the former comments (to me). This concept of "Here I am, therefore I can user pileup from there and there" is intriguing, but it see

[2015-07-09 17:25] belforte commented on #5971
@ericvaandering how do you do this in practice ? Are pileup files drawn in via AAA or what ? are pile up samples sort of distributed a piece here and a piece there, rather than replicated ? If files have multiple non-local locations, one can not tell AAA to use site X rather then site Y as source for a file, it is decided by the redirectors. right ?

[2015-07-09 18:48] ericvaandering commented on #5971
I think CRAB is best of staying the way it is, not paying any attention to the location of the pileup since it's not really in the users power to move the two close together. Additionally, if I understand how CRAB works, it does not try to manage the list of pileup files for a job, that's left completely to the user.

WMAgent, in contrast, does do this, so it's not possible to run at a site where

[2015-07-09 19:09] belforte commented on #5971
understood, thanks.

[2015-07-10 04:34] ticoann opened #6058 "WMCore-07-2015-issues"
Some candidate issues
https://github.com/dmwm/WMCore/milestones/WMAgent1507
(This list still need to be updated)
High Priority:

#5711  add ability to change white site list after request is assigned
#5171 Improve request warning page in wmstats
#4671 create wmstats WMCore.REST server (Work in progress)
#5631 redo abort and force complete
#5647 Handle too many pending jobs
#5719 Inject log files i

[2015-07-10 15:04] ticoann commented on #5719
@hufnagel, Assigning to Dirk, since he is much more expert than me and kindly agreed to handle this ticket. (I am not sure how this will fit generic plug in he is planning to do - maybe not very well).
Thanks Dirk. :smile:

[2015-07-13 21:16] hufnagel opened #6061 "possible finer grained job monitoring for WMStats"
This is a place holder issue for potential finer grained job monitoring possible due to this CMSSW change

https://github.com/cms-sw/cmssw/pull/10056

This would allow the job tracking to not only get status information from jobs in HTCondor (pending, running, done), but also extract job progress information while it is running. We could extract this information in the job tracking and then update

[2015-07-13 21:32] PerilousApricot commented on #6061
If the attributes are there "anyway", bolting this to glidemon.cern.ch/gwmsmon.cern.ch would be rad.

[2015-07-14 13:31] belforte commented on #6054
We should not accept a dataset name that does not have more slashes ! /A/B/C
How can /Getlogout pass ?

[2015-07-14 13:34] belforte commented on #6054
@mmascher are you confusing primaryDS with DS ? please, write down exactly which query fails, where... etc.

[2015-07-15 09:42] ericvaandering commented on #6061
Glidemon is not going to be used by users for CRAB after September.

[2015-07-15 14:12] PerilousApricot commented on #6061
Oh that's a shame, I love that site to pieces :(

--
Sent from Gmail Mobile

[2015-07-15 14:15] ericvaandering commented on #6061
Apparently now dashboard can do all that it can. But it won't be turned off, exactly, so you may be able to use it.

[2015-07-15 14:22] PerilousApricot commented on #6061
Gotcha. Hopefully, future changes to the ads, etc.. will keep glidemon
functional for a long long time.

[2015-07-20 09:40] julianbadillo opened #6062 "ReqMgr2 -> Prevent when a request tries to create an invalid data tier on DBS"
With current ReqMgr:
- If a request comes with a non-existent datatier in DBS, it will run but the events won't be uploaded to DBS, hence creating errors inside DBS3Upload.
What we need:
- if a request comes with a non-existent datatier in DBS, it will be failed after being assinged (or after being created).
@vlimant